Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2019-11, with the labels that each got.

#341 Refactor Downloader
  src/main/java/com/hedera/mirror/downloader/Downloader.java
  src/main/java/com/hedera/mirror/downloader/balance/AccountBalancesDownloader.java
  src/main/java/com/hedera/mirror/downloader/event/EventStreamFileDownloader.java
  src/main/java/com/hedera/mirror/downloader/record/RecordFileDownloader.java
  src/test/java/com/hedera/mirror/downloader/record/RecordFileDownloaderTest.java
Labels: P3, downloader, enhancement, technical debt

#352 Rework documentation
  README.md
  docker-compose.yml
  docs/configuration.md
  docs/database.md
  docs/installation.md
  docs/operations.md
  docs/troubleshooting.md
  rest-api/__acceptancetests__/balances.test.js
  rest-api/__acceptancetests__/transactions.test.js
  rest-api/__tests__/config.test.js
  rest-api/config.js
  rest-api/config/application.yml
Labels: P2, documentation, enhancement

#347 Downloader: Replace AWS SDKv1 by SDKv2.
  pom.xml
  src/main/java/com/hedera/mirror/config/MirrorNodeConfiguration.java
  src/main/java/com/hedera/mirror/downloader/CommonDownloaderProperties.java
  src/main/java/com/hedera/mirror/downloader/Downloader.java
  src/main/java/com/hedera/mirror/downloader/PendingDownload.java
  src/main/java/com/hedera/mirror/downloader/balance/AccountBalancesDownloader.java
  src/main/java/com/hedera/mirror/downloader/event/EventStreamFileDownloader.java
  src/main/java/com/hedera/mirror/downloader/record/RecordFileDownloader.java
  src/test/java/com/hedera/mirror/downloader/balance/AccountBalancesDownloaderTest.java
  src/test/java/com/hedera/mirror/downloader/record/RecordFileDownloaderTest.java
Labels: P1, downloader, enhancement, performance

#348 Downloader: Refactor tests
  src/main/java/com/hedera/mirror/downloader/Downloader.java
  src/test/java/com/hedera/mirror/downloader/AbstractDownloaderTest.java
  src/test/java/com/hedera/mirror/downloader/balance/AccountBalancesDownloaderTest.java
  src/test/java/com/hedera/mirror/downloader/record/RecordFileDownloaderTest.java
Labels: P3, downloader, enhancement, test

#362 Ignore flaky tests in RecordFileLoggerContractTest
  src/test/java/com/hedera/recordFileLogger/RecordFileLoggerContractTest.java
Labels: P1, test

#349 Graceful shutdown on SIGTERM
  docs/operations.md
  scripts/mirror-node.service
  src/main/java/com/hedera/databaseUtilities/DatabaseUtilities.java
  src/main/java/com/hedera/mirror/downloader/Downloader.java
  src/main/java/com/hedera/mirror/parser/FileWatcher.java
  src/main/java/com/hedera/mirror/parser/balance/BalanceFileParser.java
  src/main/java/com/hedera/mirror/parser/event/EventStreamFileParser.java
  src/main/java/com/hedera/mirror/parser/record/RecordFileParser.java
  src/main/java/com/hedera/utilities/ShutdownHelper.java
  src/main/java/com/hedera/utilities/Utility.java
Labels: P3, enhancement

#322 Add unit tests for freeze transactions
  pom.xml
  src/main/java/com/hedera/databaseUtilities/DatabaseUtilities.java
  src/test/java/com/hedera/recordFileLogger/RecordFileLoggerCryptoTest.java
  src/test/java/com/hedera/recordFileLogger/RecordFileLoggerFileTest.java
  src/test/java/com/hedera/recordFileLogger/RecordFileLoggerFreezeTest.java
Labels: P3, enhancement, parser, test

#367 Issue 366 - Add transaction hash to database
  src/main/java/com/hedera/mirror/domain/Transaction.java
  src/main/java/com/hedera/recordFileLogger/RecordFileLogger.java
  src/main/resources/db/migration/V1.13__transaction_hash.sql
  src/test/java/com/hedera/recordFileLogger/AbstractRecordFileLoggerTest.java
Labels: P3, database, enhancement, good first issue, parser

#360 AWS SDKv2 Followup
  docs/configuration.md
  src/main/java/com/hedera/mirror/config/MirrorNodeConfiguration.java
  src/main/java/com/hedera/mirror/downloader/CommonDownloaderProperties.java
  src/main/java/com/hedera/mirror/downloader/Downloader.java
  src/main/java/com/hedera/mirror/downloader/PendingDownload.java
  src/test/java/com/hedera/mirror/downloader/AbstractDownloaderTest.java
  src/test/java/com/hedera/mirror/downloader/balance/AccountBalancesDownloaderTest.java
  src/test/java/com/hedera/mirror/downloader/record/RecordFileDownloaderTest.java
Labels: P1, bug, downloader, enhancement

#364 Node fetch monitor
  rest-api/monitoring/monitor_apis/account_tests.js
  rest-api/monitoring/monitor_apis/balance_tests.js
  rest-api/monitoring/monitor_apis/common.js
  rest-api/monitoring/monitor_apis/monitor.js
  rest-api/monitoring/monitor_apis/monitor_tests.js
  rest-api/monitoring/monitor_apis/monitortest_utils.js
  rest-api/monitoring/monitor_apis/package-lock.json
  rest-api/monitoring/monitor_apis/package.json
  rest-api/monitoring/monitor_apis/server.js
  rest-api/monitoring/monitor_apis/transaction_tests.js
  rest-api/monitoring/monitor_dashboard/js/main.js
  rest-api/package-lock.json
  rest-api/package.json
Labels: P2, enhancement, monitor

#376 Fix CircleCI failures
  README.md
  src/main/java/com/hedera/mirror/addressbook/NetworkAddressBook.java
  src/main/java/com/hedera/mirror/parser/record/RecordFileParser.java
  src/main/java/com/hedera/recordFileLogger/RecordFileLogger.java
  src/test/java/com/hedera/recordFileLogger/RecordFileLoggerCryptoTest.java
  src/test/java/com/hedera/recordFileLogger/RecordFileLoggerFileTest.java
Labels: P1, bug, test

#385 Fix long overflow during missing entities migration
  src/main/java/com/hedera/mirror/migration/V1_11_6__Missing_Entities.java
  src/main/java/com/hedera/mirror/util/Utility.java
  src/test/java/com/hedera/mirror/migration/V1_11_6__Missing_EntitiesTest.java
Labels: P1, bug, database

#388 Fix REST config loading incorrect values for env variables
  rest-api/__tests__/config.test.js
  rest-api/config.js
  rest-api/pm2.json
Labels: P1, api, bug

#390 Fix address book not copied from classpath
  pom.xml
  rest-api/package.json
  scripts/deploy-mirror-node.sh
  src/main/java/com/hedera/mirror/addressbook/NetworkAddressBook.java
Labels: P1, bug, process

#395 Bump versions for v0.4.0
  pom.xml
  rest-api/package.json
Labels: P1, enhancement, process

#381 Handle unrecognized transaction types and response codes
  .gitignore
  docs/troubleshooting.md
  rest-api/__tests__/integration.test.js
  rest-api/__tests__/mockpool.js
  rest-api/__tests__/specs/transactions-01-no-args.spec.json
  rest-api/__tests__/testutils.js
  rest-api/__tests__/transactions.test.js
  rest-api/__tests__/transactionsTest.test.js
  rest-api/transactions.js
  rest-api/utils.js
  src/main/java/com/hedera/mirror/domain/Transaction.java
  src/main/java/com/hedera/mirror/domain/TransactionResult.java
  src/main/java/com/hedera/mirror/domain/TransactionType.java
  src/main/java/com/hedera/mirror/migration/V1_11_6__Missing_Entities.java
  src/main/java/com/hedera/mirror/parser/record/RecordFileLogger.java
  src/main/java/com/hedera/mirror/repository/TransactionRepository.java
  src/main/resources/db/migration/V1.15__unknown_transaction_types.sql
  src/main/resources/db/scripts/cleanup.sql
  src/test/java/com/hedera/mirror/migration/V1_11_6__Missing_EntitiesTest.java
  src/test/java/com/hedera/mirror/parser/record/AbstractRecordFileLoggerTest.java
  src/test/java/com/hedera/mirror/parser/record/RecordFileLoggerCryptoTest.java
  src/test/java/com/hedera/mirror/parser/record/RecordFileLoggerTest.java
  src/test/java/com/hedera/mirror/parser/record/RecordFileParserTest.java
  src/test/java/com/hedera/mirror/repository/AbstractRepositoryTest.java
  src/test/java/com/hedera/mirror/repository/TransactionRepositoryTest.java
  src/test/java/com/hedera/mirror/repository/TransactionResultRepositoryTest.java
  src/test/java/com/hedera/mirror/repository/TransactionTypeRepositoryTest.java
Labels: P1, bug, parser

#397 Bump to 0.4.1-SNAPSHOT
  pom.xml
  rest-api/package.json
Labels: P2, enhancement, process

#399 Upgrade to Spring Boot 2.2
  pom.xml
  src/main/java/com/hedera/mirror/MirrorNodeApplication.java
  src/main/java/com/hedera/mirror/MirrorProperties.java
  src/main/java/com/hedera/mirror/config/MirrorNodeConfiguration.java
  src/main/java/com/hedera/mirror/downloader/CommonDownloaderProperties.java
  src/main/java/com/hedera/mirror/downloader/balance/BalanceDownloaderProperties.java
  src/main/java/com/hedera/mirror/downloader/event/EventDownloaderProperties.java
  src/main/java/com/hedera/mirror/downloader/record/RecordDownloaderProperties.java
  src/main/java/com/hedera/mirror/migration/V1_11_6__Missing_Entities.java
  src/main/java/com/hedera/mirror/parser/balance/BalanceParserProperties.java
  src/main/java/com/hedera/mirror/parser/event/EventParserProperties.java
  src/main/java/com/hedera/mirror/parser/record/RecordParserProperties.java
  src/main/java/com/hedera/mirror/util/DatabaseUtilities.java
  src/test/resources/application-default.yml
Labels: P1, enhancement, process, technical debt

#380 Speed up transaction account range query performance by improving db schema
  rest-api/__tests__/integration.test.js
  rest-api/__tests__/specs/transactions-01-no-args.spec.json
  rest-api/__tests__/transactions.test.js
  rest-api/__tests__/transactionsTest.test.js
  rest-api/transactions.js
  rest-api/utils.js
  src/main/java/com/hedera/mirror/domain/CryptoTransfer.java
  src/main/java/com/hedera/mirror/parser/record/RecordFileLogger.java
  src/main/java/com/hedera/mirror/repository/CryptoTransferRepository.java
  src/main/resources/db/migration/V1.14__cryptotransferlist_realm_num.sql
  src/test/java/com/hedera/mirror/parser/record/AbstractRecordFileLoggerTest.java
  src/test/java/com/hedera/mirror/parser/record/RecordFileLoggerCryptoTest.java
  src/test/java/com/hedera/mirror/repository/AbstractRepositoryTest.java
  src/test/java/com/hedera/mirror/repository/CryptoTransferRepositoryTest.java
Labels: P1, database, performance

#365 HCS design document
  docs/design/hcs-architecture.png
  docs/design/hcs-consensus-service.png
  docs/design/hcs.md
Labels: P1, documentation, enhancement, hcs

#405 Add missing protobuf response codes
  pom.xml
  rest-api/package-lock.json
  rest-api/package.json
  src/main/resources/db/migration/V1.14__response_codes.sql
Labels: P1, database, enhancement

#407 Fixed failing acceptance tests that missed an update for the improved…
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/transactions.js
Labels: bug, test

#411 Fix single transaction REST API
  rest-api/__tests__/specs/transactions-02-specific-id.spec.json
  rest-api/transactions.js
Labels: P1, api, bug

#413 Fix single transaction API transfer list sorting
  hedera-mirror-rest/__tests__/specs/transactions-02-specific-id.spec.json
  hedera-mirror-rest/transactions.js
Labels: P1, api, bug

#409 Number overflow halting parser on crypto/file/contract update
  docs/troubleshooting.md
  rest-api/__tests__/integration.test.js
  rest-api/__tests__/specs/accounts-01-no-args.spec.json
  rest-api/__tests__/utils.test.js
  src/main/java/com/hedera/mirror/parser/record/Entities.java
  src/main/java/com/hedera/mirror/util/Utility.java
  src/test/java/com/hedera/mirror/parser/record/RecordFileLoggerCryptoTest.java
  src/test/java/com/hedera/mirror/parser/record/RecordFileLoggerFileTest.java
  src/test/java/com/hedera/mirror/util/UtilityTest.java
Labels: P1, bug, parser

#403 Setup HCS projects for the GRPC API and mirror node GRPC API protobuf…
  .circleci/config.yml
  .gitignore
  docker-compose.yml
  docs/configuration.md
  docs/installation.md
  hedera-mirror-coverage/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/scripts/deploy.sh
  hedera-mirror-grpc/scripts/hedera-mirror-grpc.service
  hedera-mirror-grpc/scripts/init-pg-users.sh
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/MirrorGrpcApplication.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/ConsensusService.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/resources/db/scripts/init.sql
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-protobuf/src/main/proto/com/hedera/mirror/api/proto/ConsensusService.proto
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  pom.xml
Labels: P1, enhancement, hcs, process
