Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2020-07, with the labels that each got.

#854 Fix Application resource matchLabels
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.3.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.3.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.3.tgz
  charts/hedera-mirror/templates/application.yaml
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, marketplace

#847 Add Latency Metrics to Performance Tests
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/SingleTopicHCSClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/props/MessageListener.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSDirectStubTopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSMAPITopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSDirectStubSamplerResult.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSMAPISamplerResult.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSSamplerResult.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/jmeter/user.properties
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
Labels: enhancement, performance, test

#845 Update JMeter Performance Test to Submit Transactions to Simulate High TPS
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/TopicMessagePublishClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/props/TopicMessagePublishRequest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/TopicMessagesPublishSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSSamplerResult.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/TransactionSubmissionResult.java
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/main/resources/Dockerfile
  hedera-mirror-test/src/main/resources/run-tests.sh
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/jmeter/Topic_Message_Publish_Only.jmx
  hedera-mirror-test/src/test/jmeter/user.properties
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
Labels: P1, enhancement, test

#857 Add download latency metrics
  docs/configuration.md
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/CompositeTopicListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/FileDelimiter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserPerformanceTest.java
Labels: downloader, enhancement

#856 Support topic message fragmentation with chunking of messages
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/converter/EncodedIdToEntityConverter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/converter/EncodedIdToEntityConverterTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TopicMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.26.0__topic_message_fragmentation.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-protobuf/src/main/proto/com/hedera/mirror/api/proto/ConsensusService.proto
  pom.xml
Labels: P1, database, enhancement, grpc, hcs

#862 Bump versions for v0.15.0-rc1
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: enhancement, process

#863 Notify fixes
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, bug, grpc

#867 Bump versions for v0.15.0
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, enhancement, process

#858 Hardcode bucket names to network enum
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/schema-test.yaml
  charts/marketplace/gcp/schema.yaml
  docs/configuration.md
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/NetworkAddressBook.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/HederaNetwork.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/NetworkAddressBookTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
Labels: P2, downloader, enhancement

#870 Fix long overflow when parsing chunkInfo.getInitialTransactionID()
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, bug, parser

#871 Fix NPE parsing chunk payer account
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
Labels: P1, bug, parser

#872 Port chunk fixes to master
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, bug, parser

#875 Port marketplace fixes to master
  charts/README.md
  charts/hedera-mirror-grpc/templates/_helpers.tpl
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/_helpers.tpl
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/templates/_helpers.tpl
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  charts/hedera-mirror/templates/_helpers.tpl
  charts/hedera-mirror/templates/application.yaml
  charts/hedera-mirror/templates/networkpolicy.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
Labels: P2, bug, marketplace

#869 Improve topic message ingest rate
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
  hedera-mirror-grpc/src/test/resources/config/application.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/HashMismatchException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.26.2__drop_notify_trigger.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, bug, parser, performance, regression

#877 Add Dependabot
  .github/dependabot.yml
Labels: P3, enhancement, process

#892 Port Remove notify trigger
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
  hedera-mirror-grpc/src/test/resources/config/application.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/HashMismatchException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.26.2__drop_notify_trigger.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: P1, bug, parser, performance, regression

#876 Populate consensus_(start|end) for historical entries in t_record_files and fix name column
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordStreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/event/EventFileReaderImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.27.1__populate_consensus_start_end_for_record_files.sql
  hedera-mirror-importer/src/main/resources/db/migration/V1.27.2__update_name_of_record_file_to_filename.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/event/EventFileReaderImplTest.java
Labels: P1, database, enhancement

#896 Fix `ERROR: payload string too long` when sending large JSON payloads via pg_notify
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TopicMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, bug, parser

#897 Ignore notify payloads that exceed 8000
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TopicMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: P1, bug, parser

#901 Recover from account balance files with different timestamps
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/FileStreamSignature.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/DownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/NodeSignatureVerifier.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractLinkedStreamDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/event/EventFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: P1, balances, bug, downloader

#911 Fix memory leak and deadlock in record parser
  docs/configuration.md
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/DomainDriver.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/writer/DomainWriterImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/PgCopy.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/PgCopyTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: P1, bug, parser

#915 fix the issue importer gets stuck when >=2 groups of signature files in same bucket
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/DownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/NodeSignatureVerifier.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/event/EventFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloaderTest.java
Labels: P1, bug, downloader, regression

#916 Bump versions for v0.16.0-rc1
  README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, enhancement, process

#917 Fix Marketplace deployer image
  .circleci/config.yml
  charts/marketplace/gcp/Dockerfile
  pom.xml
Labels: P1, bug, process
