Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2020-10, with the labels that each got.

#1092 Enable code scanning for vulnerabilities
  .github/workflows/code-scan.yml
Labels: P3, enhancement, process, security

#1087 HTS: Add new fields to accounts, balances and transactions REST API
  hedera-mirror-importer/src/main/resources/db/migration/V1.30.1__hts_support.sql
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-03-accounts-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-04-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-05-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-10-account-transactions.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-13-accounts-limit.spec.json
  hedera-mirror-rest/__tests__/specs/balances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/balances-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/balances-03-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/balances-04-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/balances-05-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/balances-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/balances-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-15-limit.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-16-specific-id-tokentransfer.spec.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: P2, enhancement, rest

#1091 Add Redis support to Helm
  .circleci/config.yml
  .github/ct-install.yaml
  .github/ct-lint.yaml
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/redis-dashboard-for-prometheus-redis-exporter-helm-stable-redis-ha_rev1.json
  charts/hedera-mirror-common/requirements.lock
  charts/hedera-mirror-common/requirements.yaml
  charts/hedera-mirror-grpc/templates/_helpers.tpl
  charts/hedera-mirror-grpc/templates/deployment.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/_helpers.tpl
  charts/hedera-mirror-importer/templates/statefulset.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/templates/secret-pgpool.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/values.yaml
  docs/configuration.md
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/ListenerProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
Labels: P2, enhancement

#1109 Bump versions for v0.20.0-alpha1
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, enhancement, process

#1111 Address code scanning results
  .circleci/config.yml
  .github/workflows/code-scan.yml
  .github/workflows/dev.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/config/.node-flywaydb.integration.conf
  hedera-mirror-rest/monitoring/monitor_dashboard/js/main.js
Labels: P2, bug, security

#1110 HTS: REST Token Discovery API
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/tokens-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-02-none.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-03-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-04-token-range.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-05-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-07-invalid-query-params.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/utils.js
Labels: P2, enhancement, rest

#984 Rosetta API 1.0
  .github/workflows/rosetta-validation.yml
  docker-compose.yml
  docs/configuration.md
  docs/images/rosetta-server.png
  docs/rosetta-server.md
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/app/domain/repositories/account.go
  hedera-mirror-rosetta/app/domain/repositories/addressbook/entry/entry.go
  hedera-mirror-rosetta/app/domain/repositories/block.go
  hedera-mirror-rosetta/app/domain/repositories/transaction.go
  hedera-mirror-rosetta/app/domain/services/encoding/entityid.go
  hedera-mirror-rosetta/app/domain/services/encoding/entityid_test.go
  hedera-mirror-rosetta/app/domain/types/account.go
  hedera-mirror-rosetta/app/domain/types/address_book_entry.go
  hedera-mirror-rosetta/app/domain/types/amount.go
  hedera-mirror-rosetta/app/domain/types/block.go
  hedera-mirror-rosetta/app/domain/types/operation.go
  hedera-mirror-rosetta/app/domain/types/transaction.go
  hedera-mirror-rosetta/app/errors/errors.go
  hedera-mirror-rosetta/app/persistence/account/account.go
  hedera-mirror-rosetta/app/persistence/addressbook/entry/entry.go
  hedera-mirror-rosetta/app/persistence/block/block.go
  hedera-mirror-rosetta/app/persistence/common/types.go
  hedera-mirror-rosetta/app/persistence/transaction/transaction.go
  hedera-mirror-rosetta/app/services/account_service.go
  hedera-mirror-rosetta/app/services/block_service.go
  hedera-mirror-rosetta/app/services/commons.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/mempool_service.go
  hedera-mirror-rosetta/app/services/network_service.go
  hedera-mirror-rosetta/build/Dockerfile
  hedera-mirror-rosetta/build/run_supervisord.sh
  hedera-mirror-rosetta/build/supervisord-offline.conf
  hedera-mirror-rosetta/build/supervisord.conf
  hedera-mirror-rosetta/cmd/config.go
  hedera-mirror-rosetta/cmd/db.go
  hedera-mirror-rosetta/cmd/main.go
  hedera-mirror-rosetta/config/application.yml
  hedera-mirror-rosetta/config/config.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/tools/hex/hex.go
  hedera-mirror-rosetta/tools/maphelper/maphelper.go
  hedera-mirror-rosetta/tools/parse/parse.go
  hedera-mirror-rosetta/tools/validator/validator.go
  hedera-mirror-rosetta/types/config.go
  hedera-mirror-rosetta/validation/demo/data_genesis_balances.json
  hedera-mirror-rosetta/validation/demo/validate-from-block-10.json
  hedera-mirror-rosetta/validation/demo/validate-from-genesis.json
  hedera-mirror-rosetta/validation/run-validation.sh
  hedera-mirror-rosetta/validation/testnet/data_genesis_balances.json
  hedera-mirror-rosetta/validation/testnet/validate-from-genesis.json
Labels: P2, enhancement, rosetta

#1127 Rosetta documentation
  docs/installation.md
  hedera-mirror-rosetta/validation/run-validation.sh
Labels: P3, documentation, rosetta

#1113 HTS: Token supply distribution REST API
  docs/design/hts.md
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/specs/token-balances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-03-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-04-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-05-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-07-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-08-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-09-invalid-query.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-10-repeated-valid-params.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-12-token-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-03-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-04-token-range.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-05-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-07-invalid-query-params.spec.json
  hedera-mirror-rest/__tests__/stateproof.test.js
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/package.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/stateproof.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: P1, enhancement, rest

#1128 Rosetta: Cache operation types & statuses
  hedera-mirror-rosetta/app/domain/repositories/transaction.go
  hedera-mirror-rosetta/app/errors/errors.go
  hedera-mirror-rosetta/app/persistence/transaction/transaction.go
  hedera-mirror-rosetta/app/services/network_service.go
  hedera-mirror-rosetta/tools/maphelper/maphelper.go
Labels: enhancement, rosetta

#1129 Rosetta: Unit tests for domain types and tools
  hedera-mirror-rosetta/app/domain/types/account_test.go
  hedera-mirror-rosetta/app/domain/types/address_book_entry_test.go
  hedera-mirror-rosetta/app/domain/types/amount_test.go
  hedera-mirror-rosetta/app/domain/types/block_test.go
  hedera-mirror-rosetta/app/domain/types/operation_test.go
  hedera-mirror-rosetta/app/domain/types/transaction_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/tools/hex/hex_test.go
  hedera-mirror-rosetta/tools/maphelper/maphelper_test.go
  hedera-mirror-rosetta/tools/validator/validator_test.go
Labels: enhancement, rosetta, test

#1131 Updated Acceptance test to support base HTS scenarios
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/ExpandedAccountId.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/NetworkTransactionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/application-default.yml
  hedera-mirror-test/src/test/resources/features/hts/hts.feature
  hedera-mirror-test/src/test/resources/features/setup/setup.feature
  pom.xml
Labels: P2, enhancement, test

#1125 HTS: Token REST API
  docs/design/hts.md
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/specs/token-info-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-02-invalid-id.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-03-not-found.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/tokens.js
Labels: P2, enhancement, rest

#1137 Bump version to rc1 from alpha1 w HTS Acceptance Tests
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/ExpandedAccountId.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/NetworkTransactionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/application-default.yml
  hedera-mirror-test/src/test/resources/features/hts/hts.feature
  hedera-mirror-test/src/test/resources/features/setup/setup.feature
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, enhancement, process

#1130 Add support for alerts in Kubernetes
  .github/workflows/dev.yaml
  .github/workflows/helm-test.yaml
  charts/README.md
  charts/hedera-mirror-common/dashboards/alertmanager.json
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-common/dashboards/swagger-stats-dashboard-v3_rev4.json
  charts/hedera-mirror-common/requirements.lock
  charts/hedera-mirror-common/requirements.yaml
  charts/hedera-mirror-common/templates/NOTES.txt
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/values.yaml
Labels: P2, enhancement, process

#1138 Minor updates to HTS doc post REST implementation
  docs/design/hts.md
Labels: P3, documentation

#1136 Rosetta: Unit test Account, Block, Mempool & Network API Services
  hedera-mirror-rosetta/app/services/account/account_service.go
  hedera-mirror-rosetta/app/services/account/account_service_test.go
  hedera-mirror-rosetta/app/services/base/base_service.go
  hedera-mirror-rosetta/app/services/block/block_service.go
  hedera-mirror-rosetta/app/services/block/block_service_test.go
  hedera-mirror-rosetta/app/services/construction/construction_service.go
  hedera-mirror-rosetta/app/services/mempool/mempool_service.go
  hedera-mirror-rosetta/app/services/mempool/mempool_service_test.go
  hedera-mirror-rosetta/app/services/network/network_service.go
  hedera-mirror-rosetta/app/services/network/network_service_test.go
  hedera-mirror-rosetta/cmd/main.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/tests/mocks/repository/account_mock.go
  hedera-mirror-rosetta/tests/mocks/repository/block_mock.go
  hedera-mirror-rosetta/tests/mocks/repository/entry_mock.go
  hedera-mirror-rosetta/tests/mocks/repository/setup.go
  hedera-mirror-rosetta/tests/mocks/repository/transaction_mock.go
Labels: go, rosetta

#1157 Fix NPE parsing token transactions
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityId.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, bug, parser

#1158 Port Fix NPE parsing token transactions to master
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityId.java
Labels: P1, bug, parser

#1139 Add transaction type filter to REST API
  hedera-mirror-rest/__tests__/specs/accounts-14-account-transactions-transactiontype.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-15-account-transactions-invalid-transactiontype.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-13-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-17-transaction-type.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: P3, enhancement, javascript, rest

#1161 Bump version for v0.21.0-rc1
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-batch-publish-batch-validate.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-publish-and-retrieve.yml
  pom.xml
Labels: P1, enhancement, process

#1155 Rosetta: Unit Tests - Persistence Layer
  hedera-mirror-rosetta/app/domain/services/encoding/entityid.go
  hedera-mirror-rosetta/app/domain/services/encoding/entityid_test.go
  hedera-mirror-rosetta/app/persistence/account/account.go
  hedera-mirror-rosetta/app/persistence/account/account_test.go
  hedera-mirror-rosetta/app/persistence/addressbook/entry/entry_test.go
  hedera-mirror-rosetta/app/persistence/block/block.go
  hedera-mirror-rosetta/app/persistence/block/block_test.go
  hedera-mirror-rosetta/app/persistence/common/common.go
  hedera-mirror-rosetta/app/persistence/common/common_test.go
  hedera-mirror-rosetta/app/persistence/transaction/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction/transaction_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/test/mocks/mocks.go
Labels: enhancement, rosetta, test

#1163 Optimize AccountBalanceRepository queries
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/AccountBalance.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/AccountBalanceRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AccountBalanceRepositoryTest.java
Labels: P3, enhancement, java, test

#1165 Fix postgresql deadlock in integration tests
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
Labels: P3, bug, java, test

#1166 Support disabling pgpool load balancing in importer
  charts/hedera-mirror-importer/values.yaml
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/HibernateConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/DBProperties.java
  hedera-mirror-importer/src/main/resources/application.yml
Labels: bug

#1171 Add missing columns to token info REST API
  hedera-mirror-rest/__tests__/specs/token-info-01-no-args.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
Labels: P1, bug, rest

#1170 Add custom alerts and dashboards
  .circleci/config.yml
  .github/workflows/code-scan.yml
  charts/README.md
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/dashboards/swagger-stats-dashboard-v3_rev4.json
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-grpc/templates/prometheusrule.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/prometheusrule.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/templates/prometheusrule.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/values-prod.yaml
  docker-compose.yml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/test/resources/config/bootstrap.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalancesFileLoader.java
  hedera-mirror-importer/src/test/resources/config/bootstrap.yml
Labels: P2, enhancement, process

#1180 Disable failing ConsensusControllerTest.fragmentedMessagesGroupAcross…
  .github/workflows/dev.yaml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
Labels: P1, bug, test

#1135 HTS REST Performance Tests
  docs/testing.md
  hedera-mirror-rest/__performancetests__/generateQuerySets.js
  hedera-mirror-rest/__performancetests__/tests.yml
Labels: P1, enhancement, hts, test

#1182 Fix bad PrometheusRule expression
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror/requirements.lock
Labels: P2, bug, process

#1196 Fix test case fragmentedMessagesGroupAcrossHistoricAndIncoming
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
Labels: P3, bug, regression, test

#1149 Rosetta: Github Workflow (build, test, codecov, cli-validation)
  .github/workflows/rosetta-api.yml
  .github/workflows/rosetta-validation.yml
  codecov.yml
  docs/installation.md
  hedera-mirror-rosetta/build/Dockerfile
  hedera-mirror-rosetta/scripts/validation/demo/data_genesis_balances.json
  hedera-mirror-rosetta/scripts/validation/demo/validate-from-block-10.json
  hedera-mirror-rosetta/scripts/validation/demo/validate-from-genesis.json
  hedera-mirror-rosetta/scripts/validation/run-validation.sh
  hedera-mirror-rosetta/scripts/validation/testnet/data_genesis_balances.json
  hedera-mirror-rosetta/scripts/validation/testnet/validate-from-genesis.json
  hedera-mirror-rosetta/scripts/wait-for-mirror-node.sh
Labels: enhancement, process, rosetta

#1169 Rosetta: Unit tests - Construction API
  hedera-mirror-rosetta/app/errors/errors.go
  hedera-mirror-rosetta/app/services/construction/construction_service.go
  hedera-mirror-rosetta/app/services/construction/construction_service_test.go
  hedera-mirror-rosetta/tools/validator/validator.go
  hedera-mirror-rosetta/tools/validator/validator_test.go
Labels: enhancement, rosetta, test

#1197 HTS: Add HTS REST API tests to monitor
  hedera-mirror-rest/__tests__/specs/token-balances-13-timestamp-range.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-14-timestamp-range-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-15-empty-timestamp-range.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/monitoring/README.md
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/balance_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/config/sample.serverlist.json
  hedera-mirror-rest/monitoring/monitor_apis/monitor_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/token_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/topicmessage_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
  hedera-mirror-rest/tokens.js
Labels: P1, enhancement, hts, monitor

#1198 Fix ImporterParseLatency alerts triggering in dev repeatedly
  charts/hedera-mirror-importer/values.yaml
Labels: bug

#1195 Rosetta: Record files (blocks) retrieval
  hedera-mirror-rosetta/app/errors/errors.go
  hedera-mirror-rosetta/app/persistence/block/block.go
  hedera-mirror-rosetta/app/persistence/block/block_test.go
  hedera-mirror-rosetta/app/persistence/transaction/transaction_test.go
  hedera-mirror-rosetta/app/services/account/account_service_test.go
  hedera-mirror-rosetta/app/services/base/base_service_test.go
  hedera-mirror-rosetta/app/services/block/block_service_test.go
  hedera-mirror-rosetta/app/services/mempool/mempool_service_test.go
  hedera-mirror-rosetta/app/services/network/network_service_test.go
  hedera-mirror-rosetta/scripts/validation/demo/data_genesis_balances.json
  hedera-mirror-rosetta/scripts/validation/demo/validate-from-block-10.json
  hedera-mirror-rosetta/scripts/validation/demo/validate-from-genesis.json
  hedera-mirror-rosetta/scripts/validation/run-validation.sh
  hedera-mirror-rosetta/scripts/wait-for-mirror-node.sh
  hedera-mirror-rosetta/test/mocks/repository/account_mock.go
  hedera-mirror-rosetta/test/mocks/repository/block_mock.go
  hedera-mirror-rosetta/test/mocks/repository/entry_mock.go
  hedera-mirror-rosetta/test/mocks/repository/setup.go
  hedera-mirror-rosetta/test/mocks/repository/transaction_mock.go
Labels: enhancement, rosetta

#1168 Add support for case insensitive query params to REST API
  hedera-mirror-rest/__tests__/requestHandler.test.js
  hedera-mirror-rest/__tests__/specs/accounts-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/balances-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-02-invalid-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-13-invalid-param-values.spec.json
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/middleware/requestHandler.js
  hedera-mirror-rest/middleware/requestLogger.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/utils.js
Labels: P2, enhancement, rest

#1200 Bump versions for 0.20.0
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: enhancement, process

#1181 Fix stale accounts REST API
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/specs/accounts-16-no-balances.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-17-specific-id-no-balance.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-18-account-transactions-no-balances.spec.json
  hedera-mirror-rest/accounts.js
Labels: P2, bug, javascript, rest
