Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2020-05, with the labels that each got.

#730 Bump versions for v0.10.0
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#732 v0.10.1
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, rest

#731 Lint and template helm charts
  .circleci/config.yml
Labels: P3, enhancement, process

#733 Add awaitjs and swagger missing rest api bundle dependencies
  hedera-mirror-rest/__tests__/package.test.js
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: P1, bug, rest

#734 Auto Clean up old master images in GCR
  .circleci/config.yml
Labels: P2, enhancement, process

#741 Add pubsub docs. Minor properties refactor
  README.md
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNFTTest.java
Labels: P1, documentation

#742 Automate versioning and prepare for v0.11.0-rc1
  README.md
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.1.tgz
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#744 Add Application resource for Google Cloud Marketplace
  charts/hedera-mirror-grpc/templates/middleware.yaml
  charts/hedera-mirror-rest/templates/middleware.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.1.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.2.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.1.0.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.2.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.2.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.7.tgz
  charts/hedera-mirror/charts/traefik-8.1.2.tgz
  charts/hedera-mirror/charts/traefik-8.1.4.tgz
  charts/hedera-mirror/logo.png
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/templates/NOTES.txt
  charts/hedera-mirror/templates/application.yaml
  charts/hedera-mirror/templates/configmap-dashboards.yaml
  charts/hedera-mirror/templates/configmap-traefik.yaml
  charts/hedera-mirror/templates/middleware-grafana.yaml
  charts/hedera-mirror/values-marketplace.yaml
  charts/hedera-mirror/values-minimal.yaml
  charts/hedera-mirror/values.yaml
Labels: P1, enhancement

#743 Update parser design doc
  docs/design/images/parser-control-flow.png
  docs/design/images/parser-data-flow.png
  docs/design/parser.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: P3, design, documentation, parser

#748 Update Spring Boot to 2.2.7 to fix NPE in GRPC
  charts/hedera-mirror/templates/application.yaml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, grpc

#750 Include 3rd party licenses and source in container images
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  pom.xml
Labels: P1, enhancement, process

#753 Stop polling bucket when finished downloading demo data
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsExecutionInterceptor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityId.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/DownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/EntityIdTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
  pom.xml
Labels: P3, downloader, enhancement

#755 Add transactionHash to /transactions REST api
  .editorconfig
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/specs/accounts-10-account-transactions.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-04-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-05-success-result.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-06-fail-result.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-07-credit-type.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-08-debit-type.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-09-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-10-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-15-limit.spec.json
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/__tests__/transactionsSqlQuery.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/transactions.js
Labels: P1, enhancement, rest

#760 Prepare for v0.11.0
  README.md
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#757 Change hash mismatch bypassing from state to config based
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ApplicationStatusCode.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.24__remove_bypass_state.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/RecordFileRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: P3, database, downloader, enhancement, parser

#762 Add consensus_start and consensus_end to t_record_files
  README.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/RecordItem.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.24.0__remove_bypass_state.sql
  hedera-mirror-importer/src/main/resources/db/migration/V1.24.1__t_record_files_timestamps.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/RecordFileRepositoryTest.java
Labels: P1, database, enhancement

#763 Set default topicRunningHashV2AddedTimestamp based on network
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
Labels: P2, database, enhancement

#764 Add consensusTimestamp attribute to PubSub messages
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/PubSubIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordParserTest.java
Labels: P1, enhancement, parser

#765 Add runningHashVersion to REST and GRPC APIs
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/handler/ConnectionHandler.java
  hedera-mirror-protobuf/src/main/proto/com/hedera/mirror/api/proto/ConsensusService.proto
  hedera-mirror-rest/__tests__/specs/topicmessage-01-timestamp-valid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-04-idseq-valid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-05-idseq-valid-full-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-02-specific-sequence.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-04-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-08-repeated-valid-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-09-limit.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-10-order.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-11-encoding.spec.json
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/analytics.js
  hedera-mirror-rest/middleware/requestLogger.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
Labels: P2, enhancement, grpc, rest

#740 Added deployer folder structure with schema and docker file
  .circleci/config.yml
  charts/.maven-dockerignore
  charts/hedera-mirror/templates/NOTES.txt
  charts/hedera-mirror/templates/application.yaml
  charts/hedera-mirror/templates/priorityclass.yaml
  charts/hedera-mirror/values-marketplace.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/Dockerfile
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/schema.yaml
  hedera-mirror-rest/pom.xml
  pom.xml
Labels: P1, enhancement

#768 Removed subscribe flag as acceptance test and updated cucumber version
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/features/hcs/hcs.feature
Labels: P2, enhancement, test

#767 Fix failed crypto transfers with non-fee transfers enabled crashing importer
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/NonFeeTransferExtractionStrategyImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNFTTest.java
Labels: P2, bug, parser

#769 Fix chart in GKE
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/templates/deployment.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/templates/statefulset.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/templates/deployment.yaml
  charts/hedera-mirror-rest/templates/secret.yaml
  charts/hedera-mirror-rest/templates/servicemonitor.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.2.tgz
  charts/hedera-mirror/charts/loki-stack-0.37.0.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.2.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.5.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.7.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.8.tgz
  charts/hedera-mirror/charts/traefik-8.1.4.tgz
  charts/hedera-mirror/charts/traefik-8.2.0.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/values.yaml
  pom.xml
Labels: P2, bug, process

#772 Add option to archive verified signature files
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/DownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloaderTest.java
Labels: P3, downloader, enhancement

#775 Fix PostgreSQL network config in marketplace
  .circleci/config.yml
  charts/hedera-mirror/values.yaml
  pom.xml
Labels: P1, enhancement, marketplace

#781 Enable reWriteBatchedInserts in driver
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlProperties.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserPerformanceTest.java
Labels: P1, enhancement, parser, performance

#782 Bump versions for v0.12.0-beta1
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.37.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.8.tgz
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#783 Fix docker skip deployer circle ci
  .circleci/config.yml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, process, regression

#784 Add Service Account Configuration to GCP Marketplace Schema
  charts/marketplace/gcp/Dockerfile
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
Labels: P1, enhancement, marketplace

#787 Add retry to PubSub send
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
Labels: P1, etl, parser

#788 Ensure 404 repsonse for unmatched routes
  hedera-mirror-rest/__tests__/specs/route-not-found-01.spec.json
  hedera-mirror-rest/__tests__/specs/route-not-found-02.spec.json
  hedera-mirror-rest/middleware/httpErrorHandler.js
  hedera-mirror-rest/middleware/responseHandler.js
Labels: P2, bug, rest

#793 GCP Requester Pays - add project id config
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
Labels: P1, enhancement, parser

#795 Add GCP Marketplace verification
  .circleci/config.yml
  charts/hedera-mirror-importer/templates/secret.yaml
  charts/hedera-mirror-rest/templates/secret.yaml
  charts/hedera-mirror-rest/templates/tests/configmap.yaml
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.37.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.37.1.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.5.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.7.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.8.tgz
  charts/hedera-mirror/charts/traefik-8.2.0.tgz
  charts/hedera-mirror/charts/traefik-8.2.1.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/templates/application.yaml
  charts/hedera-mirror/templates/secret-pgpool.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/Dockerfile
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/schema-test.yaml
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserPerformanceTest.java
Labels: P2, enhancement, marketplace, test
