Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2020-01, with the labels that each got.

#482 HCS proto changes
  docs/design/hcs.md
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/entity/EntityGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/writer/PostgresCSVDomainWriter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Entities.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileLogger.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.17.4__hcs_proto_changes.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/V1_11_6__Missing_EntitiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
  pom.xml
Labels: P2, database, enhancement

#484 Fix entities duplicate key violation
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileLogger.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerCryptoTest.java
Labels: P1, bug, parser

#488 Elasticsearch Metrics
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/MirrorGrpcApplication.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/PollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorImporterApplication.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TransactionTypeEnum.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/CommonParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/CommonParserPropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionTypeRepositoryTest.java
Labels: P2, enhancement, process

#489 Change to at least 1/3 consensus and 13 node address book
  README.md
  docs/troubleshooting.md
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/scripts/deploy.sh
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/FileStreamSignature.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/NodeSignatureVerifier.java
  hedera-mirror-importer/src/main/resources/addressbook/mainnet
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloaderTest.java
Labels: P1, downloader, enhancement

#492 Final protobuf & bump to v0.5.1-rc1
  docs/design/hcs.md
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/resources/db/migration/V1.17.4__hcs_proto_changes.sql
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-protobuf/src/main/proto/com/hedera/mirror/api/proto/ConsensusService.proto
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  pom.xml
Labels: P1, enhancement, process

#494 Release v0.5.1
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  pom.xml
Labels: P1, enhancement, process

#477 Implemented perf module utilizing jmeter to run multi thread GRPC load test
  .circleci/config.yml
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/transaction/DomainTransactionGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/transaction/TopicTransactionGenerator.java
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessageFilter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/PollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/ConnectionHandler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/ConsensusServiceReactiveClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/TopicMessageGeneratorClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/props/MessageGenerator.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/props/MessageListener.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/ConsensusServiceReactiveSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/TopicMessageGeneratorSampler.java
  hedera-mirror-importer/src/main/resources/db/scripts/manage_constraints_and_indexes.sql
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-test/README.md
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/conf/log4j2.xml
  hedera-mirror-test/src/test/jmeter/E2E_200_TPS_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Multi_User_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Multi_User_Heavy_Load_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Single_User_All_Messages.jmx
  pom.xml
Labels: P1, performance, process, test

#502 Fix parsing ConsensusCreateTopic with existing autorenew account
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Entities.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityTypeEnum.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileLogger.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.17.5__fix_mirror_api_permissions.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, parser

#503 Fix monitor API returning invalid JSON when REST API down
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-rest/monitoring/monitor_apis/balance_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/common.js
  hedera-mirror-rest/monitoring/monitor_apis/server.js
Labels: P1, bug, monitor

#507 Fix S3 not connecting to specific region endpoint
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  pom.xml
Labels: P2, bug, downloader

#508 Improve handling of HCS missing messages
  .circleci/config.yml
  .mvn/wrapper/maven-wrapper.properties
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
Labels: P1, bug, grpc

#514 Add /health and /info endpoints to grpc and importer
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcHealthIndicator.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/resources/application.yml
Labels: P1, enhancement, grpc, ops

#515 Add a shared poller
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/CompositeTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/ListenerProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/PollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepository.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryTest.java
Labels: P2, enhancement, grpc

#517 Release v0.5.3
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#513 Publish official Docker images to GCR
  .circleci/config.yml
  docker-compose.yml
  docs/installation.md
  hedera-mirror-rest/pom.xml
  pom.xml
Labels: P2, enhancement, process

#519 Fix database table metrics
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/main/resources/application.yml
  pom.xml
Labels: P1, bug, ops
