Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2020-03, with the labels that each got.

#561 Enable MAPI Subscribe JMeter Performance Tests
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/MultiTopicHCSClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/SingleTopicHCSClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/TopicMessageGeneratorClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/handler/ConnectionHandler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/handler/PropertiesHandler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/props/TopicSubscription.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSDirectStubTopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSMAPITopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSTopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/TopicMessageGeneratorSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSDirectStubSamplerResult.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSMAPISamplerResult.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSSamplerResult.java
  hedera-mirror-test/src/test/jmeter/E2E_Subscribe_Only.jmx
  hedera-mirror-test/src/test/jmeter/user.properties
Labels: performance, test

#577 Use RecordItem in tests
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/RecordItem.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordFileLoggerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerNFTTest.java
Labels: P2, parser, test

#576 Postgres Writer #2
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResult.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/FileData.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/LiveHash.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TopicMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileLogger.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParserItemHandlerTest.java
Labels: P2, parser

#578 Postgres Writer #3 : Move transaction and batching
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Transaction.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWriterProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileLogger.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordParserProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordFileLoggerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParserItemHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerCryptoTest.java
Labels: P2, parser

#579 Prepare RecordFileParser for file init/complete logic.
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
Labels: P2, parser

#580 Make RecordFileLogger implementation of RecordItemListener
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/ParserException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/ParserSQLException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileLogger.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordFileLoggerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileLoggerTopicTest.java
Labels: P2, parser

#581 Rename RecordFileLogger to RecordItemParser
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordItemParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserNFTTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserTopicTest.java
Labels: P2, parser

#585 Move file handling logic from RecordItemParser to RecordFileParser
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Transaction.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/ParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/RecordStreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/StreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWriterProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/RecordFileRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordItemParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParserItemHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserTest.java
  hedera-mirror-importer/src/test/resources/data/badTimestampLongOverflowTest/2019-09-13T12_12_30.144357Z.rcd
Labels: P2, parser

#582 JUnit parser performance tests for 1k tps record files
  .circleci/config.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/benchmark/ParserRecordIngestionTest.java
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_00.000084Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_00.000084Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_05.007359Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_05.007359Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_10.001022Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_10.001022Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_15.011840Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_15.011840Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_20.007996Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_20.007996Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_25.001721Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_25.001721Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_30.000978Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_30.000978Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_35.009154Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_35.009154Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_40.000704001Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_40.000704001Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_45.008710Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_45.008710Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_50.013544Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_50.013544Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_55.001982Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/2020-02-09T18_30_55.001982Z.rcd_sig
Labels: P2, enhancement, parser, performance

#590 REST Integration tests improvements 1
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integration_db_ops.js
  hedera-mirror-rest/__tests__/specs/transactions-01-no-args.spec.json
  hedera-mirror-rest/package.json
Labels: P2, enhancement, rest, test

#593 Fix check topic exists flag
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, grpc

#588 Slight performance and acceptance test improvements and corrections
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/MultiTopicHCSClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/SingleTopicHCSClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/handler/PropertiesHandler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSDirectStubTopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSSamplerResult.java
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/jmeter/E2E_200_TPS_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Multi_Client_Subscribe_Only.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Multi_User_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Multi_User_Heavy_Load_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Single_User_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Subscribe_Only.jmx
  hedera-mirror-test/src/test/jmeter/Netty_MaxConcurrentCallsPerConnection.jmx
  hedera-mirror-test/src/test/resources/features/hcs/hcs.feature
  hedera-mirror-test/src/test/resources/features/topicfilter/hcstopicfilter.feature
Labels: P3, enhancement, performance, test

#587 Update RecordFileParser.loadRecordFile() to match design
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/ApplicationStatusRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
Labels: P3, enhancement, parser, technical debt

#596 Configuration to delete parsed files
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
Labels: P1, enhancement, parser

#599 Bump to version 0.7.0
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P2, enhancement, process

#598 Updated integrationDbOps.js with more detailed setup logic
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/package.json
Labels: P2, enhancement, rest, test

#602 Remove GRPC monitor
  hedera-mirror-grpc/scripts/deploy.sh
  hedera-mirror-grpc/scripts/hedera-mirror-grpc-monitor.service
  hedera-mirror-grpc/scripts/monitor.sh
  hedera-mirror-importer/scripts/deploy.sh
Labels: P3, enhancement, grpc, technical debt

#601 Rename parsed directory and persist properties
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/ParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordItemParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserNFTTest.java
Labels: P2, enhancement, parser

#606 Make monitor API configurable in dashboard
  hedera-mirror-rest/monitoring/README.md
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_dashboard/css/main.css
  hedera-mirror-rest/monitoring/monitor_dashboard/js/main.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: P3, enhancement, monitor

#603 REST Integration tests improvements 2 replacement
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/integration_test_data.json
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/balances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-03-none.spec.json
  hedera-mirror-rest/package.json
Labels: P2, enhancement, rest, test

#597 Switch from R2DBC to Hibernate
  docs/configuration.md
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/GrpcProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/MirrorGrpcApplication.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/CacheConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/DatabaseConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/Entity.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/PollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/EntityRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustom.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetriever.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/RetrieverProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/GrpcIntegrationTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/domain/DomainBuilder.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/handler/ConnectionHandler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/TopicMessageGeneratorSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/repository/EntityRepositoryTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-grpc/src/test/resources/application-default.yml
  hedera-mirror-grpc/src/test/resources/cleanup.sql
  hedera-mirror-test/README.md
  pom.xml
Labels: P1, bug, grpc

#610 Added logic to fail if all missing messages were not retrieved during a subscription
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
Labels: P2, bug, grpc

#609 Change balance downloader polling frequency from 500ms to 30s
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
Labels: P2, downloader

#613 Add /topic/message/:consensusTimestamp API
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/topicmessage-01-timestamp-valid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-02-timestamp-invalid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-03-timestamp-not-found.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/utils.js
Labels: P1, enhancement, rest

#619 Fix NPE in Downloader
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/GrpcIntegrationTest.java
  hedera-mirror-grpc/src/test/resources/application-default.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/ApplicationStatusRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/ApplicationStatusRepositoryTest.java
  hedera-mirror-importer/src/test/resources/application-default.yml
Labels: P1, bug, downloader, regression

#620 Bump version for v0.8.0-rc1
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P2, enhancement, process

#622 Add support for Requester Pays S3 buckets
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
Labels: P2, downloader, enhancement

#624 Added duplicte messages back using mocks instead of real db inserts
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
Labels: grpc, test

#628 Delete REST acceptance tests
  docs/installation.md
  docs/operations.md
  hedera-mirror-rest/.maven-dockerignore
  hedera-mirror-rest/__acceptancetests__/acceptancetest_utils.js
  hedera-mirror-rest/__acceptancetests__/acceptancetests
  hedera-mirror-rest/__acceptancetests__/accounts.test.js
  hedera-mirror-rest/__acceptancetests__/balances.test.js
  hedera-mirror-rest/__acceptancetests__/transactions.test.js
  hedera-mirror-rest/package.json
Labels: P3, rest, technical debt, test

#629 Add rest api code coverage
  .circleci/config.yml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: P2, enhancement, rest

#630 Fix REST tests in CircleCI
  .gitignore
  hedera-mirror-rest/__tests__/config.test.js
Labels: P1, bug, rest, test

#632 Fix REST security vulnerability
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: P2, bug, rest, security

#633 Fix REST Monitor security vulnerabilities
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
Labels: P2, bug, rest, security

#634 Bump version for v0.8.0
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P2, enhancement, process

#636 Fixing REST spec tests causing bigint overflow
  hedera-mirror-rest/__tests__/specs/transactions-11-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-12-invalid-transaction-id.spec.json
Labels: bug, test

#638 TransactionHandler Boilerplate
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusDeleteTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusSubmitMessageTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAddClaimTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteClaimTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoTransferTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileAppendTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemUndeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TransactionHandlerFactory.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/UnknownDataTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusDeleteTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusSubmitMessageTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAddClaimTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteClaimTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoTransferTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileAppendTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemUndeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/UnknownDataTransactionHandlerTest.java
Labels: P1, parser, technical debt
