Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2020-06, with the labels that each got.

#798 Fix balance file processing non-deterministically
  charts/marketplace/gcp/schema.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/AccountBalance.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/AccountBalanceSet.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalancesFileLoader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/AccountBalanceRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/AccountBalanceSetRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/DatabaseUtilities.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/BalanceFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AccountBalanceRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AccountBalanceSetRepositoryTest.java
Labels: P3, bug, parser

#809 Added missing gcpProjectId value to application.yml needed for startup
  README.md
  application.yml
  docs/installation.md
Labels: P3, documentation, enhancement

#814 Bump to v0.12.0
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#815 Bump versions for v0.13.0-rc1
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.8.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: enhancement, process

#797 Add Container Support for large db perf tests
  .circleci/config.yml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/DBProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/PerformanceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/RestoreClientIntegrationTest.java
  hedera-mirror-importer/src/test/resources/scripts/restore-client/Dockerfile
  hedera-mirror-importer/src/test/resources/scripts/restore.sh
  pom.xml
Labels: P1, enhancement, parser, performance

#818 Fixed up large db perf test flow
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/DBProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/PerformanceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/RestoreClientIntegrationTest.java
Labels: P3, enhancement, test

#816 Improve Record Parser tests
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNFTTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
Labels: P3, parser, technical debt, test

#821 Add GCP Marketplace user guide
  charts/README.md
  charts/hedera-mirror-grpc/templates/_helpers.tpl
  charts/hedera-mirror-grpc/templates/deployment.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/_helpers.tpl
  charts/hedera-mirror-importer/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-importer/templates/statefulset.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/templates/_helpers.tpl
  charts/hedera-mirror-rest/templates/deployment.yaml
  charts/hedera-mirror-rest/templates/secret.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.37.1.tgz
  charts/hedera-mirror/charts/loki-stack-0.37.3.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.7.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.9.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.8.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.14.0.tgz
  charts/hedera-mirror/charts/traefik-8.2.1.tgz
  charts/hedera-mirror/charts/traefik-8.4.1.tgz
  charts/hedera-mirror/dashboards/jvm-micrometer-rev9.json
  charts/hedera-mirror/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror/dashboards/traefik.json
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/templates/NOTES.txt
  charts/hedera-mirror/templates/configmap-traefik.yaml
  charts/hedera-mirror/templates/middleware-grafana.yaml
  charts/hedera-mirror/templates/secret-pgpool.yaml
  charts/hedera-mirror/templates/secret-postgresql.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/architecture.png
  charts/marketplace/gcp/schema-test.yaml
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
Labels: P2, enhancement, marketplace

#826 Marketplace: Add requester pays support
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/schema-test.yaml
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
Labels: P1, enhancement, marketplace

#824 Followup of #817
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/common/TransactionGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/transaction/CryptoTransactionGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/transaction/FileTransactionGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/transaction/TopicTransactionGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/writer/PostgresCSVDomainWriter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/converter/EntityIdConverter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Entities.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityId.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Transaction.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/InvalidEntityException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/V1_11_6__Missing_Entities.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/EntityIdEndec.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.25.0__denormalize_entities.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/converter/EntityIdConverterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNFTTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AbstractRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/EntityIdEndecTest.java
Labels: P2, enhancement, parser

#828 Bump versions for 0.13.0
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.0.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#831 Downgraded grpc netty shaded in test pom to unblock acceptance tests
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.1.tgz
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: bug, test

#835 Backport fix shared poller OOM to 0.13
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.1.tgz
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/scripts/hedera-mirror-grpc.service
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustom.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/scripts/hedera-mirror-importer.service
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug

#822 Containerize acceptance tests
  .circleci/config.yml
  .maven-dockerignore
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/README.md
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/SingleTopicHCSClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSDirectStubTopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSMAPITopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/result/HCSSamplerResult.java
  hedera-mirror-importer/pom.xml
  hedera-mirror-test/README.md
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/main/resources/Dockerfile
  hedera-mirror-test/src/main/resources/run-tests.sh
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/license/licenses.xml
  pom.xml
Labels: P2, enhancement, ops

#833 Fix shared poller OOM
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.1.tgz
  charts/hedera-mirror/charts/loki-stack-0.37.3.tgz
  charts/hedera-mirror/charts/loki-stack-0.37.4.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.10.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.2.9.tgz
  charts/hedera-mirror/charts/prometheus-adapter-2.3.1.tgz
  charts/hedera-mirror/charts/prometheus-adapter-2.4.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.14.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.15.5.tgz
  charts/hedera-mirror/charts/traefik-8.4.1.tgz
  charts/hedera-mirror/charts/traefik-8.6.0.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/schema-test.yaml
  docs/configuration.md
  hedera-mirror-grpc/scripts/hedera-mirror-grpc.service
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/converter/InstantToLongConverter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/converter/LongToInstantConverter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessageFilter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/ListenerProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustom.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/domain/DomainBuilder.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/handler/ConnectionHandler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetrieverTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/scripts/hedera-mirror-importer.service
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/HederaNetwork.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/FileWatcher.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceFileParser.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/NetworkAddressBookTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/BalanceFileParserTest.java
  pom.xml
Labels: P1, bug, grpc

#834 Denormalize entity in cryptotransferlists and non_fee_transfer tables
  docs/design/parser.md
  hedera-mirror-datagenerator/scripts/load_data.sql
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/transaction/CryptoTransactionGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/writer/PostgresCSVDomainWriter.java
  hedera-mirror-grpc/src/test/resources/cleanup.sql
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/CryptoTransfer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/NonFeeTransfer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/NonFeeTransferExtractionStrategy.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/NonFeeTransferExtractionStrategyImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/CryptoTransferRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.25.1__denormalize_transfer_tables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
  hedera-mirror-importer/src/main/resources/db/scripts/manage_constraints_and_indexes.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/PerformanceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNFTTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/CryptoTransferRepositoryTest.java
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/__tests__/transactionsSqlQuery.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: P2, database, performance

#837 Rename t_transactions table to transaction
  docs/design/parser.md
  docs/testing.md
  hedera-mirror-datagenerator/scripts/load_data.sql
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/writer/PostgresCSVDomainWriter.java
  hedera-mirror-grpc/src/test/resources/cleanup.sql
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Transaction.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.25.0__denormalize_entities.sql
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
  hedera-mirror-importer/src/main/resources/db/scripts/manage_constraints_and_indexes.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/PerformanceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNFTTest.java
  hedera-mirror-rest/__performancetests__/generateQuerySets.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/transactions.js
Labels: P3, database, enhancement

#836 Kubernetes Test Run Job Logic
  hedera-mirror-test/README.md
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/main/resources/Dockerfile
  hedera-mirror-test/src/main/resources/run-tests.sh
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, enhancement, test

#840 Marketplace improvements and fixes
  charts/hedera-mirror/templates/application.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/schema-test.yaml
  charts/marketplace/gcp/schema.yaml
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/config.js
Labels: P1, enhancement, marketplace

#842 Bump versions for v0.14.0-rc1
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.1.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.15.5.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  pom.xml
Labels: P1, enhancement, process

#846 Bump versions for v0.14.0
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.3.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.3.0.tgz
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: enhancement, process

#849 Marketplace labels
  charts/README.md
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/templates/_helpers.tpl
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/templates/_helpers.tpl
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/templates/_helpers.tpl
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.2.tgz
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.2.3.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.2.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.2.3.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.2.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.2.3.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/templates/_helpers.tpl
  charts/hedera-mirror/templates/application.yaml
  charts/hedera-mirror/templates/networkpolicy.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
  docker-compose.yml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, marketplace

#850 Optimize parser performance
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/converter/EntityIdConverter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityId.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/CommonParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/CommonParserPropertiesTest.java
  hedera-mirror-importer/src/test/resources/scripts/restore-client/Dockerfile
Labels: P1, bug, performance

#848 Add Additional Importer and grpc latency metrics
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/CompositeTopicListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
Labels: P1, enhancement, performance, test
