Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2020-02, with the labels that each got.

#526 Fix limit set logic and use test start time instead of fixed time
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/ConsensusServiceReactiveClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/TopicMessageGeneratorSampler.java
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/jmeter/E2E_Subscribe_Only.jmx
Labels: P3, bug, test

#528 Monitor script/service to bounce hedera-mirror-grpc when it gets stuck.
  hedera-mirror-grpc/scripts/deploy.sh
  hedera-mirror-grpc/scripts/hedera-mirror-grpc-monitor.service
  hedera-mirror-grpc/scripts/monitor.sh
Labels: P1, enhancement, process

#504 BDD HCS E2E tests using SDK
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/DataGeneratorProperties.java
  hedera-mirror-test/README.md
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/main/java/com/hedera/mirror/test/MirrorTestApplication.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/FeatureInputHandler.java
  hedera-mirror-test/src/test/resources/application-default.yml
  hedera-mirror-test/src/test/resources/features/account/account.feature
  hedera-mirror-test/src/test/resources/features/hcs/hcs.feature
  hedera-mirror-test/src/test/resources/features/topicfilter/hsctopicfilter.feature
  hedera-mirror-test/src/test/resources/log4j2.xml
Labels: P1, test

#523 Handle start and end time arithmetic overflow cases on topic subscribe
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/converter/InstantToLongConverter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/util/ProtoUtil.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/converter/InstantToLongConverterTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/converter/LongToInstantConverterTest.java
Labels: P2, bug, grpc

#531 Fix subscribeTopic with end time in the past not retrieving more than page size
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, grpc, regression

#537 Fix subscribeTopic with end time in the past not retrieving more than page size (master)
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, grpc, regression

#532 Acceptance test improvements to support subscribe and publish only scenarios
  hedera-mirror-test/README.md
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/features/account/account.feature
  hedera-mirror-test/src/test/resources/features/hcs/hcs.feature
  hedera-mirror-test/src/test/resources/features/topicfilter/hcstopicfilter.feature
Labels: P3, enhancement, test

#538 Add Multi client subscription and config file support to jmeter perf
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/MultiTopicHCSClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/SingleTopicHCSClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/props/TopicSubscription.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSTopicSampler.java
  hedera-mirror-test/src/test/jmeter/E2E_200_TPS_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Multi_Client_Subscribe_Only.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Multi_User_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Multi_User_Heavy_Load_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Single_User_All_Messages.jmx
  hedera-mirror-test/src/test/jmeter/E2E_Subscribe_Only.jmx
  hedera-mirror-test/src/test/jmeter/user.properties
Labels: P3, hcs, test

#545 Set additional netty properties and memory limits
  docs/configuration.md
  hedera-mirror-grpc/scripts/hedera-mirror-grpc.service
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/NettyProperties.java
  hedera-mirror-grpc/src/main/resources/application.yml
Labels: P1, bug, grpc

#546 Drop some FKs, trigger and ununsed indexes
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/converter/LongToInstantDeserializer.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/CompositeTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/ListenerProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.19.0__drop_fks_trigger_unused_indexes.sql
  hedera-mirror-importer/src/main/resources/db/scripts/manage_constraints_and_indexes.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TopicMessageRepositoryTest.java
Labels: P1, database, performance

#549 Updated performance tests to use DbClient
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/ConnectionHandler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/client/TopicMessageGeneratorClient.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/HCSTopicSampler.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/TopicMessageGeneratorSampler.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/features/hcs/hcs.feature
  hedera-mirror-test/src/test/resources/features/topicfilter/hcstopicfilter.feature
Labels: test

#552 Specify Bounded Executor for NettyServerBuilder
  docs/configuration.md
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/NettyProperties.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/jmeter/sampler/TopicMessageGeneratorSampler.java
Labels: P1, bug, grpc, performance

#555 Bump version to 0.6.0-rc1
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P2, enhancement, process

#556 Fix shared poller's buffer
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetrieverTest.java
Labels: P1, bug, grpc

#574 Bump version to v0.6.0
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: enhancement, process

#543 Fix subscribe topic with end time not completing
  docs/configuration.md
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/GrpcProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetriever.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-grpc/src/test/resources/application-default.yml
Labels: P2, bug, grpc, regression

#553 Parser re-design
  docs/design/images/parser-control-flow.png
  docs/design/images/parser-data-flow.png
  docs/design/parser.md
Labels: P1, design, enhancement, parser

#565 Add Parser interfaces and domains.
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/ParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/StreamItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/RecordItem.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/StreamFileData.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/StreamItem.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordParsedItemHandler.java
Labels: design, parser
