Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2020-04, with the labels that each got.

#635 Store surefire logs in artifacts for debugging of failures
  .circleci/config.yml
  pom.xml
Labels: P1, bug, test

#641 Fix REST bundled dependencies
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, process

#642 Fix REST bundled dependencies #2
  hedera-mirror-rest/package.json
Labels: P1, bug, process

#643 Extend timeout in subscribeverifysequence to retrieve messages
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
Labels: P1, bug, test

#639 Add TransactionBody to RecordItem
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/RecordItem.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
Labels: P1, enhancement, parser

#626 Updated HCS Acceptance tests for easy running by devops
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-test/README.md
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/application-default.yml
  hedera-mirror-test/src/test/resources/features/hcs/hcs.feature
  hedera-mirror-test/src/test/resources/features/topicfilter/hcstopicfilter.feature
  hedera-mirror-test/src/test/resources/log4j2.xml
Labels: enhancement, test

#648 Fix REST API packaging issues
  docs/configuration.md
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: P1, bug, rest

#644 Implement Topic Messages collection REST API endpoint
  .editorconfig
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/specs/topicmessages-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-02-specific-sequence.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-03-none.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-04-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-06-invalid-topid-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-07-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-08-repeated-valid-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-09-limit.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-10-order.spec.json
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/cacher.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/events.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: P2, enhancement, rest

#650 Add pod priority class
  charts/README.md
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/templates/NOTES.txt
  charts/hedera-mirror-grpc/templates/rolebinding.yaml
  charts/hedera-mirror-importer/templates/NOTES.txt
  charts/hedera-mirror-importer/templates/rolebinding.yaml
  charts/hedera-mirror-importer/templates/service-headless.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/templates/NOTES.txt
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.32.2.tgz
  charts/hedera-mirror/charts/loki-stack-0.34.2.tgz
  charts/hedera-mirror/charts/postgresql-ha-2.0.4.tgz
  charts/hedera-mirror/charts/postgresql-ha-2.1.1.tgz
  charts/hedera-mirror/charts/prometheus-adapter-2.1.3.tgz
  charts/hedera-mirror/charts/prometheus-adapter-2.2.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.10.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.6.tgz
  charts/hedera-mirror/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror/dashboards/postgres-overview_rev2.json
  charts/hedera-mirror/dashboards/postgresql-database_rev4.json
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/templates/NOTES.txt
  charts/hedera-mirror/templates/configmap.yaml
  charts/hedera-mirror/templates/priorityclass.yaml
  charts/hedera-mirror/values.yaml
  docs/operations.md
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/leader/LeaderAspect.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/pom.xml
Labels: P2, enhancement, process

#662 Bump version for v0.9.0-rc1
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.34.2.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.10.tgz
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#664 Fix NPE due to proxyAccountID
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
Labels: P1, bug, parser, regression

#671 Remove jdbc connection params not applicable on Postgres connection
  hedera-mirror-datagenerator/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-rest/.prettierignore
Labels: P3, database, enhancement

#670 Remove Events
  README.md
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ApplicationStatusCode.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventStreamFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/Signature.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/SignatureType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/Transaction.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordStreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/FileDelimiter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.22__remove_unused_components.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordItemParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/ApplicationStatusRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
  hedera-mirror-rest/eventAnalytics.js
  hedera-mirror-rest/events.js
  hedera-mirror-rest/server.js
Labels: P3, enhancement, parser

#674 Fix Spring Cloud Kubernetes running locally
  charts/hedera-mirror-grpc/templates/deployment.yaml
  charts/hedera-mirror-importer/templates/statefulset.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.34.2.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.10.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.12.tgz
  charts/hedera-mirror/requirements.lock
  hedera-mirror-grpc/src/main/resources/bootstrap.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/leader/LeaderAspect.java
  hedera-mirror-importer/src/main/resources/bootstrap.yml
Labels: P1, bug, process

#676 0.9 cherry picks and v0.9.0-rc2
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/templates/deployment.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/templates/statefulset.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.34.2.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.10.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.12.tgz
  charts/hedera-mirror/requirements.lock
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/resources/bootstrap.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/leader/LeaderAspect.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/main/resources/bootstrap.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug

#675 Add transactionType field to RecordItem
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/RecordItem.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
Labels: P1, enhancement, parser

#678 Store PostgreSQL passwords in a Kubernetes Secret
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.34.2.tgz
  charts/hedera-mirror/charts/postgresql-ha-2.1.1.tgz
  charts/hedera-mirror/charts/postgresql-ha-2.3.1.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/templates/secret-pgpool.yaml
  charts/hedera-mirror/templates/secret-postgresql.yaml
  charts/hedera-mirror/values.yaml
  codecov.yml
Labels: P2, enhancement, security

#679 Applied miscellaneous improvements around tests and logging
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetrieverTest.java
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  pom.xml
Labels: test

#682 Fix NPE when parsing autoRenewAccount
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.34.2.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.12.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserTopicTest.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, parser, regression

#681 Non-fee transfers : move txn type check to implementation
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/NonFeeTransferExtractionStrategy.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/NonFeeTransferExtractionStrategyImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/NonFeeTransferExtractionStrategyImplTest.java
Labels: P1, enhancement, parser

#680 Add updateEntity() and updateTransaction() to TransactionHandler
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusDeleteTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemUndeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityRepositoryCustom.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityRepositoryCustomImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordItemParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemUndeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
Labels: P3, enhancement, parser, technical debt

#685 Prepare for v0.9.0
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.12.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.13.tgz
  charts/hedera-mirror/requirements.lock
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P2, enhancement, process

#683 Push docker images on master and cleanup old images
  .circleci/config.yml
  hedera-mirror-rest/.prettierignore
  hedera-mirror-rest/pom.xml
  pom.xml
Labels: P2, enhancement, process

#696 Address book fix
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.13.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.15.tgz
  charts/hedera-mirror/requirements.lock
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/NetworkAddressBook.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFileTest.java
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/pm2.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, bug, parser

#693 Add Traefik API gateway
  charts/README.md
  charts/hedera-mirror-grpc/templates/ingress.yaml
  charts/hedera-mirror-grpc/templates/middleware.yaml
  charts/hedera-mirror-grpc/templates/service.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/service.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/templates/ingress.yaml
  charts/hedera-mirror-rest/templates/middleware.yaml
  charts/hedera-mirror-rest/templates/service.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.34.2.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.12.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.13.tgz
  charts/hedera-mirror/charts/traefik-8.0.3.tgz
  charts/hedera-mirror/dashboards/traefik.json
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/templates/NOTES.txt
  charts/hedera-mirror/templates/configmap-traefik.yaml
  charts/hedera-mirror/templates/middleware-grafana.yaml
  charts/hedera-mirror/templates/servicemonitor-traefik.yaml
  charts/hedera-mirror/values-minimal.yaml
  charts/hedera-mirror/values.yaml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/resources/application.yml
Labels: P2, enhancement, process

#698 Fix topic messages REST route
  hedera-mirror-rest/__tests__/specs/topicmessages-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-02-specific-sequence.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-03-none.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-04-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-06-invalid-topid-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-07-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-08-repeated-valid-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-09-limit.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-10-order.spec.json
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/middleware/httpErrorHandler.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/utils.js
Labels: P1, bug, rest

#701 Fix address book updates that span transactions
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/NetworkAddressBook.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/NodeSignatureVerifier.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/NetworkAddressBookTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFileTest.java
Labels: P1, bug, parser

#708 Prepare for v0.10.0-rc1
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.0.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.13.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.15.tgz
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, enhancement, process

#706 Change 'left outer join' to 'join' with t_cryptotransferlists
  hedera-mirror-rest/__tests__/transactionsTest.test.js
  hedera-mirror-rest/transactions.js
Labels: P3, enhancement, rest

#710 Utilize plural rest api endpoints without breaking support
  hedera-mirror-rest/__tests__/specs/topicmessage-01-timestamp-valid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-02-timestamp-invalid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-03-timestamp-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-04-idseq-valid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-05-idseq-valid-full-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-06-idseq-invalid-path.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-07-idseq-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-02-specific-sequence.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-03-none.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-04-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-06-invalid-topid-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-07-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-08-repeated-valid-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-09-limit.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-10-order.spec.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/topicmessage.js
Labels: P2, bug, rest

#704 Topic message format support for UTF8 message encoding
  hedera-mirror-rest/__tests__/__snapshots__/utilsFilters.test.js.snap
  hedera-mirror-rest/__tests__/specs/topicmessages-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-11-encoding.spec.json
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/utils.js
Labels: P2, enhancement, rest

#714 Add missing transactionType to PubSubMessge
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/NetworkAddressBook.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityId.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/PubSubMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityRepositoryCustomImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
Labels: P1, enhancement, parser

#715 Separate configuration properties by project
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.0.tgz
  charts/hedera-mirror/templates/secret-pgpool.yaml
  charts/hedera-mirror/templates/secret-postgresql.yaml
  charts/hedera-mirror/values.yaml
  docker-compose.yml
  docs/configuration.md
  docs/design/hcs.md
  docs/operations.md
  docs/testing.md
  docs/troubleshooting.md
  hedera-mirror-datagenerator/docs/README.md
  hedera-mirror-datagenerator/run.sh
  hedera-mirror-datagenerator/src/main/resources/application.yml
  hedera-mirror-importer/scripts/deploy.sh
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWriterProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordParserProperties.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/resources/application-default.yml
  hedera-mirror-rest/__performancetests__/generateQuerySets.js
  hedera-mirror-rest/__performancetests__/perfTest.js
  hedera-mirror-rest/__performancetests__/perfTestConfig.yml
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/config.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/middleware/metricsHandler.js
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/balance_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
  hedera-mirror-rest/pm2.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/utils.js
Labels: P2, enhancement, technical debt

#716 Fixes to run in GKE
  charts/hedera-mirror-grpc/templates/ingress.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/NOTES.txt
  charts/hedera-mirror-importer/templates/podmonitor.yaml
  charts/hedera-mirror-importer/templates/service-headless.yaml
  charts/hedera-mirror-importer/templates/service.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/templates/ingress.yaml
  charts/hedera-mirror-rest/templates/secret.yaml
  charts/hedera-mirror-rest/templates/servicemonitor.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.1.tgz
  charts/hedera-mirror/charts/postgresql-ha-2.3.1.tgz
  charts/hedera-mirror/charts/postgresql-ha-3.1.0.tgz
  charts/hedera-mirror/charts/prometheus-adapter-2.2.0.tgz
  charts/hedera-mirror/charts/prometheus-adapter-2.3.1.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.12.15.tgz
  charts/hedera-mirror/charts/prometheus-operator-8.13.2.tgz
  charts/hedera-mirror/charts/traefik-8.0.3.tgz
  charts/hedera-mirror/charts/traefik-8.1.2.tgz
  charts/hedera-mirror/dashboards/jvm-micrometer-rev9.json
  charts/hedera-mirror/dashboards/postgres-overview_rev2.json
  charts/hedera-mirror/dashboards/postgresql-database_rev4.json
  charts/hedera-mirror/dashboards/traefik.json
  charts/hedera-mirror/requirements.lock
  charts/hedera-mirror/requirements.yaml
  charts/hedera-mirror/templates/NOTES.txt
  charts/hedera-mirror/templates/configmap-traefik.yaml
  charts/hedera-mirror/templates/secret-postgresql.yaml
  charts/hedera-mirror/templates/servicemonitor-traefik.yaml
  charts/hedera-mirror/values.yaml
  docs/configuration.md
  hedera-mirror-rest/config/application.yml
Labels: P2, enhancement, process

#718 Add Helm tests
  charts/README.md
  charts/hedera-mirror-rest/templates/tests/configmap.yaml
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.1.tgz
Labels: P2, enhancement, test

#719 Add initialAddressBook property
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/NetworkAddressBook.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/NetworkAddressBookTest.java
Labels: P3, enhancement, ops

#721 Pull in Hedera Protobuf 0.4.2 for r5-rc4 update
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TransactionTypeEnum.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAddLiveHashTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteLiveHashTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TransactionHandlerFactory.java
  hedera-mirror-importer/src/main/resources/db/migration/V1.23.0__r5_rc4_proto_updates.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAddLiveHashTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteLiveHashTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/LiveHashRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionTypeRepositoryTest.java
  pom.xml
Labels: P1, database, enhancement, parser

#725 Record Parser file reorg
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/ParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNFTTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
Labels: P3, enhancement, parser, technical debt

#726 Added running_hash_version migration
  docs/configuration.md
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/transaction/TopicTransactionGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/writer/PostgresCSVDomainWriter.java
  hedera-mirror-datagenerator/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/domain/DomainBuilder.java
  hedera-mirror-grpc/src/test/resources/application-default.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TopicMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/V1.23.1__add_topicmessage_runninghashversion.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/resources/application-default.yml
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/config/.node-flywaydb.integration.conf
Labels: P1, database, enhancement

#727 Port running hash version to V0.10
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/charts/hedera-mirror-grpc-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-importer-0.1.0.tgz
  charts/hedera-mirror/charts/hedera-mirror-rest-0.1.0.tgz
  charts/hedera-mirror/charts/loki-stack-0.36.0.tgz
  docs/configuration.md
  hedera-mirror-coverage/pom.xml
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/generators/transaction/TopicTransactionGenerator.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/writer/PostgresCSVDomainWriter.java
  hedera-mirror-datagenerator/src/main/resources/application.yml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/domain/DomainBuilder.java
  hedera-mirror-grpc/src/test/resources/application-default.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TopicMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TransactionTypeEnum.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParsedItemHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordItemParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAddLiveHashTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteLiveHashTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TransactionHandlerFactory.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/V1.23.0__r5_rc4_proto_updates.sql
  hedera-mirror-importer/src/main/resources/db/migration/V1.23.1__add_topicmessage_runninghashversion.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/PostgresWritingRecordParserItemHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordItemParserTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAddLiveHashTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteLiveHashTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/LiveHashRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionTypeRepositoryTest.java
  hedera-mirror-importer/src/test/resources/application-default.yml
  hedera-mirror-protobuf/pom.xml
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/config/.node-flywaydb.integration.conf
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  pom.xml
Labels: P1, database, enhancement
