Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2021-02, with the labels that each got.

#1527 Add rosetta module to maven cycle
  .circleci/config.yml
  .github/workflows/rosetta-api.yml
  hedera-mirror-rosetta/pom.xml
Labels: P3, enhancement, process, rosetta

#1522 Fix REST test failures
  .circleci/config.yml
  .github/workflows/v2-schema.yml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractSharedTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractTopicListenerTest.java
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationS3Ops.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: P2, bug, rest, test

#1530 Update rosetta data schema with post v1.30 support
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/domain/DomainDriver.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EventFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordStreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/event/EventFileReaderV3.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.34.2__rename_record_file_hash.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__time_scale_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__time_scale_index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestRecordFiles.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordFileParserIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/AbstractRecordFileParserPerformanceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/RecordFileRepositoryTest.java
  hedera-mirror-rest/__tests__/data/db/stateproof/record_file.sql
  hedera-mirror-rosetta/app/persistence/addressbook/entry/entry_test.go
  hedera-mirror-rosetta/app/persistence/block/block.go
  hedera-mirror-rosetta/app/persistence/block/block_test.go
  hedera-mirror-rosetta/app/persistence/transaction/transaction.go
  hedera-mirror-rosetta/app/services/construction/construction_service_test.go
Labels: P2, enhancement, rosetta

#1520 Fix issue with incomplete stubbing on RedisEntityListenerTest.onSlowPublish
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListenerIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListenerTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
Labels: P2, bug, test

#1547 Fix database initialization in docker-compose
  docker-compose.yml
Labels: P1, bug, process

#1546 Rosetta operations
  .github/workflows/rosetta-api.yml
  README.md
  docs/configuration.md
  docs/operations.md
  hedera-mirror-rosetta/cmd/config.go
  hedera-mirror-rosetta/config/application-deploy.yml
  hedera-mirror-rosetta/scripts/deploy/deploy.sh
  hedera-mirror-rosetta/scripts/deploy/hedera-mirror-rosetta.service
Labels: P3, documentation, enhancement, process, rosetta

#1550 Bump versions for v0.27.0-rc1
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  docs/configuration.md
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rosetta/config/application-deploy.yml
  hedera-mirror-rosetta/config/application.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-batch-publish-batch-validate.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-publish-and-retrieve.yml
  pom.xml
Labels: P1, enhancement, process

#1551 Acceptance Test improvements
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rosetta/config/application-deploy.yml
  hedera-mirror-rosetta/config/application.yml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/RestPollingProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/account/account.feature
  hedera-mirror-test/src/test/resources/features/hts/hts.feature
  hedera-mirror-test/src/test/resources/features/setup/setup.feature
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-batch-publish-batch-validate.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-publish-and-retrieve.yml
  pom.xml
Labels: P1, enhancement, process, test

#1552 Fix MirrorDateRangePropertiesProcessorIntegrationTest
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorIntegrationTest.java
Labels: P2, bug, test

#1556 Add support for ScheduleCreateTransaction memo field
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleCreateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.35.0__update_schedule_response_codes.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__time_scale_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractUpdatesEntityTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusDeleteTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemUndeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionsHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenDeleteTransactionsHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionsHandlerTest.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
  hedera-mirror-protobuf/pom.xml
  pom.xml
Labels: P1, enhancement, parser

#1568 Increase downloader threads and Bump version for v0.27.0
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rosetta/config/application-deploy.yml
  hedera-mirror-rosetta/config/application.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-batch-publish-batch-validate.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-publish-and-retrieve.yml
  pom.xml
Labels: P1, enhancement, process

#1569 Increase downloader threads from 13 to 15 (master)
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
Labels: P1, downloader, enhancement

#1555 Add v5 stream file support to check-state-proof
  hedera-mirror-rest/check-state-proof/README.md
  hedera-mirror-rest/check-state-proof/addressBook.js
  hedera-mirror-rest/check-state-proof/constants.js
  hedera-mirror-rest/check-state-proof/index.js
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/check-state-proof/recordFile.js
  hedera-mirror-rest/check-state-proof/sample/v2/stateProofSample.json
  hedera-mirror-rest/check-state-proof/sample/v5/stateProofSample.json
  hedera-mirror-rest/check-state-proof/signatureFile.js
  hedera-mirror-rest/check-state-proof/startUp.js
  hedera-mirror-rest/check-state-proof/stateProofHandler.js
  hedera-mirror-rest/check-state-proof/streamObject.js
  hedera-mirror-rest/check-state-proof/tests/recordFile.test.js
  hedera-mirror-rest/check-state-proof/tests/signatureFile.test.js
  hedera-mirror-rest/check-state-proof/tests/stateProof.test.js
  hedera-mirror-rest/check-state-proof/tests/testUtils.js
  hedera-mirror-rest/check-state-proof/transactionValidator.js
  hedera-mirror-rest/check-state-proof/utils.js
Labels: P2, enhancement, javascript, parser

#1570 Fix ConfigurableTransactionGeneratorTest.receiptPercent
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/generator/ConfigurableTransactionGeneratorTest.java
Labels: P2, bug, test

#1572 Bump hedera-protobuf.version to 0.12.0-rc.1
  hedera-mirror-importer/pom.xml
  hedera-mirror-protobuf/pom.xml
  pom.xml
Labels: dependencies

#1567 Support new entity memo fields
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionsHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionsHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerScheduleTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractDeleteOrUndeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractUpdatesEntityTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusDeleteTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemUndeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionsHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenDeleteTransactionsHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionsHandlerTest.java
Labels: P1, enhancement, parser

#1574 Fix RedisTopicListenerTest.startTimeBefore
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractTopicListenerTest.java
Labels: P3, bug, test

#1565 Upgrade Google Marketplace with support for v0.27
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/Dockerfile
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
Labels: P1, enhancement, marketplace

#1573 Update Acceptance Tests to Use SDK v2
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/ExpandedAccountId.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/features/account/account.feature
  hedera-mirror-test/src/test/resources/features/setup/setup.feature
Labels: P1, enhancement, process, test

#1576 Rest get schedule api
  docs/design/scheduled-transactions.md
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/schedules.test.js
  hedera-mirror-rest/__tests__/specs/schedules-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-02-specific-id-encoded-id-not-executed-yet.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-03-specific-id-not-schedule-id.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-04-specific-id-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-05-invalid-schedule-id.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-06-specific-id-no-signatures.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-01-no-args.spec.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/schedules.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/stateproof.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: P2, enhancement, rest

#1592 Bump grpc-spring-boot to 2.11.0
  pom.xml
Labels: dependencies

#1611 Bump versions for v0.28.0-beta1
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rosetta/config/application-deploy.yml
  hedera-mirror-rosetta/config/application.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-batch-publish-batch-validate.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-publish-and-retrieve.yml
  pom.xml
Labels: enhancement, process

#1618 Filter dissociated tokens when querying tokens with account ID
  hedera-mirror-rest/__tests__/specs/tokens-05-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-06-all-params.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/tokens.js
Labels: P1, bug, hts, rest

#1621 Bump @awaitjs/express from 0.7.1 to 0.7.2 in /hedera-mirror-rest (#1613)
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: dependencies

#1619 Fix get tokens query by account ID filter with shard and realm
  hedera-mirror-rest/__tests__/__snapshots__/entityId.test.js.snap
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/specs/accounts-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-08-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-11-invalid-entity-id.spec.json
  hedera-mirror-rest/__tests__/specs/balances-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/balances-08-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-02-specific-schedule-number-not-executed-yet.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-05-invalid-schedule-id.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-11-schedule-id.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-08-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-16-invalid-token-id.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-04-token-range.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-05-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-07-invalid-query-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-04-idseq-valid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-09-account-id.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/schedules.js
  hedera-mirror-rest/stateproof.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: P1, bug, hts, rest

#1622 Bump versions for v0.28.0-beta2
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/requirements.lock
  docker-compose.yml
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rosetta/config/application-deploy.yml
  hedera-mirror-rosetta/config/application.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-message-submit.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-publish-test.yml
  hedera-mirror-test/src/test/resources/k8s/hcs-perf-subscribe-test.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-batch-publish-batch-validate.yml
  hedera-mirror-test/src/test/resources/k8s/hts-perf-publish-and-retrieve.yml
  pom.xml
Labels: P1, enhancement, process

#1632 Fix tests broken by Spring Boot 2.4
  .circleci/config.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
Labels: P1, bug, test

#1635 Fix rest API test timeout
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/application.yml
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/jest.setup.js
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/middleware/httpErrorHandler.js
  hedera-mirror-rest/middleware/requestHandler.js
  hedera-mirror-rest/middleware/responseHandler.js
  hedera-mirror-rest/package.json
  hedera-mirror-rest/server.js
Labels: P3, bug, rest, test
