Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2021-11, with the labels that each got.

#2780 Fix entity query in accounts and balances REST apis
  hedera-mirror-grpc/src/test/resources/cleanup.sql
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.46.12__account_contract_view_and_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__time_scale_index_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.5__account_contract_view.sql
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-03-accounts-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-04-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-05-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-13-accounts-limit.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-20-multiple-ids.spec.json
  hedera-mirror-rest/__tests__/specs/balances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/balances-03-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/balances-04-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-02-specific-id-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-03-specific-id-timestamp-historical-missing-file.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-04-specific-id-timestamp-no-match.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-09-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-10-order-desc.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-12-contract-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-13-multiple-contract-ids.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-14-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-15-invalid-params.spec.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
Labels: bug, P1, rest

#2781 Remove minimal entity creation
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ContractUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.47.3__delete_duplicate_entities.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNonFeeTransferTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerScheduleTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/performance/EntityRecordItemListenerPerformanceCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/ContractUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityUpsertQueryGeneratorTest.java
  hedera-mirror-rest/__tests__/specs/tokens-nfts-12-partial-data.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-08-partial-data.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-12-id-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-12-partial-data.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-13-id-not-topic-id.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/topicmessage.js
Labels: enhancement, P1, parser

#2782 Port fix entity query in accounts and balances REST apis
  hedera-mirror-grpc/src/test/resources/cleanup.sql
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.46.12__account_contract_view_and_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.47.1__remove_t_entity_types.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-03-accounts-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-04-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-05-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-13-accounts-limit.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-20-multiple-ids.spec.json
  hedera-mirror-rest/__tests__/specs/balances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/balances-03-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/balances-04-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-02-specific-id-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-03-specific-id-timestamp-historical-missing-file.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-04-specific-id-timestamp-no-match.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-09-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-10-order-desc.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-12-contract-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-13-multiple-contract-ids.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-14-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-15-invalid-params.spec.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
Labels: bug, P1, rest

#2763 Optimize REST transactions API
  .github/workflows/rest-api.yml
  docs/configuration.md
  hedera-mirror-rest/__tests__/__snapshots__/entityId.test.js.snap
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/contracts.test.js
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/integrationS3Ops.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/schedules.test.js
  hedera-mirror-rest/__tests__/specs/accounts-08-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-22-limit-capped-at-max.spec.json
  hedera-mirror-rest/__tests__/specs/balances-08-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-08-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-07-invalid-query-params.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-06-invalid-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-07-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/stateproof.test.js
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/transactionId.test.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/contracts.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/middleware/requestHandler.js
  hedera-mirror-rest/network.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/schedules.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/stateproof.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactionId.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/assessedCustomFeeViewModel.js
  hedera-mirror-rest/viewmodel/contractViewModel.js
  hedera-mirror-rest/viewmodel/customFeeViewModel.js
  hedera-mirror-rest/viewmodel/nftTransactionHistoryViewModel.js
  hedera-mirror-rest/viewmodel/nftTransferViewModel.js
  hedera-mirror-rest/viewmodel/nftViewModel.js
Labels: enhancement, P1, performance, rest, breaking

#2768 Replace Array.concat with Array.push
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/middleware/requestHandler.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: enhancement, P3, performance, rest

#2767 Remove transaction results
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TransactionResult.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TransactionResultRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.47.4__remove_t_transaction_results.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/CleanupEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionResultRepositoryTest.java
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/specs/transactions-41-unknown-result.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/transactionResult.test.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/model/transactionResult.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/service/index.js
  hedera-mirror-rest/service/transactionResultService.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/constants_test.go
  hedera-mirror-rosetta/app/interfaces/transaction_repository.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/services/base_service.go
  hedera-mirror-rosetta/app/services/base_service_test.go
  hedera-mirror-rosetta/app/services/network_service.go
  hedera-mirror-rosetta/app/services/network_service_test.go
Labels: enhancement, P2, database

#2798 Fix JS monitor single transaction query check
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
Labels: bug, P2, monitor

#2797 Fix accounts performance regression caused by account_contract view
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.46.13__drop_account_contract_view.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.5__account_contract_view.sql
  hedera-mirror-rest/__tests__/accountContract.test.js
  hedera-mirror-rest/accountContract.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
Labels: bug, P1, performance, regression, rest

#2799 Port account contract performance regression fix
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.46.13__drop_account_contract_view.sql
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.47.1__remove_t_entity_types.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-rest/__tests__/accountContract.test.js
  hedera-mirror-rest/accountContract.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
Labels: bug, P1, performance, regression, rest

#2803 Fix rosetta get genesis balance script
  hedera-mirror-rosetta/scripts/validation/get-genesis-balance.sh
Labels: bug, P3, rosetta

#2805 Fix obtainer ID not being set on contract deletion
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandlerTest.java
Labels: bug, P1, parser

#2806 Fix obtainer ID not being set on contract deletion (0.44)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandlerTest.java
Labels: bug, P1, parser

#2807 Add a ROSETTA_CLI_VERSION env variable
  .github/workflows/rosetta-api.yml
  hedera-mirror-rosetta/scripts/validation/run-validation.sh
Labels: enhancement, P1

#2808 Fix obtainer ID not being set on contract deletion (0.43)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandlerTest.java
Labels: bug, P1, parser

#2821 Fix false negative when the checked transaction is a scheduled transaction (0.43)
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
Labels: bug, P1, monitor

#2771 Add NotifyingTopicListener Support for Citus w PG 14
  docs/configuration.md
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/DbProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-grpc/src/test/resources/config/application.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-importer/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-rest/__tests__/integrationDbOps.js
Labels: enhancement, P2, java

#2791 Remove transaction types table
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TransactionType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TransactionTypeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.48.0__remove_t_transaction_types.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__reference_table_inserts.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionTypeRepositoryTest.java
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/model/transactionResult.test.js
  hedera-mirror-rest/__tests__/model/transactionType.test.js
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/model/transactionResult.js
  hedera-mirror-rest/model/transactionType.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/service/index.js
  hedera-mirror-rest/service/transactionTypeService.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/nftTransactionHistoryViewModel.js
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/constants_test.go
  hedera-mirror-rosetta/app/interfaces/transaction_repository.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/tools/maphelper.go
  hedera-mirror-rosetta/app/tools/maphelper_test.go
Labels: enhancement, P2, database

#2828 Fix accounts query missing balance info with publickey filter
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/specs/accounts-05-publickey.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
Labels: bug, P1, rest

#2829 Bump node to the latest LTS v16.13.0
  README.md
  docs/operations.md
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/__tests__/stream/__snapshots__/compositeRecordFile.test.js.snap
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
Labels: enhancement, P3, rest

#2831 Fix cleanup script for Citus
  hedera-mirror-grpc/src/test/resources/cleanup.sql
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
Labels: P1, database

#2835 Remove V1.46.4 migration (0.44)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.46.4__token_balance_index.sql
Labels: bug, P1, database

#2836 Remove V1.46.4 migration (0.43)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.46.4__token_balance_index.sql
Labels: bug, P1, database

#2833 Remove contract.parent_id
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/values.yaml
  docs/design/smart-contracts.md
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Contract.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ContractUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Cloner.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.48.1__remove_contract_parent_id.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/DomainBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/ContractUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/ClonerTest.java
  hedera-mirror-monitor/src/main/resources/application.yml
Labels: bug, P2, parser

#2859 Fix rosetta token balance reconciliation for deleted account
  .github/workflows/rosetta-api.yml
  hedera-mirror-rosetta/app/interfaces/account_repository.go
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/persistence/domain/entity.go
  hedera-mirror-rosetta/app/persistence/domain/entity_test.go
  hedera-mirror-rosetta/test/db/db.go
Labels: bug, P1, rosetta

#2875 Support CryptoCreateTransaction in Rosetta
  .github/workflows/rosetta-api.yml
  hedera-mirror-rosetta/app/domain/types/amount.go
  hedera-mirror-rosetta/app/domain/types/amount_test.go
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/transaction.go
  hedera-mirror-rosetta/app/domain/types/transaction_test.go
  hedera-mirror-rosetta/app/interfaces/transaction.go
  hedera-mirror-rosetta/app/interfaces/transaction_repository.go
  hedera-mirror-rosetta/app/persistence/domain/entityid_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/services/base_service.go
  hedera-mirror-rosetta/app/services/base_service_test.go
  hedera-mirror-rosetta/app/services/block_service_test.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_associate_dissociate_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_burn_mint_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_delete_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_freeze_unfreeze_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_grant_revoke_kyc_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_update_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_wipe_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/app/services/network_service.go
  hedera-mirror-rosetta/app/services/network_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/pom.xml
  hedera-mirror-rosetta/scripts/wait-for-mirror-node.sh
  hedera-mirror-rosetta/test/mocks/transaction_repository.go
Labels: enhancement, P1, rosetta

#2839 Entity table distribution columns
  hedera-mirror-grpc/src/test/resources/cleanup.sql
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/AccountBalance.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TokenBalance.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/AbstractUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.49.0__remove_address_book_entry_foreign_key.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddAddressBookServiceEndpointsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserPerformanceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/performance/EntityRecordItemListenerPerformanceCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGeneratorV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGeneratorV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGeneratorV2Test.java
  hedera-mirror-rest/accounts.js
Labels: enhancement, P1, database

#2838 Update smart contract design w support for additional APIs
  docs/design/smart-contracts.md
Labels: enhancement, P1, design

#2890 Shorten AccountCreateTransaction memo length
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
Labels: bug, P1, test

#2891 Shorten AccountCreateTransaction memo length (0.45)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
Labels: bug, P1, test

#2896 Update Contract gas and Transaction memo set logic
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/FileClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: enhancement, P2, test

#2897 Update Contract gas and Transaction memo set logic (0.45)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/FileClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: enhancement, P2, test

#2911 Enable TCP keepalive on JDBC connections
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/AbstractUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactory.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-monitor/src/main/resources/application.yml
Labels: bug, P2

#2910 Redesign monitor dashboard
  hedera-mirror-rest/monitoring/monitor_dashboard/css/main.css
  hedera-mirror-rest/monitoring/monitor_dashboard/index.html
  hedera-mirror-rest/monitoring/monitor_dashboard/js/main.js
Labels: enhancement, P3, monitor

#2894 OpenApi fixes based on test validation
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-21-balance-false.spec.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/middleware/openapiHandler.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/server.js
Labels: enhancement, P2, rest
