Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2021-09, with the labels that each got.

#2483 Change npm package scope
  .github/workflows/rest-api.yml
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: enhancement, P1, rest

#2484 Change Rosetta to hard coded default configuration
  docs/configuration.md
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/build/Dockerfile
  hedera-mirror-rosetta/cmd/config.go
  hedera-mirror-rosetta/cmd/config_test.go
  hedera-mirror-rosetta/config/application.yml
  pom.xml
Labels: bug, P1, rosetta

#2505 Add timestamp to monitor transaction memo
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishScenario.java
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
Labels: bug, P1, monitor

#2485 Change dashboards to be Grafana Cloud compatible
  charts/README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/dashboards/alertmanager.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/dashboards/jvm-micrometer-rev9.json
  charts/hedera-mirror-common/dashboards/traefik.json
  charts/hedera-mirror-common/templates/NOTES.txt
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-grpc/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/templates/application.yaml
  charts/hedera-mirror/values.yaml
  docker-compose.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-importer/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishException.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishScenario.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishMetricsTest.java
  hedera-mirror-rest/__tests__/integrationDbOps.js
Labels: enhancement, P2, process

#2501 Fix importer workflow timing out
  .github/workflows/auto-release.yml
  .github/workflows/charts.yml
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rest-api.yml
  .github/workflows/rosetta-api.yml
  .github/workflows/security.yml
  .github/workflows/windows.yml
  .mvn/jvm.config
  .mvn/maven.config
Labels: bug, P1, process

#2513 Fix Rosetta version replacement
  pom.xml
Labels: bug, P1, process

#2514 Fix rosetta version (0.40)
  pom.xml
Labels: bug, P1, process

#2515 Revert PodDisruptionBudget change to policy/v1
  charts/hedera-mirror-grpc/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-importer/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-rest/templates/poddisruptionbudget.yaml
  charts/hedera-mirror/templates/application.yaml
  pom.xml
Labels: bug, P1, regression

#2516 Revert PodDisruptionBudget change to policy/v1 (0.40) (#2515)
  charts/hedera-mirror-grpc/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-importer/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-rest/templates/poddisruptionbudget.yaml
  charts/hedera-mirror/templates/application.yaml
  pom.xml
Labels: bug, P1, regression

#2519 Fix version replace for rest packages (redo)
  pom.xml
Labels: bug, P1, process

#2520 Fix version replace for rest packages (v0.40)
  pom.xml
Labels: bug, P1, process

#2544 Add REST API support for secure database connections
  docs/configuration.md
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/server.js
Labels: enhancement, P3, rest

#2543 Change Rosetta ingress to use /rosetta
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-monitor/templates/middleware.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rosetta/templates/middleware.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror/values-prod.yaml
Labels: enhancement, P2, rosetta

#2545 Fix rosetta empty peer ip
  hedera-mirror-rosetta/app/domain/types/address_book_entry.go
  hedera-mirror-rosetta/app/domain/types/address_book_entry_test.go
  hedera-mirror-rosetta/app/persistence/address_book_entry.go
  hedera-mirror-rosetta/app/persistence/address_book_entry_test.go
  hedera-mirror-rosetta/app/persistence/addressbook/entry/entry.go
  hedera-mirror-rosetta/app/persistence/addressbook/entry/entry_test.go
  hedera-mirror-rosetta/app/persistence/types/address_book.go
  hedera-mirror-rosetta/app/persistence/types/address_book_entry.go
  hedera-mirror-rosetta/app/persistence/types/address_book_entry_test.go
  hedera-mirror-rosetta/app/persistence/types/address_book_service_endpoint.go
  hedera-mirror-rosetta/app/persistence/types/address_book_service_endpoint_test.go
  hedera-mirror-rosetta/app/persistence/types/address_book_test.go
  hedera-mirror-rosetta/app/services/network/network_service_test.go
  hedera-mirror-rosetta/cmd/main.go
  hedera-mirror-rosetta/scripts/validation/get-genesis-balance.sh
Labels: bug, P1, rosetta

#2510 Add revalidation logic to the monitor
  docs/configuration.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/MonitorProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
Labels: enhancement, P2, monitor

#2550 Disable swagger metrics UI
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/middleware/metricsHandler.js
  hedera-mirror-rest/middleware/openapiHandler.js
Labels: enhancement, P1, security, rest

#2547 Add Rosetta integration tests
  .github/workflows/rosetta-api.yml
  docs/rosetta-server.md
  hedera-mirror-rosetta/scripts/validation/postman/rosetta-api-postman.json
Labels: enhancement, P2, test, process, rosetta

#2572 Performance optimizations to reach 15K
  charts/hedera-mirror-common/dashboards/alertmanager.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rosetta.json
  charts/hedera-mirror-common/dashboards/jvm-micrometer-rev9.json
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-common/dashboards/traefik.json
  charts/hedera-mirror-importer/values.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/converter/ByteArrayToHexSerializer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/converter/ByteArrayToHexSerializerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
  pom.xml
Labels: enhancement, P1, performance

#2570 Add memo and deleted to token info endpoint
  hedera-mirror-rest/__tests__/specs/token-info-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-04-non-fungible-unique-token-types.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-05-custom-fees.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-06-historical-custom-fees.spec.json
  hedera-mirror-rest/__tests__/specs/token-info-09-nft-custom-fees.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/token.js
  hedera-mirror-rest/tokens.js
Labels: enhancement, P1, rest

#2606 Update nodes in monitor
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/HederaNetwork.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/MonitorConfiguration.java
Labels: enhancement, P3, monitor

#2604 Add a network supply REST API
  docs/configuration.md
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/network-supply-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/network-supply-02-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/network-supply-03-invalid-parameters.spec.json
  hedera-mirror-rest/__tests__/specs/network-supply-04-not-found.spec.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/network.js
  hedera-mirror-rest/server.js
Labels: enhancement, P1, rest

#2603 Support token transfer in token dissociate transactions
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/NftTransferId.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Token.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TokenTransfer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/repository/RepositoryEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenTransferRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/AbstractUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenDissociateTransferUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.45.0__support_deleted_token_dissociate.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__time_scale_index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SupportDeletedTokenDissociateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/repository/RepositoryEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/UpsertPgCopyTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TokenRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TokenTransferRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGeneratorTest.java
Labels: bug, enhancement, P2, parser, hts

#2608 Change network supply timestamp filter to less than equals
  hedera-mirror-rest/__tests__/specs/network-supply-02-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/network-supply-04-not-found.spec.json
  hedera-mirror-rest/network.js
Labels: enhancement, P1, rest
