Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2021-07, with the labels that each got.

#2213 Remove broken AccountBalanceFileParserTest.keepFiles test
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
Labels: P1, bug, test

#2214 Fix RedisEntityListenerTest.onSlowPublish
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListenerTest.java
Labels: P1, bug, test

#2216 Retry monitor entity creation
  charts/hedera-mirror-common/values.yaml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/expression/ExpressionConverterImpl.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/expression/ExpressionConverterImplTest.java
Labels: P1, bug, monitor

#2173 Custom fees support design
  docs/design/custom-fees.md
Labels: P1, design, enhancement, hts

#2219 Add an alert for missing balance file
  charts/hedera-mirror-importer/values.yaml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/PubSubIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/condition/AbstractConditionTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV2Test.java
Labels: P1, enhancement, process

#2240 Fix monitor transaction publisher not recording error metrics
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/MonitorConfiguration.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/generator/ScenarioProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishMetricsTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/SubscribeMetricsTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/TestSubscription.java
Labels: P2, bug, monitor

#2239 Support NFT treasury account updates
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NftRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractDeleteOrUndeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleSignTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NftRepositoryTest.java
Labels: P1, enhancement, parser

#2241 Run GitHub actions on main
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/rest-api.yml
  .github/workflows/rosetta-api.yml
  .github/workflows/security.yml
Labels: P3, enhancement, test

#2218 Add Upsert support to NFTs
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Nft.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/UpsertPgCopy.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/AbstractUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.40.3__nft_upsert.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__time_scale_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/UpsertPgCopyTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGeneratorV2Test.java
Labels: P1, enhancement, nft, parser, performance

#2253 Add ReceiptStatusException retry and account checksum support to acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/NetworkTransactionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
Labels: P2, enhancement, process, test

#2254 Update to hedera-protobuf-java-api 0.16.0-alpha.3
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.40.4__response_codes.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__reference_table_inserts.sql
  hedera-mirror-protobuf/pom.xml
  pom.xml
Labels: P1, dependencies

#2270 Bump protobuf to 0.16.0-alpha.4 and add new response codes
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.41.0__response_codes.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__reference_table_inserts.sql
  pom.xml
Labels: P1, database, dependencies

#2271 [Cherry-pick 0.37.0] Bump protobuf to 0.16.0-alpha.4 and add new response codes
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.41.0__response_codes.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__reference_table_inserts.sql
  pom.xml
Labels: P1, database, dependencies

#2275 Fix issue with nft info REST API on deleted nfts
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-06-null-account-id.spec.json
  hedera-mirror-rest/viewmodel/nftViewModel.js
Labels: P2, bug, nft, rest

#2274 Upgrade GCP marketplace solution to v0.37
  charts/hedera-mirror-rest/templates/tests/configmap.yaml
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/templates/tests/secret.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/open-source-compliance/generate.sh
  charts/marketplace/gcp/open-source-compliance/mirror-java-licenses.txt
  charts/marketplace/gcp/open-source-compliance/mirror-java-sources.txt
  charts/marketplace/gcp/schema.yaml
Labels: P1, enhancement, marketplace

#2277 GCP marketplace solution upgrade to v0.37 (0.37)
  charts/hedera-mirror-rest/templates/tests/configmap.yaml
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/templates/tests/secret.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/open-source-compliance/generate.sh
  charts/marketplace/gcp/open-source-compliance/mirror-java-licenses.txt
  charts/marketplace/gcp/open-source-compliance/mirror-java-sources.txt
  charts/marketplace/gcp/schema.yaml
Labels: P1, enhancement, marketplace

#2278 Fix issue with nft info REST API on deleted nfts (0.37)
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-06-null-account-id.spec.json
  hedera-mirror-rest/viewmodel/nftViewModel.js
Labels: P2, bug, nft, rest

#2282 Bump Java SDK v2 to 2.0.9-beta.2
  pom.xml
Labels: P2, enhancement, process

#2283 Bump Java SDK v2 to 2.0.9-beta.2 (0.37)
  pom.xml
Labels: P2, enhancement, process

#2280 Fix doc links and add HIP link
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Labels: P2, documentation

#2279 Add HTTPS support to Monitor API
  hedera-mirror-rest/monitoring/monitor_apis/common.js
  hedera-mirror-rest/monitoring/monitor_apis/config/default.serverlist.json
  hedera-mirror-rest/monitoring/monitor_apis/monitor.js
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
  hedera-mirror-rest/monitoring/monitor_dashboard/css/main.css
  hedera-mirror-rest/monitoring/monitor_dashboard/js/main.js
Labels: P2, enhancement, monitor

#2285 Fix StreamFileHealthIndicator issue
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/HealthCheckConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MeterRegistryConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
Labels: P1, bug, parser

#2281 Add a platform not active alert
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror/values.yaml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/MirrorNodeProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/AbstractSubscription.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscription.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcClientSDKTest.java
Labels: P2, enhancement, monitor

#2286 Port fix StreamFileHealthIndicator issue to release/0.37
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/HealthCheckConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MeterRegistryConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
Labels: P1, bug, parser

#2287 Remove config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation

#2288 Disable stream file health indicator for 0.37 release
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/HealthCheckConfiguration.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
Labels: P1, bug, parser

#2301 Fix stream file health check in Kubernetes
  .github/workflows/charts.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CredentialsProviderConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/HealthCheckConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/StreamFileHealthIndicator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/leader/LeaderAspect.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/leader/LeaderService.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/AbstractStreamFileHealthIndicatorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
Labels: P1, bug

#2302 Fix broken leader election
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
Labels: P1, bug, regression

#2309 Remove payer account id in transaction assessed custom fee response
  docs/design/custom-fees.md
  docs/design/hts.md
  hedera-mirror-rest/__tests__/specs/transactions-39-specific-id-assessed-custom-fees.spec.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/__tests__/viewmodel/assessedCustomFeeViewModel.test.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/viewmodel/assessedCustomFeeViewModel.js
Labels: P1, breaking, rest

#2308 Cleanup untagged images in GCR
  .github/workflows/cleanup.yml
Labels: P2, enhancement, process

#2310 Update custom fees acceptance test
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/converter/CustomFeesConverter.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorAssessedCustomFee.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/hts/customfees/customfees.feature
Labels: P2, hts, test

#2217 NFT Monitor Support
  docs/design/nft.md
  docs/monitor.md
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/account/CryptoTransferTransactionSupplier.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/token/TokenBurnTransactionSupplier.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/token/TokenCreateTransactionSupplier.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/token/TokenMintTransactionSupplier.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/token/TokenWipeTransactionSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/expression/ExpressionConverterImpl.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/generator/CompositeTransactionGenerator.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/generator/ConfigurableTransactionGenerator.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/properties/ScenarioPropertiesAggregator.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/properties/ScenarioPropertiesAggregatorImpl.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/expression/ExpressionConverterImplTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/generator/CompositeTransactionGeneratorTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/generator/ConfigurableTransactionGeneratorTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/properties/ScenarioPropertiesAggregatorImplTest.java
Labels: P2, enhancement, monitor, nft

#2314 Fix some tests requiring v1 or v2 tags to pass
  .github/workflows/importer.yml
  .github/workflows/security.yml
  charts/hedera-mirror-monitor/values.yaml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/PollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetriever.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/EnabledIfV1.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/EnabledIfV2.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddAddressBookServiceEndpointsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/CleanupEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/EntityTimestampMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/Fix102AddressBookMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/signature/SignatureFileReaderV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/signature/SignatureFileReaderV5Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/AbstractUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGeneratorV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGeneratorV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGeneratorV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGeneratorV2Test.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/LoggingFilter.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/AbstractSubscription.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscription.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/converter/DurationToStringSerializerTest.java
  hedera-mirror-rest/__tests__/s3client.test.js
Labels: bug, test

#2315 Run Sonar & Rosetta validate on push to main
  .github/workflows/rosetta-api.yml
  .github/workflows/security.yml
Labels: P3, bug, process

#2318 Fix address_book_entry table update on compressed chunk issue
  charts/hedera-mirror/values.yaml
  docker-compose.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__hyper_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__time_scale_compression.sql
  hedera-mirror-importer/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-rest/__tests__/integrationDbOps.js
Labels: P3, bug, database

#2319 Bump com.hedera.hashgraph:hedera-protobuf-java-api to v0.16.0
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.41.1__response_codes.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__reference_table_inserts.sql
  pom.xml
Labels: P2, database, enhancement
