Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2021-06, with the labels that each got.

#2029 Various production improvements
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/templates/middleware-grafana.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/templates/podmonitor-timescaledb.yaml
  charts/hedera-mirror/values.yaml
  docker-compose.yml
  docs/configuration.md
  docs/monitor.md
  hedera-mirror-datagenerator/pom.xml
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/AdminKeyable.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/consensus/ConsensusCreateTopicTransactionSupplier.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/consensus/ConsensusUpdateTopicTransactionSupplier.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/schedule/ScheduleCreateTransactionSupplier.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/token/TokenCreateTransactionSupplier.java
  hedera-mirror-datagenerator/src/main/java/com/hedera/datagenerator/sdk/supplier/token/TokenUpdateTransactionSupplier.java
  hedera-mirror-grpc/pom.xml
  hedera-mirror-grpc/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap.yml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-importer/src/test/resources/config/bootstrap.yml
  hedera-mirror-monitor/pom.xml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/expression/ExpressionConverterImpl.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/generator/ScenarioProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/SubscribeMetrics.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscriberProperties.java
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-rest/__tests__/ed25519.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/health.js
  hedera-mirror-rest/server.js
  hedera-mirror-test/pom.xml
Labels: P1, enhancement, ops

#2028 Rename windows-incompatible files
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestRecordFiles.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileV2DownloaderTest.java
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.3/2019-07-01T14_13_00.317763Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.3/2019-07-01T14_13_00.317763Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.3/2019-07-01T14_29_00.302068Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.3/2019-07-01T14_29_00.302068Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.4/2019-07-01T14_13_00.317763Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.4/2019-07-01T14_13_00.317763Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.4/2019-07-01T14_29_00.302068Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.4/2019-07-01T14_29_00.302068Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.5/2019-07-01T14_13_00.317763Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.5/2019-07-01T14_13_00.317763Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.5/2019-07-01T14_29_00.302068Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.5/2019-07-01T14_29_00.302068Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.6/2019-07-01T14_13_00.317763Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.6/2019-07-01T14_13_00.317763Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.6/2019-07-01T14_29_00.302068Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/v1/record0.0.6/2019-07-01T14_29_00.302068Z.rcd_sig
Labels: bug, test

#2062 Add shebang to fix husky pre-commit hook on windows
  hedera-mirror-rest/.husky/pre-commit
Labels: bug

#2060 Optimize rest account balance query
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.38.0__entity_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__time_scale_index_init.sql
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
Labels: P1, bug, database, rest

#2064 Port fix TopicMessageServiceTest.startTimeAfterNow to release/0.34
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
Labels: P3, bug, test

#2063 Port optimize rest account balance query to release/0.34
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.38.0__entity_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__time_scale_index_init.sql
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
Labels: P1, bug, database, rest

#2065 Add a monitor service & change threads property
  charts/hedera-mirror-grpc/templates/ingress.yaml
  charts/hedera-mirror-monitor/templates/service.yaml
  charts/hedera-mirror-monitor/templates/servicemonitor.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest/templates/ingress.yaml
  charts/hedera-mirror/values-prod.yaml
  docs/configuration.md
  docs/monitor.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/MonitorConfiguration.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/SubscriptionStatus.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcClientSDK.java
Labels: P1, enhancement, monitor

#2051 Support liveness probe delay flyway
  charts/hedera-mirror-importer/values.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
Labels: P2, enhancement, parser

#2061 NFT Design Doc V2
  docs/design/nft.md
Labels: P1, enhancement, nft

#2073 Add a global hostname, pullPolicy and podAnnotations properties to chart
  charts/README.md
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-grpc/templates/deployment.yaml
  charts/hedera-mirror-grpc/templates/ingress.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/deployment.yaml
  charts/hedera-mirror-importer/templates/secret.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/templates/deployment.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest/templates/deployment.yaml
  charts/hedera-mirror-rest/templates/ingress.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/values.yaml
Labels: P2, enhancement, process

#2097 Fix transactions query duplicate timestamps issue
  hedera-mirror-rest/__tests__/specs/transactions-33-credit-type-crypto-and-token-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-34-debit-type-crypto-and-token-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-35-duplicate-token-transfers-bug.spec.json
  hedera-mirror-rest/transactions.js
Labels: P1, bug, rest

#2070 NFT Database Schema
  docs/design/nft.md
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.39.0__support_nfts.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__time_scale_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__hyper_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__time_scale_index_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__time_scale_compression.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__reference_table_inserts.sql
Labels: P1, database, enhancement, nft

#2089 Add workflow for building on windows
  .github/workflows/windows.yml
Labels: P3, enhancement, process

#2101 Upgrade Spring Boot to 2.4.6
  pom.xml
Labels: P1, dependencies, java, security

#2102 Automate deploy to integration
  .github/workflows/auto-release.yml
  .github/workflows/charts.yml
  .github/workflows/cleanup.yml
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/release-integration.yml
  .github/workflows/rest-api.yml
  .github/workflows/rosetta-api.yml
  .gitignore
  README.md
  charts/README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-monitor/templates/ingress.yaml
  charts/hedera-mirror-monitor/templates/middleware.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/values-prod.yaml
  docker-compose.yml
  docs/installation.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/resources/db/scripts/drop.sql
  hedera-mirror-importer/src/main/resources/db/scripts/init.sh
  hedera-mirror-importer/src/main/resources/db/scripts/init_v1.sql
  hedera-mirror-importer/src/main/resources/db/scripts/init_v2.sql
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/HederaNetwork.java
  hedera-mirror-rosetta/build/Dockerfile
  pom.xml
Labels: P2, enhancement, process

#2090 Dissociate accounts from tokens post run
  hedera-mirror-test/README.md
  hedera-mirror-test/src/main/resources/Dockerfile
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/account/account.feature
  hedera-mirror-test/src/test/resources/features/hcs/hcs.feature
  hedera-mirror-test/src/test/resources/features/hts/hts.feature
  hedera-mirror-test/src/test/resources/features/schedule/schedule.feature
  hedera-mirror-test/src/test/resources/features/topicfilter/hcstopicfilter.feature
Labels: P3, bug, process, test

#2128 Increase verify timeout to 2s in RedisEntityListenerTest
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListenerTest.java
Labels: P3, bug, test

#2124 Add high availability to importer
  charts/README.md
  charts/hedera-mirror/values-prod.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MessagingConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/StreamFileHealthIndicator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/leader/LeaderAspect.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/StreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/CompositeBalanceFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/event/EventFileReaderV3.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/CompositeRecordFileReader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/AbstractStreamFileHealthIndicatorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/AbstractStreamFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/event/EventFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
Labels: P2, enhancement, parser

#2126 Simplify automated release workflow
  .github/workflows/auto-release.yml
Labels: P3, bug, process

#2109 Nft importer
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Nft.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/NftId.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/NftTransfer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/NftTransferId.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/Token.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TokenSupplyTypeEnum.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TokenTypeEnum.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/repository/RepositoryEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NftRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NftTransferRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.39.2__nft_changes_for_importer.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__time_scale_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__time_scale_index_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__reference_table_inserts.sql
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
  hedera-mirror-importer/src/main/resources/db/scripts/timescaledb/csvBackupTables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/timescaledb/csvRestoreTables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/TokenSupplyTypeEnumTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/TokenTypeEnumTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/repository/RepositoryEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/UpsertPgCopyTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NftRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NftTransferRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TokenRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
  pom.xml
Labels: P1, enhancement, nft, parser

#2125 Adjust Traefik rate limit
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-common/templates/_helpers.tpl
  charts/hedera-mirror-common/templates/secret-grafana.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/templates/application.yaml
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-rest/middleware/openapiHandler.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/log4j2.xml
Labels: P2, enhancement, process

#2150 Adjust alert thresholds & fix alert dashboard
  charts/hedera-mirror-common/dashboards/alertmanager.json
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/values.yaml
Labels: P1, bug, process

#2152 Increase RedisEntityListenerTest.onSlowPublish timeout
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListenerTest.java
Labels: bug, test

#2153 Add multi batch support to upsert pgcopy flow
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/UpsertPgCopy.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/AbstractUpsertQueryGenerator.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/UpsertPgCopyTest.java
Labels: P2, bug, database, java

#2155 Add multi batch support to upsert pgcopy flow to release 0.36
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/UpsertPgCopy.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/AbstractUpsertQueryGenerator.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/UpsertPgCopyTest.java
Labels: P2, bug, database, java

#2158 Rename master to main
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-release.yml
  .github/workflows/charts.yml
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/release-integration.yml
  .github/workflows/rest-api.yml
  .github/workflows/rosetta-api.yml
  .github/workflows/security.yml
  .github/workflows/windows.yml
  CONTRIBUTING.md
  README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/templates/application.yaml
  charts/marketplace/gcp/schema.yaml
  docker-compose.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/HibernateConfiguration.java
  pom.xml
Labels: P1, enhancement, process

#2160 Change monitor scenario properties from list to map
  docs/configuration.md
  docs/monitor.md
  hedera-mirror-grpc/src/main/resources/log4j2.xml
  hedera-mirror-importer/src/main/resources/log4j2.xml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/LoggingFilter.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/converter/DurationToStringSerializer.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/converter/StringToDurationDeserializer.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/generator/CompositeTransactionGenerator.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/generator/ScenarioProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/AbstractSubscriberProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/SubscribeMetrics.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/SubscribeProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/Subscription.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriber.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscriber.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscriberProperties.java
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-monitor/src/main/resources/log4j2.xml
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/converter/DurationToStringSerializerTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/converter/StringToDurationDeserializerTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/generator/CompositeTransactionGeneratorTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishPropertiesTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/SubscribePropertiesTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriberTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscriberTest.java
Labels: P3, breaking, enhancement, monitor

#2163 Fix Grafana & adjust alerts
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/values.yaml
Labels: P1, bug, process

#2165 Fix Grafana & adjust alerts (0.36)
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/values.yaml
Labels: P1, bug, process

#2161 Fix rosetta db integration test failure
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/test/db/db.go
Labels: P3, bug, rosetta, test

#2170 Cherry pick Rename references from master to main
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-release.yml
  .github/workflows/charts.yml
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/release-integration.yml
  .github/workflows/rest-api.yml
  .github/workflows/rosetta-api.yml
  .github/workflows/security.yml
  .github/workflows/windows.yml
  CONTRIBUTING.md
  README.md
  charts/hedera-mirror/templates/application.yaml
  charts/marketplace/gcp/schema.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/HibernateConfiguration.java
  pom.xml
Labels: P1, enhancement, process

#2176 Mitigate the impact of pgcopy timeout
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
Labels: P2, bug, parser

#2181 Remove nft transferlist from transactions list endpoint
  docs/design/nft.md
  hedera-mirror-rest/__tests__/specs/transactions-35-duplicate-token-transfers-bug.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-36-nft-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-38-nft-transfers-multiple-tokens.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-39-nft-transfers-multiple-tokens.spec.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/transactions.js
Labels: P1, enhancement, nft, rest

#2171 NFTs list and get REST API
  docs/design/nft.md
  hedera-mirror-rest/__tests__/__snapshots__/tokens.test.js.snap
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/tokens-nfts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-02-none.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-03-serialnumber.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-04-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-06-invalid-params.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-07-deleted-token.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-02-invalid-serialnumber.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-03-not-found.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/tokens.js
Labels: P1, enhancement, nft, rest

#2175 Update README with min versions for tools
  README.md
  application.yml
  docs/installation.md
Labels: P3, documentation, enhancement

#2183 (Cherry-pick 0.36) Remove nft transferlist from transactions list endpoint
  docs/design/nft.md
  hedera-mirror-rest/__tests__/specs/transactions-35-duplicate-token-transfers-bug.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-36-nft-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-38-nft-transfers-multiple-tokens.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-39-nft-transfers-multiple-tokens.spec.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/transactions.js
Labels: P1, enhancement, rest

#2179 Optimize transactions query
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/specs/transactions-38-nft-transfers-multiple-tokens.spec.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/transactions.js
Labels: P1, database, performance, rest

#2182 Stream account balances to the database
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/AccountBalanceFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EventFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFileData.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/StreamFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/CompositeBalanceFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/ProtoBalanceFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/event/EventFileReaderV3.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/CompositeRecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/event/EventFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/BalanceFileReaderImplV1Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/CompositeBalanceFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/ProtoBalanceFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/RecordFileReaderTest.java
Labels: P1, balances, bug, performance

#2202 Change token_transfer index
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.40.1__token_transfer_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__time_scale_index_init.sql
Labels: P2, database, performance

#2200 Fix helm test failing during retry
  charts/README.md
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-rest/templates/tests/configmap.yaml
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/templates/tests/secret.yaml
  charts/images/deployment.png
  charts/images/mirror_traffic_resource_architecture.png
Labels: P1, bug, process

#2204 Adding config to swagger stats
  hedera-mirror-rest/config/application.yml
Labels: P1, enhancement, rest

#2206 [Cherry-pick 0.36] Adding config to swagger stats (#2204)
  hedera-mirror-rest/config/application.yml
Labels: P1, enhancement, rest

#2174 Add IP metrics to REST
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/middleware/metricsHandler.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/utils.js
Labels: P2, enhancement, rest

#2208 Add example values to docker compose application.yml
  application.yml
Labels: P3, documentation

#2210 Remove GitHub docs in favor of organization level configuration
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-question.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  charts/README.md
  charts/images/deployment.png
  docs/configuration.md
Labels: P2, documentation

#2209 Optimize various rest utility functions
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: P1, performance, rest

#2211 Fix "New Issue" only showing "Ask a Question"
  .github/ISSUE_TEMPLATE/config.yml
Labels: P1, bug, documentation
