Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-03, with the labels that each got.

#3354 Fix broken doc link
  docs/configuration.md
Labels: documentation

#3359 Fix circular bean reference on startup (0.52)
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/MirrorGrpcApplication.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/MetricsConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/RedisConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorImporterApplication.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/RedisConfiguration.java
Labels: bug, P1, parser

#3360 Add hashType to HashMismatchException message
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/HashMismatchException.java
Labels: enhancement, P2, downloader, java

#3358 Remove crypto transfer for initial balance
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.55.2__remove_crypto_transfer_with_zero_amount.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: P1, technical debt, parser

#3381 Fix Contract Bytecode double encode issue
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/contracts-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-02-specific-id-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-03-specific-id-timestamp-historical-missing-file.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-04-specific-id-timestamp-no-match.spec.json
  hedera-mirror-rest/__tests__/viewmodel/contractViewModel.test.js
  hedera-mirror-rest/viewmodel/contractViewModel.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: bug, P1, rest, contract

#3285 Add ContractResults support for all transaction types
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractStateChange.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
Labels: enhancement, P1, contract

#3387 Add a balance reconciliation job
  charts/hedera-mirror-importer/values.yaml
  docs/configuration.md
  docs/importer/README.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/ReconciliationException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/ReconciliationProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/AccountBalanceFileRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationServiceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AccountBalanceFileRepositoryTest.java
Labels: enhancement, P1, parser

#3407 Fix missing contract evm address
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.55.5__missing_evm_address.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MissingEvmAddressMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TransferTransactionPayerMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchUpserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: bug, P1, parser, contract

#3388 Add Crypto allowance REST API support
  docs/design/allowances.md
  hedera-mirror-rest/__tests__/controllers/__snapshots__/allowanceController.test.js.snap
  hedera-mirror-rest/__tests__/controllers/allowanceController.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/__snapshots__/entityService.test.js.snap
  hedera-mirror-rest/__tests__/service/cryptoAllowanceService.test.js
  hedera-mirror-rest/__tests__/service/entityService.test.js
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-02-specific-spenderId.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-03-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-04-all_params.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-05-limit-order.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-06-invalid-params.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-07-invalid-path.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-08-alias-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-09-spenderId-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-04-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-06-invalid-params.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-09-multiple-token-filters.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-10-multiple-serialnumber-range-filters.spec.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/controllers/accountController.js
  hedera-mirror-rest/controllers/allowanceController.js
  hedera-mirror-rest/controllers/baseController.js
  hedera-mirror-rest/controllers/index.js
  hedera-mirror-rest/model/cryptoAllowance.js
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/routes/accountRoute.js
  hedera-mirror-rest/service/cryptoAllowanceService.js
  hedera-mirror-rest/service/entityService.js
  hedera-mirror-rest/service/index.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/cryptoAllowanceViewModel.js
  hedera-mirror-rest/viewmodel/index.js
  hedera-mirror-test/k6/src/rest/test/accountsCryptoAllowance.js
  hedera-mirror-test/k6/src/rest/test/accountsCryptoAllowanceSpender.js
  hedera-mirror-test/k6/src/rest/test/index.js
Labels: enhancement, P2, rest, javascript

#3412 Fix rest API showing ecdsa public key as ProtobufEncoded key
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/util/DomainUtilsTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/utils.js
Labels: bug, P2, rest

#3413 Fix monitor stopped publishing
  docs/configuration.md
  hedera-mirror-monitor/pom.xml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/MonitorConfiguration.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishRequest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishResponse.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishMetricsTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
  hedera-mirror-test/pom.xml
Labels: bug, P1, monitor

#3430 Fix failing actions
  .github/workflows/cleanup.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta-api.yml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: bug, P1, process

#3428 Update transactions openapi spec
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation, enhancement, P3, rest

#3432 Container security improvements
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest/templates/tests/configmap.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/templates/tests/pod.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/templates/tests/pod.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/templates/secret-redis.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  docker-compose.yml
  docs/installation.md
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/pom.xml
  pom.xml
Labels: enhancement, P3, ops

#3411 Crypto Allowance acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/ExpandedAccountId.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorCryptoAllowance.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorTransferAllowance.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorCryptoAllowanceResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/resources/features/account/allowances/cryptoAllowance.feature
Labels: enhancement, P2, test, java

#3436 Fix failing actions (0.53)
  .github/workflows/cleanup.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta-api.yml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: bug, P1, process

#3437 Add passing RPS to k6 report
  .github/workflows/release-production.yml
  hedera-mirror-test/k6/src/lib/common.js
  hedera-mirror-test/k6/src/lib/parameters.js
Labels: bug, P1, test, process

#3441 Fix node scale down issues
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/values-prod.yaml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
Labels: bug, P1, grpc

#3463 Speed up transactions by type lookup
  docs/database.md
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.56.0__add_transaction_type_and_consensus_timestamp_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-test/k6/src/rest/test/index.js
  hedera-mirror-test/k6/src/rest/test/transactionsCryptoCreateAccountDebit.js
  hedera-mirror-test/k6/src/rest/test/transactionsTransactionTypeAscending.js
Labels: bug, P1, performance, rest

#3476 Fix k6 report generation when scenario failure
  hedera-mirror-test/k6/src/lib/common.js
Labels: bug, P2, performance, test

#3403 Accept EVM address in REST APIs
  hedera-mirror-rest/__tests__/__snapshots__/entityId.test.js.snap
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-02-specific-id-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-03-specific-id-timestamp-historical-missing-file.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-04-specific-id-timestamp-no-match.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-05-specific-id-not-contract-entity-type.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-06-specific-id-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-09-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-10-order-asc.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-12-contract-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-16-find-by-create1-evm-address.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-01-no-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-02-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-06-index.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-08-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-09-order-asc.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-10-order-desc.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-11-topics-with-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-14-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-18-topics-with-timestamp-gt-lt.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-01-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-02-timestamp-result-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-03-invalid-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-11-empty-logs.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-13-timestamp-partial-result-match.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-14-timestamp-transaction-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-16-timestamp-no-state-change.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-02-from.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-03-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-08-from-address.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-09-all-params-with-create2.spec.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/utils.js
Labels: enhancement, P1, rest

#3482 Fix ReadMe link.
  docs/grpc/README.md
Labels: bug, documentation, P3
