Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-01, with the labels that each got.

#3088 Remove rosetta token balance workaround
  hedera-mirror-rosetta/app/domain/types/block.go
  hedera-mirror-rosetta/app/interfaces/account_repository.go
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/block_test.go
  hedera-mirror-rosetta/app/services/account_service.go
  hedera-mirror-rosetta/app/services/account_service_test.go
  hedera-mirror-rosetta/app/services/block_service_test.go
  hedera-mirror-rosetta/app/services/network_service_test.go
  hedera-mirror-rosetta/scripts/validation/run-validation.sh
  hedera-mirror-rosetta/test/mocks/account_repository.go
Labels: enhancement, P2, rosetta

#3106 Bump grpc-java from 1.43.1 to 1.43.2
  pom.xml
Labels: dependencies

#3107 Update smart contract 2.0 design for state changes
  docs/design/smart-contracts.md
Labels: documentation, design

#3104 README cleanup and simplification
  README.md
  docs/configuration.md
  docs/grpc/README.md
  docs/images/rest_api_perf_test_architecture.png
  docs/images/rest_api_perf_test_migration.png
  docs/installation.md
  docs/monitor/README.md
  docs/operations.md
  docs/rest/README.md
  docs/rosetta-server.md
  docs/rosetta/README.md
  docs/rosetta/rosetta-architecture.png
  docs/web3/README.md
Labels: documentation, P3

#3111 Bump grpc-java from 1.43.1 to 1.43.2 (0.48)
  pom.xml
Labels: dependencies

#3110 Support custom network in rosetta bdd client
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-rosetta/app/config/config_test.go
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/test/bdd-client/README.md
  hedera-mirror-rosetta/test/bdd-client/client/client.go
  hedera-mirror-rosetta/test/bdd-client/client/config.go
  hedera-mirror-rosetta/test/bdd-client/config.go
Labels: enhancement, P3, test, rosetta

#3109 Support account alias in rest API
  hedera-mirror-rest/__tests__/__snapshots__/accountAlias.test.js.snap
  hedera-mirror-rest/__tests__/__snapshots__/accounts.test.js.snap
  hedera-mirror-rest/__tests__/__snapshots__/base32.test.js.snap
  hedera-mirror-rest/__tests__/accountAlias.test.js
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/base32.test.js
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-03-accounts-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-04-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-05-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-06-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-07-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-08-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-10-account-transactions.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-11-invalid-entity-id-or-account-alias.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-13-accounts-limit.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-14-account-transactions-transactiontype.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-15-account-transactions-invalid-transactiontype.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-16-no-balances.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-17-specific-id-no-balance.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-18-account-transactions-no-balances.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-19-account-transactions-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-20-multiple-ids.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-21-balance-false.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-22-limit-capped-at-max.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-23-alias-multiple-match.spec.json
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/accountAlias.js
  hedera-mirror-rest/accountContract.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/base32.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/model/transactionResult.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rosetta/app/domain/types/constants.go
Labels: enhancement, P2, rest

#3129 Fix rosetta server config regression
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-rosetta/app/config/config_test.go
Labels: P1, regression, rosetta

#3130 Fixes after contract API review
  .github/workflows/charts.yml
  docs/design/smart-contracts.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-rest/__tests__/specs/contracts-logs-14-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-17-no-content.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-02-from.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-02-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-04-timestamp-out-of-range.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-10-missing-nft-filter.spec.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-web3/src/main/resources/application.yml
Labels: bug, P2, rest

#3132 Fix OpenAPI bugs related to path parameters
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, P1, rest

#3133 Fixes after contract API review (0.48)
  .github/workflows/charts.yml
  docs/design/smart-contracts.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-rest/__tests__/specs/contracts-logs-14-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-17-no-content.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-02-from.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-02-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-04-timestamp-out-of-range.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-10-missing-nft-filter.spec.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-web3/src/main/resources/application.yml
Labels: bug, P1, rest

#3136 Bump follow-redirects from 1.14.4 to 1.14.7 (0.48)
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: dependencies

#3134 Fix OpenAPI bugs related to path parameters (0.48)
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, P1, rest

#3128 Add initial transaction and payer account id to topic message
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/topic/TopicMessage.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/topic/TopicMessageTest.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.53.0__topic_message_add_payer_account_id_and_initial_transaction_id.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvRestoreTables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TopicMessagePayerAccountIdMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchInserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/topicmessage-01-timestamp-valid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-04-idseq-valid.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-05-idseq-valid-full-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-07-idseq-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-08-partial-data.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-02-specific-sequence.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-03-none.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-04-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-06-invalid-topid-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-07-invalid-param-values.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-08-repeated-valid-params.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-09-limit.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-10-order.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-11-encoding.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-12-partial-data.spec.json
Labels: enhancement, P1, parser, database

#3139 Fix transactions REST API regression
  hedera-mirror-rest/__tests__/specs/transactions-45-account-id-deterministic-response.spec.json
  hedera-mirror-rest/transactions.js
Labels: bug, P1, regression, rest

#3140 Fix 'Null entity ID' error returned by contract result REST api
  hedera-mirror-rest/__tests__/specs/contracts-result-details-12-failed-contractcreate.spec.json
  hedera-mirror-rest/__tests__/viewmodel/contractResultViewModel.test.js
  hedera-mirror-rest/routes/contractRoute.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
Labels: bug, P1, rest

#3175 Add data migration guide to database.md
  docs/database.md
Labels: enhancement, P1, database

#3176 Add bloom, result and status to contract results API and bloom to contract logs API
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts-logs-01-no-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-02-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-06-index.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-08-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-09-order-asc.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-10-order-desc.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-11-topics-with-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-14-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-18-topics-with-timestamp-gt-lt.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-01-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-04-transactionid.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-05-transactionid-multiple-single-result.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-11-empty-logs.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-12-failed-contractcreate.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-02-from.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-03-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-05-order.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-06-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-07-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-08-from-address.spec.json
  hedera-mirror-rest/__tests__/viewmodel/contractLogViewModel.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractResultViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/contractLog.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/transactionService.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
  hedera-mirror-rest/viewmodel/contractResultLogViewModel.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
Labels: enhancement, P1, rest, contract

#3185 Optimize schedules query
  hedera-mirror-rest/__tests__/schedules.test.js
  hedera-mirror-rest/schedules.js
Labels: bug, P3, performance, rest

#3187 Revert Contract Result status back to 0x0 and 0x1
  hedera-mirror-rest/__tests__/specs/contracts-result-details-01-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-04-transactionid.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-05-transactionid-multiple-single-result.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-11-empty-logs.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-12-failed-contractcreate.spec.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
Labels: P2, rest, contract

#3186 Add NetworkService to grpc ingress
  charts/hedera-mirror-grpc/values.yaml
Labels: bug, P1, grpc

#3181 Fix monitor validation issues
  docs/configuration.md
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/performance/EntityRecordItemListenerPerformanceCryptoTest.java
  hedera-mirror-monitor/pom.xml
  hedera-mirror-monitor/src/main/java/com/hedera/hashgraph/sdk/ManagedNode.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/HederaNetwork.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  pom.xml
Labels: bug, P1, monitor

#3188 Add NetworkService to grpc ingress (0.49)
  charts/hedera-mirror-grpc/values.yaml
Labels: bug, P1, grpc

#3190 Set importer replicas to 1 to workaround leader election bugs
  charts/hedera-mirror/values-prod.yaml
Labels: bug, parser

#3209 Bump node-fetch to 2.6.7 & fix LoggingFilterTest
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
Labels: dependencies

#3216 Remove streamFileActivity from importer liveness probe
  hedera-mirror-importer/src/main/resources/application.yml
Labels: bug, P1, parser

#3189 Add contract state change support to common and importer modules
  docs/design/smart-contracts.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractStateChange.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/converter/ContractIdConverterTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/ContractStateChangeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.54.0__add_contract_state_change.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvBackupTables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvRestoreTables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/ContractStateChangeRepositoryTest.java
  pom.xml
Labels: enhancement, P1, contract

#3220 Bump node-fetch to 2.6.7 & fix LoggingFilterTest (0.49)
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
Labels: bug, P1

#3221 Fix wrong sort order for contract logs in OpenAPI
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, P3, rest

#3222 Update topicMessage REST response to use transactionId json format
  hedera-mirror-rest/__tests__/specs/topicmessage-09-with-chunk-initial-transaction-proto.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-10-with-chunk-valid-start-timestamp-and-payer-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-13-with-chunk-data.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/viewmodel/topicMessageViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/transactionId.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/index.js
  hedera-mirror-rest/viewmodel/topicMessageViewModel.js
  hedera-mirror-rest/viewmodel/transactionIdViewModel.js
Labels: enhancement, P1, rest

#3225 Update topicMessage REST response to use transactionId json format (0.49)
  hedera-mirror-rest/__tests__/specs/topicmessage-09-with-chunk-initial-transaction-proto.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessage-10-with-chunk-valid-start-timestamp-and-payer-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-13-with-chunk-data.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/viewmodel/topicMessageViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/transactionId.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/index.js
  hedera-mirror-rest/viewmodel/topicMessageViewModel.js
  hedera-mirror-rest/viewmodel/transactionIdViewModel.js
Labels: enhancement, P1, rest

#3223 Update postgresql data migration guide
  docs/database.md
Labels: documentation, enhancement, P3, database

#3224 Fix URL in test pod yaml
  charts/hedera-mirror-rosetta/templates/tests/pod.yaml
  charts/hedera-mirror-web3/templates/tests/pod.yaml
Labels: bug, P3, test

#3229 Update Pubsub message strings based on updated hedera protobuf 0.23.0-SNAPSHOT
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordParserTest.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
Labels: enhancement, P1, test

#3227 Increase default gas limit used by acceptance tests
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/FeatureProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: enhancement, P2, test, process
