Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-08, with the labels that each got.

#4228 Remove console.log() in REST API
  hedera-mirror-rest/config.js
  hedera-mirror-rest/logger.js
  hedera-mirror-rest/server.js
Labels: enhancement, P3, rest

#4234 Bump Maven and Maven Wrapper versions
  .mvn/maven.config
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: dependencies

#4172 HIP 513 Add Sidecar Contract Migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SidecarContractMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/ContractRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityHistoryRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SidecarContractMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/ContractRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityHistoryRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
Labels: enhancement, P1, database

#4237 Fix circular dependency in importer
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-rosetta/build/Dockerfile
Labels: bug, P1, parser

#4256 Bump PostgreSQL JDBC from 42.3.6 to 42.4.1
  pom.xml
Labels: P1, security, dependencies

#4257 Fix monitor not recovering after failure on startup
  docs/configuration.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/MonitorProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/MonitorConfiguration.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
Labels: bug, P2, regression, monitor

#4263 Add tests for eth_gasEstimate for transferring hbars in smart contract
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/ApiContractIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/Web3IntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ApiContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/eth/EthCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/eth/EthGasEstimateServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/TestConstants.java
Labels: web3

#4264 Impl: Validate that eth_call works for pure solidity functions
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/CodeCache.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/SimulatedStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/CodeCacheTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/eth/EthCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/TestConstants.java
  hedera-mirror-web3/src/test/resources/insert_contract.sql
Labels: web3

#4266 Fix REST API autoscaling
  charts/hedera-mirror-rest/values.yaml
Labels: P1, ops, rest

#4255 Add Blocks Hash Prefix Index to REST API
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.1__record_file_hash_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-rest/__tests__/specs/blocks/{id}/hash-64.json
  hedera-mirror-rest/__tests__/specs/blocks/{id}/hash-96.json
  hedera-mirror-rest/service/recordFileService.js
Labels: bug, P1, rest

#4268 Fix incorrect column default in EntityMetadataRegistry
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ColumnMetadata.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistry.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
Labels: bug, P1, parser

#4270 Fix incorrect column default in EntityMetadataRegistry (0.61)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ColumnMetadata.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistry.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
Labels: bug, P1, parser

#4271 Fix incorrect column default in EntityMetadataRegistry (0.62)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ColumnMetadata.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistry.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
Labels: bug, P1, parser

#4254 Search transaction by hash Rest API
  docs/database.md
  docs/rest/README.md
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.2__transaction_hash_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-rest/__tests__/__snapshots__/transactions.test.js.snap
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/transactions/{id}/duplicate-transactions.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/invalid-transaction-id-or-hash.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/invalid-transaction-id.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/not-found.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/transaction.js
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorTransaction.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorTransfer.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/NetworkTransactionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/resources/features/account/account.feature
  hedera-mirror-test/src/test/resources/features/account/allowances/cryptoAllowance.feature
Labels: enhancement, P1, rest

#4277 Fix data race condition in Rosetta
  hedera-mirror-rosetta/app/services/block_service.go
  hedera-mirror-rosetta/app/services/block_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: bug, P1, rosetta

#4202 adding new cluster for previewnet
  clusters/preprod/previewnet/sealed-secret.yaml
  clusters/previewnet/common/helmrelease.yaml
  clusters/previewnet/common/kustomization.yaml
  clusters/previewnet/common/sealed-secret-grafana-cloud.yaml
  clusters/previewnet/common/sealed-secret.yaml
  clusters/previewnet/previewnet/helmrelease.yaml
  clusters/previewnet/previewnet/helmrepository.yaml
  clusters/previewnet/previewnet/namespace.yaml
  clusters/previewnet/previewnet/sealed-secret.yaml
Labels: enhancement, P2, ops

#4280 Fix null column violation when persisting entity updates
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: bug, P1, parser

#4290 Fix monitor expression retry
  docs/configuration.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/expression/ExpressionConverterImpl.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/SubscribeMetrics.java
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/expression/ExpressionConverterImplTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishMetricsTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/SubscribeMetricsTest.java
Labels: bug, monitor

#4300 Fix monitor not handling REST API connection failures on startup (0.63)
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClient.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClientTest.java
Labels: bug, monitor

#4292 Change accounts REST API to use current balance
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/mockPool.js
  hedera-mirror-rest/__tests__/specs/accounts/accounts-range.json
  hedera-mirror-rest/__tests__/specs/accounts/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/balance-range.json
  hedera-mirror-rest/__tests__/specs/accounts/limit-capped-at-max.json
  hedera-mirror-rest/__tests__/specs/accounts/limit.json
  hedera-mirror-rest/__tests__/specs/accounts/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/accounts/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/publickey.json
  hedera-mirror-rest/__tests__/specs/accounts/specific-id.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/token-balance-limit.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/accounts.js
Labels: enhancement, rest

#4302 Fix error when there is no network stake in db
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/specs/network/stake/not-found.json
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-test/src/test/resources/features/network/networkstake.feature
Labels: bug, rest

#4305 Fix error when there is no network stake in db (0.63)
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/specs/network/stake/not-found.json
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-test/src/test/resources/features/network/networkstake.feature
Labels: bug, rest

#4309 Fix importer performance regression
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.2__transaction_hash_index.sql
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-params.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/model/transaction.js
  hedera-mirror-rest/transactions.js
Labels: bug, performance, parser

#4311 Fix importer performance regression (0.63)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.2__transaction_hash_index.sql
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-params.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/model/transaction.js
  hedera-mirror-rest/transactions.js
Labels: bug, performance, parser

#4310 Add transaction data to contract result
  docs/rest/README.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractResult.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.4__contract_result_hash.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
  hedera-mirror-rest/.husky/pre-commit
  hedera-mirror-rest/__tests__/integrationDomainOps.js
Labels: enhancement, parser

#4315 Cleanup duplicate entities in testnet
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.64.1.2__duplicate_entities.sql
Labels: bug, database

#4317 Cleanup duplicate entities in testnet (0.63)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.64.1.2__duplicate_entities.sql
Labels: bug, database

#4316 Cleanup duplicate entities in testnet (0.62)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.64.1.2__duplicate_entities.sql
Labels: bug, database

#4320 Bump GitHub Action versions
  .github/workflows/auto-release.yml
  .github/workflows/charts.yml
  .github/workflows/cleanup.yml
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rest-api.yml
  .github/workflows/rosetta-api.yml
  .github/workflows/security.yml
  .github/workflows/web3.yml
  .github/workflows/windows.yml
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchInserter.java
  hedera-mirror-rosetta/app/config/application.yml
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/main.go
Labels: dependencies

#4319 Remove empty operator values in helm tests
  charts/hedera-mirror/values.yaml
Labels: bug, test

#4335 Revert changes to blockServiceSuite.TestBlockWithAccountAlias
  hedera-mirror-rosetta/app/services/block_service_test.go
Labels: bug, rosetta

#4339 Allow customization of the monitor ports
  hedera-mirror-rest/monitoring/README.md
  hedera-mirror-rest/monitoring/pm2.json
Labels: enhancement, monitor

#4352 add CallOperationType field to ContractAction
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractAction.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.5__add_contract_action_call_operation.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
  pom.xml
Labels: enhancement, parser

#4357 Fix OpenAPI for topic message by timestamp
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, rest

#4365 Optimize contract state change migration performance
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractStateChange.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SidecarContractMigration.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.7__contract_state_change_migration.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/by-hash-nonce-is-ignored.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/multiple-single-result.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/transactionid-or-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/non-populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data-func-params-from-filedata.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-no-state-change.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-result-not-found.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp.json
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/model/contractStateChange.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/transactionService.js
Labels: enhancement, rest, parser

#4395 Mark contract_action.call_operation_type as nullable (0.64)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.5__add_contract_action_call_operation.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
Labels: bug, database, breaking

#4396 Fix slow search block by hash query in rosetta
  hedera-mirror-rosetta/app/persistence/block.go
Labels: bug, performance, rosetta

#4397 Fix slow search block by hash query in rosetta (0.64)
  hedera-mirror-rosetta/app/persistence/block.go
Labels: bug, performance, rosetta

#4387 Fix rosetta chart testing failure in PR from forked repos
  .github/workflows/charts.yml
  charts/hedera-mirror-rosetta/templates/tests/pod.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/values.yaml
Labels: bug, test
