Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-07, with the labels that each got.

#4023 Add Random Generate Transaction
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionType.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/UtilRandomGenerate.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/RandomGenerateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/RandomGenerateRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.62.0__util_random_generate.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerUtilTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/RandomGenerateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/UtilRandomGenerateRepositoryTest.java
  pom.xml
Labels: enhancement, P2, parser

#3976 Remove range restrictions on Parameters for Accounts Nfts
  hedera-mirror-rest/__tests__/controllers/__snapshots__/accountController.test.js.snap
  hedera-mirror-rest/__tests__/controllers/__snapshots__/tokenAllowanceController.test.js.snap
  hedera-mirror-rest/__tests__/controllers/accountController.test.js
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/controllers/tokenAllowanceController.test.js
  hedera-mirror-rest/__tests__/service/nftService.test.js
  hedera-mirror-rest/__tests__/specs/accounts-nfts-07-serialnumber-missing-token.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-09-multiple-token-filters.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-10-multiple-serialnumber-range-filters.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-15-serialnumber-lower-token-equal.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-16-serialnumber-upper-token-equal.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-token-allowances-13-invalid-params.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-token-allowances-15-range-follow-link.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-03-timestamp-not-equal.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-16-index-multiple-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-25-pagination-invalid-operators.spec.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/accountController.js
  hedera-mirror-rest/controllers/baseController.js
  hedera-mirror-rest/controllers/bound.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/controllers/tokenAllowanceController.js
  hedera-mirror-rest/service/nftService.js
Labels: bug, P1, rest

#4029 Bump log4j from 2.17.1 to 2.17.2
  pom.xml
  suppressions.xml
Labels: dependencies

#4058 Rename Util Random Generates to Prng
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Prng.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionType.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/PrngTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/PrngRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.62.0__prng.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerUtilTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/PrngTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/PrngRepositoryTest.java
Labels: enhancement, P1, parser

#4046 Fix helm acceptance tests
  charts/.maven-dockerignore
  charts/README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/Chart.yaml
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/templates/application.yaml
  charts/hedera-mirror/templates/podmonitor-timescaledb.yaml
  charts/hedera-mirror/templates/secret-init.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  charts/hedera-mirror/templates/secret-timescaledb-certificate.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/values.yaml
  hedera-mirror-importer/src/main/resources/db/scripts/init.sh
  pom.xml
Labels: bug, P2, process

#4055 Fix Sonar issues
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/validation/EndTimeValidator.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/validation/StartTimeValidator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV1.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV2.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/CryptoAllowanceRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NftAllowanceRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenAllowanceRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/ShutdownHelper.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/CompositeBatchPersisterTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriber.java
  hedera-mirror-rest/check-state-proof/utils.js
Labels: bug, P3

#4072 Bump nodemon from 2.0.18 to 2.0.19 in /hedera-mirror-rest/monitoring/monitor_apis
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
Labels: dependencies

#4076 Fix helm acceptance tests in preprod
  charts/hedera-mirror-rest/templates/tests/configmap.yaml
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/templates/tests/pod.yaml
  charts/hedera-mirror-web3/templates/tests/pod.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/templates/tests/secret.yaml
  charts/hedera-mirror/values.yaml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/FileClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ScheduleClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorContractResultResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
Labels: bug, P1, test

#4080 Add max memo length property for Monitor transactions
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishScenario.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishScenarioProperties.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/generator/ConfigurableTransactionGeneratorTest.java
Labels: enhancement, monitor

#4098 Add a previewnet Kubernetes deployment
  clusters/preprod/flux-system/alert-slack.yaml
  clusters/preprod/previewnet/helmrelease.yaml
  clusters/preprod/previewnet/helmrepository.yaml
  clusters/preprod/previewnet/namespace.yaml
  clusters/preprod/previewnet/sealed-secret.yaml
Labels: ops

#3986 Run transaction via EvmTxProcessor
  hedera-mirror-web3/pom.xml
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/OracleSimulator.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/SimulatedPricesSource.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/SimulatorUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/EvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/SimulatedBlockMetaSource.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/HederaMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/TransactionProcessingResult.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/ethereum/EthTxSigs.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/exception/InvalidTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/exception/ValidationUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/execution/EvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/execution/HederaTracer.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/models/Id.java
  pom.xml
Labels: web3

#4100 Fix wrong next url block number in /blocks response
  hedera-mirror-rest/__tests__/specs/blocks-02-limit-param.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-03-limit-order-asc-params.spec.json
  hedera-mirror-rest/controllers/blockController.js
Labels: bug, P1, rest

#4102 Improved downloading messages when no new signatures are present
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/DownloaderProperties.java
Labels: enhancement, P3, downloader

#4103 Retrieve address book in monitor
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-monitor/pom.xml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/MonitorProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClient.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscriber.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscription.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClientTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscriberTest.java
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/pom.xml
Labels: enhancement, P3, monitor

#4109 Update GCP Marketplace
  .github/workflows/charts.yml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/Dockerfile
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/architecture.png
  charts/marketplace/gcp/open-source-compliance/generate.sh
  charts/marketplace/gcp/open-source-compliance/mirror-java-licenses.txt
  charts/marketplace/gcp/open-source-compliance/mirror-java-sources.txt
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
  docs/checklist/feature.md
  docs/checklist/marketplace.md
Labels: enhancement, P2, marketplace

#4112 Enable retention in rosetta
  docs/rosetta/README.md
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/block_test.go
  hedera-mirror-rosetta/build/entrypoint.sh
Labels: enhancement, P2, rosetta

#4114 modified hostname for previewnet
  clusters/preprod/previewnet/sealed-secret.yaml
Labels: P2, ops

#4110 Reduce acceptance test costs
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/application.yml
  hedera-mirror-test/src/test/resources/features/account/account.feature
  hedera-mirror-test/src/test/resources/features/hts/customfees/customfees.feature
  hedera-mirror-test/src/test/resources/features/hts/hts.feature
  hedera-mirror-test/src/test/resources/features/setup/setup.feature
  hedera-mirror-test/src/test/resources/features/token/token.feature
  hedera-mirror-test/src/test/resources/features/topic/topic.feature
  hedera-mirror-test/src/test/resources/license/licenses.xml
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/MirrorNode.sol/MirrorNode.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/MirrorNode.sol/MirrorNodeShard.json
  hedera-mirror-test/src/test/resources/solidity/contracts/MirrorNode.sol
  hedera-mirror-test/src/test/resources/solidity/test/mirror-node-shards-test.js
Labels: enhancement, P3, test

#4129 Support configuring consensus nodes via env variable in Rosetta
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-rosetta/app/config/config_test.go
Labels: bug, P2, rosetta

#4137 Support multiple transactiontype query filters in transactions endpoint
  hedera-mirror-rest/__tests__/specs/transactions-46-transactiontype.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/utils.js
Labels: enhancement, P1, rest

#4140 Use address book stake as a fallback
  docs/checklist/release.md
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/specs/network-nodes-01-no-args.spec.json
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/model/addressBookEntry.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/service/networkNodeService.js
Labels: enhancement, P2, rest

#4143 Use a single db container for the rest API test suite
  hedera-mirror-rest/__tests__/data/db/stateproof/addRecordFileWithBytes.js
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/integrationUtils.js
  hedera-mirror-rest/__tests__/jestSetup.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/service/cryptoAllowanceService.test.js
  hedera-mirror-rest/__tests__/service/defaultMochaStatements.js
  hedera-mirror-rest/__tests__/service/entityService.test.js
  hedera-mirror-rest/__tests__/service/fileDataService.test.js
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/service/recordFileService.test.js
  hedera-mirror-rest/__tests__/service/transactionService.test.js
  hedera-mirror-rest/package.json
Labels: enhancement, P3, test, rest

#4146 Disable rosetta sub_network_identifier
  docs/rosetta/README.md
  hedera-mirror-rosetta/app/config/application.yml
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/build/entrypoint.sh
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/scripts/validation/demo/validation.json
  hedera-mirror-rosetta/scripts/validation/mainnet/validation.json
  hedera-mirror-rosetta/scripts/validation/testnet/testnet.ros
  hedera-mirror-rosetta/scripts/validation/testnet/validation.json
  hedera-mirror-rosetta/test/bdd-client/client/client.go
Labels: enhancement, P1, rosetta

#4147 Rename PrngTransaction to UtilPrngTransaction
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/UtilPrngTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerUtilTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/UtilPrngTransactionHandlerTest.java
  hedera-mirror-rest/__tests__/model/transactionType.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/transactionType.js
  pom.xml
Labels: enhancement, P1, parser

#4149 Fix NPE in StreamFileParser when items was reset to null
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/StreamFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/balance/AccountBalanceFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/event/EventFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/AbstractStreamFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/event/EventFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
Labels: bug, P1, parser

#4165 Refactor to use RecordItem builder
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNonFeeTransferTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerScheduleTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/performance/EntityRecordItemListenerPerformanceCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
Labels: enhancement, technical debt, P3, parser

#4166 Set default operator to 0.0.2
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/OperatorProperties.java
  hedera-mirror-rosetta/test/bdd-client/config.go
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
Labels: enhancement, P3, test

#4135 Update Get Blocks Order By Clause
  hedera-mirror-rest/__tests__/controllers/blockController.test.js
  hedera-mirror-rest/__tests__/service/recordFileService.test.js
  hedera-mirror-rest/controllers/blockController.js
  hedera-mirror-rest/service/recordFileService.js
Labels: bug, P1, performance, rest

#4173 Add network stake information
  docs/checklist/feature.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/addressbook/NetworkStake.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/addressbook/NodeStake.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NetworkStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.64.1__network_stake.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNodeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NetworkStakeRepositoryTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/specs/network/nodes/all-params.json
  hedera-mirror-rest/__tests__/specs/network/nodes/file-101-args.json
  hedera-mirror-rest/__tests__/specs/network/nodes/no-params.json
  hedera-mirror-rest/__tests__/specs/network/nodes/node-range.json
  hedera-mirror-rest/__tests__/specs/network/nodes/not-found.json
  hedera-mirror-rest/__tests__/viewmodel/networkNodeViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/nodeStake.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/viewmodel/networkNodeViewModel.js
Labels: enhancement, P1, parser

#4179 Convert js monitor from CommonJS to ES6 modules
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/balance_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/common.js
  hedera-mirror-rest/monitoring/monitor_apis/config.js
  hedera-mirror-rest/monitoring/monitor_apis/monitor.js
  hedera-mirror-rest/monitoring/monitor_apis/monitor_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_apis/server.js
  hedera-mirror-rest/monitoring/monitor_apis/stateproof_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/token_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/topicmessage_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
  hedera-mirror-rest/monitoring/pm2.json
Labels: enhancement, P3, monitor, javascript

#4174 Use shard.realm.num account id as transaction payer in Rosetta
  hedera-mirror-rosetta/app/interfaces/account_repository.go
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/test/bdd-client/client/client.go
  hedera-mirror-rosetta/test/bdd-client/features/crypto.feature
  hedera-mirror-rosetta/test/bdd-client/scenario/crypto.go
  hedera-mirror-rosetta/test/mocks/account_repository.go
Labels: bug, P1, rosetta

#4019 Light-weight WorldUpdater implementation
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/AliasesResolver.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/CodeCache.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/SimulatedEntityAccess.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/SimulatedUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/SimulatorUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/utils/AddressUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EntityRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/execution/EvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/models/Id.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/store/contracts/EntityAccess.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/store/contracts/HederaWorldUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/store/contracts/UpdateTrackingLedgerAccount.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/store/contracts/WorldStateAccount.java
  hedera-mirror-web3/src/main/java/com/hedera/services/transaction/store/contracts/WorldStateTokenAccount.java
Labels: web3

#4186 HIP-513 Add runtime bytecode to get contract REST API
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/contracts/{id}/contract-bytecode.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/contract-initcode.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/find-by-create1-evm-address.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/specific-id.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/timestamp-historical-missing-file.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/viewmodel/contractViewModel.test.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/model/contract.js
  hedera-mirror-rest/viewmodel/contractBytecodeViewModel.js
  hedera-mirror-rest/viewmodel/contractViewModel.js
  hedera-mirror-rest/viewmodel/index.js
Labels: enhancement, P2, rest, json-rpc

#4184 Optimize token balances in Rest API
  .github/workflows/rest-api.yml
  docs/configuration.md
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/accounts-range.json
  hedera-mirror-rest/__tests__/specs/accounts/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/balance-false.json
  hedera-mirror-rest/__tests__/specs/accounts/balance-range.json
  hedera-mirror-rest/__tests__/specs/accounts/limit-capped-at-max.json
  hedera-mirror-rest/__tests__/specs/accounts/limit.json
  hedera-mirror-rest/__tests__/specs/accounts/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/accounts/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/publickey.json
  hedera-mirror-rest/__tests__/specs/accounts/specific-id-no-balance.json
  hedera-mirror-rest/__tests__/specs/accounts/specific-id.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/invalid-transactiontype.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/token-balance-limit.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/__tests__/specs/balances/balance-range.json
  hedera-mirror-rest/__tests__/specs/balances/limit.json
  hedera-mirror-rest/__tests__/specs/balances/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/balances/no-params.json
  hedera-mirror-rest/__tests__/specs/balances/specific-id.json
  hedera-mirror-rest/__tests__/specs/balances/timestamp.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/empty-timestamp-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/specific-id.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp-range-not-found.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/package.json
Labels: enhancement, P2, rest

#4200 Add UNKNOWN to OpenAPI transaction types
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, P1, rest

#4190 Use hedera network alias in Rosetta
  hedera-mirror-rosetta/app/domain/types/account_id.go
  hedera-mirror-rosetta/app/domain/types/account_id_test.go
  hedera-mirror-rosetta/app/domain/types/public_key.go
  hedera-mirror-rosetta/app/domain/types/public_key_test.go
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/services/account_service_test.go
  hedera-mirror-rosetta/app/services/block_service_test.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/test/bdd-client/scenario/crypto.go
Labels: enhancement, P1, rosetta
