Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-10, with the labels that each got.

#4592 Use current balance in balances REST API
  docs/configuration.md
  hedera-mirror-rest/__tests__/specs/balances/all-params.json
  hedera-mirror-rest/__tests__/specs/balances/balance-range.json
  hedera-mirror-rest/__tests__/specs/balances/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/balances/invalid-query.json
  hedera-mirror-rest/__tests__/specs/balances/limit.json
  hedera-mirror-rest/__tests__/specs/balances/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/balances/no-params.json
  hedera-mirror-rest/__tests__/specs/balances/not-found.json
  hedera-mirror-rest/__tests__/specs/balances/publickey.json
  hedera-mirror-rest/__tests__/specs/balances/repeated-valid-params.json
  hedera-mirror-rest/__tests__/specs/balances/specific-id.json
  hedera-mirror-rest/__tests__/specs/balances/timestamp.json
  hedera-mirror-rest/balances.js
Labels: enhancement, rest

#4596 Rename FileStreamSignature to StreamFileSignature
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFileSignature.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/ConsensusValidator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/ConsensusValidatorImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/NodeSignatureVerifier.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/signature/CompositeSignatureFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/signature/ProtoSignatureFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/signature/SignatureFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/signature/SignatureFileReaderV2.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/signature/SignatureFileReaderV5.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/StreamFileSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/ConsensusValidatorImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/NodeSignatureVerifierTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/signature/ProtoSignatureFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/signature/SignatureFileReaderV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/signature/SignatureFileReaderV5Test.java
Labels: enhancement, technical debt, parser

#4600 Compatibility changes to support Gradle
  .gitignore
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityIdEndec.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/entity/EntityIdEndecTest.java
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/HealthCheckConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/IntegrationTestConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-monitor/pom.xml
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/main/java/com/hedera/mirror/test/MirrorTestApplication.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-web3/pom.xml
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/Web3Application.java
  hedera-mirror-web3/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/log4j2.xml
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
  hedera-mirror-web3/src/test/resources/log4j2-test.xml
  lombok.config
Labels: enhancement, process

#4609 Fix acceptance tests regression
  hedera-mirror-test/src/main/java/com/hedera/mirror/rest/MirrorTestApplication.java
Labels: bug, test

#4616 Fix acceptance test freezing
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/hashgraph/sdk/Client.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/FileClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ScheduleClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/SdkProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
Labels: bug, test

#4647 Fix acceptance test freezing (0.66)
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/hashgraph/sdk/Client.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/FileClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ScheduleClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/SdkProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
Labels: bug, test

#4611 Add Contract State table
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractState.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/util/DomainUtilsTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/ContractStateRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.67.1__contract_state.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ContractStateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/ContractStateRepositoryTest.java
Labels: enhancement, parser, contract

#4650 Add `hedera-evm-api` dependency to `hedera-mirror-web3` module
  hedera-mirror-web3/pom.xml
  pom.xml
Labels: enhancement, web3, limechain

#4652 Add blocks API to monitor dashboard
  hedera-mirror-rest/monitoring/monitor_apis/block_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/config.js
  hedera-mirror-rest/monitoring/monitor_apis/config/default.serverlist.json
  hedera-mirror-rest/monitoring/monitor_apis/monitor_tests.js
Labels: enhancement, good first issue, monitor

#4617 Create a startup probe for acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/StartupProbe.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/RestPollingProperties.java
Labels: enhancement, good first issue, test

#4657 Add token relationships API to monitor dashboard
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/config/default.serverlist.json
Labels: enhancement, monitor

#4672 Don't show transactions unrelated to an account
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id.json
  hedera-mirror-rest/transactions.js
Labels: bug, rest

#4548 Add a contract state REST API
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/invalid-contract.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/invalid-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/multiple-slot-param-eq.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/not-found.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/order.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/slot-param-eq.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/slot-param-gt-gte.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/slot-param-lt-lte.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractStateViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/controllers/baseController.js
  hedera-mirror-rest/controllers/blockController.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/model/contractState.js
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/routes/contractRoute.js
  hedera-mirror-rest/service/baseService.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/contractStateViewModel.js
  hedera-mirror-rest/viewmodel/index.js
Labels: enhancement, rest, limechain

#4678 Fix acceptance tests regression on startup
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/StartupProbe.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
Labels: bug, test, regression

#4676 Fix balance monitor api tests
  hedera-mirror-rest/monitoring/monitor_apis/balance_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
Labels: bug, monitor, balances

#4680 Fix balance monitor api tests (0.66)
  hedera-mirror-rest/monitoring/monitor_apis/balance_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
Labels: bug, monitor, balances

#4681 Fix slow monitor startup
  charts/hedera-mirror-monitor/values.yaml
Labels: bug, process, monitor

#4698 Fix BalanceReconciliationServiceTest failure
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationService.java
Labels: bug, test, parser

#4699 Fix BalanceReconciliationServiceTest failure (0.66)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationService.java
Labels: bug, test, parser

#4705 Fix web3 build error
  build.gradle.kts
  gradle.properties
  hedera-mirror-web3/pom.xml
Labels: bug, process

#4719 Fix hedera-mirror-web3 build failure
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  hedera-mirror-web3/pom.xml
  pom.xml
Labels: bug, process

#4720 Rosetta show failed transaction status
  hedera-mirror-rosetta/app/persistence/domain/non_fee_transfer.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
Labels: enhancement, rosetta

#4702 Fix BalanceReconciliationServiceTest failure (0.67)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationService.java
  pom.xml
Labels: bug, test, parser

#4735 Rosetta show failed transaction status (0.67)
  hedera-mirror-rosetta/app/persistence/domain/non_fee_transfer.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
Labels: enhancement, rosetta

#4695 Fix v2 importer tests
  .github/workflows/importer.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/R__entity_state_start.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/R__entity_state_start.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__materialized_view_ownership.sql
  hedera-mirror-importer/src/main/resources/db/template/upsert.vm
  hedera-mirror-importer/src/main/resources/db/template/upsert_history.vm
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/DisableRepeatableSqlMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddAddressBookServiceEndpointsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddRootContractIdMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/CleanupEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ContractLogsConvertTopicsToBytesMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ContractResultMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ConvertEthereumTransactionValueMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/EntityTimestampMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/EntityTimestampMigrationV1_46_0Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MissingEvmAddressMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveEntityTypeMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SidecarContractMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SupportDeletedTokenDissociateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TopicMessagePayerAccountIdMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TransferTransactionPayerMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
  hedera-mirror-importer/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-web3/src/test/resources/bootstrap-v2.yml
Labels: bug, enhancement, test, regression, parser, database

#4746 Rosetta show failed transaction status (0.66)
  hedera-mirror-rosetta/app/persistence/domain/non_fee_transfer.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
Labels: enhancement, rosetta

#4751 Fix importer issue when generating EVM address
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: bug, parser

#4753 Fix cluster health check
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/ClusterHealthIndicator.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/ClusterHealthIndicatorTest.java
Labels: bug, monitor

#4754 Fix importer issue when generating EVM address (0.66)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: bug, parser

#4755 Fix importer issue when generating EVM address (0.63)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: bug, parser

#4756 Fix cluster health check (0.67)
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/ClusterHealthIndicator.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/ClusterHealthIndicatorTest.java
Labels: bug, monitor

#4757 Fix importer issue when generating EVM address (0.67)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: bug, parser

#4766 Rosetta resolve account with invalid alias to 0.0.X format
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
Labels: bug, rosetta

#4767 Rosetta resolve account with invalid alias to 0.0.X format (0.66)
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
Labels: bug, rosetta

#4768 Rosetta resolve account with invalid alias to 0.0.X format (0.67)
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
Labels: bug, rosetta

#4745 Remove rosetta balance offset post services 0.30
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/common.go
  hedera-mirror-rosetta/app/persistence/common_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
Labels: enhancement, database, rosetta

#4773 Remove rosetta balance offset post services 0.30 (0.67)
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/common.go
  hedera-mirror-rosetta/app/persistence/common_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
Labels: enhancement, rosetta

#4774 Remove rosetta balance offset post services 0.30 (0.66)
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/common.go
  hedera-mirror-rosetta/app/persistence/common_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
Labels: enhancement, rosetta

#4749 Fix v2 rest tests
  .github/workflows/rest-api.yml
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/model/contractLog.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/service/recordFileService.js
  hedera-mirror-rest/stateproof.js
Labels: bug, test, regression

#4772 Improve alias to EVM address conversion
  build.gradle.kts
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/BatchEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: enhancement, parser

#4778 Improve alias to EVM address conversion (0.67)
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: enhancement, parser

#4779 Improve alias to EVM address conversion (0.66)
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: enhancement, parser
