Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-09, with the labels that each got.

#4400 Fix materialized view entity_state_start owner
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.9__change_entity_state_start_owner.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__materialized_view_ownership.sql
Labels: bug, parser, database

#4403 Fix materialized view entity_state_start owner (0.64)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.9__change_entity_state_start_owner.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__materialized_view_ownership.sql
Labels: bug, parser, database

#4344 Add Node Stake Consensus
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/addressbook/AddressBook.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CacheConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/ConsensusValidator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/ConsensusValidatorImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/NodeSignatureVerifier.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NodeStakeRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/ConsensusValidatorImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/NodeSignatureVerifierTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NodeStakeRepositoryTest.java
Labels: enhancement, P2, downloader

#4421 Fix mainnet-public monitor alerts (0.64)
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/common.js
  hedera-mirror-rest/monitoring/monitor_apis/config.js
  hedera-mirror-rest/monitoring/monitor_apis/config/default.serverlist.json
  hedera-mirror-rest/monitoring/monitor_apis/logger.js
  hedera-mirror-rest/monitoring/monitor_apis/monitor.js
  hedera-mirror-rest/monitoring/monitor_apis/monitor_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/server.js
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
Labels: bug, monitor

#4422 Add a retry middleware to reduce 502 errors
  charts/README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-grpc/templates/middleware.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-rest/templates/middleware.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/templates/middleware.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/templates/middleware.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values.yaml
Labels: bug, ops

#4427 Add created_timestamp to accounts REST api reponse
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/specs/accounts/accounts-range.json
  hedera-mirror-rest/__tests__/specs/accounts/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/balance-false.json
  hedera-mirror-rest/__tests__/specs/accounts/balance-range.json
  hedera-mirror-rest/__tests__/specs/accounts/limit-capped-at-max.json
  hedera-mirror-rest/__tests__/specs/accounts/limit.json
  hedera-mirror-rest/__tests__/specs/accounts/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/accounts/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/publickey.json
  hedera-mirror-rest/__tests__/specs/accounts/specific-id-no-balance.json
  hedera-mirror-rest/__tests__/specs/accounts/specific-id.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/token-balance-limit.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, rest

#4425 Transaction by hash REST api
  hedera-mirror-rest/__tests__/__snapshots__/transactions.test.js.snap
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/empty-logs.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-no-state-change.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-partial-result-match.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id-deterministic-response.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id.json
  hedera-mirror-rest/__tests__/specs/transactions/all-params.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type-crypto-and-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type-crypto-and-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type.json
  hedera-mirror-rest/__tests__/specs/transactions/duplicate-token-transfers-bug.json
  hedera-mirror-rest/__tests__/specs/transactions/fail-result.json
  hedera-mirror-rest/__tests__/specs/transactions/limit.json
  hedera-mirror-rest/__tests__/specs/transactions/multiple-account-ids.json
  hedera-mirror-rest/__tests__/specs/transactions/nft-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/success-result.json
  hedera-mirror-rest/__tests__/specs/transactions/timestamp-no-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/timestamp.json
  hedera-mirror-rest/__tests__/specs/transactions/tokenwipe.json
  hedera-mirror-rest/__tests__/specs/transactions/transactiontype.json
  hedera-mirror-rest/__tests__/specs/transactions/unknown-result.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/assessed-custom-fees-with-effective-payer-account-ids.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/assessed-custom-fees.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/duplicate-transactions.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/invalid-transaction-id-or-hash.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/invalid-transaction-id.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nft-transfers-multiple-tokens.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nft-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/not-found.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/repeated-valid-params-schedule-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/repeated-valid-params-schedule-true.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/return-multiple-nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-true.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/tokentransfer.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/tokenwipe.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/transaction.js
  hedera-mirror-rest/model/transactionHash.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest

#4429 Disable balance reconciliation job in rosetta docker image
  hedera-mirror-rosetta/build/supervisord.conf
Labels: enhancement, rosetta

#4431 Disable balance reconciliation job in rosetta docker image (0.64)
  hedera-mirror-rosetta/build/supervisord.conf
Labels: enhancement, rosetta

#4432 Transaction by hash REST api (0.64)
  hedera-mirror-rest/__tests__/__snapshots__/transactions.test.js.snap
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/empty-logs.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-no-state-change.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-partial-result-match.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id-deterministic-response.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id.json
  hedera-mirror-rest/__tests__/specs/transactions/all-params.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type-crypto-and-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type-crypto-and-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type.json
  hedera-mirror-rest/__tests__/specs/transactions/duplicate-token-transfers-bug.json
  hedera-mirror-rest/__tests__/specs/transactions/fail-result.json
  hedera-mirror-rest/__tests__/specs/transactions/limit.json
  hedera-mirror-rest/__tests__/specs/transactions/multiple-account-ids.json
  hedera-mirror-rest/__tests__/specs/transactions/nft-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/success-result.json
  hedera-mirror-rest/__tests__/specs/transactions/timestamp-no-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/timestamp.json
  hedera-mirror-rest/__tests__/specs/transactions/tokenwipe.json
  hedera-mirror-rest/__tests__/specs/transactions/transactiontype.json
  hedera-mirror-rest/__tests__/specs/transactions/unknown-result.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/assessed-custom-fees-with-effective-payer-account-ids.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/assessed-custom-fees.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/duplicate-transactions.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/invalid-transaction-id-or-hash.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/invalid-transaction-id.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nft-transfers-multiple-tokens.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nft-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/not-found.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/repeated-valid-params-schedule-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/repeated-valid-params-schedule-true.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/return-multiple-nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-true.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/tokentransfer.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/tokenwipe.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/transaction.js
  hedera-mirror-rest/model/transactionHash.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest

#4435 Fix some minor documentation bugs
  docs/rosetta/README.md
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation

#4437 Add an index on contract_result.hash
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.11__contract_result_hash_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
Labels: enhancement, database

#4440 Remove JVM option causing ingestion issue in containerized env
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: enhancement, performance, parser

#4457 Fix monitor onErrorDropped no valid nodes
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
Labels: bug, monitor

#4439 Add transaction and block data to ContractLogs REST API
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/no-address-with-reach-max-limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/no-address-with-repeated-topics.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/no-address-with-timestamp-out-of-range.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-index-timestamp-range.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-index-timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-invalid-operators.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-multi-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/index.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/order-asc.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/order-desc.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/repeated-topics-with-timestamp-no-results.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/repeated-topics-with-timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-with-timestamp-gt-lt.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-with-timestamp.json
  hedera-mirror-rest/__tests__/viewmodel/contractLogViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/contractResult.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/viewmodel/contractLogViewModel.js
  hedera-mirror-rest/viewmodel/contractResultLogViewModel.js
Labels: enhancement, rest, json-rpc, limechain

#4461 HIP-406 Pending Reward REST API
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/accounts-range.json
  hedera-mirror-rest/__tests__/specs/accounts/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/balance-false.json
  hedera-mirror-rest/__tests__/specs/accounts/balance-range.json
  hedera-mirror-rest/__tests__/specs/accounts/limit-capped-at-max.json
  hedera-mirror-rest/__tests__/specs/accounts/limit.json
  hedera-mirror-rest/__tests__/specs/accounts/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/accounts/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/publickey.json
  hedera-mirror-rest/__tests__/specs/accounts/specific-id-no-balance.json
  hedera-mirror-rest/__tests__/specs/accounts/specific-id.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/token-balance-limit.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, rest

#4470 Fix column transaction_hash of relation contract_result contains null…
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.4.1__contract_result_hash.sql
Labels: bug, database

#4471 Fix column transaction_hash of relation contract_result contains null…
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.4.1__contract_result_hash.sql
Labels: bug, database

#4483 Fix null hash on contract results in REST API
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-number.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/results/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/transaction-index.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/all-params-with-create2.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/block-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/block-number.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/evm-address-path-param.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/from-address.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/from.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/specific-id.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/transaction-index.json
  hedera-mirror-rest/__tests__/viewmodel/contractResultViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
  pom.xml
Labels: bug, rest

#4485 Improve pending reward calculation (0.64)
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityHistory.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/StreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParsedEvent.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.11__contract_result_hash_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.65.12__improve_pending_reward.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.4__materialized_view_ownership.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
  hedera-mirror-rosetta/build/supervisord.conf
  pom.xml
Labels: bug, performance, parser

#4507 Fix JS monitor false alert (0.64)
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
Labels: bug, regression, monitor

#4511 Fix some issues in contract result by transaction id or hash REST api
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/exclude-transaction-results.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-ethereum-transaction-without-contract-result.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/transactionService.js
Labels: bug, rest

#4529 Allow ContractAction recipient not set (0.64)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  pom.xml
Labels: bug, parser

#4530 Allow ContractAction recipient not set (0.65)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-rest/__tests__/specs/contracts/results/actions/no-params.json
  hedera-mirror-rest/__tests__/viewmodel/contractActionViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/viewmodel/contractActionViewModel.js
  pom.xml
Labels: bug, parser

#4528 Use db owner in java migration when needed
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/JdbcTemplateConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/Owner.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddAddressBookServiceEndpointsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddRootContractIdMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/CleanupEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ContractLogsConvertTopicsToBytesMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveEntityTypeMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SupportDeletedTokenDissociateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TopicMessagePayerAccountIdMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TransferTransactionPayerMigrationTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
  hedera-mirror-importer/src/test/resources/config/bootstrap.yml
  hedera-mirror-importer/src/test/resources/db/migration/v1/V1.10.0.1__fix_regular_db_user_privileges.sql
  hedera-mirror-importer/src/test/resources/db/scripts/init.sql
  lombok.config
Labels: bug, enhancement, test, regression, parser, database

#4534 Fix downloader thread blocked
  docs/configuration.md
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/PendingDownload.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/AbstractRecordFileDownloaderTest.java
Labels: bug, downloader

#4535 Fix downloader thread blocked (0.65)
  docs/configuration.md
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/PendingDownload.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/AbstractRecordFileDownloaderTest.java
Labels: bug, downloader

#4536 Fix downloader thread blocked (0.64)
  docs/configuration.md
  hedera-mirror-importer/pom.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/PendingDownload.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/AbstractRecordFileDownloaderTest.java
Labels: bug, downloader

#4549 Upgrade to use the v3 codecov github action for github workflows.
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/rosetta-api.yml
  .github/workflows/web3.yml
Labels: bug, process

#4555 Update list of unreleased supply accounts
  hedera-mirror-rest/config/application.yml
Labels: bug, rest

#4556 Update list of unreleased supply accounts (0.65)
  hedera-mirror-rest/config/application.yml
Labels: bug, rest

#4533 Change Rosetta reconciliation to use hardcoded balance offset
  hedera-mirror-rosetta/app/config/application.yml
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-rosetta/app/config/config_test.go
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/block_test.go
  hedera-mirror-rosetta/app/persistence/common.go
  hedera-mirror-rosetta/app/persistence/common_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/test/db/db.go
Labels: bug, rosetta

#4559 Upgrade to use the v3 codecov github action for github workflows. (#4…
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/rosetta-api.yml
  .github/workflows/web3.yml
Labels: bug, process

#4560 Change Rosetta reconciliation to use hardcoded balance offset (0.65)
  hedera-mirror-rosetta/app/config/application.yml
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-rosetta/app/config/config_test.go
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/block_test.go
  hedera-mirror-rosetta/app/persistence/common.go
  hedera-mirror-rosetta/app/persistence/common_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/test/db/db.go
Labels: bug, rosetta

#4537 HIP-573 Custom fees blanket exemptions persistence code and test changes
  docs/design/custom-fees.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/CustomFee.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.66.0__custom_fee_blanket_exemption_enhancement.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/CustomFeeWrapper.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenFeeScheduleUpdateTransactionHandlerTest.java
  pom.xml
Labels: enhancement, good first issue, parser

#4564 Rosetta limit the number of transactions in block response
  .github/workflows/rosetta-api.yml
  hedera-mirror-rosetta/app/config/application.yml
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/app/services/block_service.go
  hedera-mirror-rosetta/app/services/block_service_test.go
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/test/bdd-client/client/client.go
Labels: enhancement, rosetta

#4565 Add a q param to network supply
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/middleware/responseHandler.test.js
  hedera-mirror-rest/__tests__/specs/network/supply/invalid-parameters-q.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins.json
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-rest/middleware/responseHandler.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest

#4525 Add docs on how to filter by entity and transaction type
  docs/configuration.md
Labels: documentation, good first issue

#4567 HIP-573 Custom fees blanket exemptions API
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/tokens/{id}/custom-fees.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/historical-custom-fees.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/nft-custom-fees.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/viewmodel/customFeeViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/customFee.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/viewmodel/customFeeViewModel.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorFixedFee.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorFractionalFee.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
Labels: enhancement, rest

#4569 Rosetta support transaction memo
  hedera-mirror-rosetta/app/domain/types/block_test.go
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/transaction.go
  hedera-mirror-rosetta/app/domain/types/transaction_test.go
  hedera-mirror-rosetta/app/errors/errors.go
  hedera-mirror-rosetta/app/persistence/testmain_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/services/block_service_test.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/app/services/network_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/test/bdd-client/client/client.go
  hedera-mirror-rosetta/test/bdd-client/scenario/asserter.go
  hedera-mirror-rosetta/test/bdd-client/scenario/base.go
  hedera-mirror-rosetta/test/bdd-client/scenario/crypto.go
  hedera-mirror-rosetta/test/bdd-client/scenario/token.go
Labels: enhancement, rosetta

#4574 Rosetta limit the number of transactions in block response (0.65)
  .github/workflows/rosetta-api.yml
  hedera-mirror-rosetta/app/config/application.yml
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/app/services/block_service.go
  hedera-mirror-rosetta/app/services/block_service_test.go
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/test/bdd-client/client/client.go
Labels: enhancement, rosetta

#4571 Fix GCS downloader regression
  docs/design/allowances.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/CompositeStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/TransientProviderException.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/CompositeStreamFileProviderTest.java
Labels: bug, regression, downloader

#4566 Expand entity filtering to payer and transfers
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TransactionFilterFields.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/CommonParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/CommonParserPropertiesTest.java
Labels: enhancement, good first issue, parser, java
