Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-05, with the labels that each got.

#3703 Improve rest tests with customized configuration per spec
  hedera-mirror-rest/__tests__/__snapshots__/utilsFilters.test.js.snap
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-05-limit-order.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-12-token-serial-range-limit.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-token-allowances-04-spenderId-range.spec.json
  hedera-mirror-rest/__tests__/specs/balances-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-08-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-06-limit.spec.json
  hedera-mirror-rest/__tests__/specs/schedules-09-limit.spec.json
  hedera-mirror-rest/__tests__/specs/token-balances-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-13-limit.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-13-limit.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-09-limit.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-15-limit.spec.json
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/utils.js
Labels: enhancement, P1, rest

#3621 fix record files block numbers
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BlockNumberMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MirrorBaseJavaMigration.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.58.5__remove_record_files_index_unique_constraint.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileV2DownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BlockNumberMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MirrorBaseJavaMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
Labels: bug, P1, database, json-rpc

#3676 Add Parent RecordItem link for easy parent child transaction consolidation
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/RecordFileReaderTest.java
  hedera-mirror-importer/src/test/resources/data/recordstreams/eth-0.26.0/record0.0.3/2022-04-28T15_28_34.014499000Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/eth-0.26.0/record0.0.3/2022-04-28T15_28_34.014499000Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/eth-0.26.0/record0.0.3/2022-04-28T15_28_40.210859000Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/eth-0.26.0/record0.0.3/2022-04-28T15_28_40.210859000Z.rcd_sig
Labels: enhancement, P1, parser, java, json-rpc

#3673 Add support for repeated topics in contract logs REST API
  hedera-mirror-rest/__tests__/controllers/__snapshots__/contractController.test.js.snap
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/specs/contracts-logs-15-repeated-topics-with-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-15-topics-with-timestamp-multiple-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-19-repeated-topics-with-timestamp-no-results.spec.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
Labels: enhancement, P2, rest, json-rpc

#3679 Dynamically generate v2 backup & restore SQL
  hedera-mirror-importer/src/main/resources/db/scripts/v2/alterSchema.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvBackupTables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvRestoreTables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.config
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.sh
Labels: enhancement, P3, database

#3731 Drop from_address in ethereum_transaction
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/EthereumTransaction.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.59.0__ethereum_drop_sender.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
Labels: bug, P1, database, java

#3719 Fix incorrect token balance values returned in rest api
  hedera-mirror-rest/__tests__/__snapshots__/utilsFilters.test.js.snap
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/middleware/responseHandler.test.js
  hedera-mirror-rest/__tests__/mockpool.js
  hedera-mirror-rest/__tests__/schedules.test.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/service/cryptoAllowanceService.test.js
  hedera-mirror-rest/__tests__/service/entityService.test.js
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/service/recordFileService.test.js
  hedera-mirror-rest/__tests__/service/transactionService.test.js
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-crypto-allowances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-token-allowances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/balances-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/topicmessages-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-37-specific-id-nft-transfers.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractViewModel.test.js
  hedera-mirror-rest/__tests__/viewmodel/networkNodeViewModel.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/errors/invalidArgumentError.js
  hedera-mirror-rest/middleware/responseHandler.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/server.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/recordFileService.js
  hedera-mirror-rest/stateproof.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/addressBookServiceEndpointViewModel.js
  hedera-mirror-rest/viewmodel/blockViewModel.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
  hedera-mirror-rest/viewmodel/contractViewModel.js
  hedera-mirror-rest/viewmodel/cryptoAllowanceViewModel.js
  hedera-mirror-rest/viewmodel/networkNodeViewModel.js
  hedera-mirror-rest/viewmodel/nftTransactionHistoryViewModel.js
  hedera-mirror-rest/viewmodel/nftViewModel.js
  hedera-mirror-rest/viewmodel/tokenAllowanceViewModel.js
  hedera-mirror-rest/viewmodel/topicMessageViewModel.js
  hedera-mirror-rest/viewmodel/transactionIdViewModel.js
Labels: bug, P1, rest

#3734 Drop from_address in ethereum_transaction (0.56)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/EthereumTransaction.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.59.0__ethereum_drop_sender.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
Labels: bug, P1, database, java

#3737 Fix E2E metric
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/transaction/consensus/ConsensusSubmitMessageTransactionSupplier.java
Labels: bug, P2, monitor

#3760 Fix EVM address migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/AccountEvmAddressMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AccountEvmAddressMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: bug, P1, database

#3761 Fix evm address migration (0.56)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/AccountEvmAddressMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AccountEvmAddressMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: bug, P1, database

#3762 Fix E2E metric (0.56)
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/transaction/consensus/ConsensusSubmitMessageTransactionSupplier.java
Labels: bug, P2, ops

#3763 Update OpenAPI spec w missing exchangerate and allowance info
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, P3, rest

#3765 Set cache control for exchangerate endpoint
  hedera-mirror-rest/config/application.yml
Labels: enhancement, P2, rest, json-rpc

#3718 Get block REST API
  hedera-mirror-rest/__tests__/service/recordFileService.test.js
  hedera-mirror-rest/__tests__/specs/blocks-get-by-hash-or-number-01-number.json
  hedera-mirror-rest/__tests__/specs/blocks-get-by-hash-or-number-02-hash-64.json
  hedera-mirror-rest/__tests__/specs/blocks-get-by-hash-or-number-03-hash-96.json
  hedera-mirror-rest/__tests__/specs/blocks-get-by-hash-or-number-04-invalid-params.json
  hedera-mirror-rest/__tests__/specs/blocks-get-by-hash-or-number-05-handle-errors.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/controllers/blockController.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/routes/blockRoute.js
  hedera-mirror-rest/service/recordFileService.js
  hedera-mirror-rest/utils.js
Labels: enhancement, P1, rest, json-rpc

#3764 Search contract result details by eth hash
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/service/transactionService.test.js
  hedera-mirror-rest/__tests__/specs/contracts-result-details-04-transactionid-or-hash.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-05-transactionid-or-hash-multiple-single-result.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-06-transactionid-or-hash-result-partial-result.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-07-transactionid-transaction-or-hash-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-08-invalid-transactionid-or-hash.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-08-invalid-transactionid.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-09-transactionid-invalid-nonce.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-09-transactionid-or-hash-invalid-nonce.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-15-transactionid-or-hash-result-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-17-hash-single-transaction-breach.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-18-by-hash-nonce-is-ignored.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/routes/contractRoute.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/transactionService.js
  hedera-mirror-rest/utils.js
Labels: enhancement, P2, rest, json-rpc

#3770 Fix EthereumParser transaction type choice logic
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/ethereum/CompositeEthereumTransactionParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/ethereum/Eip1559EthereumTransactionParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/ethereum/CompositeEthereumTransactionParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/ethereum/LegacyEthereumTransactionParserTest.java
Labels: bug, P1, parser

#3771 Fix EthereumParser transaction type choice logic (0.56)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/ethereum/CompositeEthereumTransactionParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/ethereum/Eip1559EthereumTransactionParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/ethereum/CompositeEthereumTransactionParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/ethereum/LegacyEthereumTransactionParserTest.java
Labels: bug, P1, parser, json-rpc

#3798 Populate ethereum nonce
  .github/workflows/importer.yml
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/History.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/Entity.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ColumnMetadata.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityMetadata.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistry.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactory.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.59.2__default_ethereum_nonce.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/template/upsert.vm
  hedera-mirror-importer/src/main/resources/db/template/upsert_history.vm
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/ethereum/CompositeEthereumTransactionParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/ethereum/Eip1559EthereumTransactionParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactoryTest.java
Labels: enhancement, P1, parser

#3807 Update block number mapping in migration to latest values
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BlockNumberMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BlockNumberMigrationTest.java
Labels: enhancement, P2, database

#3806 Upgrade to Java 17
  .github/workflows/auto-release.yml
  .github/workflows/charts.yml
  .github/workflows/grpc-api.yml
  .github/workflows/importer.yml
  .github/workflows/monitor.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rest-api.yml
  .github/workflows/rosetta-api.yml
  .github/workflows/security.yml
  .github/workflows/web3.yml
  .github/workflows/windows.yml
  docs/installation.md
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-rosetta/build/Dockerfile
  hedera-mirror-web3/Dockerfile
  hedera-mirror-web3/pom.xml
  pom.xml
Labels: enhancement, P3, process

#3816 Flatten Nft transfer chain
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: enhancement, P1, parser, java

#3817 Flatten NFT transfer chain (0.57)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: enhancement, P1, parser

#3814 Convert ethereum transaction value from weibar to tinybar
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/converter/WeiBarTinyBarConverter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ConvertEthereumTransactionValueMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ConvertEthereumTransactionValueMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
  hedera-mirror-rest/__tests__/specs/contracts-result-details-04-transactionid-or-hash.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-05-transactionid-or-hash-multiple-single-result.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-06-transactionid-or-hash-result-partial-result.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-12-failed-contractcreate.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-17-hash-single-transaction-breach.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-18-by-hash-nonce-is-ignored.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-19-populated-eth-data.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-20-non-populated-eth-data.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-21-populated-eth-data-func-params-from-filedata.spec.json
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
Labels: bug, P2, rest, parser, json-rpc

#3818 Fix get contract result times out
  docs/database.md
  docs/rest/README.md
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.60.1__add_contract_result_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-rest/controllers/contractController.js
Labels: bug, P1, performance

#3848 Fix surefire unable to catch test case failures
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchUpserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  pom.xml
Labels: bug, P1, test, parser

#3849 Logs duplicate token account association and token balance
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
Labels: enhancement, P1, balances, hts

#3850 Logs duplicate token account association and token balance (0.57)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
Labels: enhancement, P1, balances, hts

#3852 Add logs_bloom and gas_used to Blocks API
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/blocks-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-02-limit-param.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-03-limit-order-asc-params.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-04-block.number-param.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-05-timestamp-param.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-07-more-than-one-occurrence-of-block.number-filter.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-08-more-than-one-occurrence-of-block.number-filter-and-timestamp-filter.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-09-all-params-together.spec.json
  hedera-mirror-rest/__tests__/specs/blocks-12-block.number-gt-gte-filter.json
  hedera-mirror-rest/__tests__/specs/blocks-13-block.number-lt-lte-filter.json
  hedera-mirror-rest/__tests__/specs/blocks-14-timestamp-gt-gte-filter.json
  hedera-mirror-rest/__tests__/specs/blocks-15-timestamp-lt-lte-filter.json
  hedera-mirror-rest/__tests__/specs/blocks-16-timestamp-eq.json
  hedera-mirror-rest/__tests__/specs/blocks-17-block.number-eq.json
  hedera-mirror-rest/__tests__/specs/blocks-get-by-hash-or-number-01-number.json
  hedera-mirror-rest/__tests__/specs/blocks-get-by-hash-or-number-02-hash-64.json
  hedera-mirror-rest/__tests__/specs/blocks-get-by-hash-or-number-03-hash-96.json
  hedera-mirror-rest/__tests__/viewmodel/blockViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/recordFile.js
  hedera-mirror-rest/service/recordFileService.js
  hedera-mirror-rest/viewmodel/blockViewModel.js
Labels: enhancement, P2, rest, json-rpc

#3880 Fix security check
  .github/workflows/security.yml
  .mvn/wrapper/maven-wrapper.properties
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  pom.xml
  suppressions.xml
Labels: enhancement, P1, security
