Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-06, with the labels that each got.

#3870 Expose the ethereum hash in /api/v1/contracts/results
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts-results-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-02-from.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-03-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-05-order.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-06-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-07-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-08-from-address.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-09-all-params-with-create2.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-10-block-number.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-11-evm-address-path-param.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-12-internal-true.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-13-internal-false.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-14-block-hash.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-17-transaction-index.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-01-no-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-02-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-03-block-number.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-04-internal-true.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-05-internal-false.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-06-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-07-order.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-08-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-09-transaction-index.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-list-11-block-hash.spec.json
  hedera-mirror-rest/__tests__/viewmodel/contractResultViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
  hedera-mirror-rest/viewmodel/feeScheduleViewModel.js
Labels: enhancement, P2, rest, json-rpc

#3884 Revert upgrade to Spring Boot 2.7.0
  pom.xml
Labels: bug, P1, monitor

#3845 Add entity staking fields
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.60.3__add_staking_fields.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchUpserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
  pom.xml
Labels: enhancement, P1, parser

#3854 HIP-406 store staking rewards
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/StakingRewardTransfer.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MirrorBaseJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/StakingRewardTransferRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.60.4__staking_reward_transfer.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordParserTest.java
Labels: enhancement, P1, parser

#3889 Bump Spring Boot from 2.6.8 to 2.7.0
  hedera-mirror-monitor/pom.xml
  pom.xml
Labels: dependencies

#3909 Persist per node reward rate
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/addressbook/NodeStake.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NodeStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.61.0__update_node_stake.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNodeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NodeStakeRepositoryTest.java
  pom.xml
Labels: enhancement, P1, parser

#3913 Fix use of shard and realm in contracts REST API
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/specs/contracts-06-specific-id-not-found.spec.json
  hedera-mirror-rest/controllers/contractController.js
Labels: bug, P3, rest

#3914 Persist per node reward rate (0.58)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/addressbook/NodeStake.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NodeStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.61.0__update_node_stake.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNodeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NodeStakeRepositoryTest.java
  pom.xml
Labels: enhancement, P1, parser

#3883 Add 0x prefix to Rosetta Account Alias
  hedera-mirror-rosetta/app/domain/types/account_id.go
  hedera-mirror-rosetta/app/domain/types/account_id_test.go
  hedera-mirror-rosetta/app/services/account_service_test.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/app/tools/hex.go
  hedera-mirror-rosetta/test/bdd-client/scenario/crypto.go
Labels: enhancement, P1, rosetta

#3907 Add Configurable Valid Duration Seconds to Rosetta Transaction
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
Labels: enhancement, P1, rosetta

#3917 Improve record file size support
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BlockNumberMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.61.1__add_record_file_size.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestRecordFiles.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/AbstractRecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/RecordFileV2DownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/RecordFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/RecordFileRepositoryTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/blocks-01-no-args.spec.json
  hedera-mirror-rest/__tests__/viewmodel/blockViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/recordFile.js
  hedera-mirror-rest/service/recordFileService.js
  hedera-mirror-rest/viewmodel/blockViewModel.js
Labels: bug, P2, parser, json-rpc

#3915 Support consistent block number in rosetta
  .github/workflows/charts.yml
  .github/workflows/rosetta-api.yml
  charts/hedera-mirror-rosetta/templates/tests/pod.yaml
  charts/hedera-mirror-rosetta/values.yaml
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/block_test.go
  hedera-mirror-rosetta/scripts/validation/postman/rosetta-api-postman.json
Labels: enhancement, P1, rosetta

#3922 Update block number migration to latest
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BlockNumberMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BlockNumberMigrationTest.java
Labels: enhancement, P2, database

#3944 Avoid accidentally replacing semantic version in rosetta chart test pod template
  charts/hedera-mirror-rosetta/templates/tests/pod.yaml
Labels: bug, P3, test

#3947 Update block number migration to latest (#3922)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BlockNumberMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BlockNumberMigrationTest.java
Labels: enhancement, P2, database

#3960 Fix exchange rate & fee schedule APIs
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/model/exchangeRate.test.js
  hedera-mirror-rest/__tests__/model/feeSchedule.test.js
  hedera-mirror-rest/__tests__/s3client.test.js
  hedera-mirror-rest/__tests__/service/fileDataService.test.js
  hedera-mirror-rest/__tests__/specs/contracts-result-details-21-populated-eth-data-func-params-from-filedata.spec.json
  hedera-mirror-rest/__tests__/specs/network-fees-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/network-fees-02-order.spec.json
  hedera-mirror-rest/__tests__/specs/network-fees-03-timestamp-upper-bound.spec.json
  hedera-mirror-rest/__tests__/specs/network-fees-04-timestamp-lower-bound.spec.json
  hedera-mirror-rest/__tests__/specs/network-fees-07-timestamp-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/network-fees-08-unserializable-contents.spec.json
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/model/exchangeRate.js
  hedera-mirror-rest/model/feeSchedule.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/service/fileDataService.js
  hedera-mirror-rest/stream/recordFile.js
Labels: bug, P1, rest, parser

#3971 Internal error when retrieving contract result by ethereum transaction hash
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/transactionService.test.js
  hedera-mirror-rest/__tests__/specs/contracts-result-details-17-transaction-hash-match-multiple-tx.spec.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/transactionService.js
Labels: bug, P1, rest, json-rpc

#3980 Add Reward Rate Start to Rest Api
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/specs/network-nodes-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/network-nodes-02-file-101-args.spec.json
  hedera-mirror-rest/__tests__/specs/network-nodes-03-not-found.spec.json
  hedera-mirror-rest/__tests__/specs/network-nodes-04-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/network-nodes-06-node-range.spec.json
  hedera-mirror-rest/__tests__/viewmodel/networkNodeViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/viewmodel/networkNodeViewModel.js
Labels: enhancement, P2, rest

#3987 Fix cleanup of web3 images
  .github/workflows/cleanup.yml
Labels: bug, P2, process

#3985 Rosetta show fee operations
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/persistence/domain/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/services/network_service.go
  hedera-mirror-rosetta/app/services/network_service_test.go
  hedera-mirror-rosetta/build/Dockerfile
  hedera-mirror-rosetta/test/bdd-client/features/token.feature
  hedera-mirror-rosetta/test/bdd-client/scenario/asserter.go
  hedera-mirror-rosetta/test/bdd-client/scenario/common.go
  hedera-mirror-rosetta/test/bdd-client/scenario/crypto.go
  hedera-mirror-rosetta/test/bdd-client/scenario/token.go
Labels: enhancement, P1, rosetta

#4026 Handle empty weibars in EthereumTransaction
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/converter/WeiBarTinyBarConverter.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/converter/WeiBarTinyBarConverterTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ConvertEthereumTransactionValueMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
Labels: bug, P1, parser

#4012 Add a dev Kubernetes deployment
  clusters/preprod/dev/helmrelease.yaml
  clusters/preprod/dev/helmrepository.yaml
  clusters/preprod/dev/namespace.yaml
  clusters/preprod/dev/sealed-secret.yaml
  clusters/preprod/flux-system/alert-slack.yaml
Labels: enhancement, P2, ops
