Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-11, with the labels that each got.

#4693 Add Balance to Token Account
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractTokenAccount.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.68.0__token_account_balance.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: enhancement, parser

#4803 Eliminate about 1000 false positive "critical" code smells
  build.gradle.kts
  pom.xml
Labels: bug, process

#4794 Adopt payer_account_id distribution column
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractAction.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Prng.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/UtilPrngTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.68.1__add_payer_account_id.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/UtilPrngTransactionHandlerTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/service/transactionService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/empty-result.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/index-filter.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/invalid-filters.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/invalid-index-filter.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/limit-and-order-desc.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/not-found.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/order-asc.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/order-desc.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/by-hash-nonce-is-ignored.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-contractcreate-eth-calldata.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/transaction-hash-match-multiple-tx.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/non-populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data-func-params-from-filedata.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/model/contractAction.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/transactionService.js
  hedera-mirror-rest/transactions.js
Labels: enhancement, database

#4808 Update OS packages in image
  buildSrc/src/main/kotlin/docker-conventions.gradle.kts
  charts/hedera-mirror/Chart.yaml
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/pom.xml
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-web3/Dockerfile
  pom.xml
Labels: enhancement, security, process

#4810 Fix dependency check issues
  build.gradle.kts
  pom.xml
Labels: bug, security, process

#4812 Fix DNS resolution error on Apple M1
  docs/checklist/release.md
  hedera-mirror-grpc/build.gradle.kts
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-importer/pom.xml
  hedera-mirror-monitor/build.gradle.kts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorTokenAccount.java
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/pom.xml
Labels: bug, process

#4807 Show CREATE2 address in contract logs REST APIs
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/index.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/order-asc.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/order-desc.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-with-timestamp-gt-lt.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-with-timestamp.json
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/viewmodel/contractResultLogViewModel.js
Labels: enhancement, rest, contract, limechain

#4743 Rework NFT treasury transfers
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
Labels: bug, parser

#4819 Update to Node.js 18.12 LTS and Go 1.19
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  charts/hedera-mirror-rest/values.yaml
  charts/marketplace/gcp/release.sh
  docs/installation.md
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/pom.xml
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/build.gradle.kts
  hedera-mirror-rosetta/container/Dockerfile
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/pom.xml
Labels: dependencies

#4816 Revert balance offset workaround
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationService.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationServiceTest.java
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/persistence/block.go
  hedera-mirror-rosetta/app/persistence/block_test.go
  hedera-mirror-rosetta/app/persistence/common.go
  hedera-mirror-rosetta/app/persistence/common_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/main.go
Labels: enhancement, parser, database, rosetta

#4840 Improve /accounts/{id} performance with v2 schema
  hedera-mirror-rest/accounts.js
Labels: bug, performance, rest

#4844 Fix invalid transaction type
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerUtilTest.java
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/constants_test.go
Labels: bug, parser

#4845 Fix invalid transaction type (0.67)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerUtilTest.java
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/constants_test.go
Labels: bug, parser

#4851 Fix invalid transaction type (0.68)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerUtilTest.java
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/constants_test.go
Labels: bug, parser

#4855 Add a local file stream provider
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/CompositeStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/CompositeStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProviderTest.java
Labels: enhancement, downloader

#4880 Re-run account balance migration
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
Labels: database

#4838 Fix incorrect staking info and pending reward
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.68.2__fix_stake_period_start.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakePeriodStartMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: bug, parser

#4881 Empty and null uint256 values show up as 0x
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/non-populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data-func-params-from-filedata.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-no-state-change.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/multiple-slot-param-eq.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/order.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/contractResultStateChangeViewModel.js
  hedera-mirror-rest/viewmodel/contractStateViewModel.js
Labels: bug, rest

#4898 Add network status check to rosetta readiness check
  hedera-mirror-rosetta/app/middleware/health.go
  hedera-mirror-rosetta/app/middleware/health_test.go
  hedera-mirror-rosetta/main.go
Labels: enhancement, rosetta

#4896 Fix stake period start for entity history
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.68.2.1__fix_stake_period_start.sql
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.68.2__fix_stake_period_start.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakePeriodStartMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
Labels: bug, parser

#4900 Update Acceptance Test Max Retry Polling
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/RestPollingProperties.java
Labels: bug, test

#4886 Fix incorrect staking info and pending reward (0.69)
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.68.2.1__fix_stake_period_start.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakePeriodStartMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: bug, parser

#4901 Fix incorrect staking info and pending reward (0.68)
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.68.2.1__fix_stake_period_start.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakePeriodStartMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: bug, parser

#4904 Force s3 client to use path style request url
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
Labels: bug, parser

#4852 Implement API method /api/v1/accounts/{id}/rewards .
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.70.0__add_staking_reward_transfer_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-rest/__tests__/controllers/__snapshots__/accountController.test.js.snap
  hedera-mirror-rest/__tests__/controllers/accountController.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/stakingRewardTransferService.test.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/in-param-with-multiple-timestamps.spec
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/invalid-parameters-ne.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/invalid-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/invalid-path.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/no-rewards.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/not-found.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/specific-timestamp.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/accountController.js
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/stakingRewardTransfer.js
  hedera-mirror-rest/routes/accountRoute.js
  hedera-mirror-rest/service/index.js
  hedera-mirror-rest/service/stakingRewardTransferService.js
  hedera-mirror-rest/viewmodel/index.js
  hedera-mirror-rest/viewmodel/stakingRewardTransferViewModel.js
Labels: enhancement, rest

#4905 Force s3 client to use path style request url (0.69)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
Labels: bug, parser

#4906 Force s3 client to use path style request url (0.68)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
Labels: bug, parser

#4897 adding flux config for staging-lg mirrornode deployment
  clusters/preprod/flux-system/alert-slack.yaml
  clusters/preprod/staging-lg/helmrelease.yaml
  clusters/preprod/staging-lg/helmrepository.yaml
  clusters/preprod/staging-lg/namespace.yaml
  clusters/preprod/staging-lg/sealed-secret.yaml
Labels: enhancement, process

#4632 Add EntityAccess implementation
  build.gradle.kts
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/pom.xml
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractStateRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EntityRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/Web3IntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/IntegrationTestConfiguration.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractStateRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/EntityRepositoryTest.java
  pom.xml
Labels: enhancement, web3, limechain

#4911 Add GitHub Actions to Dependabot
  .github/dependabot.yml
  .github/workflows/auto-release.yml
  .github/workflows/charts.yml
  .github/workflows/cleanup.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta-api.yml
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  charts/marketplace/gcp/release.sh
  docker-compose.yml
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-grpc/src/test/resources/config/bootstrap.yml
  hedera-mirror-importer/Dockerfile
  hedera-mirror-importer/src/test/resources/config/bootstrap-pubsub.yml
  hedera-mirror-importer/src/test/resources/config/bootstrap.yml
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/pom.xml
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: dependencies

#4937 modifying hostname for previewnet
  clusters/previewnet/previewnet/sealed-secret.yaml
Labels: enhancement, process

#4913 Add AccountStakingRewardsTransfer to Monitor dashboard
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/config/default.serverlist.json
Labels: enhancement, rest, monitor

#4936 Implementation for AccountAccessor
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/AccountAccessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/AccountAccessorImplTest.java
Labels: limechain

#4914 Set ExpiryTimestamp based on CreatedTimestamp and AutoRenewPeriod
  hedera-mirror-rest/__tests__/specs/accounts/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/contract-id.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/timestamp-historical-missing-file.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/no-params.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/contractViewModel.js
Labels: enhancement, rest

#4910 Every contracts results endpoint should include an address field for evm_address of the created contract
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-number.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/results/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/transaction-index.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/by-hash-no-eth-tx.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/by-hash-nonce-is-ignored.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-contractcreate-eth-calldata.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-contractcreate.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-ethereum-transaction-without-contract-result.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/multiple-single-result.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/no-evm-address.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/result-partial-result.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/transaction-hash-match-multiple-tx.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/all-params-with-create2.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/block-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/block-number.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/evm-address-path-param.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/from-address.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/from.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/specific-id.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/transaction-index.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/multiple-slot-param-eq.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/order.json
  hedera-mirror-rest/__tests__/viewmodel/contractResultViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
  hedera-mirror-rest/viewmodel/contractStateViewModel.js
Labels: enhancement, rest, contract, limechain

#4842 Add Staking Reward Transfers to REST API
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/in-param-with-multiple-timestamps.spec
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/no-rewards.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/not-found.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/specific-timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id-deterministic-response.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id.json
  hedera-mirror-rest/__tests__/specs/transactions/all-params.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type-crypto-and-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type-crypto-and-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type.json
  hedera-mirror-rest/__tests__/specs/transactions/duplicate-token-transfers-bug.json
  hedera-mirror-rest/__tests__/specs/transactions/fail-result.json
  hedera-mirror-rest/__tests__/specs/transactions/limit.json
  hedera-mirror-rest/__tests__/specs/transactions/multiple-account-ids.json
  hedera-mirror-rest/__tests__/specs/transactions/nft-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/success-result.json
  hedera-mirror-rest/__tests__/specs/transactions/timestamp-no-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/timestamp.json
  hedera-mirror-rest/__tests__/specs/transactions/tokenwipe.json
  hedera-mirror-rest/__tests__/specs/transactions/transactiontype.json
  hedera-mirror-rest/__tests__/specs/transactions/unknown-result.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/assessed-custom-fees-with-effective-payer-account-ids.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/assessed-custom-fees.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/duplicate-transactions.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nft-transfers-multiple-tokens.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nft-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/repeated-valid-params-schedule-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/repeated-valid-params-schedule-true.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/return-multiple-nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-true.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/tokentransfer.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/tokenwipe.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/stakingRewardTransfer.js
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest

#4895 Аdd evm entry point for contract call
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/MirrorEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/MirrorOperationTracer.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/models/MirrorEvmAccount.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidTransactionException.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/MirrorEvmTxProcessorTest.java
Labels: limechain

#4943 Return evm address as address in state_changes
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/transactionid-or-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/non-populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data-func-params-from-filedata.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-no-state-change.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp.json
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/viewmodel/contractResultStateChangeViewModel.js
Labels: enhancement, rest, contract, limechain

#4959 Split Gradle build in CI
  .github/workflows/gradle.yml
Labels: bug, test

#4965 Bump Hedera SDK to 2.19.0
  build.gradle.kts
  hedera-mirror-monitor/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/test/java/com/hedera/hashgraph/sdk/Client.java
Labels: dependencies

#4962 Update GCP marketplace version
  .github/workflows/release-production.yml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/README.md
  charts/marketplace/gcp/release.sh
  charts/marketplace/gcp/schema-test.yaml
  charts/marketplace/gcp/schema.yaml
  docs/checklist/release.md
Labels: enhancement, marketplace

#4964 Add Spotless to Gradle
  .github/workflows/release-production.yml
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/StripOldLicenseFormatterStep.kt
  buildSrc/src/main/kotlin/docker-conventions.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  buildSrc/src/main/kotlin/spotless-conventions.gradle.kts
  buildSrc/src/main/kotlin/spring-conventions.gradle.kts
  buildSrc/src/main/resources/hooks/pre-commit
  gradle.properties
  hedera-mirror-rest/.eslintrc.json
  hedera-mirror-rest/.husky/pre-commit
  hedera-mirror-rest/.prettierignore
  hedera-mirror-rest/npm_scripts/postinstall.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  pom.xml
Labels: enhancement, process

#4969 Switch to s3mock in rest integration test
  hedera-mirror-rest/__tests__/integrationS3Ops.js
Labels: bug, test, rest

#4975 Fix multi-node citus extension config
  charts/hedera-mirror/templates/configmap-init.yaml
  charts/hedera-mirror/values.yaml
Labels: bug, database
