Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-04, with the labels that each got.

#3479 Add a property to set API response headers
  charts/hedera-mirror-grpc/templates/service.yaml
  docs/configuration.md
  docs/rest/README.md
  hedera-mirror-rest/__tests__/middleware/responseHandler.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/middleware/responseHandler.js
  hedera-mirror-rest/service/baseService.js
  hedera-mirror-test/k6/src/lib/common.js
  hedera-mirror-test/k6/src/rest/test/balancesAccount.js
  hedera-mirror-test/k6/src/rest/test/topicsIdMessagesSequence.js
Labels: enhancement, P1, performance, rest

#3485 Fix zero allowance owner
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractAllowanceTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
Labels: bug, P1, parser

#3492 Bump spring-boot to 2.6.6
  pom.xml
Labels: dependencies

#3509 Bump Spring to 2.6.6 (0.53)
  pom.xml
Labels: enhancement, dependencies

#3473 Support missing precompile contract function parameter details
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAdjustAllowanceTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
  pom.xml
Labels: enhancement, P1, parser

#3487 Fix REST API contracts bytecode double 0x prefix
  hedera-mirror-rest/__tests__/specs/contracts-17-contract-bytecode.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractViewModel.test.js
  hedera-mirror-rest/utils.js
Labels: bug, P2, contract

#3518 Fix rosetta workflow bdd test build failure
  .github/workflows/rosetta-api.yml
Labels: bug, P2, rosetta

#3522 Fix rosetta-api workflow failure caused by rosetta-cli breaking changes
  .github/workflows/rosetta-api.yml
  hedera-mirror-rosetta/app/services/account_service.go
  hedera-mirror-rosetta/app/services/account_service_test.go
  hedera-mirror-rosetta/app/services/mempool_service.go
  hedera-mirror-rosetta/app/services/mempool_service_test.go
  hedera-mirror-rosetta/scripts/validation/demo/validation.json
  hedera-mirror-rosetta/scripts/validation/mainnet/validation.json
  hedera-mirror-rosetta/scripts/validation/testnet/validation.json
Labels: bug, P1, rosetta

#3523 Fix rosetta workflow bdd test build failure (0.54)
  .github/workflows/rosetta-api.yml
Labels: bug, P2, rosetta

#3532 Remove Crypto Allowance Adjust Acceptance Test
  hedera-mirror-test/src/test/resources/features/account/allowances/cryptoAllowance.feature
  pom.xml
Labels: bug, P1, test, process

#3533 Remove Crypto Allowance Adjust Acceptance Test (0.54)
  hedera-mirror-test/src/test/resources/features/account/allowances/cryptoAllowance.feature
  pom.xml
Labels: bug, P1, test, process

#3534 Restore HexPrefix in null cases
  hedera-mirror-rest/__tests__/specs/contracts-03-specific-id-timestamp-historical-missing-file.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-06-transactionid-result-partial-result.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-12-failed-contractcreate.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-13-timestamp-partial-result-match.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-16-timestamp-no-state-change.spec.json
  hedera-mirror-rest/__tests__/specs/network-nodes-02-file-101-args.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractResultViewModel.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractViewModel.test.js
  hedera-mirror-rest/__tests__/viewmodel/networkNodeViewModel.test.js
  hedera-mirror-rest/utils.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: bug, P1, rest

#3538 Fix rest stateproof downloading taking too long
  docs/configuration.md
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/s3client.test.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/s3client.js
Labels: bug, P2, rest

#3539 Restore HexPrefix in null cases (0.54)
  hedera-mirror-rest/__tests__/specs/contracts-03-specific-id-timestamp-historical-missing-file.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-06-transactionid-result-partial-result.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-12-failed-contractcreate.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-13-timestamp-partial-result-match.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-16-timestamp-no-state-change.spec.json
  hedera-mirror-rest/__tests__/specs/network-nodes-02-file-101-args.spec.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractResultViewModel.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractViewModel.test.js
  hedera-mirror-rest/__tests__/viewmodel/networkNodeViewModel.test.js
  hedera-mirror-rest/utils.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: bug, P1, test, rest

#3540 Fix rest stateproof downloading taking too long (0.54)
  docs/configuration.md
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/s3client.test.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/s3client.js
Labels: bug, P2, rest

#3542 GCP marketplace 0.55 snap update
  charts/marketplace/gcp/open-source-compliance/mirror-java-licenses.txt
  charts/marketplace/gcp/open-source-compliance/mirror-java-sources.txt
  charts/marketplace/gcp/schema.yaml
  charts/marketplace/gcp/values.yaml
Labels: enhancement, P1, marketplace

#3529 Track NFT allowances at transfer granularity
  docs/database.md
  docs/design/allowances.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/NftAllowance.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/Nft.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAdjustAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.57.0__update_nft_allowance.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvRestoreTables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SupportDeletedTokenDissociateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAdjustAllowanceTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactoryTest.java
Labels: enhancement, P2, parser

#3565 Remove AllowanceAdjust Logic
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAdjustAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoAdjustAllowanceTransactionHandlerTest.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/transactionType.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/resources/features/account/allowances/cryptoAllowance.feature
  pom.xml
Labels: enhancement, P1, parser

#3569 Fix errata migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
Labels: bug, P1, database

#3537 Add is_approval to transfer responses
  docs/design/allowances.md
  hedera-mirror-rest/__tests__/integration.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/integration_test_data.json
  hedera-mirror-rest/__tests__/specs/accounts-10-account-transactions.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-14-account-transactions-transactiontype.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-18-account-transactions-no-balances.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-19-account-transactions-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-03-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-05-all-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-09-partial-data-missing-create.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-10-partial-data-missing-nft.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-11-timestamp-range.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nft-history-12-token-not-deleted.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-02-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-04-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-05-success-result.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-06-fail-result.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-07-credit-type.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-08-debit-type.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-09-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-10-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-15-limit.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-16-specific-id-tokentransfer.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-17-transaction-type.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-20-specific-id-scheduled-true.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-22-specific-id-scheduled-false.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-24-specific-id-repeated-valid-params-schedule-false.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-25-specific-id-repeated-valid-params-schedule-true.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-27-multiple-account-ids.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-28-account-id-only-token-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-29-tokenwipe.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-30-specific-id-tokenwipe.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-31-credit-type-only-token-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-32-debit-type-only-token-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-33-credit-type-crypto-and-token-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-34-debit-type-crypto-and-token-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-35-duplicate-token-transfers-bug.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-36-nft-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-37-specific-id-nft-transfers.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-38-nft-transfers-multiple-tokens.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-39-specific-id-assessed-custom-fees.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-40-specific-id-assessed-custom-fees-with-effective-payer-account-ids.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-41-unknown-result.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-42-specific-id-return-multiple-nonce.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-43-specific-id-nonce.spec.json
  hedera-mirror-rest/__tests__/specs/transactions-45-account-id-deterministic-response.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/cryptoTransfer.js
  hedera-mirror-rest/model/nftTransfer.js
  hedera-mirror-rest/model/tokenTransfer.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/viewmodel/nftTransactionHistoryViewModel.js
  hedera-mirror-rest/viewmodel/nftTransferViewModel.js
Labels: enhancement, P3, rest

#3563 03446 fix is approval value from transactions
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
Labels: bug, P1, parser

#3574 Add multi-architecture docker images
  .github/workflows/charts.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta-api.yml
  .maven-dockerignore
  charts/hedera-mirror-grpc/templates/deployment.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/deployment.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/templates/deployment.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest/templates/deployment.yaml
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/templates/deployment.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/templates/deployment.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/values.yaml
  hedera-mirror-grpc/.dockerignore
  hedera-mirror-grpc/.maven-dockerinclude
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-grpc/assembly.xml
  hedera-mirror-grpc/pom.xml
  hedera-mirror-importer/.dockerignore
  hedera-mirror-importer/.maven-dockerinclude
  hedera-mirror-importer/Dockerfile
  hedera-mirror-importer/assembly.xml
  hedera-mirror-importer/pom.xml
  hedera-mirror-monitor/.dockerignore
  hedera-mirror-monitor/.maven-dockerinclude
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-monitor/pom.xml
  hedera-mirror-rest/.dockerignore
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rosetta/.dockerignore
  hedera-mirror-rosetta/.maven-dockerignore
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/assembly.xml
  hedera-mirror-rosetta/build/Dockerfile
  hedera-mirror-rosetta/pom.xml
  hedera-mirror-test/pom.xml
  hedera-mirror-test/src/main/resources/Dockerfile
  hedera-mirror-web3/.dockerignore
  hedera-mirror-web3/.maven-dockerinclude
  hedera-mirror-web3/Dockerfile
  hedera-mirror-web3/pom.xml
  pom.xml
Labels: enhancement, P2, process

#3571 Support CryptoDeleteAllowance transaction
  docs/design/allowances.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/Nft.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionType.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.57.1__drop_nft_allowance_granted_timestamp.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvRestoreTables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteAllowanceTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/NftUpsertQueryGeneratorTest.java
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/transactionType.js
Labels: enhancement, P1, parser

#3610 Add allowance fields to NFT REST APIs
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/nftService.test.js
  hedera-mirror-rest/__tests__/specs/accounts-nfts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-02-specific-tokenId.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-03-token-serialnumber.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-11-token-serial-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-12-token-serial-range-limit.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-13-token-serial-lower-bound.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-14-token-serial-upper-bound.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-nfts-18-token-range.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-03-serialnumber.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-04-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-05-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-07-deleted-token.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-11-deleted-nft.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-12-partial-data.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-06-null-account-id.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-07-deleted-nft.spec.json
  hedera-mirror-rest/__tests__/specs/tokens-nfts-info-08-deleted-token.spec.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/nft.js
  hedera-mirror-rest/service/nftService.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/viewmodel/nftViewModel.js
Labels: enhancement, P2, rest

#3614 Remove Rosetta upload artifact step
  .github/workflows/rosetta-api.yml
Labels: bug, process

#3619 fix minor typo
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation

#3616 Parse long term scheduled transactions
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/schedule/Schedule.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchUpserter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/UpsertColumn.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/UpsertEntity.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactory.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.58.0__long_term_scheduled_transactions.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvRestoreTables.sql
  hedera-mirror-importer/src/main/resources/db/template/upsert.vm
  hedera-mirror-importer/src/main/resources/db/template/upsert_history.vm
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerScheduleTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/ScheduleUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactoryTest.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
  pom.xml
Labels: enhancement, P1, parser

#3625 Support contract initcode
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/Contract.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.58.1__contract_initcode.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvRestoreTables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactoryTest.java
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/contracts-18-contract-initcode.spec.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/model/contract.js
Labels: enhancement, P1, rest, parser

#3628 Support auto association slots for contracts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/Entity.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.58.2__contract_auto_association.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactoryTest.java
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts-01-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-03-accounts-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-04-balance-range.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-05-publickey.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-13-accounts-limit.spec.json
  hedera-mirror-rest/__tests__/specs/accounts-20-multiple-ids.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-02-specific-id-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-03-specific-id-timestamp-historical-missing-file.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-09-no-args.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-10-order-asc.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-11-limit.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-12-contract-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-13-multiple-contract-ids.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-14-all-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-16-find-by-create1-evm-address.json
  hedera-mirror-rest/__tests__/specs/contracts-17-contract-bytecode.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-18-contract-initcode.spec.json
  hedera-mirror-rest/accountContract.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/model/contract.js
  hedera-mirror-rest/viewmodel/contractViewModel.js
Labels: enhancement, P1, parser

#3656 03615 Support EVM Address in CryptoTransferTransactionBody
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/EntityIdServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: enhancement, P3, parser

#3663 Dedup allowances in crypto approve allowance transaction handler
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
Labels: bug, P1, parser

#3665 Dedup allowances in crypto approve allowance transaction handler (0.55)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
Labels: bug, P1, parser

#3661 Update localstack version
  hedera-mirror-rest/__tests__/integrationS3Ops.js
Labels: enhancement, P2

#3657 Persist block transaction index
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Transaction.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TransactionRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.58.3__transaction_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/csvRestoreTables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/RecordFileReaderTest.java
Labels: enhancement, P2, parser, json-rpc

#3666 Bump eclipse-temurin 11.0.14 to 11.0.15
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: security, dependencies

#3618 Fix monitor not publishing if error on startup
  docs/configuration.md
  hedera-mirror-monitor/pom.xml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/expression/ExpressionConverterImpl.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/generator/ConfigurableTransactionGenerator.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/transaction/consensus/ConsensusSubmitMessageTransactionSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/transaction/schedule/ScheduleCreateTransactionSupplier.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/expression/ExpressionConverterImplTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/generator/ConfigurableTransactionGeneratorTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/transaction/schedule/ScheduleCreateTransactionSupplierTest.java
Labels: bug, P1, monitor

#3668 Fix Internal error with shard.realm.evmAddress in entityId parsing
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/specs/contracts-01-specific-id.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-16-find-by-create1-evm-address.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-logs-01-no-params.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-result-details-01-timestamp.spec.json
  hedera-mirror-rest/__tests__/specs/contracts-results-10-evm-address-path-param.spec.json
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/entityId.js
Labels: bug, P1, rest, contract
