Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2022-02, with the labels that each got.

#3228 Support HIP-31 expected token decimals in rosetta
  .github/workflows/rosetta-api.yml
  hedera-mirror-rosetta/app/interfaces/token_repository.go
  hedera-mirror-rosetta/app/persistence/domain/entityid.go
  hedera-mirror-rosetta/app/persistence/domain/entityid_test.go
  hedera-mirror-rosetta/app/persistence/token.go
  hedera-mirror-rosetta/app/persistence/token_test.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/services/construction/common.go
  hedera-mirror-rosetta/app/services/construction/common_test.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_associate_dissociate_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_associate_dissociate_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_burn_mint_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_burn_mint_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_delete_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_delete_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_freeze_unfreeze_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_freeze_unfreeze_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_grant_revoke_kyc_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_grant_revoke_kyc_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_update_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_update_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_wipe_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_wipe_transaction_constructor_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/main.go
  hedera-mirror-rosetta/test/mocks/token_repository.go
Labels: enhancement, P2, rosetta

#3254 Upgrade hedera-sdk-go to v2.8.0
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: P3, dependencies, rosetta

#3253 Add auto restore functionality to Rosetta unified image
  docs/database.md
  docs/rosetta/README.md
  hedera-mirror-rosetta/build/Dockerfile
  hedera-mirror-rosetta/build/postgresql-restore.conf
  hedera-mirror-rosetta/build/run_supervisord.sh
  hedera-mirror-rosetta/build/supervisord.conf
Labels: enhancement, P1, rosetta

#3255 Add a property to control persistence of topic messages
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-rosetta/build/supervisord.conf
Labels: enhancement, P2, parser

#3257 Handle invalid entity ID in GCP Pub/Sub
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
Labels: bug, P1, parser

#3274 Update acceptance tests to use evmAddress
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorContractResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/FeatureInputHandler.java
Labels: enhancement, P1, test

#3275 Update acceptance tests to use evmAddress (v0.50)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorContractResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/FeatureInputHandler.java
Labels: enhancement, P1, test

#3288 Fix failing chart workflow
  .github/workflows/charts.yml
  .mvn/wrapper/maven-wrapper.properties
  hedera-mirror-rosetta/Dockerfile
  mvnw
  mvnw.cmd
Labels: bug, P2, process

#3299 Bump hedera-protobufs from 0.23.0-alpha.2 to 0.23.1
  codecov.yml
  hedera-mirror-protobuf/src/main/proto/com/hedera/mirror/api/proto/network_service.proto
  pom.xml
Labels: dependencies

#3256 Improve perf of Rosetta get genesis balance script
  docs/rosetta/README.md
  hedera-mirror-rosetta/scripts/validation/get-genesis-balance.sh
Labels: enhancement, P2, performance, rosetta

#3306 Add a migration readiness probe
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MigrationHealthIndicator.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MigrationHealthIndicatorTest.java
Labels: enhancement, P2, ops

#3330 Disable importer leader election
  charts/hedera-mirror-importer/values.yaml
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/ScenarioProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriber.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriberProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscription.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriberTest.java
Labels: bug, P1, parser

#3335 Workaround CREATE2 invalid contract ID issue
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/util/DomainUtilsTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractContractCallTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
Labels: bug, P1, parser

#3336 Workaround CREATE2 invalid contract ID issue (0.51)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/util/DomainUtilsTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractContractCallTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
Labels: bug, P1, parser

#3333 Fix rosetta all-in-one docker image persistent data location
  docs/rosetta/README.md
  hedera-mirror-rosetta/build/Dockerfile
  hedera-mirror-rosetta/build/entrypoint.sh
  hedera-mirror-rosetta/build/postgresql-restore.conf
  hedera-mirror-rosetta/build/supervisord.conf
Labels: bug, P1, rosetta

#3334 Return 200 instead of error for unimplemented methods
  hedera-mirror-rosetta/app/services/account_service.go
  hedera-mirror-rosetta/app/services/account_service_test.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/app/services/mempool_service.go
  hedera-mirror-rosetta/app/services/mempool_service_test.go
Labels: enhancement, P1, rosetta

#3346 Increase max data retries in rosetta bdd-test
  hedera-mirror-rosetta/test/bdd-client/README.md
  hedera-mirror-rosetta/test/bdd-client/config.go
Labels: enhancement, P3, rosetta
