Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-05, with the labels that each got.

#5933 Remove hardcoded consensus node connection info in monitor
  charts/hedera-mirror/values.yaml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/HederaNetwork.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/MirrorNodeProperties.java
Labels: enhancement, monitor

#5936 Fix various k6 test issues
  hedera-mirror-rest/__tests__/specs/network/nodes/max-limit.json
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-test/k6/src/rest/test/accountsBalanceGte0Pubkey.js
  hedera-mirror-test/k6/src/rest/test/contractsIdResults.js
  hedera-mirror-test/k6/src/rest/test/contractsIdResultsLogs.js
  hedera-mirror-test/k6/src/rest/test/contractsResult.js
  hedera-mirror-test/k6/src/rest/test/contractsResultsId.js
  hedera-mirror-test/k6/src/rest/test/index.js
Labels: bug, test, rest

#5920 Fix RestRequestLatency alert
  charts/hedera-mirror-common/dashboards/alertmanager.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rosetta.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror-common/dashboards/jvm-micrometer-rev9.json
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-common/dashboards/redis-dashboard-for-prometheus-redis-exporter-helm-stable-redis-ha_rev1.json
  charts/hedera-mirror-common/dashboards/traefik.json
  charts/hedera-mirror-graphql/values.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/values.yaml
  docs/checklist/release.md
Labels: bug, process

#5903 Remove HTS code from hedera-mirror-rosetta.
  hedera-mirror-rosetta/app/domain/types/amount.go
  hedera-mirror-rosetta/app/domain/types/amount_test.go
  hedera-mirror-rosetta/app/domain/types/operation_test.go
  hedera-mirror-rosetta/app/domain/types/token.go
  hedera-mirror-rosetta/app/domain/types/token_test.go
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/persistence/testmain_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/services/account_service_test.go
  hedera-mirror-rosetta/app/services/construction/common.go
  hedera-mirror-rosetta/app/services/construction/common_test.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_associate_dissociate_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_associate_dissociate_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_burn_mint_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_burn_mint_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_delete_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_delete_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_freeze_unfreeze_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_freeze_unfreeze_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_grant_revoke_kyc_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_grant_revoke_kyc_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_update_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_update_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/token_wipe_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/token_wipe_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/test/bdd-client/client/client.go
  hedera-mirror-rosetta/test/bdd-client/features/token.feature
  hedera-mirror-rosetta/test/bdd-client/scenario/common.go
  hedera-mirror-rosetta/test/bdd-client/scenario/token.go
  hedera-mirror-rosetta/test/domain/account_balance_file_builder.go
  hedera-mirror-rosetta/test/domain/entity_builder.go
  hedera-mirror-rosetta/test/domain/nft_builder.go
  hedera-mirror-rosetta/test/domain/nft_transfer_builder.go
  hedera-mirror-rosetta/test/domain/token_account_builder.go
  hedera-mirror-rosetta/test/domain/token_builder.go
  hedera-mirror-rosetta/test/domain/token_transfer_builder.go
Labels: enhancement, rosetta

#5938 Fix chart rendering of grpc port
  charts/hedera-mirror/values.yaml
Labels: bug, process

#5940 Fix spotlessMiscellaneous task dependency issue
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
Labels: bug, process

#5814 HIP-584: Copy `TokenRelationship` model from services
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenModificationResult.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
Labels: enhancement, web3, limechain

#5947 Fix various k6 test issues (0.79)
  hedera-mirror-rest/__tests__/specs/network/nodes/max-limit.json
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-test/k6/src/rest/test/accountsBalanceGte0Pubkey.js
  hedera-mirror-test/k6/src/rest/test/contractsIdResults.js
  hedera-mirror-test/k6/src/rest/test/contractsIdResultsLogs.js
  hedera-mirror-test/k6/src/rest/test/contractsResult.js
  hedera-mirror-test/k6/src/rest/test/contractsResultsId.js
  hedera-mirror-test/k6/src/rest/test/index.js
Labels: bug, test, rest

#5945 HIP-584: Copy precompile pricing logic without gasFeeInTinybars - Part 2
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/FeeCalculator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/annotations/GenericPriceMultiplier.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calc/OverflowCheckingCalc.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/QueryResourceUsageEstimator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/TxnResourceUsageEstimator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/pricing/AssetsLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/pricing/ResourceProvider.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/pricing/UsableResource.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/usage/state/UsageAccumulator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/fees/FeeObject.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/fees/SigValueObj.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/accessors/TxnAccessor.java
  hedera-mirror-web3/src/main/resources/canonical-prices.json
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calc/OverflowCheckingCalcTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/usage/consensus/AdapterUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/pricing/AssetsLoaderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/pricing/RequiredPriceTypesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/usage/state/UsageAccumulatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/utils/fees/FeeBuilderTest.java
Labels: enhancement, web3, limechain

#5952 Fix Synthetic Token Allowance Owner Migration (0.80)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticTokenAllowanceOwnerMigration.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticTokenAllowanceOwnerMigrationTest.java
Labels: bug, database

#5963 Bump Java and Node.js versions
  .github/workflows/auto-release.yml
  .github/workflows/charts.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta.yml
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  charts/README.md
  hedera-mirror-graphql/Dockerfile
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: dependencies

#5956 HIP-584: Copy precompile pricing logic without gasFeeInTinybars - Part 3
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/FeeCalculator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/Precompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Id.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/BitPackUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityNum.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/MiscUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/accessors/TxnAccessor.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/BitPackUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/MiscUtilsTest.java
Labels: enhancement, web3, limechain

#5978 Containerize acceptance tests
  .github/workflows/charts.yml
  .github/workflows/cleanup.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  buildSrc/build.gradle.kts
  charts/hedera-mirror-graphql/templates/tests/configmap.yaml
  charts/hedera-mirror-graphql/templates/tests/pod.yaml
  charts/hedera-mirror-graphql/values.yaml
  charts/hedera-mirror-rest/templates/monitor/tests/pod.yaml
  charts/hedera-mirror-rest/templates/tests/configmap.yaml
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/templates/tests/configmap.yaml
  charts/hedera-mirror-rosetta/templates/tests/pod.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/templates/tests/configmap.yaml
  charts/hedera-mirror-web3/templates/tests/pod.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/templates/tests/secret.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  hedera-mirror-rest/build.gradle.kts
  hedera-mirror-test/Dockerfile
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/main/java/com/hedera/mirror/test/MirrorTestApplication.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/junit-platform.properties
Labels: enhancement, test

#5980 Eliminate the need for a boolean "ethereum" parameter from…
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
Labels: enhancement, good first issue

#5908 HIP-584: Make all parameters in request body for estimate gas optional
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/validation/Hex.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/validation/HexValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/TransferValidation.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/validation/HexValidatorTest.java
Labels: enhancement, web3, limechain

#5984 HIP-584: Implement contract creation
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/resources/contracts/EthCall/EthCall.bin
  hedera-mirror-web3/src/test/resources/contracts/EthCall/EthCall.sol
  hedera-mirror-web3/src/test/resources/contracts/EthCall/State.bin
Labels: enhancement, web3, limechain

#5988 Fixing "No such account or token" issue for estimate gas
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, enhancement, web3, limechain

#5985 Fix circular health check issue
  charts/hedera-mirror-common/values.yaml
  charts/marketplace/gcp/README.md
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/health/ReleaseHealthIndicator.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/health/ReleaseHealthIndicatorTest.java
Labels: enhancement, monitor

#5979 Add support for EVM address to balances endpoint
  hedera-mirror-rest/__tests__/accountAlias.test.js
  hedera-mirror-rest/__tests__/specs/balances/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/balances/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/balances/specific-id.json
  hedera-mirror-rest/accountAlias.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/middleware/httpErrorHandler.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest

#5962 Add Runbook Restore Document
  docs/runbook/backup1.png
  docs/runbook/backup2.png
  docs/runbook/deleteReplica1.png
  docs/runbook/deleteReplica2.png
  docs/runbook/replicaConfig.png
  docs/runbook/restore.md
Labels: documentation

#5989 Citus volume compression
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/templates/zfs/configmap-init.yaml
  charts/hedera-mirror-common/templates/zfs/daemonset.yaml
  charts/hedera-mirror-common/templates/zfs/storageclass.yaml
  charts/hedera-mirror-common/values.yaml
  docs/checklist/feature.md
  docs/database/README.md
  docs/database/zfs.md
  docs/rosetta/README.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
Labels: enhancement, database

#6007 Fix missing transaction_index in contract result by hash response
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.80.0__backfill_ethereum_transaction_contract_result.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillFailedEthereumTransactionContractResultMigrationTest.java
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-ethereum-transaction-with-default-contract-result.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-ethereum-transaction-without-contract-result.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/result-partial-result.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/transactionService.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
Labels: bug, rest, contract

#6016 Add synthetic nft allowance owner migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticNftAllowanceOwnerMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticNftAllowanceOwnerMigrationTest.java
Labels: bug, database

#6033 Fix crypto allowance acceptance test
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorTransfer.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/resources/features/account/cryptoAllowance.feature
Labels: bug, test

#6057 HIP-584: BalanceChange and some utils
  hedera-mirror-web3/src/main/java/com/hedera/services/ledger/BalanceChange.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityNum.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/IdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/ledger/BalanceChangeTest.java
Labels: enhancement, web3, limechain

#6062 Fix acceptance test regression
  docs/configuration.md
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/DbProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-test/build.gradle.kts
Labels: bug, test, regression

#6063 Fix acceptance tests read only filesystem
  charts/hedera-mirror/templates/tests/pod.yaml
Labels: bug, test, regression

#6059 Upgrade hedera-sdk-go to v2.24.2
  hedera-mirror-rosetta/app/domain/types/constants_test.go
  hedera-mirror-rosetta/app/interfaces/transaction.go
  hedera-mirror-rosetta/app/services/construction/common.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: enhancement, rosetta

#5961 HIP-584: Add MirrorOperationTracer that logs message frame data
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/MirrorOperationTracer.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/TraceProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/validation/Hex.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/MirrorOperationTracerTest.java
  hedera-mirror-web3/src/test/resources/log4j2-test.xml
Labels: enhancement, web3, limechain

#6006 HIP-584: Create Token Database Accessor
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JEd25519Key.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKey.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/jproto/JEd25519KeyTest.java
Labels: enhancement, web3, limechain

#6070 Fix contract call middlware errors (0.81)
  charts/hedera-mirror-web3/values.yaml
Labels: bug, web3

#6017 HIP-584: Refactoring estimate gas tests: removing hardcoded values
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, test, web3, limechain

#5954 Implement topic message lookup
  charts/hedera-mirror/templates/configmap-init.yaml
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/StreamFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/topic/TopicMessageLookup.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-graphql/src/test/resources/db/init-v2.sql
  hedera-mirror-grpc/src/test/resources/db/scripts/init-v2.sql
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CacheConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/TimePartition.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/TimePartitionService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/TimePartitionServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TopicMessageLookupMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeRecordStreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/topic/TopicMessageLookupEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TopicMessageLookupRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.80.1__topic_message_lookup.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/main/resources/db/scripts/init.sh
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/db/TimePartitionServiceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TopicMessageLookupMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchUpserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/CompositeBatchPersisterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/topic/AbstractTopicMessageLookupIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/topic/TopicMessageLookupEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TopicMessageLookupRepositoryTest.java
  hedera-mirror-importer/src/test/resources/db/scripts/init-v2.sql
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-web3/src/test/resources/db/scripts/init-v2.sql
Labels: enhancement, parser, database

#6060 Add support for node ID based bucket paths in MetricsExecutionInterce…
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsExecutionInterceptor.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MetricsExecutionInterceptorTest.java
Labels: bug, downloader

#6067 Bump: Update `hedera-evm` to `0.38.0`
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  hedera-mirror-web3/build.gradle.kts
Labels: dependencies, web3, limechain

#6056 HIP-584: Contract create estimations are treated as call estimations
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3, limechain

#6066 HIP-584: Integrate StackedStateFrames into Updater components
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MockLedgerWorldUpdater.java
Labels: enhancement, web3, limechain

#6080 Fix acceptance tests on throttled networks
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/health/ReleaseHealthIndicator.java
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/StartupProbe.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/SdkProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/Web3Properties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: bug, test

#6084 Fix flaky Flyway setup in REST tests
  .gitignore
  hedera-mirror-rest/__tests__/integrationDbOps.js
Labels: bug, rest

#6021 HIP-584: Add Custom Fees to Token
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
Labels: enhancement, web3, limechain

#6020 HIP-584: Create Unique Token and Token Relationship Database Accessors
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/UniqueTokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/model/TokenRelationshipKey.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/NftDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/UniqueTokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: enhancement, web3, limechain

#6088 Fix S3 client retry and timeout config
  hedera-mirror-rest/__tests__/integration/template.js
  hedera-mirror-rest/__tests__/s3client.test.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/s3client.js
Labels: bug, rest

#6107 Update configuration.md
  docs/configuration.md
Labels: documentation

#6081 Add CORS origin * to POST /contracts/call
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: bug, security, web3

#6118 Fix GCR image cleanup workflow
  .github/workflows/cleanup.yml
Labels: bug, process

#6072 Remove networkPrefix property and rework network property usage.
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BlockNumberMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/MirrorPropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/CommonDownloaderPropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AutoS3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/NodeIdS3StreamProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigrationTest.java
Labels: enhancement, downloader

#6115 Handle null hapiVersion in blocks API
  hedera-mirror-rest/__tests__/specs/blocks/null-hapi-version.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/recordFile.js
Labels: bug, good first issue, rest
