Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-12, with the labels that each got.

#7299 Fix incorrect timestamp in historical balances response (0.93)
  hedera-mirror-rest/__tests__/specs/balances/timestamp.json
  hedera-mirror-rest/balances.js
Labels: bug, rest

#7292 Remove monitor dashboard
  .gitignore
  charts/hedera-mirror-rest/templates/monitor/deployment.yaml
  charts/hedera-mirror-rest/templates/monitor/service.yaml
  hedera-mirror-rest/monitoring/.dockerignore
  hedera-mirror-rest/monitoring/Dockerfile
  hedera-mirror-rest/monitoring/README.md
  hedera-mirror-rest/monitoring/account_tests.js
  hedera-mirror-rest/monitoring/balance_tests.js
  hedera-mirror-rest/monitoring/block_tests.js
  hedera-mirror-rest/monitoring/build.gradle.kts
  hedera-mirror-rest/monitoring/common.js
  hedera-mirror-rest/monitoring/config.js
  hedera-mirror-rest/monitoring/config/default.serverlist.json
  hedera-mirror-rest/monitoring/logger.js
  hedera-mirror-rest/monitoring/monitor.js
  hedera-mirror-rest/monitoring/monitor_apis/.gitignore
  hedera-mirror-rest/monitoring/monitor_dashboard/css/main.css
  hedera-mirror-rest/monitoring/monitor_dashboard/index.html
  hedera-mirror-rest/monitoring/monitor_dashboard/js/main.js
  hedera-mirror-rest/monitoring/monitor_tests.js
  hedera-mirror-rest/monitoring/network_tests.js
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/monitoring/pm2.json
  hedera-mirror-rest/monitoring/server.js
  hedera-mirror-rest/monitoring/stateproof_tests.js
  hedera-mirror-rest/monitoring/token_tests.js
  hedera-mirror-rest/monitoring/topicmessage_tests.js
  hedera-mirror-rest/monitoring/transaction_tests.js
  hedera-mirror-rest/monitoring/utils.js
Labels: bug, monitor

#7298 Fix next link in contract logs OpenAPI
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, rest

#7324 HIP-584: Return BAD_REQUEST if invalid method signature is used
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/PrecompileMapper.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
Labels: bug, web3, limechain

#7323 Fix REST API linux/arm64 image
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/Dockerfile
Labels: bug, regression, rest

#7330 Set entity balance timestamp in the migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
Labels: bug, parser

#7331 Fix acceptance test regression in estimate gas w/ bytecode
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
Labels: bug, test, regression, web3

#7333 Fix compatibility issue between netty and grpc
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
Labels: bug, regression, monitor

#7209 HIP-584 Historical: DB queries for historical crypto and token allowances
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/CryptoAllowanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAllowanceRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/CryptoAllowanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAllowanceRepositoryTest.java
Labels: enhancement, web3, limechain

#7294 Upgrade to Java 21
  .github/workflows/charts.yml
  .github/workflows/gradle.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/security.yml
  .gitignore
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/plugin/go/GoSetup.kt
  charts/README.md
  docs/installation.md
  hedera-mirror-common/build.gradle.kts
  hedera-mirror-graphql/Dockerfile
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishScenarioProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/controller/SubscriberController.java
  hedera-mirror-rest-java/Dockerfile
  hedera-mirror-test/Dockerfile
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/RetryAsserts.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-web3/Dockerfile
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/usage/token/TokenOpsUsageUtils.java
Labels: enhancement

#7338 Fix flaky NotifyingTopicListenerTest
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/controller/SubscriberController.java
Labels: bug, test, grpc

#7206 Topic message optimization
  docs/configuration.md
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/all-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/encoding-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-param-values-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-topid-id-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/limit-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/no-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/none-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/order-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/partial-data-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/repeated-valid-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/specific-sequence-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/with-chunk-data-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/topicMessageLookup.js
  hedera-mirror-rest/topicmessage.js
Labels: enhancement, rest

#7269 HIP-584 Historical: Extend historical DB queries
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/NftAllowanceDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/CustomFeeRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftAllowanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAccountRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAllowanceRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/NftAllowanceDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/CustomFeeRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAccountRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAllowanceRepositoryTest.java
Labels: enhancement, web3, limechain

#7349 Topic messages list query - Bug fix V2
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/all-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/encoding-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-param-values-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-topid-id-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/limit-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/no-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/none-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/order-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/partial-data-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/repeated-valid-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/specific-sequence-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/with-chunk-data-topic-message-lookup-enabled.json
  hedera-mirror-rest/topicmessage.js
Labels: bug, rest

#7346 Update contract state endpoint to support slot parameter in any order
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/timestamp-slot.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/timestamp.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/utils.js
Labels: bug, rest, contract

#7372 update migration to exclude entries with null hash
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.89.0.1__add_contract_lookup_tables.sql
Labels: bug, database

#7370 Bug Fix: REST API error
  hedera-mirror-rest/health.js
  hedera-mirror-rest/server.js
Labels: bug, good first issue, rest

#7367 Fix flaky acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
Labels: bug, test, limechain

#7373 Update config limit max test
  hedera-mirror-rest/__tests__/config.test.js
Labels: bug, test

#7374 Update migration to exclude entries with null hash (0.94)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.89.0.1__add_contract_lookup_tables.sql
Labels: bug, database

#7366 Optimize balance timestamp range when a closed range is provided in the request
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/integration/template.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-closed-range.json
  hedera-mirror-rest/__tests__/specs/balances/timestamp-closed-range.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest

#7314 HIP-584 Historical: Load EVM Configuration based on block number
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/PrecompiledContractProvider.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/PrecompilesHolder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/HTSPrecompiledContractAdapter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/evm/contracts/execution/HederaEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorBaseTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/HTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/PrecompiledContractBaseTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/AssociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/BurnPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DeleteTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DissociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/FreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/GrantKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/MintPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/PausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/RevokeKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdateKeysPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnfreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnpausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UpdateTokenExpiryInfoPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeNonFungiblePrecompileTest.java
Labels: enhancement, web3, limechain

#7380 Rename Mirror prefixed classes
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/GrpcApplication.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/ImporterApplication.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/DateRangeCalculator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/ImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/StreamFileHealthIndicator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/AbstractJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ContractResultMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ConvertEthereumTransactionValueMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RepeatableMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/ImporterIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/DateRangeCalculatorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AbstractJavaMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/response/MirrorTransaction.java
  hedera-mirror-test/src/main/java/com/hedera/mirror/test/TestApplication.java
Labels: enhancement, technical debt

#7242 HIP-584 Historical: Adapt DB Accessors to work with timestamp filters
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/RetryAsserts.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/DatabaseBackedStateFrame.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StackedStateFrames.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/DatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenAccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenAllowanceDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/UniqueTokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/ContextExtension.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/ContractCallContextTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/DatabaseBackedStateFrameTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StackedStateFramesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/DatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenAccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenAllowanceDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/UniqueTokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/HTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/PrecompiledContractBaseTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: enhancement, web3, limechain

#7391 Remove entityStakeQuery from accounts REST API
  hedera-mirror-rest/accounts.js
Labels: bug, rest

#7385 feat: HIP-584 Historical: Sync evm configurations with hedera-services
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/OperationRegistryCallback.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorV30.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/evm/contracts/execution/HederaEvmTxProcessor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
Labels: enhancement, web3, limechain

#7392 Fix integration test console warning about Stream of unknown length
  hedera-mirror-rest/__tests__/integration/template.js
Labels: enhancement, test, rest

#7388 Fix incorrect pending reward calculation
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.91.0__remove_incorrect_entity_stake.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: bug, regression, database

#7390 Disable entity history tracking during errata migration
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: bug, regression, parser

#7394 Fix incorrect pending reward calculation (0.94)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.91.0__remove_incorrect_entity_stake.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: bug, regression, database

#7395 Fix acceptance test main-class
  hedera-mirror-test/build.gradle.kts
Labels: bug, test, regression

#7420 Fix monitor retry logic
  hedera-mirror-rest/monitoring/common.js
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/monitoring/server.js
  hedera-mirror-rest/monitoring/utils.js
Labels: bug, monitor, javascript

#7421 Increase parser transaction timeout to 120s
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractParserProperties.java
Labels: enhancement, parser

#7415 HIP-584 Historical: fix slot parameter in `MirrorEntityAccess`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: bug, web3, limechain

#7398 Updated address-book protobuf binaries for testnet & previewnet
  hedera-mirror-importer/src/main/resources/addressbook/previewnet
  hedera-mirror-importer/src/main/resources/addressbook/testnet
Labels: enhancement, downloader

#7427 Suppress cancelled actuator logs
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/config/LoggingFilter.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/config/LoggingFilterTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/LoggingFilter.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/config/LoggingFilterTest.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/config/LoggingFilter.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/config/LoggingFilterTest.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
Labels: bug

#7437 Upgrade Rosetta image to Java 21
  hedera-mirror-rosetta/container/Dockerfile
Labels: bug, rosetta

#7438 Upgrade Rosetta image to Java 21 (0.95)
  hedera-mirror-rosetta/container/Dockerfile
Labels: bug, rosetta

#7379 HIP-584: Add utility adapter for sending calls to different nodes for acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/EncoderDecoderFacade.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/NetworkAdapter.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/ContractCallResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/contract/equivalence.feature
Labels: enhancement, web3, limechain

#7383 HIP-584: Add tests for nested functions for call and estimate gas
  .gitignore
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/ContractCallResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/PrecompileTestContract.sol/PrecompileTestContract.json
  hedera-mirror-test/src/test/resources/solidity/contracts/PrecompileTestContract.sol
Labels: enhancement, test, limechain

#7439 Fix acceptance test regression
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
Labels: bug, test, regression

#7440 Remove temporary workarounds
  build.gradle.kts
  hedera-mirror-common/build.gradle.kts
  hedera-mirror-rest/__tests__/model/transactionType.test.js
  hedera-mirror-rest/model/transactionType.js
Labels: enhancement, technical debt

#7458 revert owasp check dependency bump
  buildSrc/build.gradle.kts
Labels: bug

#7382 Re-implement temp table parser logic to be v2 compatible
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror/templates/configmap-init.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  charts/hedera-mirror/values.yaml
  docs/database/README.md
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/CommonTestConfiguration.java
  hedera-mirror-common/src/test/resources/init.sql
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/DBProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchUpserter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/DissociateTokenTransferUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/bootstrap-v2.yml
  hedera-mirror-importer/src/main/resources/bootstrap.yml
  hedera-mirror-importer/src/main/resources/db/migration/common/R__01_temp_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/R__02_temp_table_distribution.sql
  hedera-mirror-importer/src/main/resources/db/scripts/init-temp-schema.sh
  hedera-mirror-importer/src/main/resources/db/scripts/init.sh
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillFailedEthereumTransactionContractResultMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ContractStateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakePeriodStartMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGeneratorTest.java
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rosetta/container/Dockerfile
  hedera-mirror-rosetta/container/entrypoint.sh
  hedera-mirror-rosetta/container/importer/application.yml
Labels: bug, performance, parser, database
