Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-02, with the labels that each got.

#5314 Bump Eclipse Temurin JRE from 17.0.5_8 to 17.0.6_10
  hedera-mirror-graphql/Dockerfile
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: dependencies

#5317 Fix multiple monitor API bugs
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/balance_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/block_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/config/default.serverlist.json
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_apis/stateproof_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/token_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
Labels: bug, monitor

#5322 Fix multiple monitor API bugs (0.74)
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/balance_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/block_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/config/default.serverlist.json
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_apis/stateproof_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/token_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/transaction_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
Labels: bug, monitor

#5324 Remove maxAutomaticTokenAssociations field from acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: limechain

#5325 Remove maxAutomaticTokenAssociations field from acceptance tests (0.74)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: bug, test, regression

#5329 Upgrade staging-sm and staging-lg to 0.72.0, update staging-sm for testnet reset
  clusters/preprod/staging-lg/helmrelease.yaml
  clusters/preprod/staging-sm/helmrelease.yaml
  clusters/preprod/staging-sm/sealed-secret.yaml
Labels: enhancement, process

#5330 fix staging-sm acceptance key name for acceptance operatorID
  clusters/preprod/staging-sm/sealed-secret.yaml
Labels: bug, process

#5312 remove extra spotless config
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
Labels: bug, process

#5311 Fix issue for handling `api/v1/contracts/call` requests from different users
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
Labels: bug, web3, limechain

#5332 Rosetta show transaction valid until in ConstructionParse metadata
  hedera-mirror-rosetta/app/interfaces/transaction.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: enhancement, rosetta

#5323 Optimize get schedule by id query for citus
  hedera-mirror-rest/__tests__/schedules.test.js
  hedera-mirror-rest/schedules.js
  hedera-mirror-test/k6/src/rest/test/index.js
  hedera-mirror-test/k6/src/rest/test/networkExchangeRate.js
Labels: enhancement, rest, database

#5333 Adding token balances limitation info in swagger docs
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation

#5335 Fix contract call acceptance tests ran via helm test
  charts/hedera-mirror/values.yaml
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/RestPollingProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/Web3Properties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/resources/application.yml
Labels: bug, test, regression, web3

#5350 Fix contract call acceptance tests ran via helm test (0.74)
  charts/hedera-mirror/values.yaml
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/RestPollingProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/Web3Properties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/resources/application.yml
Labels: bug, test, regression, web3

#5327 Optimize contract by ID for Citus
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/specs/contracts/{id}/contract-empty-bytecode.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/fileDataService.js
Labels: enhancement, rest, database

#5357 Add openapi.yml to REST API docs
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/middleware/openapiHandler.js
Labels: enhancement, rest

#5352 Containerize monitor dashboard
  .github/workflows/cleanup.yml
  .github/workflows/release-production.yml
  buildSrc/src/main/kotlin/docker-conventions.gradle.kts
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  charts/hedera-mirror-rest/templates/_helpers.tpl
  charts/hedera-mirror-rest/templates/monitor/deployment.yaml
  charts/hedera-mirror-rest/templates/monitor/secret.yaml
  charts/hedera-mirror-rest/templates/monitor/service.yaml
  charts/hedera-mirror-rest/templates/monitor/tests/pod.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/ci/citus-values.yaml
  charts/hedera-mirror/ci/default-values.yaml
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/monitoring/Dockerfile
  hedera-mirror-rest/monitoring/README.md
  hedera-mirror-rest/monitoring/build.gradle.kts
  hedera-mirror-rest/monitoring/monitor_apis/account_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/config.js
  hedera-mirror-rest/monitoring/monitor_apis/config/default.serverlist.json
  hedera-mirror-rest/monitoring/monitor_apis/server.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
Labels: enhancement, monitor

#5358 Disable topic message query hint in certain scenario
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-rest/topicmessage.js
Labels: bug, performance, rest, grpc

#5365 Rosetta show transaction valid until in ConstructionParse metadata (0.74)
  hedera-mirror-rosetta/app/interfaces/transaction.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: enhancement, rosetta

#5366 Rosetta show transaction valid until in ConstructionParse metadata (0.73)
  hedera-mirror-rosetta/app/interfaces/transaction.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: enhancement, rosetta

#5367 Rosetta add latest HAPI response codes
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: enhancement, rosetta

#5368 Rosetta add latest HAPI response codes (0.74)
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: enhancement, rosetta

#5369 Rosetta add latest HAPI response codes (0.73)
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: enhancement, rosetta

#5371 Workaround duplicate block issue by merging blocks
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigrationTest.java
Labels: bug, database

#5372 Workaround block number issue by merging blocks (0.74)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigrationTest.java
Labels: bug, database

#5373 Workaround block number issue by merging blocks (0.73)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigrationTest.java
Labels: bug, database

#5374 Fix migration db user permission issue
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
Labels: bug, parser

#5376 Fix migration db user permission issue (0.73)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
Labels: bug, parser

#5377 Fix migration SQL performance issue
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigrationTest.java
Labels: enhancement, performance

#5378 Fix migration SQL performance issue (0.73)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigrationTest.java
Labels: enhancement, performance

#5375 Fix migration db user permission issue (0.74)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
Labels: bug, database

#5379 Fix migration SQL performance issue (0.74)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigrationTest.java
Labels: enhancement, performance

#5361 Misc fixes
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/AccountAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/AccountAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: bug, web3, limechain

#5360 Add gas per second metrics support
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/MetricsConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
Labels: web3, limechain

#5364 Change Rosetta API to show general operation status
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/constants_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/services/block_service_test.go
  hedera-mirror-rosetta/app/services/network_service.go
  hedera-mirror-rosetta/app/services/network_service_test.go
Labels: enhancement, rosetta

#5403 Fix EntityRecordItemListenerFileTest failure
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
Labels: bug, regression, parser

#5410 Add support for Hedera-Protobuf-API 0.35
  build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
Labels: enhancement, parser

#5276 Change GCP Pub/Sub to async
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/PubSubAutoConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordParserTest.java
  hedera-mirror-importer/src/test/resources/config/application-pubsub.yml
Labels: bug, performance, parser

#5414 Fix rest-monitor production docker image build
  .github/workflows/release-production.yml
Labels: bug, process

#5415 Fix rest-monitor production docker image build (0.75)
  .github/workflows/release-production.yml
Labels: bug, process

#5420 Revert spring-cloud-gcp-dependencies version bump
  build.gradle.kts
Labels: dependencies

#5351 Improve performance of get account by ID on Citus
  hedera-mirror-rest/accounts.js
Labels: enhancement, performance, rest

#5398 Add dynamic tag for the custom gas per second metrics
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/model/CallServiceParameters.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/IntegrationTestConfiguration.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: web3, limechain

#5363 Adding rate limit capabilities for eth_call
  build.gradle.kts
  docs/configuration.md
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/RateLimitConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/RateLimitException.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, security, web3, limechain

#5427 Update chart dependencies
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-common/templates/configmap-log-alerts.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-grpc/templates/hpa.yaml
  charts/hedera-mirror-rest/templates/hpa.yaml
  charts/hedera-mirror-rosetta/templates/hpa.yaml
  charts/hedera-mirror-web3/templates/hpa.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/templates/alertmanagerconfig.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  charts/hedera-mirror/templates/secret-redis.yaml
  charts/hedera-mirror/values.yaml
Labels: dependencies

#5425 Enhance web3 error response with detail message
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/convert/BytesDecoder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/ResponseCodeUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/GenericErrorResponse.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/convert/BytesDecoderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/resources/EthCall.sol
Labels: web3, limechain

#5440 Add errata for missing transactions
  docs/database.md
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-10T02_16_18.649144003Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-11T23_33_52.126565693Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T09_30_00.113171959Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_10_10.078089177Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_16_41.978788203Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_20_33.581677003Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_37_35.637466567Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_47_32.316855602Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_51_52.172485776Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T11_00_27.192493193Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T11_03_05.105650927Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T16_37_52.762823785Z.bin
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
Labels: bug, database

#5442 Add errata for missing transactions (0.74)
  docs/database.md
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-10T02_16_18.649144003Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-11T23_33_52.126565693Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T09_30_00.113171959Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_10_10.078089177Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_16_41.978788203Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_20_33.581677003Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_37_35.637466567Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_47_32.316855602Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_51_52.172485776Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T11_00_27.192493193Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T11_03_05.105650927Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T16_37_52.762823785Z.bin
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
Labels: bug, database

#5443 Add errata for missing transactions (0.75)
  docs/database.md
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-10T02_16_18.649144003Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-11T23_33_52.126565693Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T09_30_00.113171959Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_10_10.078089177Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_16_41.978788203Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_20_33.581677003Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_37_35.637466567Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_47_32.316855602Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T10_51_52.172485776Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T11_00_27.192493193Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T11_03_05.105650927Z.bin
  hedera-mirror-importer/src/main/resources/errata/mainnet/missingtransactions/2023-02-14T16_37_52.762823785Z.bin
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
Labels: bug, database

#5436 Eth_call account operation with eth address fix
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: bug, web3, limechain

#5438 Upgrade Citus to v11.2.0
  charts/hedera-mirror/templates/configmap-init.yaml
  charts/hedera-mirror/values.yaml
  docker-compose.yml
  hedera-mirror-graphql/src/test/resources/bootstrap-v2.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/alpine/Dockerfile
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/debian/Dockerfile
  hedera-mirror-importer/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-web3/src/test/resources/bootstrap-v2.yml
Labels: enhancement, database

#5380 Add GraphQL Helm chart
  charts/README.md
  charts/hedera-mirror-graphql/.helmignore
  charts/hedera-mirror-graphql/Chart.yaml
  charts/hedera-mirror-graphql/postman.json
  charts/hedera-mirror-graphql/templates/NOTES.txt
  charts/hedera-mirror-graphql/templates/_helpers.tpl
  charts/hedera-mirror-graphql/templates/alertmanagerconfig.yaml
  charts/hedera-mirror-graphql/templates/deployment.yaml
  charts/hedera-mirror-graphql/templates/hpa.yaml
  charts/hedera-mirror-graphql/templates/ingress.yaml
  charts/hedera-mirror-graphql/templates/middleware.yaml
  charts/hedera-mirror-graphql/templates/poddisruptionbudget.yaml
  charts/hedera-mirror-graphql/templates/prometheusrule.yaml
  charts/hedera-mirror-graphql/templates/role.yaml
  charts/hedera-mirror-graphql/templates/rolebinding.yaml
  charts/hedera-mirror-graphql/templates/secret.yaml
  charts/hedera-mirror-graphql/templates/service.yaml
  charts/hedera-mirror-graphql/templates/serviceaccount.yaml
  charts/hedera-mirror-graphql/templates/servicemonitor.yaml
  charts/hedera-mirror-graphql/templates/tests/configmap.yaml
  charts/hedera-mirror-graphql/templates/tests/pod.yaml
  charts/hedera-mirror-graphql/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/ci/citus-values.yaml
  charts/hedera-mirror/ci/default-values.yaml
  charts/hedera-mirror/templates/NOTES.txt
  charts/hedera-mirror/templates/application.yaml
  charts/hedera-mirror/templates/configmap-init.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/values.yaml
Labels: enhancement, process, graphql

#5473 Add fungible token transfers to errata migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: bug, database

#5474 Add fungible token transfers to errata migration (0.75)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: bug, database

#5475 Add fungible token transfers to errata migration (0.74)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: bug, database

#5441 Improve the performance of the contract results API for Citus
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractLog.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractResult.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.76.2__copy_transaction_hash_and_index_to_contract_log.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FillMissingContractInitsourceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/no-address-with-reach-max-limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/no-address-with-repeated-topics.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/no-address-with-timestamp-out-of-range.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-index-timestamp-range.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-index-timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-invalid-operators.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-multi-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-contractcreate-eth-calldata.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-contractcreate.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/index.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/order-asc.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/order-desc.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/repeated-topics-with-timestamp-no-results.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/repeated-topics-with-timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-with-timestamp-gt-lt.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-with-timestamp.json
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/model/contractLog.js
  hedera-mirror-rest/service/contractService.js
Labels: enhancement, rest, database

#5478 Fix gRPC dashboard
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/values.yaml
  docs/checklist/release.md
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/CompositeTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/PollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/RedisTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/TopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetriever.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/TopicMessageRetriever.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/NetworkServiceImpl.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
Labels: bug, grpc

#5510 Ensure OS packages are kept up to date
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  hedera-mirror-graphql/Dockerfile
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/debian/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/Dockerfile
  hedera-mirror-rosetta/container/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: bug, process

#5417 K6 performance tests for eth_call with token precompiles
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/lib/common.js
  hedera-mirror-test/k6/src/web3/reference/erctestcontract/ERCTestContract.bin
  hedera-mirror-test/k6/src/web3/reference/erctestcontract/ERCTestContract.sol
  hedera-mirror-test/k6/src/web3/reference/viewcontract/ViewContract.bin
  hedera-mirror-test/k6/src/web3/reference/viewcontract/ViewContract.sol
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/contractCallAllowance.js
  hedera-mirror-test/k6/src/web3/test/contractCallApproved.js
  hedera-mirror-test/k6/src/web3/test/contractCallApprovedForAll.js
  hedera-mirror-test/k6/src/web3/test/contractCallBalanceOf.js
  hedera-mirror-test/k6/src/web3/test/contractCallDecimals.js
  hedera-mirror-test/k6/src/web3/test/contractCallFungibleTokenInfo.js
  hedera-mirror-test/k6/src/web3/test/contractCallIsFrozen.js
  hedera-mirror-test/k6/src/web3/test/contractCallIsKyc.js
  hedera-mirror-test/k6/src/web3/test/contractCallIsToken.js
  hedera-mirror-test/k6/src/web3/test/contractCallName.js
  hedera-mirror-test/k6/src/web3/test/contractCallNonFungibleTokenInfo.js
  hedera-mirror-test/k6/src/web3/test/contractCallOwnerOf.js
  hedera-mirror-test/k6/src/web3/test/contractCallSymbol.js
  hedera-mirror-test/k6/src/web3/test/contractCallTokenCustomFees.js
  hedera-mirror-test/k6/src/web3/test/contractCallTokenDefaultFreezeStatus.js
  hedera-mirror-test/k6/src/web3/test/contractCallTokenDefaultKycStatus.js
  hedera-mirror-test/k6/src/web3/test/contractCallTokenExpiryInfo.js
  hedera-mirror-test/k6/src/web3/test/contractCallTokenInfo.js
  hedera-mirror-test/k6/src/web3/test/contractCallTokenKey.js
  hedera-mirror-test/k6/src/web3/test/contractCallTokenType.js
  hedera-mirror-test/k6/src/web3/test/contractCallTokenURI.js
  hedera-mirror-test/k6/src/web3/test/contractCallTotalSupply.js
  hedera-mirror-test/k6/src/web3/test/index.js
Labels: enhancement, performance, web3, limechain

#5513 Fix links in README
  README.md
Labels: documentation
