Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-06, with the labels that each got.

#6087 HIP-584: Integrate aliases map
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/MirrorOperationTracer.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
Labels: enhancement, web3, limechain

#6128 Fix GCR image cleanup workflow regression
  .github/workflows/cleanup.yml
Labels: bug, regression, process

#6125 HIP-584: Temporary disable CREATE2 and auto account creation functionalities
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/resources/contracts/EthCall/EthCall.bin
  hedera-mirror-web3/src/test/resources/contracts/EthCall/EthCall.json
  hedera-mirror-web3/src/test/resources/contracts/EthCall/EthCall.sol
Labels: web3, limechain

#6145 HIP-584: Stabilize acceptance tests related to web3 module
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/RestPollingProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
Labels: bug, web3, limechain

#6147 Remove NPM overrides
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: dependencies

#6022 HIP-584: Adapt MirrorHTSPrecompiledContract to accept precompile calls
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/NftAllowanceDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenAccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenAllowanceDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/PrecompileMapper.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAccountRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/AbiConstants.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/Precompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityNum.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MockPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/PrecompileMapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.sol
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.sol
Labels: enhancement, web3, limechain

#6157 Fix slow token account upsert
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGenerator.java
Labels: bug, performance, parser

#6151 Fix null sender id in Synthetic Nft Allowance Migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticNftAllowanceOwnerMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticNftAllowanceOwnerMigrationTest.java
Labels: bug, database

#6159 Fix null sender id in Synthetic Nft Allowance Migration (0.82)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticNftAllowanceOwnerMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticNftAllowanceOwnerMigrationTest.java
Labels: bug, database

#5974 HIP-584: eth estimate gas w/o precompiles tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/ContractCallRequest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/Caller.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/EstimateGasContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/MockContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/ReentrancyHelper.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimateGasContract.sol
Labels: test, web3, limechain

#6154 HIP-584: Enable CREATE2 operation by saving new alias to alias map
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3, limechain

#6170 HIP-584: Fix regression issues with acceptance tests
  docs/configuration.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
  hedera-mirror-test/src/test/resources/features/contract/precompile.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
Labels: bug, web3, limechain

#6190 Fix: typos
  docs/configuration.md
  docs/runbook/restore.md
  docs/troubleshooting.md
Labels: bug, documentation

#6189 Zero pad contract log data field
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/no-address-with-reach-max-limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/no-address-with-repeated-topics.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-index-timestamp-range.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-index-timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/logs/pagination-multi-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/by-hash-no-eth-tx.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/by-hash-nonce-is-ignored.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/multiple-single-result.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/no-evm-address.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/transactionid-or-hash-call-data-in-file.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/transactionid-or-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/index.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/order-asc.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/order-desc.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/repeated-topics-with-timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-with-timestamp-gt-lt.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-with-timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/non-populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data-func-params-from-filedata.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/populated-eth-data.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-no-state-change.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp.json
  hedera-mirror-rest/__tests__/viewmodel/contractLogViewModel.test.js
  hedera-mirror-rest/viewmodel/contractResultLogViewModel.js
Labels: bug, rest

#6193 Bump snakeyaml from 1.33 to 2.0
  build.gradle.kts
Labels: security, dependencies

#6161 HIP-584: Alias improvements
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
Labels: enhancement, web3, limechain

#6194 Bump snakeyaml from 1.33 to 2.0 (0.82)
  build.gradle.kts
Labels: dependencies

#6192 Add a highly available Citus deployment via Stackgres Operator
  .github/workflows/charts.yml
  charts/README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/ci/v1-values.yaml
  charts/hedera-mirror/ci/v2-values.yaml
  charts/hedera-mirror/templates/_helpers.tpl
  charts/hedera-mirror/templates/configmap-init.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  charts/hedera-mirror/templates/secret-redis.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-cluster.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-config-coordinator.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-config-worker.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-pooling-config.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-profile-coordinator.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-profile-worker.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-script-coordinator.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-script-worker.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values.yaml
  docs/configuration.md
  docs/graphql/README.md
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/DbProperties.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-rest/errors/dbError.js
  hedera-mirror-rest/middleware/httpErrorHandler.js
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/resources/application.yml
Labels: enhancement, database

#6168 HIP-584: Copy Associate logic
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/CachingStateFrame.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/UniqueTokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/FeeCalculator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/FcTokenAllowanceId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Id.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/NftId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/OwnershipTracker.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenModificationResult.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/UniqueToken.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/AssociateLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/UniqueTokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/AssociateLogicTest.java
Labels: enhancement, web3, limechain

#6155 HIP-584: Provide implementation for transfer precompiles - Part1
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/AssessedCustomFeeWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractWritePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/ImpliedTransfers.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/AssessedCustomFeeWrapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/impl/ImpliedTransfersTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompileTest.java
Labels: enhancement, web3, limechain

#6211 HIP-584: Fix build
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/Precompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractWritePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MockPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompileTest.java
Labels: bug, web3, limechain

#6200 HIP-584: Add acceptance tests for eth_call with precompile calls
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/precompile.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/ERCTestContract.sol/ERCTestContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/Parent.sol/Child.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/Parent.sol/Parent.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/PrecompileTestContract.sol/PrecompileTestContract.json
  hedera-mirror-test/src/test/resources/solidity/contracts/ERCTestContract.sol
  hedera-mirror-test/src/test/resources/solidity/contracts/PrecompileTestContract.sol
  hedera-mirror-test/src/test/resources/solidity/hardhat.config.js
Labels: test, web3, limechain

#6216 Make the *prune* SQL from history repositories more efficient.
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/CryptoAllowanceHistoryRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityHistoryRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NftAllowanceHistoryRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenAccountHistoryRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenAllowanceHistoryRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.81.2__make_history_indices_more_efficient.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
Labels: enhancement, performance, parser

#6234 HIP-584: Update openapi specification support table for web3 calls
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, web3, limechain

#6153 Cache and utilize StreamFilename path and incorporate node ID based path access in LocalStreamFileProvider
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFileData.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFileSignature.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFilename.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/DownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/FileCopier.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/StreamFileSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/StreamFilenameTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/DownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AutoS3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/NodeIdS3StreamProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/ProtoRecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReaderTest.java
Labels: enhancement, downloader

#6123 HIP-584: Implement account deletion in Updater
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractLedgerWorldUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldState.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MockLedgerWorldUpdater.java
Labels: enhancement, web3, limechain

#6240 HIP-584: Add tests for eth_call with modification functions
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
Labels: enhancement, test, web3, limechain

#6247 Bump netty from 4.1.92.Final to 4.1.94.Final
  build.gradle.kts
Labels: security, dependencies

#6245 HIP-584: Stabilize acceptance tests suite
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-test/README.md
  hedera-mirror-test/src/main/java/com/hedera/mirror/test/LoggingReporter.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/account/account.feature
  hedera-mirror-test/src/test/resources/features/account/cryptoAllowance.feature
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
  hedera-mirror-test/src/test/resources/features/contract/precompile.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3, limechain

#6243 Reduce the amount of data persisted for rosetta
  hedera-mirror-rosetta/container/Dockerfile
  hedera-mirror-rosetta/container/importer/application.yml
  hedera-mirror-rosetta/container/importer/sql/V1.78.99__truncate_tables_for_rosetta.sql
  hedera-mirror-rosetta/container/supervisord.conf
Labels: enhancement, database, rosetta

#6251 Bump Spring Boot from 3.1.0 to 3.1.1
  build.gradle.kts
  buildSrc/build.gradle.kts
  hedera-mirror-graphql/build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
Labels: dependencies

#6253 Fix REST monitor not updating on integration
  charts/hedera-mirror-rest/templates/monitor/deployment.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordDownloaderProperties.java
Labels: bug, process

#6255 Fix acceptance regression due to Spring Boot 3.1.1
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/FeatureProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/RestPollingProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/SdkProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/Web3Properties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/WebClientProperties.java
Labels: test, regression

#6239 HIP-584: Add `MintLogic` + `BurnLogic`
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/NftId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/OwnershipTracker.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/AssociateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/BurnLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/MintLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/TokenOpsValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/ContextOptionValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/OptionValidator.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/OwnershipTrackerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/AssociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/BurnLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/MintLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/TokenOpsValidatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/validation/ContextOptionValidatorTest.java
Labels: enhancement, web3, limechain

#6248 Rosetta consistent network address book in online / offline mode
  .github/workflows/rosetta.yml
  docs/configuration.md
  hedera-mirror-rosetta/app/config/application.yml
  hedera-mirror-rosetta/app/config/config_test.go
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/app/errors/errors.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/app/services/network_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/main.go
Labels: enhancement, rosetta

#6213 HIP-584: Charge proper gas for lazy created account
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/CryptoAllowanceHistoryRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenAllowanceHistoryRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/EntityAddressSequencer.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKey.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKeyList.java
  hedera-mirror-web3/src/main/java/com/hedera/services/ledger/ids/EntityIdSource.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/MiscUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/EntityAddressSequencerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/jproto/JKeyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/MiscUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/TxnUtils.java
Labels: enhancement, web3, limechain

#6244 HIP-584: Copy DissociateLogic into hedera-mirror-web3
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/AssociateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/DissociateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/BitPackUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/AssociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
Labels: enhancement, web3, limechain

#6249 Use node_stake for getNodes gRPC API
  docs/configuration.md
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/CacheConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/NodeStakeRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/AddressBookProperties.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/NetworkServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/GrpcIntegrationTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/repository/NodeStakeRepositoryTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/NetworkServiceTest.java
Labels: bug, grpc

#6288 Fix acceptance tests creating extra tokens
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/Cleanable.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
Labels: bug, test, regression

#6289 Fix sequenceNumber path parameter in OpenAPI
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, rest

#6292 Fix acceptance tests creating extra tokens (0.83)
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/Cleanable.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
Labels: bug, test, regression

#6032 HIP-584: Refactor accessors to use StackedStateFrames
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/AccountAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JECDSASecp256k1Key.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JEd25519Key.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKey.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/UniqueToken.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityNum.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/AccountAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/jproto/JKeyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/AccountTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/UniqueTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/BurnLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/MintLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityNumTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/TxnUtils.java
Labels: enhancement, web3, limechain

#6281 HIP-584: Fix `block.chainid` behaviour
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.bin
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.json
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.sol
Labels: bug, web3, limechain

#6300 HIP-584: Reduce cache expiration period for contract state to minimize stale data reads
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/properties/CacheProperties.java
Labels: bug, web3, limechain

#6277 HIP-584: Add mint precompile
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/ByteStringUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/contracts/ParsingConstants.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/Precompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/EncodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/FunctionParam.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/MintResult.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/MintWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/Wrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractAssociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/MintPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/SystemContractAbis.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/SystemContractTypes.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/MintLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/IdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MockPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HTSTestsUtil.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/MintPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/EncodingFacadeTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompileTest.java
Labels: enhancement, web3, limechain

#6254 Limit the number of concurrent signature file downloads
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
Labels: enhancement, downloader

#6285 Update the token balances REST API to use the real-time balance
  docs/rest/README.md
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/balance-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/limit.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/no-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/publickey.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/specific-id.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/token-not-found.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/rest/libex/parameters.js
  hedera-mirror-test/k6/src/rest/test/index.js
  hedera-mirror-test/k6/src/rest/test/tokensIdBalancesTimestamp.js
Labels: enhancement, rest

#6187 Add Synthetic Contract Result for HTS operations via HAPI
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractresult/AbstractSyntheticContractResult.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractresult/ApproveAllowanceContractResult.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractresult/SyntheticContractResult.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractresult/SyntheticContractResultService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractresult/SyntheticContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractresult/TransferContractResult.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/contractresult/SyntheticContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
  hedera-mirror-rosetta/container/supervisord.conf
Labels: enhancement, parser, contract, limechain
