Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-11, with the labels that each got.

#7150 Bump chart-testing-action from 2.4.0 to 2.6.0
  .github/workflows/charts.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-production.yml
Labels: dependencies

#7151 Bump chart-testing-action from 2.4.0 to 2.6.0 (0.92)
  .github/workflows/charts.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-production.yml
Labels: dependencies

#7148 HIP-584: Fix nested contract deploy fail
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: bug, web3, limechain

#7152 Teardown REST API test resources
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-rest/__tests__/globalTeardown.js
Labels: bug, rest

#7158 HIP-584: Move setting of recipient to be Address.ZERO outside of validations
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
Labels: bug, test, web3

#7155 Enable previously commented out tests
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
Labels: test, web3, limechain

#7175 Use extensionless/register
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/check-state-proof/register.js
  hedera-mirror-rest/monitoring/README.md
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_apis/register.js
  hedera-mirror-rest/monitoring/pm2.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/register.js
Labels: enhancement

#7179 Improve MirrorEvmTxProcessor execute method
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: enhancement, web3, limechain

#7183 Fix log rate dashboard
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror-common/dashboards/jvm-micrometer-rev9.json
  charts/hedera-mirror-graphql/values.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-web3/values.yaml
Labels: bug, process

#7182 Add Health check on Rest Network Stake
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/health/ClusterHealthIndicator.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClient.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/health/ClusterHealthIndicatorTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClientTest.java
Labels: enhancement, monitor

#7180 Support local files grouped by day
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFilename.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/StreamFilenameTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/ProtoRecordFileDownloaderTest.java
Labels: enhancement, downloader

#7190 Fix flaky RedisEntityListenerIntegrationTest
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/BatchEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListenerIntegrationTest.java
Labels: bug, test, parser

#7156 HIP-584: Update the blockhash operation to return value for all blocks
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/operations/HederaBlockHashOperation.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/operations/HederaBlockHashOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: bug, web3, limechain

#7146 HIP-584: Token transfer does not fail after dissociate
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/tokens/HederaTokenStore.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/DissociateLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/AssociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/BurnLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/CreateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/MintLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/WipeLogicTest.java
Labels: enhancement, web3, limechain

#7189 Fix flaky SyntheticCryptoTransferApprovalsMigrationTest
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/AsyncJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticCryptoTransferApprovalMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticCryptoTransferApprovalsMigrationTest.java
Labels: bug, test, database

#7178 HIP-584: Account balance cache delays is reflecting to proper eth_call balance update
  docs/configuration.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/properties/CacheProperties.java
Labels: bug, web3, limechain

#7185 HIP-584 Historical: Set historical block values
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/StaticBlockMetaSource.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/ContractCallContextTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/StaticBlockMetaSourceTest.java
Labels: enhancement, web3, limechain

#7049 Fix contract result endpoints performance in v2
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractResult.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractTransaction.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractTransactionHash.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/ContractTransactionHashRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/ContractTransactionRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.89.0__add_contract_lookup_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__static_partitioning.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/ContractTransactionHashRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/ContractTransactionRepositoryTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/service/transactionService.test.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/model/contractTransaction.js
  hedera-mirror-rest/model/contractTransactionHash.js
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/transactionService.js
Labels: bug, rest

#7203 HIP-584: 0x returned when contract's runtime bytecode is not available yet
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/precompile.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: bug, web3, limechain

#7194 Set correct sender account in `TransferPrecompile`
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/ContractCallContextTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/AssociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/BurnPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DeleteTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DissociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/FreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/GrantKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/MintPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/PausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/RevokeKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdateKeysPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnfreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnpausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UpdateTokenExpiryInfoPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeNonFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.bin
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.json
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.sol
Labels: bug, web3, limechain

#7208 Bump io.projectreactor.netty:reactor-netty-http
  build.gradle.kts
Labels: bug, security, dependencies

#7212 Fix incorrect key to look up entity in entity state
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/TransactionTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddNftHistoryMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ConvertEthereumTransactionValueMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/CustomFeesMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MergeDuplicateBlocksMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TimePartitionBalanceTablesMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: bug, parser

#6997 Remove not cached tokens and fix flaky tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
  hedera-mirror-test/src/test/resources/features/contract/precompile.feature
  hedera-mirror-test/src/test/resources/features/token/token.feature
  hedera-mirror-test/src/test/resources/features/token/tokenAllowance.feature
Labels: enhancement, test, limechain

#7096 HIP-584 Historical: Extend nft, nft allowance and token account DB queries to filter by timestamp
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftAllowanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAccountRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftAllowanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAccountRepositoryTest.java
Labels: enhancement, web3, limechain

#7087 Fix balances API with timestamp performance in v2
  hedera-mirror-rest/__tests__/balances.deduplication.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-lte.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-notfound.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/balances/all-params.json
  hedera-mirror-rest/__tests__/specs/balances/balance-range.json
  hedera-mirror-rest/__tests__/specs/balances/limit.json
  hedera-mirror-rest/__tests__/specs/balances/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/balances/publickey.json
  hedera-mirror-rest/__tests__/specs/balances/specific-id.json
  hedera-mirror-rest/__tests__/specs/balances/timestamp.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/utils.js
Labels: bug, performance, rest

#7211 HIP-584: Extract MirrorEvmTxProcessor as a singleton bean
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/PrecompilesHolder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/operations/HederaBlockHashOperation.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/evm/contracts/execution/HederaEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/Precompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractReadOnlyPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractWritePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AssociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/DissociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/MultiAssociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/MultiDissociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MockPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/AssociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/BurnPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DeleteTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DissociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/FreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/GrantKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/MintPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/PausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/RevokeKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdateKeysPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnfreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnpausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UpdateTokenExpiryInfoPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeNonFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtilsTest.java
Labels: enhancement, performance, web3

#7238 Fix incorrect value for flyway placeholder partitionStartDate
  charts/hedera-mirror/ci/v2-values.yaml
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.sh
Labels: bug, test, parser

#7244 Fix incorrect usage of k6 VU execution context in web3 tests
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/commonContractCallEstimateTemplate.js
Labels: bug, test, web3

#7252 Add metrics for partitioned tables
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MetricsConfigurationTest.java
Labels: enhancement, database

#7267 Add metrics for partitioned tables (0.93)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MetricsConfigurationTest.java
Labels: enhancement, database

#7271 Remove elastic metrics support
  docs/monitor/README.md
  hedera-mirror-grpc/build.gradle.kts
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-importer/src/main/resources/application.yml
Labels: enhancement, technical debt, process

#7276 Revert REST API to Node.js 18
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: dependencies

#7273 Bump Spring Boot from 3.1.5 to 3.2.0
  .github/workflows/security.yml
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractAction.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractToken.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/CryptoTransfer.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Transaction.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/util/CommonUtils.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/util/DomainUtilsTest.java
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.config
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchInserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/RateLimitConfiguration.java
  hedera-mirror-web3/src/main/resources/application.yml
  settings.gradle.kts
Labels: dependencies

#7280 Fix Java Docker entrypoint
  hedera-mirror-graphql/Dockerfile
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-rest-java/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: bug, regression

#7277 Update to no longer log recoverable error when transaction receipt contains invalid entity id
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
Labels: bug, parser

#7283 Use deduped token balance data in historical token balance distribution REST API
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.90.0__add_token_balance_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/all-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp-range-not-found.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest

#7286 Use deduped token balance data in historical token balance distribution REST API (0.93)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.90.0__add_token_balance_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/all-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp-range-not-found.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest

#7247 HIP-584: Integrate aliases into stacked state
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractLedgerWorldUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/FeeCalculator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/QueryResourceUsageEstimator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/TxnResourceUsageEstimator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/crypto/queries/GetTxnRecordResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/token/txns/TokenAssociateResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/token/txns/TokenDeleteResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/token/txns/TokenDissociateResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/token/txns/TokenUpdateResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsages.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/utils/OpUsageCtxHelper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/utils/PricedUsageCalculator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/ledger/TransferLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/TransferParams.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AutoCreationLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/crypto/queries/GetTxnRecordResourceUsageTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsagesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/utils/OpUsageCtxHelperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/utils/PricedUsageCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/ledger/TransferLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/AssociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/BurnPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DeleteTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DissociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/FreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/GrantKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/MintPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/PausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/RevokeKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdateKeysPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnfreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnpausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UpdateTokenExpiryInfoPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeNonFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
Labels: enhancement, web3, limechain

#7288 Bump logback from 1.4.11 to 1.4.13
  build.gradle.kts
Labels: security, dependencies

#7289 HIP-584: Throw exception only on populated `data` and missing bytecode
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3, limechain

#7287 Bump Gradle from 8.4 to 8.5
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  hedera-mirror-rest/package-lock.json
Labels: dependencies

#7291 HIP-584: Throw exception only on populated `data` and missing bytecode (0.93)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3, limechain

#7297 Fix incorrect timestamp in historical balances response
  hedera-mirror-rest/__tests__/specs/balances/timestamp.json
  hedera-mirror-rest/balances.js
Labels: bug, rest
