Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-10, with the labels that each got.

#6981 Bump graphql-java-generator from 2.2 to 2.3.1
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
Labels: dependencies

#6964 HIP-584: Remove unneeded store.wrap() call in ApproveAllowanceLogic
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/ApproveAllowanceLogic.java
Labels: bug, web3, limechain

#6999 Fix GCP Marketplace workflow
  charts/marketplace/gcp/Dockerfile
  charts/marketplace/gcp/values.yaml
Labels: bug, process

#6974 Update accounts and balances to use entity.balance_timestamp
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/accounts-range.json
  hedera-mirror-rest/__tests__/specs/accounts/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/balance-range.json
  hedera-mirror-rest/__tests__/specs/accounts/limit-capped-at-max.json
  hedera-mirror-rest/__tests__/specs/accounts/limit.json
  hedera-mirror-rest/__tests__/specs/accounts/multiple-ids.json
  hedera-mirror-rest/__tests__/specs/accounts/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/publickey.json
  hedera-mirror-rest/__tests__/specs/accounts/specific-id.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-lte.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-noaccountbalance.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-notfound.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/token-balance-limit-with-alias-into-evm-address.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/token-balance-limit.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactions.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/__tests__/specs/balances/balance-range.json
  hedera-mirror-rest/__tests__/specs/balances/no-params.json
  hedera-mirror-rest/__tests__/specs/balances/publickey.json
  hedera-mirror-rest/__tests__/specs/balances/specific-id.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
Labels: enhancement, rest, balances

#7003 Disable shard replication by default
  charts/hedera-mirror/values-prod.yaml
Labels: enhancement, database

#7011 Bump Gradle from 8.3 to 8.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies

#7004 Document citus backup and restore
  docs/database/README.md
  docs/database/citus.md
Labels: documentation

#7013 Disable reconciliation job by default
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/ReconciliationProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationServiceTest.java
Labels: enhancement, database, breaking

#7000 Improve the efficiency of loading contract initcode
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/transactionid-or-hash-call-data-invalid-file.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/contract-initcode-large-files.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-invalid-file.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest

#7009 Refactor test suites to use headlong function encoding
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
Labels: test, web3, limechain

#7015 Use ContractCallTestScenarioBuilder in web3 k6 test cases
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/commonContractCallEstimateTemplate.js
  hedera-mirror-test/k6/src/web3/test/contractCallBalance.js
  hedera-mirror-test/k6/src/web3/test/contractCallIdentifier.js
  hedera-mirror-test/k6/src/web3/test/contractCallMultiply.js
  hedera-mirror-test/k6/src/web3/test/contractCallReceive.js
  hedera-mirror-test/k6/src/web3/test/contractCallSender.js
Labels: enhancement, test

#7017 Add table disk size metrics & graphs
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror-rest/templates/monitor/deployment.yaml
  charts/hedera-mirror-rest/values.yaml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/CacheConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/AddressBookEntryRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/EntityRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/NodeStakeRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CacheConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/TimePartitionServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/topic/AbstractTopicMessageLookupIntegrationTest.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractStateRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EntityRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftAllowanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/RecordFileRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAccountRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAllowanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenRepository.java
Labels: enhancement, database

#6979 Add support for dynamic expression-based transaction filters
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TransactionFilterFields.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/InvalidConfigurationException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/CommonParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/CommonParserPropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/CommonParserPropertiesTest.java
Labels: enhancement, parser

#7044 HIP-584: Historical support - 06812 historical support token token balance
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenBalanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenBalanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenRepositoryTest.java
Labels: enhancement, web3, limechain

#7019 Ignore staking fields before staking was enabled
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerEntityTransactionTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandlerTest.java
Labels: bug, parser

#6975 Enhance ContractController to handle all remaining block types (pending, safe, finalized)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/BlockType.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/viewmodel/BlockTypeTest.java
Labels: enhancement, web3, limechain

#7058 Bump netty from 4.1.97.Final to 4.1.100.Final
  build.gradle.kts
Labels: dependencies

#7056 Bump eclipse-temurin from 17.0.8 to 17.0.8.1
  hedera-mirror-graphql/Dockerfile
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-rest-java/Dockerfile
  hedera-mirror-test/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: dependencies

#7057 Bump Go from 1.21.1 to 1.21.3
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/build.gradle.kts
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: dependencies

#7041 HIP-584: Estimated gas under expected range
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
Labels: bug, test, limechain

#7047 HIP-584: Copy HederaPrngSeedOperation from services
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaPrngSeedOperation.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.bin
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.json
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.sol
Labels: bug, web3, limechain

#7081 Bump Node.js from 18.17.1 to 18.18.2
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  charts/hedera-mirror-common/Chart.yaml
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/Dockerfile
Labels: dependencies

#7088 Fix EVM address lookup corner case
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/EntityIdServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/SdkProperties.java
Labels: bug, parser

#7093 Remove references to VM deployment
  .github/workflows/gradle.yml
  README.md
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  buildSrc/src/main/kotlin/spring-conventions.gradle.kts
  docs/checklist/release.md
  docs/importer/README.md
  docs/installation.md
  docs/operations.md
  hedera-mirror-grpc/build.gradle.kts
  hedera-mirror-grpc/scripts/db/init.sh
  hedera-mirror-grpc/scripts/deploy.sh
  hedera-mirror-grpc/scripts/hedera-mirror-grpc.service
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-importer/scripts/deploy.sh
  hedera-mirror-importer/scripts/hedera-mirror-importer.service
  hedera-mirror-monitor/build.gradle.kts
  hedera-mirror-rest/build.gradle.kts
  hedera-mirror-rest/pm2.json
Labels: documentation

#7094 Bump Spring Boot from 3.1.4 to 3.1.5
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: dependencies

#7110 Remove Rosetta GitHub workflow
  .github/workflows/rosetta.yml
  .github/workflows/security.yml
Labels: bug, process, rosetta

#7098 Extend tests for estimateGas with contract transaction execution
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
Labels: enhancement, test, web3

#7116 Improve EntityIdService cache lookup
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CacheConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CacheProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/TimePartitionServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/EntityIdServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/topic/AbstractTopicMessageLookupIntegrationTest.java
Labels: enhancement, parser

#7119 Suppress Snyk static analysis false positive
  .snyk
Labels: bug, process

#7117 Update the Besu EVM library version to 23.10.0
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/MirrorOperationTracer.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/MirrorOperationTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MockLedgerWorldUpdater.java
Labels: web3, limechain

#7091 HIP-584: Fix block hash exception due to hash value not being sliced
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/StaticBlockMetaSource.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/StaticBlockMetaSourceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.bin
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.json
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.sol
Labels: bug, web3, limechain

#7120 Show actual URL in k6 test report
  hedera-mirror-test/k6/src/lib/common.js
  hedera-mirror-test/k6/src/rest/apis.js
  hedera-mirror-test/k6/src/rest/test/accounts.js
  hedera-mirror-test/k6/src/rest/test/accountsBalanceFalsePubkey.js
  hedera-mirror-test/k6/src/rest/test/accountsBalanceGte0Pubkey.js
  hedera-mirror-test/k6/src/rest/test/accountsBalanceNe.js
  hedera-mirror-test/k6/src/rest/test/accountsCryptoAllowance.js
  hedera-mirror-test/k6/src/rest/test/accountsCryptoAllowanceSpender.js
  hedera-mirror-test/k6/src/rest/test/accountsId.js
  hedera-mirror-test/k6/src/rest/test/accountsIdNe.js
  hedera-mirror-test/k6/src/rest/test/accountsIdTimestampLte.js
  hedera-mirror-test/k6/src/rest/test/accountsNfts.js
  hedera-mirror-test/k6/src/rest/test/accountsTokenAllowance.js
  hedera-mirror-test/k6/src/rest/test/accountsTokens.js
  hedera-mirror-test/k6/src/rest/test/balances.js
  hedera-mirror-test/k6/src/rest/test/balancesAccount.js
  hedera-mirror-test/k6/src/rest/test/balancesAccountTimestamp.js
  hedera-mirror-test/k6/src/rest/test/balancesTimestamp.js
  hedera-mirror-test/k6/src/rest/test/blocks.js
  hedera-mirror-test/k6/src/rest/test/blocksHash.js
  hedera-mirror-test/k6/src/rest/test/blocksNumber.js
  hedera-mirror-test/k6/src/rest/test/contracts.js
  hedera-mirror-test/k6/src/rest/test/contractsId.js
  hedera-mirror-test/k6/src/rest/test/contractsIdResults.js
  hedera-mirror-test/k6/src/rest/test/contractsIdResultsLogs.js
  hedera-mirror-test/k6/src/rest/test/contractsIdResultsTimestamp.js
  hedera-mirror-test/k6/src/rest/test/contractsIdState.js
  hedera-mirror-test/k6/src/rest/test/contractsResult.js
  hedera-mirror-test/k6/src/rest/test/contractsResultsId.js
  hedera-mirror-test/k6/src/rest/test/contractsResultsIdActions.js
  hedera-mirror-test/k6/src/rest/test/contractsResultsLogs.js
  hedera-mirror-test/k6/src/rest/test/index.js
  hedera-mirror-test/k6/src/rest/test/networkNodes.js
  hedera-mirror-test/k6/src/rest/test/schedules.js
  hedera-mirror-test/k6/src/rest/test/schedulesAccount.js
  hedera-mirror-test/k6/src/rest/test/schedulesId.js
  hedera-mirror-test/k6/src/rest/test/tokens.js
  hedera-mirror-test/k6/src/rest/test/tokensId.js
  hedera-mirror-test/k6/src/rest/test/tokensIdBalances.js
  hedera-mirror-test/k6/src/rest/test/tokensIdBalancesTimestamp.js
  hedera-mirror-test/k6/src/rest/test/tokensNfts.js
  hedera-mirror-test/k6/src/rest/test/tokensNftsSerial.js
  hedera-mirror-test/k6/src/rest/test/tokensNftsSerialTransactions.js
  hedera-mirror-test/k6/src/rest/test/topicsIdMessages.js
  hedera-mirror-test/k6/src/rest/test/topicsIdMessagesSequence.js
  hedera-mirror-test/k6/src/rest/test/topicsIdMessagesSequenceQueryParam.js
  hedera-mirror-test/k6/src/rest/test/topicsMessagesTimestamp.js
  hedera-mirror-test/k6/src/rest/test/transactions.js
  hedera-mirror-test/k6/src/rest/test/transactionsAccountId.js
  hedera-mirror-test/k6/src/rest/test/transactionsCryptoCreateAccountDebit.js
  hedera-mirror-test/k6/src/rest/test/transactionsHash.js
  hedera-mirror-test/k6/src/rest/test/transactionsId.js
  hedera-mirror-test/k6/src/rest/test/transactionsIdStateproof.js
  hedera-mirror-test/k6/src/rest/test/transactionsTransactionTypeAscending.js
Labels: bug, test

#7125 Fix acceptance tests race condition for EstimateFeature
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
Labels: test, web3, limechain

#7118 HIP-584 Historical: Added new query for contract state to return historical contract state storage value
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractStateRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractStateRepositoryTest.java
Labels: enhancement, web3, limechain

#6966 HIP-584: Extend entity, account balance and crypto transfer db queries
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/AccountBalanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EntityRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/AccountBalanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/EntityRepositoryTest.java
Labels: enhancement, web3, limechain

#7126 Bump chart dependencies
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-graphql/templates/middleware.yaml
  charts/hedera-mirror-grpc/templates/middleware.yaml
  charts/hedera-mirror-rest/templates/middleware.yaml
  charts/hedera-mirror-rosetta/templates/middleware.yaml
  charts/hedera-mirror-web3/templates/middleware.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
Labels: dependencies

#7035 Add deduplication of entries for Account Balance and Token Balance
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/AccountBalanceRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/BalanceSnapshotRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenBalanceRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AccountBalanceRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TokenBalanceRepositoryTest.java
Labels: enhancement, parser, balances

#7095 Remove generation of token history row when total supply changes for Mint/Wipe/Burn
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/History.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractToken.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenBurnTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenMintTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenWipeTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/token/AbstractTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenBurnTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenMintTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenWipeTransactionHandlerTest.java
Labels: enhancement, parser
