Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-01, with the labels that each got.

#5119 HIP-583 Finalize hollow account into contract
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
Labels: enhancement, parser

#5158 Fix security dependency check failures
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: security, dependencies

#5150 Always set SDK client operator in acceptance test
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
Labels: bug, test

#5156 Add testkube resources to common chart
  charts/hedera-mirror-common/templates/k6-custom-executor.yaml
  charts/hedera-mirror-common/templates/test-rest.yaml
  charts/hedera-mirror-common/templates/test-suite-rest.yaml
  charts/hedera-mirror-common/values.yaml
Labels: enhancement, performance, test

#5165 Fix network stake response in OpenAPI
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  gradle.properties
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, rest

#5164 Increase Jest timeout for s3ClientTest
  hedera-mirror-rest/__tests__/s3client.test.js
Labels: bug, test, rest

#5166 Enable citus coordinator startup probe
  charts/hedera-mirror/values.yaml
Labels: bug, database

#5103 Add a few missing rest endpoints to k6 tests
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/lib/constants.js
  hedera-mirror-test/k6/src/lib/parameters.js
  hedera-mirror-test/k6/src/rest/test/accountsNfts.js
  hedera-mirror-test/k6/src/rest/test/accountsTokenAllowance.js
  hedera-mirror-test/k6/src/rest/test/accountsTokens.js
  hedera-mirror-test/k6/src/rest/test/blocks.js
  hedera-mirror-test/k6/src/rest/test/blocksHash.js
  hedera-mirror-test/k6/src/rest/test/blocksNumber.js
  hedera-mirror-test/k6/src/rest/test/bootstrapEnvParameters.js
  hedera-mirror-test/k6/src/rest/test/contractsResult.js
  hedera-mirror-test/k6/src/rest/test/index.js
Labels: enhancement, good first issue, performance, test

#5171 Fix major code smells
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/UtilPrngTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerUtilTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCallTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/UtilPrngTransactionHandlerTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishRequest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishResponse.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/generator/ConfigurableTransactionGenerator.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/expression/ExpressionConverterImplTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/generator/ConfigurableTransactionGeneratorTest.java
Labels: bug, good first issue

#5170 Disable helm release health check by default
  docs/configuration.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/health/ReleaseHealthProperties.java
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/NetworkTransactionResponse.java
Labels: bug, process

#5140 Add 8 new k6 unit tests
  hedera-mirror-test/k6/src/lib/constants.js
  hedera-mirror-test/k6/src/lib/parameters.js
  hedera-mirror-test/k6/src/rest/test/contractsIdState.js
  hedera-mirror-test/k6/src/rest/test/contractsResultsId.js
  hedera-mirror-test/k6/src/rest/test/contractsResultsIdActions.js
  hedera-mirror-test/k6/src/rest/test/contractsResultsLogs.js
  hedera-mirror-test/k6/src/rest/test/index.js
  hedera-mirror-test/k6/src/rest/test/networkExchangeRate.js
  hedera-mirror-test/k6/src/rest/test/networkFees.js
  hedera-mirror-test/k6/src/rest/test/networkNodes.js
  hedera-mirror-test/k6/src/rest/test/transactionsIdStateproof.js
Labels: enhancement, good first issue, performance, test

#5172 Disable discovery for spring cloud
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-monitor/build.gradle.kts
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/application.yml
Labels: bug, good first issue, regression, monitor

#5168 Use virtual time scheduler where possible
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/NetworkControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetrieverTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/NetworkServiceTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/CompositeStreamFileProvider.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/CompositeStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListenerTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscription.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/config/LoggingFilterTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/CompositeSubscriberTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcClientSDKTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriberTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClientTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
Labels: bug, good first issue, test

#5174 Bump dependency-check-gradle from 7.4.3 to 7.4.4
  buildSrc/build.gradle.kts
Labels: dependencies

#5176 Add testkube cron schedule and change branch default
  charts/hedera-mirror-common/templates/test-rest.yaml
  charts/hedera-mirror-common/templates/test-suite-rest.yaml
  charts/hedera-mirror-common/values.yaml
Labels: enhancement, performance, test

#5175 Fix minor code smells
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/balance/AccountBalance.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/CryptoTransfer.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/LogsBloomAggregatorTest.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ContractResultMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/CommonParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistry.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillBlockMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TransferTransactionPayerMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchInserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/PerformanceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/RestoreClientIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/ethereum/LegacyEthereumTransactionParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AssessedCustomFeeRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/CustomFeeRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/LoggingFilter.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/expression/ExpressionConverterImpl.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/properties/ScenarioPropertiesAggregatorImpl.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishException.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishScenario.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/transaction/account/AccountCreateTransactionSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriber.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscription.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClient.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscriber.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/properties/ScenarioPropertiesAggregatorImplTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
Labels: bug

#5192 Mark staking reward payout related operations as CRYPTOTRANSFER
  hedera-mirror-rosetta/app/persistence/domain/staking_reward_transfer.go
  hedera-mirror-rosetta/app/persistence/domain/staking_reward_transfer_test.go
  hedera-mirror-rosetta/app/persistence/transaction.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/test/domain/staking_reward_transfer_builder.go
Labels: bug, rosetta

#5191 Add testnet-na & testnet-eu deployments
  clusters/testnet-eu/common/helmrelease.yaml
  clusters/testnet-eu/common/kustomization.yaml
  clusters/testnet-eu/common/sealed-secret-grafana-cloud.yaml
  clusters/testnet-eu/common/sealed-secret.yaml
  clusters/testnet-eu/flux-system/alert.yaml
  clusters/testnet-eu/flux-system/kustomization.yaml
  clusters/testnet-eu/flux-system/provider.yaml
  clusters/testnet-eu/flux-system/sealed-secret.yaml
  clusters/testnet-eu/testnet/helmrelease.yaml
  clusters/testnet-eu/testnet/helmrepository.yaml
  clusters/testnet-eu/testnet/namespace.yaml
  clusters/testnet-eu/testnet/sealed-secret.yaml
  clusters/testnet-na/common/helmrelease.yaml
  clusters/testnet-na/common/kustomization.yaml
  clusters/testnet-na/common/sealed-secret-grafana-cloud.yaml
  clusters/testnet-na/common/sealed-secret.yaml
  clusters/testnet-na/flux-system/alert.yaml
  clusters/testnet-na/flux-system/gotk-components.yaml
  clusters/testnet-na/flux-system/kustomization.yaml
  clusters/testnet-na/flux-system/provider.yaml
  clusters/testnet-na/flux-system/sealed-secret.yaml
  clusters/testnet-na/testnet/helmrelease.yaml
  clusters/testnet-na/testnet/helmrepository.yaml
  clusters/testnet-na/testnet/namespace.yaml
  clusters/testnet-na/testnet/sealed-secret.yaml
Labels: enhancement, process

#5188 Add acceptance test for auto account creation
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorAccountBalance.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorAccountResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/account/account.feature
Labels: enhancement, good first issue, test

#5202 Update the posgresql-repmgr version
  charts/marketplace/gcp/release.sh
Labels: enhancement, marketplace

#5204 Bump swagger-stats from 0.99.4 to 0.99.5
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: dependencies

#5205 Fix acceptance tests not always setting a max transaction fee
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ScheduleClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
Labels: bug, test

#5223 Enabling contact byte code search with non-mirror evm address
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: web3, limechain

#5194 Fix remaining Sonar code smells
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/TokenId.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedTopicListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFilename.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/TransientProviderException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserPerformanceTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/controller/SubscriberController.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscription.java
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidParametersException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/Web3Exception.java
Labels: bug, good first issue, test

#5251 Fix S3 download metrics
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
Labels: bug, downloader

#5253 Add docs for testnet reset
  docs/database.md
Labels: documentation

#5255 Rename RecordItemBuilder.record() to fix code smell
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/ProtoRecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNonFeeTransferTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerScheduleTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerUtilTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/performance/EntityRecordItemListenerPerformanceCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
Labels: enhancement, parser

#5256 Fix S3 metric action tag
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsExecutionInterceptor.java
Labels: bug, downloader

#5247 Fixing repeatable partitions to use a case-insensitive map
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MigrationProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/DummyMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RepeatableMigrationTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
Labels: bug, good first issue, parser

#5254 Optimize transaction by transaction ID query for Citus
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/model/assessedCustomFee.js
  hedera-mirror-rest/model/cryptoTransfer.js
  hedera-mirror-rest/model/nftTransfer.js
  hedera-mirror-rest/model/tokenTransfer.js
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest, database

#5242 Throw correct error when multiple contract type transactions are found
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/multiple-transactions-not-found.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/multiple-transactions.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/transactionService.js
Labels: bug, rest

#5269 Improve record file performance test
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordFileBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserPerformanceTest.java
Labels: enhancement, performance, test

#5272 Fix code smells
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/plugin/go/GoSetup.kt
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/PollingTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/RedisTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListenerTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/EntityIdServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AddressBookRepositoryTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorContractResult.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/features/topic/topic.feature
Labels: bug, technical debt

#5197 REST API Throw Error for invalid parameters
  hedera-mirror-rest/__tests__/specs/accounts/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/accounts/invalid-query.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/tokens/invalid-params.json
  hedera-mirror-rest/__tests__/specs/balances/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/balances/invalid-query.json
  hedera-mirror-rest/__tests__/specs/blocks/invalid-params.json
  hedera-mirror-rest/__tests__/specs/blocks/{id}/invalid-params.json
  hedera-mirror-rest/__tests__/specs/contracts/invalid-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/invalid-filters.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/actions/invalid-filters.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/invalid-filters.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/topics-invalid.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/unknown-parameter.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/invalid-params.json
  hedera-mirror-rest/__tests__/specs/network/exchangerate/timestamp-invalid-params.json
  hedera-mirror-rest/__tests__/specs/network/fees/timestamp-invalid-params.json
  hedera-mirror-rest/__tests__/specs/network/nodes/invalid-params.json
  hedera-mirror-rest/__tests__/specs/network/stake/invalid-params.json
  hedera-mirror-rest/__tests__/specs/network/supply/invalid-parameters.json
  hedera-mirror-rest/__tests__/specs/schedules/invalid-params-queries.json
  hedera-mirror-rest/__tests__/specs/schedules/invalid-query.json
  hedera-mirror-rest/__tests__/specs/schedules/{id}/invalid-params.json
  hedera-mirror-rest/__tests__/specs/tokens/invalid-query-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/invalid-query.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/repeated-valid-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/nfts/invalid-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/nfts/{id}/transactions/invalid-query-params.json
  hedera-mirror-rest/__tests__/specs/topics/messages/{id}/invalid-params.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/invalid-params.json
  hedera-mirror-rest/__tests__/specs/transactions/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/invalid-params.json
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/controllers/accountController.js
  hedera-mirror-rest/controllers/blockController.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/controllers/cryptoAllowanceController.js
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-rest/controllers/tokenAllowanceController.js
  hedera-mirror-rest/controllers/tokenController.js
  hedera-mirror-rest/errors/invalidArgumentError.js
  hedera-mirror-rest/schedules.js
  hedera-mirror-rest/stateproof.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: bug, rest

#5271 Improve list transactions REST API performance
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest, database

#4882 Add acceptance tests for contract call REST API
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/ContractCallRequest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/ContractCallResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/contract.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/Parent.sol/Parent.json
  hedera-mirror-test/src/test/resources/solidity/contracts/Parent.sol
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
Labels: enhancement, test, web3, limechain

#5278 Update testnet bucket and address book
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/resources/addressbook/testnet
  hedera-mirror-importer/src/test/resources/addressbook/testnet
  hedera-mirror-rest/constants.js
  hedera-mirror-test/src/test/resources/junit-platform.properties
Labels: enhancement, rest, parser

#5280 Update testnet bucket and address book (0.73)
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/resources/addressbook/testnet
  hedera-mirror-importer/src/test/resources/addressbook/testnet
  hedera-mirror-rest/constants.js
  hedera-mirror-test/src/test/resources/junit-platform.properties
Labels: enhancement, rest, parser

#5283 Optimize list accounts query
  charts/hedera-mirror/values.yaml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-rest/accounts.js
Labels: enhancement, rest, database
