Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-03, with the labels that each got.

#5523 Skip web3 integration tests based on sidecars flag
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: test, web3, limechain

#5521 Skip web3 acceptance tests for environments with disabled sidecars
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
Labels: test, web3, limechain

#5520 Improve GraphQL Chart Test
  charts/hedera-mirror/ci/citus-values.yaml
  charts/hedera-mirror/ci/default-values.yaml
Labels: bug, test, regression

#5514 Add Builder.default to data model fields to reduce build warnings
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/addressbook/AddressBookEntry.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/balance/AccountBalance.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/balance/AccountBalanceFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractResult.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/event/EventFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/AssessedCustomFee.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/SidecarFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFileSignature.java
Labels: bug

#5529 Fix jest test reports in CI
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/package.json
Labels: bug, test

#5524 Remove uniqueness of `unique` indices in both v1 and v2 migrations.
  hedera-mirror-importer/src/main/resources/db/migration/v1/R__entity_state_start.sql
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.77.0__make_indexes_not_unique.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/R__entity_state_start.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
Labels: enhancement, database

#5532 Fix Gradle build in Intellij
  .github/release.yml
  .github/workflows/charts.yml
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  buildSrc/src/main/resources/hooks/pre-commit
  charts/hedera-mirror-common/values.yaml
  charts/marketplace/gcp/values.yaml
  settings.gradle.kts
Labels: bug, process

#5530 Track NFT balance
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NftRepository.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NftRepositoryTest.java
Labels: enhancement, parser

#5526 Enhance web3 error handling with additional support
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: bug, web3, limechain

#5586 Fix GCP Marketplace workflow
  charts/hedera-mirror/templates/application.yaml
Labels: bug, marketplace

#5587 Fix GCP Marketplace workflow (0.76)
  charts/hedera-mirror/templates/application.yaml
Labels: bug, marketplace

#5469 Rosetta rework transaction valid until timestamp
  .github/workflows/rosetta.yml
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
Labels: enhancement, rosetta

#5589 Rosetta rework transaction valid until timestamp (0.76)
  .github/workflows/rosetta.yml
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
Labels: enhancement, rosetta

#5554 Add Snyk checks to CI
  .github/workflows/security.yml
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/snykcode-extension.gradle.kts
Labels: enhancement, process

#5553 Add search for account by alias or EVM address to GraphQL API
  charts/hedera-mirror-graphql/postman.json
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/controller/AccountController.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/repository/EntityRepository.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/service/EntityService.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/service/EntityServiceImpl.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/util/GraphQlUtils.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/controller/AccountControllerTest.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/repository/EntityRepositoryTest.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/service/EntityServiceTest.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/util/GraphQlUtilsTest.java
Labels: enhancement, graphql, arkhia

#5591 Fix java compiler warnings
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  hedera-mirror-common/build.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/StreamType.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/exception/MirrorNodeException.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/exception/NonParsableKeyException.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/exception/ProtobufException.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/topic/TopicMessageTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-graphql/build.gradle.kts
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/cache/CachedPreparsedDocumentProvider.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/config/LoggingFilter.java
  hedera-mirror-grpc/build.gradle.kts
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/RedisConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/RedisTopicListener.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/NetworkControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/RedisTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/TransientProviderException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/FieldInaccessibleException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ContractResultMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/StreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/StreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/StreamFileRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGenerator.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractLinkedStreamDownloaderTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/LoggingFilter.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/exception/ExpressionConversionException.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/health/ReleaseHealthIndicator.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/properties/ScenarioPropertiesAggregatorImpl.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/CompositeSubscriber.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcClient.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/grpc/GrpcSubscriber.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestApiClient.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/subscribe/rest/RestSubscriber.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/EvmException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/MissingResultException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidParametersException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/RateLimitException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/Web3Exception.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/validation/HexValidatorTest.java
Labels: enhancement, technical debt

#5558 Fix EthereumTransactionResult gas_limit bug
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.77.2__make_gas_limit_ethereum_transaction_correct.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
Labels: bug, parser, contract

#5608 Fix Snyk workflow
  .github/workflows/security.yml
  .gitignore
  .snyk
  buildSrc/src/main/kotlin/snykcode-extension.gradle.kts
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/converter/RangeToStringDeserializerTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/NonFeeTransferExtractionStrategyImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/CompositeBatchPersisterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/NonFeeTransferExtractionStrategyImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNonFeeTransferTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/BalanceFileReaderImplV1Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReaderTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/converter/StringToDurationDeserializerTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/converter/StringToInstantDeserializerTest.java
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/middleware/responseHandler.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/viewmodel/contractViewModel.test.js
  hedera-mirror-rest/check-state-proof/addressBook.js
  hedera-mirror-rest/check-state-proof/utils.js
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-rest/middleware/responseHandler.js
  hedera-mirror-rest/monitoring/README.md
  hedera-mirror-rest/monitoring/monitor_apis/config.js
  hedera-mirror-rest/monitoring/monitor_apis/server.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
  hedera-mirror-rest/service/tokenService.js
  hedera-mirror-rest/stream/compactRecordFile.js
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: bug, security, process

#5602 MirrorEvmContractAliases refactor to handle calls to token
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: web3, limechain

#5606 Retry REST API related validation in schedule feature
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
Labels: bug, test

#5560 Shard Transaction Hash v1
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionHash.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/TransactionHashTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/CompositeBatchPersister.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/TransactionHashBatchInserter.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.77.3__partition_transaction_hash.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/TransactionHashBatchInserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionHashRepositoryTest.java
  hedera-mirror-rest/__tests__/integration/transactionHashV1Matrix.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/testutils.js
Labels: enhancement, rest, parser, database

#5632 HIP-584: Enhance JSON error response with `data` field that contains hex error
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/ResponseCodeUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/GenericErrorResponse.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: web3, limechain

#5631 Bump Spring Boot from 2.7.6 to 2.7.9
  build.gradle.kts
  buildSrc/build.gradle.kts
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/util/GraphQlUtils.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/util/GraphQlUtilsTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishScenario.java
  hedera-mirror-rest/package-lock.json
Labels: dependencies

#5628 Fix chart install workflow timing out
  .github/workflows/charts.yml
Labels: bug, test

#5635 Fix 1.77.1 migration name
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.77.1__contract_state_change__id_slot_timestamp.sql
Labels: bug, database

#5593 Optimize list transactions API for partitioning
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest, database

#5636 Revert "Shard Transaction Hash v1 (#5560)"
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionHash.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/TransactionHashTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/CompositeBatchPersister.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/TransactionHashBatchInserter.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.77.3__partition_transaction_hash.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/TransactionHashBatchInserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionHashRepositoryTest.java
  hedera-mirror-rest/__tests__/integration/transactionHashV1Matrix.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/testutils.js
Labels: bug

#5638 Fix NPE on invalid contract ID
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
Labels: bug, parser

#5640 Fix NPE on invalid contract ID (0.76)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
Labels: bug, parser

#5641 Revert bump spring-framework to 5.3.26
  build.gradle.kts
Labels: bug, regression

#5645 HIP-584: Return 501 unsupported error when calling precompile via `eth_call`
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: web3, limechain

#5672 Bump Spring Boot from 2.7.9 to 2.7.10 (0.77)
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: dependencies

#5675 HIP-584: Properly set hex error `data` field in JSON Error response
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidTransactionException.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3, limechain

#5674 HIP-584: Properly set `data` field in JSON Error response
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/InvalidTransactionException.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3, limechain

#5708 HIP-584: Fix error handling of reverts for all cases
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/convert/BytesDecoder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/convert/BytesDecoderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/resources/Reverter.sol
Labels: bug, web3, limechain

#5712 HIP-584: Fix error handling of reverts for all cases (0.77)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/convert/BytesDecoder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/convert/BytesDecoderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/resources/Reverter.sol
Labels: bug, web3, limechain

#5711 Fix NFTs for deleted tokens appearing as active in REST API
  hedera-mirror-rest/__tests__/service/nftService.test.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/nfts/no-params.json
  hedera-mirror-rest/service/nftService.js
Labels: bug, good first issue, rest

#5673 Citus optimize list schedules query
  hedera-mirror-rest/__tests__/schedules.test.js
  hedera-mirror-rest/__tests__/specs/schedules/schedule-id.json
  hedera-mirror-rest/schedules.js
Labels: enhancement, rest, database

#5670 Add /api/v1/contracts/call to open API spec
  hedera-mirror-rest/api/v1/openapi.yml
Labels: web3, limechain

#5716 Filter transaction hash by transaction type
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Transaction.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/PersistPropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: enhancement, parser

#5718 Filter transaction hash by transaction type (0.77)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Transaction.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/PersistPropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: enhancement, parser

#5719 Filter transaction hash by transaction type (0.76)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Transaction.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/PersistPropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: enhancement, parser

#5424 Adding TokenAccessor implementation
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/ParsingException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/utils/EvmTokenUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/CustomFeeRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftAllowanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAccountRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAllowanceRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/Web3IntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/utils/EvmTokenUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/CustomFeeRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftAllowanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAccountRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAllowanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract.sol
  hedera-mirror-web3/src/test/resources/contracts/PrecompileTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/PrecompileTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/PrecompileTestContract.sol
Labels: enhancement, web3, limechain

#5669 HIP-584: Extract util classes needed for precompile logic
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/contracts/ParsingConstants.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/FungibleTokenTransfer.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HbarTransfer.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/NftExchange.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/EncodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/KeyValueWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/TokenExpiryWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/TokenKeyWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/utils/contracts/ParsingConstantsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/FungibleTokenTransferTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HbarTransferTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/NftExchangeTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacadeTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/EncodingFacadeTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/TokenExpiryWrapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/TokenKeyWrapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/MiscUtils.java
Labels: web3, limechain

#5629 Partition Transaction Hash Table V1
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionHash.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/TransactionHashTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/CompositeBatchPersister.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/TransactionHashBatchInserter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/TransactionHashTxManager.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.78.1__partition_transaction_hash.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/TransactionHashBatchInserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/TransactionHashTxManagerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TransactionHashRepositoryTest.java
  hedera-mirror-rest/__tests__/integration/transactionHashV1Matrix.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest, parser, database

#5727 Bump qs from 6.11.0 to 6.11.1
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: dependencies

#5559 HIP-584: Acceptance tests for eth_call with precompile logic
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/web3/reference/erctestcontract/ERCTestContract.bin
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/ContractCallResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/RetryAsserts.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/ERCTestContract.sol/ERCTestContract.json
  hedera-mirror-test/src/test/resources/solidity/contracts/ERCTestContract.sol
  hedera-mirror-test/src/test/resources/solidity/package.json
Labels: enhancement, test, web3, limechain

#5725 Fix incorrect fungible token total supply
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/TokenTransfer.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixFungibleTokenTotalSupplyMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenTransferRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/DeletedTokenDissociateTransferUpsertQueryGenerator.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixFungibleTokenTotalSupplyMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchInserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchUpserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TokenTransferRepositoryTest.java
Labels: bug, parser

#5689 Fix partial mirror nodes stuck with incomplete address book
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
Labels: bug, regression, downloader
