Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-07, with the labels that each got.

#6174 HIP-584: Add HederaTokenStore
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/services/exceptions/MissingEntityException.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/UniqueToken.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/tokens/HederaTokenStore.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/ContextOptionValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/BitPackUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/AccountTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/validation/ContextOptionValidatorTest.java
Labels: enhancement, web3, limechain

#6276 HIP-584: Copy TransferLogic into hedera-mirror-web3
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/ledger/BalanceChange.java
  hedera-mirror-web3/src/main/java/com/hedera/services/ledger/TransferLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/UniqueToken.java
  hedera-mirror-web3/src/test/java/com/hedera/services/ledger/TransferLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/validation/ContextOptionValidatorTest.java
Labels: enhancement, web3, limechain

#6209 Add migration for synthetic transfer approvals
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticCryptoTransferApprovalMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticCryptoTransferApprovalsMigrationTest.java
Labels: bug, database

#6298 HIP-584: Copy ApproveAllowanceLogic from services
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Id.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/UniqueToken.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/ApproveAllowanceLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpers.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/IdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/BasicFcfsUsagePricesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/SingletonEstimatorUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/crypto/CryptoApproveAllowanceMetaTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/crypto/CryptoDeleteAllowanceMetaTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/ledger/BalanceChangeTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/FungibleTokenTransferTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HTSTestsUtil.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/TokenExpiryWrapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/IdTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/UniqueTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/ApproveAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpersTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: enhancement, web3, limechain

#6339 Fix contract entity initial nonce
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerScheduleTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
Labels: enhancement, parser, contract

#6344 HIP-584: Fix mint precompile behaviour
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
Labels: bug, web3, limechain

#6291 HIP-584: Implement `DissociatePrecompile`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/token/txns/TokenDissociateResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/usage/token/TokenDissociateUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/Dissociation.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractDissociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/DissociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/MultiDissociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/DissociateLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/usage/token/TokenDissociateUsageTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DissociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HTSTestsUtil.java
Labels: enhancement, web3, limechain

#6320 HIP-584: Copy DeleteAllowanceLogic from services
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/ApproveAllowanceLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/DeleteAllowanceLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpers.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/UniqueTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/ApproveAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/DeleteAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpersTest.java
Labels: enhancement, web3, limechain

#6329 Align AbstractAutoCreationLogic with services
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
Labels: enhancement, web3, limechain

#6345 HIP-584: Adapt openapi spec with latest changes
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, web3, limechain

#6242 HIP-584: Provide implementation for create token logic
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/CreateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/ContextOptionValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/OptionValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/CustomFeeUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/NewRels.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/CreateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/validation/ContextOptionValidatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/CustomFeeUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/NewRelsTest.java
Labels: enhancement, web3, limechain

#6348 Bump hedera-protobuf-java-api version to 0.40.0
  build.gradle.kts
Labels: dependencies

#6349 Bump hedera-protobuf-java-api version to 0.40.0 (0.84)
  build.gradle.kts
Labels: dependencies

#6346 HIP-584: Split web3 and services bean declarations in different configuration files
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
Labels: enhancement, web3, limechain

#6347 Use token balance for accounts by id API with timestamp parameter
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-lte.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-noaccountbalance.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/accounts.js
Labels: bug, rest

#6371 Fix acceptance test failure during long migrations
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/StartupProbe.java
Labels: bug, test

#6330 Add transactions flag to /api/v1/accounts/idOrAddress
  docs/rest/README.md
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactions.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest, contract, json-rpc

#6282 Add support for Inner Transaction From Query Parameter to Contract Results API
  docs/database/README.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.83.0__coalesce_sender_id_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/contracts/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-number.json
  hedera-mirror-rest/__tests__/specs/contracts/results/from-sender.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/results/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/transaction-index.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/failed-ethereum-transaction-with-default-contract-result.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/all-params-with-create2.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/evm-address-path-param.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/from-address.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/from.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/specific-id.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/empty-logs.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-no-state-change.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp-partial-result-match.json
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/{id}/timestamp.json
  hedera-mirror-rest/__tests__/viewmodel/contractResultViewModel.test.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/utils.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
Labels: bug, rest

#6319 HIP-584: Add WipeLogic
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/BurnLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/WipeLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/BurnLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/WipeLogicTest.java
Labels: enhancement, web3, limechain

#6372 HIP-584: Copied GrantKycLogic. Added unit tests and bean in configuration
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/GrantKycLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/GrantKycLogicTest.java
Labels: enhancement, web3, limechain

#6379 disable synthetic contract results
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/contractresult/SyntheticContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
Labels: bug, regression, parser

#6382 Disable synthetic contract results (0.84)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/contractresult/SyntheticContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
Labels: bug, regression, parser

#6373 HIP-584: Add hasAssociation property to TokenRelationship model
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/tokens/HederaTokenStore.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/AssociateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/DissociateLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/AssociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/BurnLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/MintLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/WipeLogicTest.java
Labels: bug, web3, limechain

#6377 HIP-584: Copy wipe precompiles
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/WipeResult.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/WipeWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractWipePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/WipeFungiblePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/WipeNonFungiblePrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HTSTestsUtil.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeNonFungiblePrecompileTest.java
Labels: enhancement, web3, limechain

#6378 HIP-584: Copied `AbstractGrantRevokeKycPrecompile`
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractGrantRevokeKycPrecompile.java
Labels: enhancement, web3, limechain

#6384 HIP-584: Increase contract create size limit
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: bug, web3, limechain

#6294 Remove duplicate grpc domain classes
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/topic/TopicMessage.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/RedisConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/Entity.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/StreamMessage.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessage.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/CompositeTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/NotifyingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/PollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/RedisTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/TopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/EntityRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustom.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetriever.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/TopicMessageRetriever.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageService.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/domain/ReactiveDomainBuilder.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractSharedTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/RedisTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetrieverTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
Labels: enhancement, good first issue, technical debt, grpc

#6385 HIP-584: Copied RevokeKycLogic
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/RevokeKycLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/RevokeKycLogicTest.java
Labels: enhancement, web3, limechain

#6398 Bump protobufjs to 7.2.4
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: security, dependencies

#6396 Citus cluster improvements
  .github/release-notes.yml
  .github/workflows/charts.yml
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/templates/zfs/configmap-init.yaml
  charts/hedera-mirror-common/templates/zfs/daemonset.yaml
  charts/hedera-mirror-common/templates/zfs/storageclass.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-cluster.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values-v2.yml
  docs/database/README.md
  docs/database/zfs.md
  hedera-mirror-graphql/src/test/resources/application.yml
  hedera-mirror-grpc/src/test/resources/config/application.yml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/scripts/v2/flyway.conf
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.config
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.sh
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rosetta/test/db/db.go
  hedera-mirror-web3/src/test/resources/application.yml
Labels: enhancement, process

#6409 HIP-584: Fix mint and burn precompile behaviour
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: bug, web3, limechain

#6415 Change default download ratio back to 100%
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
Labels: parser

#6416 Fix gRPC Topic Message serialization
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/RedisConfiguration.java
Labels: bug, regression, grpc

#6410 HIP-584: Copy approve allowance checks from services
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/FcTokenAllowanceId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/RevokeKycLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/ApproveAllowanceLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/DeleteAllowanceLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpers.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/validators/AllowanceChecks.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/validators/ApproveAllowanceChecks.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/validators/DeleteAllowanceChecks.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/ApproveAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/DeleteAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpersTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/validators/ApproveAllowanceChecksTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/validators/DeleteAllowanceChecksTest.java
Labels: enhancement, web3, limechain

#6418 Fix acceptance tests network race conditions
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/FileClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ScheduleClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/FileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/features/file/file.feature
  hedera-mirror-test/src/test/resources/features/schedule/schedule.feature
  hedera-mirror-test/src/test/resources/features/topic/topic.feature
  hedera-mirror-test/src/test/resources/features/topic/topicfilter.feature
Labels: bug, test

#6421 Bump spring-security from 6.1.1 to 6.1.2
  build.gradle.kts
Labels: security, dependencies

#6425 Disable topic message lookups
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
Labels: bug, performance, parser

#6428 Disable topic message lookups (0.84)
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
Labels: bug, performance, parser

#6412 HIP-584: Copied RevokeKycPrecompile
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsages.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/RevokeKycPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/RevokeKycPrecompileTest.java
Labels: enhancement, web3, limechain

#6420 HIP-584: Refactor Precompiles
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/Precompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractAssociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractDissociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractGrantRevokeKycPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractWipePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractWritePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/BurnPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/GrantKycPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/MintPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/WipeFungiblePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/WipeNonFungiblePrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MockPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompileTest.java
Labels: enhancement, web3, limechain

#6444 HIP-584: modify `HtsPrecompiledContract` to work with write operations from dynamic context
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/PrecompileMapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
Labels: enhancement, web3, limechain

#6429 Remove long to Instant conversions in gRPC API
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-grpc/build.gradle.kts
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/converter/EnumToIntegerConverter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/converter/InstantToLongConverter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/converter/LongToInstantConverter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/domain/TopicMessageFilter.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/CompositeTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/PollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetriever.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/TopicMessageServiceImpl.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/util/ProtoUtil.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/validation/EndTime.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/validation/EndTimeValidator.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/validation/StartTime.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/validation/StartTimeValidator.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/converter/InstantToLongConverterTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/converter/LongToInstantConverterTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/domain/ReactiveDomainBuilder.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractSharedTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/AbstractTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/listener/NotifyingTopicListenerTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/retriever/PollingTopicMessageRetrieverTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/util/ProtoUtilTest.java
Labels: enhancement, technical debt, grpc

#6457 Bump Node.js from 18.16.0 to 18.17.0
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/Dockerfile
Labels: dependencies

#6458 Bump Spring Boot from 3.1.1 to 3.1.2
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: dependencies

#6459 Apply spotless to all files
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-number.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/results/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/transaction-index.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
  hedera-mirror-rest/viewmodel/index.js
  hedera-mirror-web3/src/main/resources/canonical-prices.json
  hedera-mirror-web3/src/test/resources/contracts/Reverter/Reverter.json
Labels: enhancement, process

#6445 HIP-584: Copied PauseLogic and PausePrecompile
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/PauseWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/PausePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/PauseLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HTSTestsUtil.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/PausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/PauseLogicTest.java
Labels: enhancement, web3, limechain

#6453 HIP-584: Copy Freeze/Unfreeze Logics and Precompiles
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractFreezeUnfreezePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/FreezeTokenPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/UnfreezeTokenPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/FreezeLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/UnfreezeLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/FreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnfreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/FreezeLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/UnfreezeLogicTest.java
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.sol
Labels: enhancement, web3, limechain

#6447 HIP-584: Copied UnpauseLogic and UnpausePrecompile
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/UnpauseWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/UnpausePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/UnpauseLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HTSTestsUtil.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnpausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/UnpauseLogicTest.java
Labels: enhancement, web3, limechain

#6446 HIP-584: Copy ApprovePrecompile
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/PrecompileMapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/ApproveDecodedNftInfo.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/ApproveParams.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/ApproveResult.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/ApproveWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/ApprovePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/NftId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/ApproveAllowanceLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/ApprovePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
Labels: enhancement, web3, limechain

#6386 HIP-584: Copy and adapt implementation for Create Token precompile Part 2
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/AssociateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/NewRels.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/CreateLogicTest.java
Labels: enhancement, web3, limechain

#6486 Revert Dependabot sonarqube bump
  buildSrc/build.gradle.kts
Labels: regression, dependencies

#6482 Check associated flag on token balance endpoint
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/no-params.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
Labels: bug, regression, rest

#6487 Check associated flag on token balance endpoint (0.84)
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/no-params.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
Labels: bug, regression, rest

#6491 HIP-584: Enable shanghai support (0.85)
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
Labels: enhancement, web3, limechain

#6490 HIP-584: Adapt Mirror Archive Node to respect alias addresses (0.85)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/AccountAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/AccountAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/EntityAddressSequencerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/AccountTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityNumTest.java
Labels: bug, web3, limechain

#6466 HIP-584: ERC read-only precompiles enabler
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractReadOnlyPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
Labels: enhancement, web3, limechain

#6497 Update testnet bucket name for 2023-07 reset
  docs/database/README.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-rest/constants.js
Labels: enhancement, downloader

#6500 Update testnet bucket name for 2023-07 reset (0.85)
  docs/database/README.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-rest/constants.js
Labels: enhancement, downloader

#6502 Fix slow entity stake history migration
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.83.0.1__entity_stake_history.sql
Labels: bug, database

#6503 Fix slow entity stake history migration (0.85)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.83.0.1__entity_stake_history.sql
Labels: bug, database

#6479 HIP-584: Add tests for eth_call functions with alias accounts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
Labels: enhancement, test, web3, limechain

#6467 Create entities during balance initialization
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
Labels: enhancement, database

#6514 HIP-584: Adapt resolving address for evm addressed contract with long zero address eth_call (0.85)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/AccountAccessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/AccountAccessorImplTest.java
Labels: bug, web3, limechain

#6507 Update bucket name for testnet-eu
  clusters/testnet-eu/testnet/helmrelease.yaml
Labels: enhancement, process

#6506 Update bucket name for testnet-na
  clusters/testnet-na/testnet/helmrelease.yaml
Labels: enhancement, process

#6524 Fix acceptance test network downtime recovery
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rosetta.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror-common/dashboards/traefik.json
  docs/database/README.md
  hedera-mirror-grpc/assembly.xml
  hedera-mirror-importer/assembly.xml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/StartupProbe.java
Labels: bug, test

#6526 Fix getNodes API attempting to update stake
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/NetworkServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/NetworkServiceTest.java
Labels: bug, regression, grpc

#6527 Fix getNodes API attempting to update stake (0.84)
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/NetworkServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/NetworkServiceTest.java
Labels: bug, regression, grpc

#6528 Fix getNodes API attempting to update stake (0.85)
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcConfiguration.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/service/NetworkServiceImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/NetworkServiceTest.java
Labels: bug, regression, grpc

#6515 Fix slow contracts results REST API endpoint
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/service/recordFileService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-number.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/results/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/transaction-index.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/recordFileService.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
Labels: bug, performance, regression, rest, lime-alpha

#6529 Fix slow contracts results REST API endpoint (0.85)
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/service/recordFileService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/all-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-hash.json
  hedera-mirror-rest/__tests__/specs/contracts/results/block-number.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/results/timestamp.json
  hedera-mirror-rest/__tests__/specs/contracts/results/transaction-index.json
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/recordFileService.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
Labels: bug, performance, regression, rest

#6516 HIP-584: Copy `GetTxnRecordResourceUsage` from services
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/GetTxnRecordResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/crypto/queries/GetTxnRecordResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/fees/CryptoFeeBuilder.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/fees/FeeBuilder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/crypto/queries/GetTxnRecordResourceUsageTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/utils/fees/CryptoFeeBuilderTest.java
Labels: enhancement, web3, limechain

#6510 HIP-584: Copy token update logic
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKey.java
  hedera-mirror-web3/src/main/java/com/hedera/services/sigs/utils/ImmutableKeyUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/TokenUpdateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/tokens/HederaTokenStore.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/util/TokenUpdateValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/ContextOptionValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/OptionValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/PureValidation.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/TokenListChecks.java
  hedera-mirror-web3/src/test/java/com/hedera/services/sigs/utils/ImmutableKeyUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/validation/ContextOptionValidatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/validation/TokenListChecksTest.java
Labels: enhancement, web3, limechain
