Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-08, with the labels that each got.

#6556 Move session temp_buffers settings to HikariCP connection init sql
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/CommonParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchUpserter.java
  hedera-mirror-importer/src/main/resources/application.yml
Labels: bug, regression, parser

#6563 Suppress protobufjs false positive
  buildSrc/src/main/resources/suppressions.xml
Labels: bug, security, process

#6557 HIP-584: Handle read only precompile calls via ViewExecutor/RedirectViewExecutor
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
Labels: enhancement, web3, limechain

#6562 Update network stake to be pending plus rewarded stake
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.85.0__network_stake_recalculation.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandlerTest.java
Labels: enhancement, database

#6561 Persist freeze transaction details
  build.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/NetworkFreeze.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FreezeTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NetworkFreezeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.85.1__network_freeze.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/R__maintain_partitions.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__static_partitioning.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFreezeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FreezeTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NetworkFreezeRepositoryTest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/transaction/TransactionType.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/transaction/network/FreezeTransactionSupplier.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/transaction/token/FreezeTransactionSupplierTest.java
Labels: enhancement, database

#6575 Bump Java from 17.0.7 to 17.0.8
  hedera-mirror-graphql/Dockerfile
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-test/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: dependencies

#6576 Acceptance tests for remaining allowances
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorCryptoAllowance.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/resources/features/account/cryptoAllowance.feature
Labels: enhancement, test

#6566 HIP-584: Add integration tests for read-only precompiles
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JDelegatableContractIDKey.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKey.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: enhancement, test, web3, limechain

#6568 HIP-584: Implement gas_estimate integration tests for erc readonly
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.sol
Labels: enhancement, web3, limechain

#6570 Provided implementation for UpdateTokenExpiryInfoPrecompile
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/token/txns/TokenUpdateResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsages.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/usage/token/TokenUpdateUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/TokenUpdateExpiryInfoWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/UpdateTokenExpiryInfoPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HTSTestsUtil.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UpdateTokenExpiryInfoPrecompileTest.java
Labels: enhancement, web3, limechain

#6580 Update chart dependencies
  .github/workflows/charts.yml
  .github/workflows/release-production.yml
  charts/README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-common/templates/k6-custom-executor.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  hedera-mirror-test/k6/README.md
Labels: dependencies

#6590 Bump hedera-sdk-go to v2.27.0
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: enhancement, security, dependencies, rosetta

#6567 HIP-584: Add integration tests for `getTokenExpiryInfo` operation
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
Labels: enhancement, web3, limechain

#6569 HIP-584: Implement integration tests for token metadata & info functions for estimate_Gas
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimatorTest.java
Labels: enhancement, web3, limechain

#6572 HIP-584: Fix transfer precompile alias conditions
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/TransferParams.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TransferPrecompileTest.java
Labels: enhancement, web3, limechain

#6512 Handle Kubernetes upgrades when using ZFS volumes
  .gitignore
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/templates/zfs/configmap-init.yaml
  charts/hedera-mirror-common/templates/zfs/configmap-zfsnodestatus.yaml
  charts/hedera-mirror-common/templates/zfs/daemonset.yaml
  charts/hedera-mirror-common/templates/zfs/rbac.yaml
  charts/hedera-mirror-common/templates/zfs/serviceaccount.yaml
  charts/hedera-mirror-common/values.yaml
  docs/database/zfs.md
Labels: enhancement, process

#6577 Add async migration to fix crypto allowance amount
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/AsyncJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillBlockMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixCryptoAllowanceAmountMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticCryptoTransferApprovalMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AsyncJavaMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixAllowanceAmountsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixCryptoAllowanceAmountMigrationTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
Labels: enhancement, database

#6591 Only show active fungible allowance in rest api response
  hedera-mirror-rest/__tests__/controllers/cryptoAllowanceController.test.js
  hedera-mirror-rest/__tests__/service/tokenAllowanceService.test.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/allowances/crypto/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/allowances/crypto/not-found.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/allowances/tokens/empty.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/allowances/tokens/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/allowances/tokens/specific-spender-id.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/allowances/tokens/spender-id-and-token-id-range.json
  hedera-mirror-rest/controllers/cryptoAllowanceController.js
  hedera-mirror-rest/service/tokenAllowanceService.js
Labels: enhancement, rest

#6571 HIP-584: Provide implementation for UpdateTokenKeysPrecompile
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JContractIDKey.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/TokenUpdateKeysWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractTokenUpdatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenUpdateKeysPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/tokens/HederaTokenStore.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/PrecompileMapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenUpdateKeysPrecompileTest.java
Labels: enhancement, web3, limechain

#6625 Fix timezone in Java logs
  charts/hedera-mirror-common/values.yaml
  hedera-mirror-graphql/src/main/resources/log4j2.xml
  hedera-mirror-graphql/src/test/resources/log4j2-test.xml
  hedera-mirror-grpc/src/main/resources/log4j2.xml
  hedera-mirror-grpc/src/test/resources/log4j2-test.xml
  hedera-mirror-importer/src/main/resources/log4j2.xml
  hedera-mirror-importer/src/test/resources/log4j2-test.xml
  hedera-mirror-monitor/src/main/resources/log4j2.xml
  hedera-mirror-monitor/src/test/resources/log4j2-test.xml
  hedera-mirror-test/src/test/resources/log4j2.xml
  hedera-mirror-web3/src/main/resources/log4j2.xml
  hedera-mirror-web3/src/test/resources/log4j2-test.xml
Labels: bug, java

#6630 Creating a working example for contract calls
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation

#6653 Improve importer dashboard
  buildSrc/src/main/kotlin/docker-conventions.gradle.kts
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror-common/dashboards/traefik.json
  charts/hedera-mirror-common/values.yaml
  gradle.properties
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchInserter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchPersister.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchUpserter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/TransactionHashBatchInserter.java
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
Labels: enhancement, process

#6658 Disable itemized transfers by default
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: bug, performance, regression

#6659 Disable itemized transfers by default (0.86)
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: bug, performance, regression

#6634 HIP-584: Properly update newly created create2 contract in state
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.sol
Labels: bug, web3, limechain

#6663 Fix build failure
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
Labels: bug, dependencies

#6661 Disable graphql account tests when no default account configured
  charts/hedera-mirror-graphql/postman.json
  charts/hedera-mirror-graphql/values.yaml
Labels: enhancement, graphql

#6649 Verify token creation on mirror node during acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/token/tokenAllowance.feature
Labels: bug, test

#6655 Update History Upserts to persist existing non-updatable values
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/EntityMetadata.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/template/upsert_history.vm
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
Labels: bug, database

#6662 Fix entity stake calculator issues in corner cases
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: bug, regression, parser

#6669 Remove JUnit Test Report action from CI
  .github/workflows/gradle.yml
Labels: enhancement, test

#6670 Add persistence for TransactionRecord
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Transaction.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/TransactionTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.85.3__add_transaction_record_bytes.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: enhancement, database

#6674 Bump Gradle from 8.2.1 to 8.3
  buildSrc/src/main/kotlin/go-conventions.gradle.kts
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  buildSrc/src/main/kotlin/spring-conventions.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  settings.gradle.kts
Labels: dependencies

#6611 Upgrade to Citus 12
  charts/hedera-mirror/ci/v2-values.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  charts/hedera-mirror/values.yaml
  docker-compose.yml
  docs/configuration.md
  docs/importer/README.md
  hedera-mirror-graphql/src/test/resources/application.yml
  hedera-mirror-graphql/src/test/resources/bootstrap-v2.yml
  hedera-mirror-graphql/src/test/resources/db/init-v2.sql
  hedera-mirror-grpc/src/test/resources/config/application.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-grpc/src/test/resources/db/scripts/init-v2.sql
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/JdbcTemplateConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/DBProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/PartitionMaintenance.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/CommonParserProperties.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v2/R__maintain_partitions.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__static_partitioning.sql
  hedera-mirror-importer/src/main/resources/db/scripts/init.sh
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/alpine/001-create-citus-extension.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/alpine/Dockerfile
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/alpine/pg_healthcheck
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/debian/Dockerfile
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.sh
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/db/PartitionMaintenanceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/topic/AbstractTopicMessageLookupIntegrationTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
  hedera-mirror-importer/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-importer/src/test/resources/db/scripts/init-v2.sql
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/test/resources/application.yml
  hedera-mirror-web3/src/test/resources/bootstrap-v2.yml
  hedera-mirror-web3/src/test/resources/db/scripts/init-v2.sql
Labels: enhancement, database

#6704 Add JsonB Converter to database accessor
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/Web3IntegrationTest.java
Labels: bug, web3

#6685 Fix Citus indexes and properties
  charts/hedera-mirror-common/dashboards/alertmanager.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-rosetta.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror-common/dashboards/jvm-micrometer-rev9.json
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  charts/hedera-mirror-common/dashboards/postgres-overview_rev2.json
  charts/hedera-mirror-common/dashboards/postgresql-database_rev4.json
  charts/hedera-mirror-common/dashboards/redis-dashboard-for-prometheus-redis-exporter-helm-stable-redis-ha_rev1.json
  charts/hedera-mirror-common/dashboards/traefik.json
  charts/hedera-mirror/values.yaml
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
Labels: bug, database

#6647 HIP-584: Create integration tests for testing dynamic eth_call using create and update token precompiles
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/KeyValueWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/AssociateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/NewRels.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/AssociateLogicTest.java
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.sol
  hedera-mirror-web3/src/test/resources/contracts/NestedCallsTestContract/NestedCallsTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/NestedCallsTestContract/NestedCallsTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/NestedCallsTestContract/NestedCallsTestContract.sol
Labels: test, web3, limechain

#6705 Fix race condition in SyntheticCryptoTransferApprovalsMigrationTest
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/converter/ObjectToStringSerializer.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessor.java
Labels: bug, test

#6710 Increase default submit retry max to 100 in rosetta bdd test client
  hedera-mirror-rosetta/test/bdd-client/README.md
  hedera-mirror-rosetta/test/bdd-client/config.go
Labels: bug, test, rosetta

#6709 Fix alarms caused by premature close error in rest monitor
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/Dockerfile
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: bug, monitor

#6713 Fix alarms caused by premature close error in rest monitor (0.87)
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/Dockerfile
  hedera-mirror-rest/monitoring/monitor_apis/package-lock.json
  hedera-mirror-rest/monitoring/monitor_apis/package.json
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: bug, monitor

#6714 Fix allowance acceptance test failing in previewnet (0.87)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/account/cryptoAllowance.feature
  hedera-mirror-test/src/test/resources/features/token/tokenAllowance.feature
Labels: bug, test

#6716 Remove unused Flyway placeholders
  hedera-mirror-graphql/src/test/resources/application.yml
  hedera-mirror-grpc/src/test/resources/config/application.yml
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rosetta/test/db/db.go
  hedera-mirror-web3/src/test/resources/application.yml
Labels: enhancement, technical debt

#6613 HIP-584: Add integration tests for dynamic eth_call - part 1
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/BurnPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/ERCTransferPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/MintPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.bin
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.json
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.sol
Labels: test, web3, limechain

#6715 Remove EntityIdEndec
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityIdEndec.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/entity/EntityIdEndecTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/entity/EntityIdTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/AssessedCustomFeeWrapper.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/CleanupEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SupportDeletedTokenDissociateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TransferTransactionPayerMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
Labels: enhancement, technical debt

#6725 Change EntityId constructor to private
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticNftAllowanceOwnerMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticTokenAllowanceOwnerMigrationTest.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/FileDataRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: enhancement, technical debt

#6727 Revert min nodejs to v16.13.0 for hedera-mirror-rest
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: rest, dependencies

#6728 Rename EntityId getters
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/mapper/CommonMapper.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/util/GraphQlUtilsTest.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/CompositeTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/util/ProtoUtil.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/NetworkControllerTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractlog/AbstractSyntheticContractLog.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/domain/PubSubMessage.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileDataHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/serializer/PubSubEntityIdSerializer.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/FileCopier.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticCryptoTransferApprovalsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV1Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV2Test.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/UniqueTokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: enhancement, technical debt

#6723 Remove AssessedCustomFeeWrapper
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/AssessedCustomFee.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/AssessedCustomFeeWrapper.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TransferTransactionPayerMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchInserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
Labels: enhancement, technical debt

#6720 HIP-584: Aliases are not resolved in web3
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractWritePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/ApprovePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/SetApprovalForAllPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/CreateLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/CreateLogicTest.java
Labels: bug, web3, limechain

#6722 Fix HTS allowance when transferring using Ethereum Tools
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
Labels: bug, parser, limechain

#6735 HIP-584: Aliases are not resolved in web3 (0.87)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AbstractWritePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/ApprovePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/SetApprovalForAllPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/CreateLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/CreateLogicTest.java
Labels: bug, web3

#6733 Remove EntityId.getType()
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/converter/EntityTypeSerializer.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/contract/ContractAction.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/converter/EntityTypeSerializerTest.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/util/GraphQlUtilsTest.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/exception/EntityNotFoundException.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/NetworkServiceTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/util/ProtoUtilTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusCreateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusDeleteTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemUndeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/serializer/PubSubEntityIdSerializer.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/PubSubMessageTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerScheduleTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusDeleteTopicTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/FileDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ScheduleDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/SystemUndeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV2Test.java
  hedera-mirror-importer/src/test/resources/data/pubsub-messages.txt
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: enhancement, technical debt

#6736 Fix HTS allowance when transferring using Ethereum Tools (0.87)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
Labels: bug, parser, limechain

#6738 Update performance network address book
  clusters/preprod/performance/sealed-secret.yaml
Labels: enhancement, process

#6767 HIP-584: Remove InvalidTransactionException dependency from services code
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/Precompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AllowancePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/ApprovePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/GetApprovedPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/IsApprovedForAllPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/SetApprovalForAllPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TransferPrecompileTest.java
Labels: enhancement, web3, limechain

#6667 HIP-584: Provide implementation for ExchangeRatePrecompiledContract
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/BasicHbarCentExchange.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/HbarCentExchange.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/ExchangeRatePrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/resources/contracts/ExchangeRatePrecompile/ExchangeRatePrecompile.bin
  hedera-mirror-web3/src/test/resources/contracts/ExchangeRatePrecompile/ExchangeRatePrecompile.json
  hedera-mirror-web3/src/test/resources/contracts/ExchangeRatePrecompile/ExchangeRatePrecompile.sol
Labels: enhancement, web3, limechain

#6742 Change entity stake to not use account_balance_file
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: enhancement, balances

#6771 Adjust insert-only table autovacuum settings
  hedera-mirror-graphql/src/test/resources/application.yml
  hedera-mirror-grpc/src/test/resources/config/application.yml
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/R__autovacuum_insert_only_tables.sql
  hedera-mirror-rest-java/src/test/resources/application.yml
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rosetta/test/db/db.go
  hedera-mirror-web3/src/test/resources/application.yml
Labels: bug, database

#6616 HIP-584: Implement integration tests for RedirectPrecompile
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AssociatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/DissociatePrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.sol
  hedera-mirror-web3/src/test/resources/contracts/RedirectTestContract/RedirectTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/RedirectTestContract/RedirectTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/RedirectTestContract/RedirectTestContract.sol
Labels: enhancement, web3, limechain

#6770 HIP-584: AssociateLogic creates association with kycGranted=false
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/AssociateLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/AssociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/CreateLogicTest.java
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.bin
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.json
  hedera-mirror-web3/src/test/resources/contracts/DynamicEthCalls/DynamicEthCalls.sol
Labels: bug, web3, limechain

#6743 Change network supply REST API to not use account balance file
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-rest/service/networkNodeService.js
Labels: enhancement, rest, balances

#6740 HIP-584: Fix NPE when creating token
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/token/txns/TokenUpdateResourceUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKey.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/TokenCreateWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/CreateParams.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/KeyValueWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/validation/PureValidation.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/MiscUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/jproto/JKeyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/TokenCreateWrapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
Labels: bug, web3, limechain
