Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-09, with the labels that each got.

#6779 HIP-584: Fix mint NFT too high gas price
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsages.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/usage/state/UsageAccumulator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/usage/token/TokenOpsUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/usage/token/TokenOpsUsageUtils.java
  hedera-mirror-web3/src/main/resources/canonical-prices.json
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsagesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/utils/OpUsageCtxHelperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/usage/token/TokenOpsUsageUtilsTest.java
Labels: bug, web3, limechain

#6776 HIP-584: Successfully deploy contract with missing sender
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/AccountTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
Labels: bug, web3, limechain

#6815 Handle invalid contract action recipient
  .github/release-notes.yml
  .github/release.yml
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror/values.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, parser

#6724 Add vacuum settings for v2
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/PartitionMaintenance.java
  hedera-mirror-importer/src/main/resources/db/migration/v2/R__autovacuum_insert_only_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__static_partitioning.sql
Labels: bug, database

#6808 Fix acceptance tests race condition
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorAccountBalance.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorTokenResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
Labels: bug, test, limechain

#6786 Generate balance info from record file
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/balance/AccountBalanceFile.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/balance/BalanceDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParsedEvent.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/AccountBalanceRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/BalanceSnapshotRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/RecordFileRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/TokenBalanceRepository.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.86.0__add_account_balance_file_synthetic.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AutoS3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalancePropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AccountBalanceRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/RecordFileRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TokenBalanceRepositoryTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
  hedera-mirror-rosetta/container/supervisord.conf
Labels: enhancement, parser, balances

#6818 Fix TypeError in REST monitor
  hedera-mirror-rest/monitoring/monitor_apis/common.js
  hedera-mirror-rest/monitoring/monitor_apis/monitor.js
  hedera-mirror-rest/monitoring/monitor_apis/monitor_tests.js
  hedera-mirror-rest/monitoring/monitor_apis/utils.js
Labels: bug, rest, monitor

#6822 Track balance of all entities
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/AccountBalanceRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AccountBalanceRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
Labels: enhancement, parser, balances

#6785 HIP-584: Refactor integration tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
Labels: enhancement, web3, limechain

#6823 Track balance of all entities (0.88)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/AccountBalanceRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AccountBalanceRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
Labels: enhancement, parser, balances

#6809 Add tests for prngPrecompileContract and exchangeRatePrecompileContract
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimatePrecompileContract.sol/EstimatePrecompileContract.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimatePrecompileContract.sol
Labels: test, web3, limechain

#6829 Fix MessageDeliveryException in importer
  charts/hedera-mirror-importer/values.yaml
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceService.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractLinkedStreamDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/AbstractStreamFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/event/EventFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
Labels: bug, parser, breaking

#6830 Fix MessageDeliveryException in importer (0.88)
  charts/hedera-mirror-importer/values.yaml
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/MirrorProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceService.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MirrorDateRangePropertiesProcessorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractLinkedStreamDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/AbstractStreamFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/event/EventFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
Labels: bug, downloader

#6788 HIP-584: Change InvalidTransactionException type in Store
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/ResponseCodeUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/MirrorEvmTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/AssociateLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/DissociateLogicTest.java
Labels: bug, web3, limechain

#6832 Switch tests to use OutputCaptureExtension
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/config/LoggingFilterTest.java
  hedera-mirror-graphql/src/test/resources/log4j2-test.xml
  hedera-mirror-grpc/src/test/resources/log4j2-test.xml
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/config/LoggingFilterTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishMetricsTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/SubscribeMetricsTest.java
  hedera-mirror-monitor/src/test/resources/log4j2-test.xml
  hedera-mirror-rest-java/build.gradle.kts
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/config/LoggingFilterTest.java
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
Labels: enhancement, technical debt, test

#6834 Add a cache to EntityId
  hedera-mirror-common/build.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-graphql/build.gradle.kts
  hedera-mirror-grpc/build.gradle.kts
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-rest-java/build.gradle.kts
  hedera-mirror-web3/build.gradle.kts
Labels: enhancement, technical debt

#6838 Replace log4j2 with logback
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  charts/hedera-mirror-common/values.yaml
  hedera-mirror-common/build.gradle.kts
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/config/LoggingFilter.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/mapper/CommonMapper.java
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-graphql/src/main/resources/log4j2.xml
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/config/LoggingFilterTest.java
  hedera-mirror-graphql/src/test/resources/log4j2-test.xml
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedTopicListener.java
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/resources/log4j2.xml
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/GrpcIntegrationTest.java
  hedera-mirror-grpc/src/test/resources/log4j2-test.xml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/HistoricalAccountInfoMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/MirrorBaseJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReader.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/log4j2.xml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/PerformanceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/resources/log4j2-test.xml
  hedera-mirror-monitor/build.gradle.kts
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/AbstractScenario.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/config/LoggingFilter.java
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-monitor/src/main/resources/log4j2.xml
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/config/LoggingFilterTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/subscribe/controller/SubscriberControllerTest.java
  hedera-mirror-monitor/src/test/resources/log4j2-test.xml
  hedera-mirror-rest-java/build.gradle.kts
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/config/LoggingFilter.java
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-rest-java/src/main/resources/log4j2.xml
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/config/LoggingFilterTest.java
  hedera-mirror-rest-java/src/test/resources/log4j2-test.xml
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/main/java/com/hedera/mirror/test/LoggingReporter.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/converter/CustomFeesConverter.java
  hedera-mirror-test/src/test/resources/application.yml
  hedera-mirror-test/src/test/resources/log4j2.xml
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/log4j2.xml
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
  hedera-mirror-web3/src/test/resources/log4j2-test.xml
  lombok.config
Labels: enhancement, technical debt

#6836 Set daemonsets to a higher priority class
  charts/hedera-mirror-common/templates/priorityclass.yaml
  charts/hedera-mirror-common/templates/zfs/daemonset.yaml
  charts/hedera-mirror-common/values.yaml
Labels: bug, process

#6853 Re-truncate some tables not in use by rosetta
  hedera-mirror-rosetta/container/importer/sql/V1.86.99__truncate_tables_for_rosetta.sql
Labels: database, rosetta

#6859 Find entity from evm address recovered from EC public key alias
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/EntityIdServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: bug, parser

#6858 HIP-786: Persist new staking properties
  build.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/addressbook/NetworkStake.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.87.0__network_stake_new_fields.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNodeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeStakeUpdateTransactionHandlerTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/NftId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
Labels: enhancement, parser

#6814 K6 performance test for estimate precompiles
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/lib/common.js
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/commonContractCallEstimateTemplate.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateCreateFungibleToken.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateCreateNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateFungibleTokenCustomFees.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateNftCustomFees.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateTokenDissociate.js
  hedera-mirror-test/k6/src/web3/test/index.js
  hedera-mirror-test/k6/src/web3/test/resources/estimate.json
Labels: enhancement, web3, limechain

#6863 Expose new HIP-786 staking properties
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/specs/network/stake/no-params.json
  hedera-mirror-rest/__tests__/viewmodel/networkStakeViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/networkStake.js
  hedera-mirror-rest/monitoring/monitor_apis/network_tests.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/viewmodel/networkStakeViewModel.js
Labels: enhancement, rest

#6862 HIP-584: Register missing besu internal precompiles
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.bin
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.json
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.sol
Labels: bug, web3, limechain

#6889 HIP-786: Finalize protobuf artifact to persist new staking properties
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/NftId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
Labels: dependencies

#6885 Enable entity balance tracking and migration in rosetta
  hedera-mirror-rosetta/container/entrypoint.sh
  hedera-mirror-rosetta/container/supervisord.conf
Labels: enhancement, rosetta

#6866 HIP-584: k6 tests for modification precompiles
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateApprove.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateApproveNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateAssociateTokens.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateDissociateTokens.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateERCApprove.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateFreezeNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateFreezeToken.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateMintNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateSetApprovalForAll.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateTransferNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateTransferToken.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateUnfreezeNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateUnfreezeToken.js
  hedera-mirror-test/k6/src/web3/test/index.js
  hedera-mirror-test/k6/src/web3/test/resources/estimate.json
Labels: test, web3, limechain

#6852 Add balance timestamp to entity and token account
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractTokenAccount.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenAssociateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/NftRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.87.2__add_balance_timestamps.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AbstractStakingMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddBalanceTimestampMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakePeriodStartMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixStakedBeforeEnabledMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RecalculatePendingRewardMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/NftRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/contractService.test.js
Labels: enhancement, database, balances

#6867 Improve importer memory usage
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror/ci/v1-values.yaml
  charts/hedera-mirror/ci/v2-values.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/StreamFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/RecordItemTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/ProtoRecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/AbstractStreamFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
Labels: bug, performance, parser, breaking

#6898 Revert "Bump quick-lru from 6.1.2 to 7.0.0"
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: regression, dependencies

#6907 Add a transaction hash pivot timestamp
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/PersistPropertiesTest.java
Labels: enhancement, database

#6865 Update web3 module README with contracts/call API support
  docs/web3/README.md
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation, web3, limechain

#6910 Update web3 module README with contracts/call API support (0.89)
  docs/web3/README.md
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation

#6909 Add a transaction hash pivot timestamp (0.89)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/PersistPropertiesTest.java
Labels: enhancement, database

#6913 Fix custom fee schedule not updated properly
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/UpsertColumn.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractCustomFee.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ColumnMetadata.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
Labels: bug, regression, parser, hts

#6904 Regression on `contract/results/<transactionHash>` address to field as 0x
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/ethereum-transaction-contract-create-with-null-to-address.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/ethereum-transaction-contract-create.json
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
Labels: limechain

#6915 Fix custom fee schedule not updated properly (0.89)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/UpsertColumn.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractCustomFee.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/ColumnMetadata.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/EntityMetadataRegistryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
Labels: bug, regression, parser, hts

#6919 Modify `Token` model to make it immutable
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Token.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenTest.java
Labels: bug, web3, limechain

#6901 Option to halt importer on recoverable error
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusUpdateTopicTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenFeeScheduleUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenMintTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/util/UtilityTest.java
Labels: enhancement, parser

#6906 HIP-584: Introduce timestamp field that will be used for filtering hi…
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ThreadLocalHolder.java
Labels: enhancement, web3, limechain

#6921 Revert "Add a transaction hash pivot timestamp (#6907)"
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/PersistPropertiesTest.java
Labels: enhancement, database

#6922 Regression on `contract/results/<transactionHash>` address to field as 0x (0.89)
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/ethereum-transaction-contract-create-with-empty-to-address.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/ethereum-transaction-contract-create-with-null-to-address.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/ethereum-transaction-contract-create.json
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
Labels: bug, regression, rest

#6923 Revert "Add a transaction hash pivot timestamp (0.89)"
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/PersistPropertiesTest.java
Labels: enhancement, database

#6902 Change rosetta to not use account balance file
  .github/workflows/rosetta.yml
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/app/persistence/account.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/persistence/block_test.go
  hedera-mirror-rosetta/app/persistence/common.go
  hedera-mirror-rosetta/app/persistence/domain/account_balance_file.go
  hedera-mirror-rosetta/app/persistence/domain/account_balance_file_test.go
  hedera-mirror-rosetta/app/persistence/domain/nft.go
  hedera-mirror-rosetta/app/persistence/domain/nft_test.go
  hedera-mirror-rosetta/app/persistence/domain/nft_transfer.go
  hedera-mirror-rosetta/app/persistence/domain/nft_transfer_test.go
  hedera-mirror-rosetta/app/persistence/domain/token.go
  hedera-mirror-rosetta/app/persistence/domain/token_account.go
  hedera-mirror-rosetta/app/persistence/domain/token_account_test.go
  hedera-mirror-rosetta/app/persistence/domain/token_balance.go
  hedera-mirror-rosetta/app/persistence/domain/token_balance_test.go
  hedera-mirror-rosetta/app/persistence/domain/token_test.go
  hedera-mirror-rosetta/app/persistence/domain/token_transfer.go
  hedera-mirror-rosetta/app/persistence/domain/token_transfer_test.go
  hedera-mirror-rosetta/app/persistence/testmain_test.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/app/services/construction/common.go
  hedera-mirror-rosetta/app/services/construction/common_test.go
  hedera-mirror-rosetta/build.gradle.kts
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/scripts/validation/get-genesis-balance.sh
  hedera-mirror-rosetta/test/domain/account_balance_snapshot_builder.go
Labels: enhancement, rosetta, balances

#6926 HIP-786: Include new staking properties in acceptance test
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorNetworkStake.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/NetworkFeature.java
  hedera-mirror-test/src/test/resources/features/network/networkstake.feature
Labels: enhancement, test

#6932 Fix loading of native libraries in web3 chart
  charts/hedera-mirror-web3/values.yaml
Labels: bug, regression, web3

#6934 Fix loading of native libraries in web3 chart (0.89)
  charts/hedera-mirror-web3/values.yaml
Labels: bug, regression, web3

#6925 Add migration for missing nft history timestamp ranges
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.88.0__add_nft_history_timestamp_ranges.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddNftHistoryRangesMigrationTest.java
Labels: bug, database

#6940 Make `MirrorEntityAccess.isUsable` **not** consider expiry
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: bug, regression, web3

#6942 Make `MirrorEntityAccess.isUsable` not consider expiry (0.88)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: bug, regression, web3

#6943 Make `MirrorEntityAccess.isUsable` not consider expiry (0.89)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
Labels: bug, regression, web3

#6960 Fix acceptance test cleanup
  charts/hedera-mirror-common/values.yaml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/FileClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ScheduleClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/converter/CustomFeesConverter.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/schedule/schedule.feature
  hedera-mirror-test/src/test/resources/features/token/token.feature
  hedera-mirror-test/src/test/resources/features/topic/topic.feature
  hedera-mirror-test/src/test/resources/features/topic/topicfilter.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/MirrorOperationTracer.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/MirrorOperationTracerTest.java
Labels: bug, test

#6917 Set dynamic value for create token in acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/ExchangeRateResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
Labels: enhancement, test, limechain

#6920 HIP-584: Adapt stack state to utilize pop functionality
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: test, web3, limechain

#6978 Bump snapshot dependencies
  build.gradle.kts
Labels: dependencies

#6968 Add contract caching mechanism for acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/contract.feature
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
Labels: enhancement, test, limechain
