Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2023-04, with the labels that each got.

#5735 Replace outdated actions in release automation workflow
  .github/workflows/release-automation.yml
Labels: enhancement, good first issue, process

#5736 Remove entity deletion check in balance migrations…
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
Labels: enhancement, good first issue, database

#5766 Optimize Go & Node.js docker builds
  .github/workflows/release-production.yml
  .github/workflows/security.yml
  build.gradle.kts
  docs/installation.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/TransactionHashTxManager.java
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/monitoring/Dockerfile
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/build.gradle.kts
  hedera-mirror-rosetta/go.mod
Labels: enhancement, process

#5772 HIP-584: Disable ERC acceptance tests by default
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
Labels: bug, web3, limechain

#5402 Implement creating of synth events for HAPI transactions
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractlog/AbstractSyntheticContractLog.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractlog/ApproveAllowanceContractLog.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractlog/ApproveForAllAllowanceContractLog.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractlog/SyntheticContractLog.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractlog/SyntheticContractLogService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractlog/SyntheticContractLogServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/contractlog/TransferContractLog.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteAllowanceTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/contractlog/SyntheticContractLogServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoDeleteAllowanceTransactionHandlerTest.java
Labels: enhancement, parser, limechain

#5767 Reduce Citus default shard count to 16
  charts/hedera-mirror/values.yaml
  docs/database.md
  hedera-mirror-importer/src/main/resources/application.yml
Labels: enhancement, database

#5688 Add Acceptance Test for Hollow Account to Contract
  .gitignore
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorAccountResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/contract.feature
  hedera-mirror-test/src/test/resources/solidity/README.md
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/Parent.sol/Child.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/Parent.sol/Parent.json
  hedera-mirror-test/src/test/resources/solidity/contracts/Parent.sol
  hedera-mirror-test/src/test/resources/solidity/package.json
  hedera-mirror-test/src/test/resources/solidity/test/parent-child-test.js
Labels: enhancement, test

#5774 HIP-584: Disable ERC acceptance tests by default (0.78)
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
Labels: bug, web3, limechain

#5793 HIP-584: Enhance openapi definition with 404 error
  hedera-mirror-rest/api/v1/openapi.yml
Labels: web3, limechain

#5780 HIP-584: Fix flaky ERC acceptance tests behaviour
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/EntityNotFoundException.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
Labels: bug, web3, limechain

#5794 HIP-584: Fix flaky ERC acceptance tests behaviour (0.78)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/erc.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/EntityNotFoundException.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
Labels: bug, web3, limechain

#5770 Copy unique token store model into hedera mirror web3
  build.gradle.kts
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/services/state/submerkle/RichInstant.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/Id.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/NftId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/UniqueToken.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/BitPackUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/state/submerkle/RichInstantTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/TokenTransferWrapperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/IdTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/NftIdTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/UniqueTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/BitPackUtilsTest.java
Labels: enhancement, web3, limechain

#5527 HIP-584: Add acceptance tests for eth_call with token precompile logic
  .gitignore
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/web3/reference/viewcontract/ViewContract.bin
  hedera-mirror-test/k6/src/web3/reference/viewcontract/ViewContract.sol
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/CompiledSolidityArtifact.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/ContractCallResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorAccountResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/contract/precompile.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/PrecompileTestContract.sol/PrecompileTestContract.json
  hedera-mirror-test/src/test/resources/solidity/contracts/PrecompileTestContract.sol
  hedera-mirror-test/src/test/resources/solidity/hardhat.config.js
Labels: enhancement, test, web3, limechain

#5796 Improve acceptance test execution time and logs
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/values.yaml
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/main/java/com/hedera/mirror/test/LoggingReporter.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/FileClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ScheduleClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SubscriptionResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/ClientConfiguration.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/ExpandedAccountId.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/FileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/application.yml
  hedera-mirror-test/src/test/resources/features/account/cryptoAllowance.feature
  hedera-mirror-test/src/test/resources/features/topic/topicfilter.feature
  hedera-mirror-test/src/test/resources/junit-platform.properties
  hedera-mirror-test/src/test/resources/log4j2.xml
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
Labels: enhancement, performance, test

#5808 Allow additional testkube testsuite executionRequest variables
  charts/hedera-mirror-common/templates/test-suite-rest.yaml
  charts/hedera-mirror-common/values.yaml
Labels: enhancement, test, process

#5811 Fix SQL syntax in FixFungibleTokenTotalSupplyMigration for pg 13
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixFungibleTokenTotalSupplyMigration.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixFungibleTokenTotalSupplyMigrationTest.java
Labels: bug, database

#5810 HIP-584: Disable allowance ERC precompile
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
Labels: bug, web3, limechain

#5812 Fix SQL syntax in FixFungibleTokenTotalSupplyMigration for pg 13 (0.78)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixFungibleTokenTotalSupplyMigration.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixFungibleTokenTotalSupplyMigrationTest.java
Labels: bug, database

#5813 HIP-584: Disable allowance ERC precompile (0.78)
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
Labels: bug, web3, limechain

#5668 Copy GasCalculators from hedera-services
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/FileDataRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/properties/CacheProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/services/contracts/gascalculator/GasCalculatorHederaV19.java
  hedera-mirror-web3/src/main/java/com/hedera/services/contracts/gascalculator/GasCalculatorHederaV22.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/BasicHbarCentExchange.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/HbarCentExchange.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/BasicFcfsUsagePrices.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/UsagePricesProvider.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/pricing/RequiredPriceTypes.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/fees/FeeBuilder.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/IntegrationTestConfiguration.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoaderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/FileDataRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/contracts/gascalculator/GasCalculatorHederaV19Test.java
  hedera-mirror-web3/src/test/java/com/hedera/services/contracts/gascalculator/GasCalculatorHederaV22Test.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/BasicHbarCentExchangeTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/BasicFcfsUsagePricesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/pricing/RequiredPriceTypesTest.java
Labels: enhancement, web3, limechain

#5817 HIP-584: Disable isApprovedForAll ERC precompile
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
Labels: web3, limechain

#5816 Create a file with 0B then use fileAppend to populate the content in PrecompileContractFeature tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
Labels: bug, test, web3, limechain

#5822 Improve acceptance test node validation performance
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
Labels: enhancement, performance, test

#5776 Add synthetic token allowance migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticTokenAllowanceOwnerMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticTokenAllowanceOwnerMigrationTest.java
Labels: bug, database

#5825 Update Citus to PostgreSQL 15
  charts/hedera-mirror/values.yaml
  docker-compose.yml
  docs/importer/README.md
  hedera-mirror-graphql/src/test/resources/bootstrap-v2.yml
  hedera-mirror-grpc/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/alpine/Dockerfile
  hedera-mirror-importer/src/main/resources/db/scripts/v2/docker/debian/Dockerfile
  hedera-mirror-importer/src/test/resources/config/bootstrap-v2.yml
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-web3/src/test/resources/bootstrap-v2.yml
Labels: enhancement, database

#5850 Bump hedera-evm from 0.36.0-alpha.3 to 0.36.2
  build.gradle.kts
Labels: dependencies

#5827 Optimize past account balance query with time partitions
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/specs/balances/timestamp-empty-result.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/rest/libex/parameters.js
  hedera-mirror-test/k6/src/rest/test/balancesTimestamp.js
  hedera-mirror-test/k6/src/rest/test/index.js
Labels: enhancement, performance, rest

#5764 Initial design doc for graphql contract log subscriptions
  docs/design/contract-log-subscription.md
  docs/design/images/contract-log-subscription-architecture.png
Labels: enhancement, design, contract, graphql

#5856 Build multi-platform snapshot images
  .github/workflows/charts.yml
  .github/workflows/release-integration.yml
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/monitoring/Dockerfile
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
  hedera-mirror-rosetta/Dockerfile
Labels: enhancement, process

#5858 Increase REST API pod resources
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/ci/citus-values.yaml
  charts/hedera-mirror/ci/default-values.yaml
  charts/hedera-mirror/values-prod.yaml
Labels: enhancement, performance, rest

#5801 `StackedStateFrames` - 1of5 - Design documentation
  docs/design/images/ClassDiagram-StackedStateFrames.puml
  docs/design/images/ClassDiagram-StackedStateFrames.svg
  docs/design/images/DecisionDiagram-UpdatableReferenceCache.png
  docs/design/images/DecisionDiagram.adoc
  docs/design/images/ObjectDiagram-StackedStateFrames.puml
  docs/design/images/ObjectDiagram-StackedStateFrames.svg
  docs/design/images/StateDiagram-UpdatableReferenceCache.puml
  docs/design/images/StateDiagram-UpdatableReferenceCache.svg
  docs/design/stacked-state-frames.md
Labels: enhancement, web3

#5878 Increase importer pod cpu requests
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror/values-prod.yaml
Labels: bug, performance, parser

#5871 Fix cleanup workflow
  .github/workflows/cleanup.yml
Labels: bug, process

#5765 HIP-584: Move updaters from services
  build.gradle.kts
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/EntityAddressSequencer.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EntityRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/EntityAddressSequencerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/EntityRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: enhancement, web3, limechain

#5877 HIP-584: Copy JKey from services
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKey.java
Labels: enhancement, web3, limechain

#5880 Bump Spring Boot from 2.7.10 to 2.7.11
  buildSrc/build.gradle.kts
Labels: dependencies

#5802 `StackedStateFrames` - 2of5 - `UpdatableReferenceCache`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/UpdatableReferenceCache.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/impl/UpdatableReferenceCacheLineState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/UpdatableReferenceCacheSpy.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/UpdatableReferenceCacheTest.java
Labels: enhancement, web3

#5873 Create a runbook to document local stream file verification
  docs/runbook/stream-verification.md
Labels: documentation

#5803 `StackedStateFrames` - 3of5 - `CachingStateFrame` and subclasses
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/EvmException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/CachingStateFrame.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/ROCachingStateFrame.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/RWCachingStateFrame.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/BottomCachingStateFrame.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/CachingStateFrameTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/ROCachingStateFrameTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/RWCachingStateFrameTest.java
Labels: enhancement, web3

#5882 Increase importer pod cpu requests (0.79)
  charts/hedera-mirror-common/dashboards/hedera-mirror-grpc.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-importer.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-monitor.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror/values-prod.yaml
Labels: bug, performance, parser

#5883 HIP-584: Move updaters from services (0.79)
  build.gradle.kts
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorFacadeImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/AbstractEvmStackedLedgerUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/EntityAddressSequencer.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EntityRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/EntityAddressSequencerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/EntityRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: enhancement, web3, limechain

#5885 Bump Spring Boot from 2.7.10 to 2.7.11 (0.79)
  buildSrc/build.gradle.kts
Labels: security, dependencies

#5804 HIP-584: `StackedStateFrames` - 4of5 - `DatabaseBackedStateFrame`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/DatabaseBackedStateFrame.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/DatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/impl/UpdatableReferenceCacheLineState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/DatabaseBackedStateFrameTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/DatabaseAccessorTest.java
Labels: enhancement, web3

#5904 Migrate JS AWS SDK to v3
  hedera-mirror-rest/__tests__/integration/template.js
  hedera-mirror-rest/__tests__/s3client.test.js
  hedera-mirror-rest/__tests__/stateproof.test.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/s3client.js
  hedera-mirror-rest/stateproof.js
Labels: dependencies

#5902 Importer Log and Alert Fixes
  charts/hedera-mirror-common/values.yaml
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
Labels: bug, parser

#5912 Add Test Coverage
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/resources/log4j2-test.xml
Labels: bug, parser

#5910 HIP-584: DatabaseAccessor implementations for StackedStateFrame
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/NftAllowanceDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/NftDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenAccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenAllowanceDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/CustomFeeDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/EntityDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/NftAllowanceDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/NftDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenAccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenAllowanceDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessorTest.java
Labels: web3, limechain

#5913 Remove address book fallback from REST API node stake
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/specs/network/nodes/no-params.json
  hedera-mirror-rest/service/networkNodeService.js
Labels: bug, rest

#5557 HIP-584: Enable estimate gas calls without precompile support
  charts/hedera-mirror-web3/postman.json
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/ResponseCodeUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/model/CallServiceParameters.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimator.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimatorTest.java
Labels: enhancement, web3, limechain

#5906 HIP-584: Copy precompile pricing logic without gasFeeInTinybars - Part 1
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/BaseTransactionMeta.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/EstimatorFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/EstimatorUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/SigUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/SingletonEstimatorUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/SingletonUsageProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/TxnUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/TxnUsageEstimator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/UsageEstimate.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/UsageProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/crypto/AllowanceId.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/crypto/CryptoApproveAllowanceMeta.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/crypto/CryptoContextUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/crypto/CryptoCreateMeta.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/crypto/CryptoDeleteAllowanceMeta.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/fees/usage/crypto/CryptoUpdateMeta.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/fees/FeeBuilder.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/SigUsageTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/SigUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/SingletonEstimatorUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/TxnUsageEstimatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/TxnUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/UsageUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/crypto/CryptoApproveAllowanceMetaTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/crypto/CryptoContextUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/crypto/CryptoCreateMetaTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/crypto/CryptoDeleteAllowanceMetaTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/crypto/CryptoUpdateMetaTest.java
Labels: enhancement, web3, limechain

#5918 Revert "HIP-584: Disable support for precompiles when eth_estimateGas is used"
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/EvmOperationConstructionUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/precompile/MirrorHTSPrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/resources/EthCall.sol
Labels: bug, web3

#5915 Fix sidecar bytecode migration for partial mirror nodes
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SidecarContractMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SidecarContractMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
Labels: enhancement, parser

#5919 Fix sidecar bytecode migration for partial mirror nodes (0.79)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SidecarContractMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/IntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SidecarContractMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerContractTest.java
Labels: enhancement, parser

#5805 HIP-584: `StackedStateFrames` - 5of5 - `StackedStateFrames` itself - component complete
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/CachingStateFrame.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StackedStateFrames.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/DatabaseAccessor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/ROCachingStateFrameTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/RWCachingStateFrameTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StackedStateFramesTest.java
Labels: enhancement, web3
