Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2024-01, with the labels that each got.

#7466 Bump Spring Boot from 3.2.0 to 3.2.1
  build.gradle.kts
  buildSrc/build.gradle.kts
  charts/hedera-mirror-common/values.yaml
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/converter/CustomJsonFormatMapper.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/package-info.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractCustomFee.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Transaction.java
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/scripts/cleanup.sql
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/application.yml
Labels: dependencies

#7469 Increase default Loki volume size
  charts/hedera-mirror-common/values.yaml
Labels: enhancement, process

#7467 Fix REST pod running out of memory
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: bug, performance, rest

#7419 HIP-584 Historical: Fix historical crypto balance
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/AccountBalanceRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/AccountBalanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
Labels: bug, web3, limechain

#7468 Make Ethereum transaction handling more resilient
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
Labels: enhancement, parser

#7473 Fix historical network supply
  docs/rest/README.md
  hedera-mirror-rest/__tests__/specs/network/supply/no-accounts.json
  hedera-mirror-rest/__tests__/specs/network/supply/no-params.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating-BOTH.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating-HBARS.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating-TINYBARS.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins-BOTH.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins-HBARS.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins-TINYBARS.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins.json
  hedera-mirror-rest/__tests__/specs/network/supply/timestamp-deduplicated.json
  hedera-mirror-rest/service/networkNodeService.js
Labels: bug, regression, rest

#7471 HIP-584 Historical support - Integration tests for prng and exchange rate
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: enhancement, web3, limechain

#7444 HIP-584: Properly extract error messages when making ContractCallQuery
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/NetworkAdapter.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  hedera-mirror-test/src/test/resources/features/contract/equivalence.feature
Labels: bug, web3, limechain

#7431 HIP-584 Historical: Add integration tests for ERC and HTS precompiles - part 1
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/resources/application.yml
Labels: test, web3, limechain

#7487 Fix Rest API cache-control response header
  charts/hedera-mirror-rest/values.yaml
  hedera-mirror-rest/__tests__/integration/template.js
  hedera-mirror-rest/__tests__/specs/network/exchangerate/responseHeaders.json
  hedera-mirror-rest/__tests__/specs/network/fees/responseHeaders.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/responseHeaders.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/stateproof/responseHeaders.json
  hedera-mirror-rest/config/application.yml
Labels: bug, rest

#7485 Improve temp schema script
  docker-compose.yml
  docs/database/README.md
  docs/importer/README.md
  hedera-mirror-importer/src/main/resources/db/scripts/init-temp-schema.sh
  hedera-mirror-importer/src/main/resources/db/scripts/init.sh
  hedera-mirror-test/build.gradle.kts
Labels: enhancement

#7481 Optimize list topic messages of specific topic id for v2
  hedera-mirror-rest/__tests__/__snapshots__/topicmessage.test.js.snap
  hedera-mirror-rest/__tests__/integration/template.js
  hedera-mirror-rest/__tests__/integration/topicMessageLookupMatrix.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/all-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/all-params.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/encoding-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/encoding.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-param-values-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-param-values.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-topid-id-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-topid-id.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/limit-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/limit.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/no-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/no-params.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/none-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/none.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/order-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/order.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/partial-data-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/partial-data.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/repeated-valid-params-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/repeated-valid-params.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/specific-sequence-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/specific-sequence.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/timestamp.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/with-chunk-data-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/with-chunk-data.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/idseq-not-found-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/idseq-not-found.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/idseq-valid-full-id-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/idseq-valid-full-id.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/idseq-valid-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/idseq-valid.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/partial-data-topic-message-lookup-enabled.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/partial-data.json
  hedera-mirror-rest/__tests__/topicmessage.integration.test.js
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/jest.config.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest

#7488 Convert rest-java to servlet with virtual threads
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/spring-conventions.gradle.kts
  hedera-mirror-monitor/build.gradle.kts
  hedera-mirror-rest-java/build.gradle.kts
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/config/LoggingFilter.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/config/MetricsConfiguration.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/controller/DummyController.java
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/config/LoggingFilterTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/DummyControllerTest.java
Labels: enhancement, rest-java

#7506 Add test module to Gradle workflow
  .github/workflows/gradle.yml
Labels: enhancement, test, process

#7510 Fix incorrect string in k6 performance test report
  hedera-mirror-test/k6/src/lib/common.js
Labels: bug, test

#7483 fix: Use balance timestamp in /tokens/{id}/balances
  docs/rest/README.md
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/balance-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/limit.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/no-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/publickey.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/specific-id.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
Labels: enhancement, rest, limechain

#7501 Replace TimePartitionService Cacheable annotation with caches
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/TimePartitionServiceImpl.java
Labels: bug, performance, parser

#7513 Increase default web3 rate limit
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/RateLimitConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
Labels: bug, web3

#7515 fix: Fix null pointer error on create fungible token with inherit account key
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JKey.java
  hedera-mirror-web3/src/test/java/com/hedera/services/jproto/JKeyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
Labels: bug, web3, limechain

#7430 HIP-584 Historical: Fix historical NFT/Fungible token balance
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-test/k6/src/lib/common.js
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenBalanceRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenRelationshipDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenBalanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: bug, web3, limechain

#7476 HIP-584 Historical: Add integration tests for custom fees and HTS calls - part 4
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AllowancePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/GetApprovedPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/IsApprovedForAllPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
Labels: test, web3, limechain

#7470 HIP-584 Historical: Add integration tests for nested calls - part 3
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/token/TokenAccessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/AllowancePrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/GetApprovedPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/IsApprovedForAllPrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/resources/contracts/NestedCallsTestContract/NestedCallsTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/NestedCallsTestContract/NestedCallsTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/NestedCallsTestContract/NestedCallsTestContract.sol
Labels: test, web3, limechain

#7505 HIP-584 Historical: Fix historical total supply
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/RateLimitConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/accessor/TokenDatabaseAccessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: bug, web3, limechain

#7519 Apply Spotless format to all files
  .github/release-notes.yml
  .github/release.yml
  .github/workflows/charts.yml
  .github/workflows/cleanup.yml
  .github/workflows/gradle.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/security.yml
  CHANGELOG.md
  README.cn.md
  README.md
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
  buildSrc/src/main/kotlin/docker-conventions.gradle.kts
  buildSrc/src/main/kotlin/go-conventions.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  buildSrc/src/main/kotlin/plugin/go/Go.kt
  buildSrc/src/main/kotlin/plugin/go/GoSetup.kt
  buildSrc/src/main/kotlin/snykcode-extension.gradle.kts
  buildSrc/src/main/kotlin/spring-conventions.gradle.kts
  docs/checklist/marketplace.md
  docs/checklist/release.md
  docs/configuration.md
  docs/database/README.md
  docs/database/citus.md
  docs/database/zfs.md
  docs/design/allowances.md
  docs/design/contract-log-subscription.md
  docs/design/custom-fees.md
  docs/design/hcs.md
  docs/design/hts.md
  docs/design/nft.md
  docs/design/parser.md
  docs/design/scheduled-transactions.md
  docs/design/smart-contracts.md
  docs/design/stacked-state-frames.md
  docs/design/stateproofalpha.md
  docs/graphql/README.md
  docs/importer/README.md
  docs/rest/README.md
  docs/runbook/restore.md
  docs/runbook/stream-verification.md
  docs/troubleshooting.md
  docs/web3/README.md
  hedera-mirror-graphql/build.gradle.kts
  hedera-mirror-grpc/build.gradle.kts
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-monitor/build.gradle.kts
  hedera-mirror-rosetta/app/domain/types/constants_test.go
  hedera-mirror-rosetta/app/persistence/address_book_entry.go
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-web3/build.gradle.kts
  settings.gradle.kts
Labels: enhancement, process

#7521 Bump org.json:json
  build.gradle.kts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
Labels: security, dependencies

#7523 HIP-584 Historical: Set temp contract address on estimate contract create
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/FunctionEncodeDecoder.java
  hedera-mirror-web3/src/test/resources/contracts/TestContractAddress/TestAddressThis.bin
  hedera-mirror-web3/src/test/resources/contracts/TestContractAddress/TestAddressThis.json
  hedera-mirror-web3/src/test/resources/contracts/TestContractAddress/TestAddressThis.sol
  hedera-mirror-web3/src/test/resources/contracts/TestContractAddress/TestNestedAddressThis.bin
  hedera-mirror-web3/src/test/resources/contracts/TestContractAddress/TestNestedAddressThis.json
  hedera-mirror-web3/src/test/resources/contracts/TestContractAddress/TestNestedAddressThis.sol
Labels: bug, web3, limechain

#7550 Improve temp schema script (0.96)
  docker-compose.yml
  docs/database/README.md
  docs/importer/README.md
  hedera-mirror-importer/src/main/resources/db/scripts/init-temp-schema.sh
  hedera-mirror-importer/src/main/resources/db/scripts/init.sh
  hedera-mirror-test/build.gradle.kts
Labels: enhancement

#7553 Fix database initialization error in rosetta image
  hedera-mirror-rosetta/container/entrypoint.sh
  hedera-mirror-rosetta/container/pg_hba.conf
Labels: bug, regression, rosetta

#7559 Increase importer cpu resources
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror/values-prod.yaml
Labels: enhancement, performance, hcs

#7551 Ignore temp schema repeatable migration for rest test
  hedera-mirror-rest/__tests__/integrationDbOps.js
Labels: bug, rest

#7555 Add a simplified Rosetta CI workflow
  .github/workflows/rosetta.yml
  hedera-mirror-rosetta/scripts/validation/previewnet/validation.json
  hedera-mirror-rosetta/scripts/validation/run-validation.sh
Labels: enhancement, rosetta

#7545 Refactor BatchEntityListener to BatchPublisher
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/DigestAlgorithm.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/SidecarFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/RedisConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/BatchEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/BatchPublisher.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/BatchPublisherProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityBatchSaveEvent.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/ParserContext.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingPublisher.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisPublisher.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/pubsub/PubSubRecordStreamFileListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/ImporterIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordFileBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserPerformanceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/BatchEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/BatchPublisherTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/ParserContextTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingPublisherTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisEntityListenerIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisPublisherIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisPublisherTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/topic/TopicMessageLookupEntityListenerTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
Labels: enhancement, parser

#7520 Remove transaction_hash_old table
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/TransactionHashBatchInserter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/TransactionHashTxManager.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.92.0__transaction_hash_old_cleanup.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.config
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillTransactionHashMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/TransactionHashTxManagerTest.java
  hedera-mirror-rest/__tests__/integration/transactionHashV1Matrix.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
Labels: enhancement, technical debt, database

#7526 Improve REST API SQL query logging
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/schedules.js
  hedera-mirror-rest/service/baseService.js
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/cryptoAllowanceService.js
  hedera-mirror-rest/service/entityService.js
  hedera-mirror-rest/service/fileDataService.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/service/nftService.js
  hedera-mirror-rest/service/recordFileService.js
  hedera-mirror-rest/service/stakingRewardTransferService.js
  hedera-mirror-rest/service/tokenAllowanceService.js
  hedera-mirror-rest/service/tokenService.js
  hedera-mirror-rest/service/transactionService.js
  hedera-mirror-rest/stateproof.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: enhancement, good first issue, rest

#7567 Support Kubernetes 1.28
  .github/workflows/charts.yml
  .github/workflows/release-production.yml
  charts/README.md
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-graphql/values.yaml
  charts/hedera-mirror-rest-java/values.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/values-v2.yml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/application.yml
Labels: enhancement

#7558 Fix incorrect selfdestruct eth_call response for system accounts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/exception/ResponseCodeUtil.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperation.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV038.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV038Test.java
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.bin
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.json
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.sol
Labels: bug, web3, limechain

#7525 HIP-584: Update web3 docs to cover historical support
  docs/web3/README.md
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, web3, limechain

#7575 Add a HAPI compatibility matrix
  docs/importer/README.md
Labels: documentation

#7544 Historically accurate stake info `/api/v1/accounts/{id}?timestamp`
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-with-entity-stake.json
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, limechain

#7569 Support RFC5988 next link
  hedera-mirror-rest/__tests__/middleware/responseHandler.test.js
  hedera-mirror-rest/__tests__/specs/accounts/accounts-range.json
  hedera-mirror-rest/middleware/responseHandler.js
Labels: enhancement, limechain

#7593 Fix failing selfdestruct estimate gas test
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
Labels: enhancement, test, limechain

#7546 Fix `eth_call` with `extcodehash` on system account
  .github/workflows/rosetta.yml
  docs/web3/README.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/evm/contracts/execution/HederaEvmTxProcessor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/resources/contracts/EthCall/EthCall.sol
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.bin
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.json
  hedera-mirror-web3/src/test/resources/contracts/EvmCodes/EvmCodes.sol
Labels: bug, web3, limechain

#7597 Bump jsonpath from 2.8.0 to 2.9.0
  build.gradle.kts
Labels: security, dependencies

#7591 Change error handling for invalid redirect ERC function cases
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
Labels: bug, web3, limechain

#7599 Replace responseContentType with responseHeaders in REST specs
  hedera-mirror-rest/__tests__/integration/template.js
  hedera-mirror-rest/__tests__/specs/accounts/accounts-range.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating-BOTH.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating-HBARS.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating-TINYBARS.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-circulating.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins-BOTH.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins-HBARS.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins-TINYBARS.json
  hedera-mirror-rest/__tests__/specs/network/supply/q-totalcoins.json
Labels: enhancement, technical debt, rest

#7418 HIP-584: Add tests for historical data
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/MirrorBlock.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/MirrorBlockResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-test/src/test/resources/features/contract/historical.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/Caller.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/EstimateGasContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/MockContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/ReentrancyHelper.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimateGasContract.sol
Labels: test, web3, limechain

#7604 Cleanup acceptance tests asynchronously
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
Labels: enhancement, performance, test

#7606 Remove RestoreClientIntegrationTest
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/PerformanceIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/performance/RestoreClientIntegrationTest.java
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_00.000084Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_00.000084Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_05.007359Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_05.007359Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_10.001022Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_10.001022Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_15.011840Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_15.011840Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_20.007996Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_20.007996Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_25.001721Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_25.001721Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_30.000978Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_30.000978Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_35.009154Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_35.009154Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_40.000704001Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_40.000704001Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_45.008710Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_45.008710Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_50.013544Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_50.013544Z.rcd_sig
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_55.001982Z.rcd
  hedera-mirror-importer/src/test/resources/data/recordstreams/performance/v2/2020-02-09T18_30_55.001982Z.rcd_sig
  hedera-mirror-importer/src/test/resources/scripts/restore-client/Dockerfile
Labels: enhancement, technical debt, test

#7554 Improve staking reward calculation performance
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntityStake.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.93.0__update_entity_stake.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactions.json
Labels: enhancement, parser

#7611 Fix HCS latency regression
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingPublisher.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisPublisher.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/topic/TopicMessageLookupEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisPublisherIntegrationTest.java
Labels: bug, performance, regression, parser, hcs

#7612 Fix HCS latency regression (0.97)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/notify/NotifyingPublisher.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisPublisher.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/topic/TopicMessageLookupEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/redis/RedisPublisherIntegrationTest.java
Labels: bug, performance, regression, parser, hcs

#7616 Enable direct calls to precompile addresses
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/resources/features/contract/call.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliases.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
Labels: enhancement, web3, limechain

#7570 Add OpenAPI model generation for NFT allowance API
  docs/design/allowances.md
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/model/NftAllowanceModelTest.java
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, rest-java

#7342 Add in-equivalence tests for balance, selfdestruct, ext op codes
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ContractClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/EncoderDecoderFacade.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/NetworkAdapter.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/response/ContractCallResponse.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/contract/equivalence.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EquivalenceContract.sol/EquivalenceContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EquivalenceDestruct.sol/EquivalenceDestruct.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EquivalenceContract.sol
  hedera-mirror-test/src/test/resources/solidity/contracts/EquivalenceDestruct.sol
Labels: test, limechain

#7637 Update bucket for 2024-02 testnet reset
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/ImporterProperties.java
  hedera-mirror-rest/constants.js
Labels: enhancement, downloader

#7642 Update testnet bucket (0.97)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/ImporterProperties.java
  hedera-mirror-rest/constants.js
Labels: enhancement, downloader

#7622 Update V2 Deployment for Performance Improvements
  charts/hedera-mirror/ci/v2-values.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values.yaml
  docs/database/zfs.md
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/CommonTestConfiguration.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.1__distribution.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.sh
  hedera-mirror-importer/src/test/resources/config/application.yml
  hedera-mirror-rest/__tests__/integrationDbOps.js
Labels: enhancement, database

#7649 Bump vertx version from 4.5.1 to 4.5.2
  build.gradle.kts
Labels: security, dependencies, java

#7646 Fix failing equivalence acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  hedera-mirror-test/src/test/resources/features/contract/equivalence.feature
Labels: bug, test, regression, limechain

#7645 Bump hedera-evm version to 0.46 and besu evm version to 23.10.2
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: enhancement, web3, limechain

#7648 Drop topic message primary index
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/listener/SharedPollingTopicListener.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepository.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryCustomImpl.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/domain/ReactiveDomainBuilder.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryTest.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.93.1__drop_topic_message_primary_key.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-rest/__tests__/specs/topics/messages/{id}/timestamp-not-found.json
  hedera-mirror-rest/__tests__/specs/topics/messages/{id}/timestamp-valid.json
  hedera-mirror-rest/__tests__/specs/topics/messages/{id}/with-chunk-initial-transaction-proto.json
  hedera-mirror-rest/__tests__/specs/topics/messages/{id}/with-chunk-valid-start-timestamp-and-payer-account-id.json
  hedera-mirror-rest/topicmessage.js
Labels: enhancement, database
