Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2024-05, with the labels that each got.

#8213 ci: fix permission issues in the release automation workflow
  .github/workflows/release-automation.yml
Labels: bug

#8218 Bump versions for v0.105.0-SNAPSHOT
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-graphql/Chart.yaml
  charts/hedera-mirror-grpc/Chart.yaml
  charts/hedera-mirror-importer/Chart.yaml
  charts/hedera-mirror-monitor/Chart.yaml
  charts/hedera-mirror-rest-java/Chart.yaml
  charts/hedera-mirror-rest/Chart.yaml
  charts/hedera-mirror-rosetta/Chart.yaml
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror/Chart.yaml
  docker-compose.yml
  gradle.properties
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: dependencies

#8214 Add rest java password to previewnet
  clusters/previewnet/previewnet/sealed-secret.yaml
Labels: process

#8206 fix: Add a check so that prng and exchange rate precompiles won't acc…
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/ExchangeRatePrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/PrngSystemPrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/PrngSystemPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileTest.java
  hedera-mirror-web3/src/test/resources/contracts/ExchangeRatePrecompile/ExchangeRatePrecompile.bin
  hedera-mirror-web3/src/test/resources/contracts/ExchangeRatePrecompile/ExchangeRatePrecompile.json
  hedera-mirror-web3/src/test/resources/contracts/ExchangeRatePrecompile/ExchangeRatePrecompile.sol
  hedera-mirror-web3/src/test/resources/contracts/PrngSystemContract/PrngSystemContract.bin
  hedera-mirror-web3/src/test/resources/contracts/PrngSystemContract/PrngSystemContract.json
  hedera-mirror-web3/src/test/resources/contracts/PrngSystemContract/PrngSystemContract.sol
Labels: bug, web3, limechain

#8220 Change release workflows to only build the specific project
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
Labels: enhancement, github_actions

#8200 Fix hollow account creation fail
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/ledger/TransferLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/DecodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/ERCTransferParams.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/ERCTransferPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/ledger/TransferLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/impl/ERCTransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
Labels: bug, web3, limechain

#8186 Add missing logics and validations from services p2
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/ApproveAllowanceLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpers.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/HTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/ApproveAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/DeleteAllowanceLogicTest.java
Labels: enhancement, web3, limechain

#8157 Add missing logics and validations from services p1
  docs/configuration.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ServicesConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperation.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationBase.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV038.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV046.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsages.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/ApproveAllowanceLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpers.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/operations/SelfDestructOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/HTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV038Test.java
  hedera-mirror-web3/src/test/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV046Test.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsagesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/ApproveAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/DeleteAllowanceLogicTest.java
  hedera-mirror-web3/src/test/resources/contracts/SelfDestructContract/SelfDestructContract.bin
  hedera-mirror-web3/src/test/resources/contracts/SelfDestructContract/SelfDestructContract.json
  hedera-mirror-web3/src/test/resources/contracts/SelfDestructContract/SelfDestructContract.sol
Labels: enhancement, web3, limechain

#8243 Resolve alias account in TokenWipe transaction
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenWipeTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ContractUpdateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenWipeTransactionHandlerTest.java
Labels: bug, test, parser

#8236 Fix v2 Migration Logic
  build.gradle.kts
  docs/database/README.md
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.97.0__remove_bootstrap_addressbook.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.sh
Labels: bug, parser, database

#8252 Fix V2 migration logic (0.104)
  docs/database/README.md
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.97.0__remove_bootstrap_addressbook.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.sh
Labels: bug, database

#8253 Trigger k6 rest testsuite when acceptance test pod is deleted
  charts/hedera-mirror-rest/templates/_helpers.tpl
  charts/hedera-mirror-rest/templates/tests/pod.yaml
  charts/hedera-mirror/templates/_helpers.tpl
  charts/hedera-mirror/templates/tests/pod.yaml
Labels: bug, test

#8127 Add HIP-904 Frictionless Airdrops design
  docs/design/frictionless-airdrops.md
Labels: documentation, enhancement, design

#8262 Fix GasConsumedMigrationTest
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/GasConsumedMigrationTest.java
Labels: bug, test, database

#8211 Convert AlertManager alerts to Grafana Cloud alerts
  charts/hedera-mirror-common/alerts/rules.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-rest/values.yaml
Labels: enhancement, technical debt, process

#8269 Add index to nft allowance table for spender centric queries (0.104)
  docs/database/README.md
  docs/rest/README.md
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.97.1__nft_allowance_by_spender.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.1.0__nft_allowance_by_spender.sql
Labels: enhancement, database, rest-java

#8268 Disable Redis in REST API by default
  docs/checklist/release.md
  docs/configuration.md
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/s3client.js
Labels: bug, performance, regression, rest

#8280 Disable Redis in REST API by default (0.104)
  docs/checklist/release.md
  docs/configuration.md
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/s3client.js
Labels: bug, performance, regression, rest

#8267 Clear incorrect token metadata / metadata key and fix ingestion logic
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.97.2__clear_token_metadata.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/converter/VersionConverter.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ClearTokenMetadataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
Labels: bug, parser

#8289 Clear incorrect token metadata / metadata key and fix ingestion logic (0.104)
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.97.2__clear_token_metadata.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/converter/VersionConverter.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ClearTokenMetadataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
Labels: bug, parser

#8302 Fix release automation workflow unable to close milestone
  .github/workflows/release-automation.yml
Labels: bug, github_actions

#8257 Add testnet-citus deployment to testnet-eu cluster
  clusters/testnet-eu/common/helmrelease.yaml
  clusters/testnet-eu/common/sealed-secret.yaml
  clusters/testnet-eu/flux-system/alert.yaml
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
  clusters/testnet-eu/testnet-citus/helmrepository.yaml
  clusters/testnet-eu/testnet-citus/namespace.yaml
  clusters/testnet-eu/testnet-citus/sealed-secret.yaml
Labels: enhancement, process

#8265 Upgrade ZFS CSI Driver
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/templates/zfs/daemonset.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-cluster.yaml
  charts/hedera-mirror/values.yaml
  docs/database/zfs.md
Labels: enhancement, database

#8304 fix: kubectl missing executable permissions in release-production.yml
  .github/workflows/release-production.yml
Labels: bug, github_actions

#8309 bump previewnet citus to 0.105.0-rc1
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Labels: process

#8308 7937 Add k6 config for NFT allowances API testing.
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: enhancement, nft, rest-java

#8316 Bump securego/gosec to v2.20.0
  .github/workflows/security.yml
Labels: dependencies, github_actions

#8321 REST api returns unknown transaction type
  hedera-mirror-rest/__tests__/model/transactionType.test.js
  hedera-mirror-rest/__tests__/specs/transactions/transactiontype.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/transactionResult.js
  hedera-mirror-rest/model/transactionType.js
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/constants_test.go
  hedera-mirror-rosetta/app/persistence/transaction_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: bug, rest

#8317 Prevent ZFS components from restarting on every deploy
  charts/hedera-mirror-common/templates/zfs/configmap-init.yaml
  charts/hedera-mirror-common/templates/zfs/daemonset.yaml
Labels: enhancement, process

#8322 Increase web3 maxDataSize to 128 KiB
  docs/checklist/release.md
  docs/configuration.md
  hedera-mirror-graphql/src/main/resources/graphql/common.graphqls
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, web3

#8323 Increase web3 maxDataSize to 128 KiB (0.105)
  docs/checklist/release.md
  docs/configuration.md
  hedera-mirror-graphql/src/main/resources/graphql/common.graphqls
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, web3

#8325 bump previewnet-citus to 0.105.0-rc2
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Labels: process

#8324 Bump Rosetta dependencies
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: dependencies, go

#8166 HIP-646/657/765: Implement token metadata acceptance tests
  .github/workflows/gradle.yml
  .github/workflows/rosetta.yml
  .github/workflows/snyk-monitor.yml
  build.gradle.kts
  docs/database/README.md
  docs/rest/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/token.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/Store.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/StoreImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperation.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationBase.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV038.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV046.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsages.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TransferPrecompile.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AbstractAutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/ApproveAllowanceLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/AutoCreationLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/crypto/helpers/AllowanceHelpers.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/operations/SelfDestructOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmWorldStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/precompile/HTSPrecompiledContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/token/TokenAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/utils/PrecompilePricingUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/ApproveAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/DeleteAllowanceLogicTest.java
  hedera-mirror-web3/src/test/resources/contracts/SelfDestructContract/SelfDestructContract.json
Labels: enhancement, test

#8339 Fix NFT allowance acceptance tests
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/AcceptanceTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/nftAllowance.feature
Labels: enhancement, test, rest-java

#8261 Nft allowances Range additions
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdRangeParameter.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/controller/AllowancesController.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/dto/NftAllowanceRequest.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/repository/NftAllowanceRepositoryCustom.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/repository/NftAllowanceRepositoryCustomImpl.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/service/Bound.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/service/NftAllowanceService.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/service/NftAllowanceServiceImpl.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/AllowancesControllerTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/repository/NftAllowanceRepositoryTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/service/NftAllowanceServiceTest.java
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, nft, rest-java

#8358 Testnet na deploy
  clusters/testnet-na/testnet/helmrelease.yaml
Labels: process

#8360 upgrade testnet,testnet-citus,common to 0.105.0
  clusters/testnet-eu/common/helmrelease.yaml
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
  clusters/testnet-eu/testnet/helmrelease.yaml
Labels: process

#8359 Fix some NftAllowanceRepository corner cases
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/repository/NftAllowanceRepositoryCustomImpl.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/service/Bound.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/AllowancesControllerTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/repository/NftAllowanceRepositoryTest.java
  hedera-mirror-rest-java/src/test/resources/config/application.yml
Labels: bug, rest-java

#8362 Fix NFT allowance acceptance test regression
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/nftAllowance.feature
Labels: bug, test

#8341 Include transaction_hash For V2 Migration
  docs/database/README.md
  hedera-mirror-importer/src/main/resources/db/migration/v2/R__03_view.sql
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.config
  hedera-mirror-importer/src/main/resources/db/scripts/v2/migration.sh
  hedera-mirror-test/k6/src/rest-java/apis.js
  hedera-mirror-test/k6/src/rest-java/libex/constants.js
  hedera-mirror-test/k6/src/rest-java/test/index.js
  hedera-mirror-test/k6/src/rest-java/test/rampUp.js
Labels: enhancement, database

#8377 Fix estimate precompile tests gas estimations for transfer
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
Labels: bug, test, web3, limechain

#8384 Token creation with `INHERIT` keys via smart contract throws `CONTRACT_REVERT_EXECUTED`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/accessor/AccountDatabaseAccessor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ModificationPrecompileTestContract/ModificationPrecompileTestContract.sol
Labels: bug, web3, limechain

#8342 Fix slowdown finding token transfers in v2
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAllowanceRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAllowanceRepositoryTest.java
Labels: enhancement, database, web3

#8388 Log additional details for query timeout exception
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, web3

#8390 Add a gas limit metric to contract call
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  docs/configuration.md
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/CommonIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MetricsConfigurationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationServiceTest.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/throttle/ThrottleProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3

#8397 bump staging-lg to 0.105.0
  clusters/preprod/staging-lg/helmrelease.yaml
Labels: enhancement, process

#8400 Deploy 0.106.0-rc1 to previewnet v2.
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Labels: enhancement, process

#8401 Deploy 0.106.0-rc1 to mainnet-staging-na v1.
  clusters/mainnet-staging-na/mainnet/helmrelease.yaml
Labels: enhancement, process

#8391 Fix Token Allowances CTE
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAllowanceRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAllowanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: enhancement, database, web3

#8402 Deploy 0.106.0-rc1 to mainnet-staging-na v1, common chart update
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: enhancement, process

#8399 Adding network tests to the rest monitor.
  hedera-mirror-rest/monitoring/config/default.serverlist.json
  hedera-mirror-rest/monitoring/network_tests.js
Labels: enhancement, good first issue, monitor

#8405 Refactor AllowancesControllerTest to extend from ControllerTest
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdParameter.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/ParameterNames.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/controller/AllowancesController.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/AllowancesControllerTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/TopicControllerTest.java
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, technical debt, rest-java

#8406 Add topic ID REST API to k6
  hedera-mirror-test/k6/src/rest-java/libex/parameters.js
  hedera-mirror-test/k6/src/rest-java/test/index.js
  hedera-mirror-test/k6/src/rest-java/test/topicsId.js
Labels: enhancement, performance, rest-java

#8411 bump mainnet-na to 0.105.0
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet/helmrelease.yaml
Labels: enhancement, process

#8412 bump mainnet-eu to 0.105.0
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet/helmrelease.yaml
Labels: enhancement, process

#8414 bump staging-sm to 0.105.0
  clusters/preprod/staging-sm/helmrelease.yaml
Labels: enhancement, process

#8207 Add gasConsumed cases for Ethereum transactions
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EthereumFeature.java
  hedera-mirror-test/src/test/resources/features/contract/ethereum.feature
Labels: enhancement, test, limechain

#8396 Add gas limit calculation and lower default contract call gas
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/ModelBuilder.java
Labels: enhancement, web3, limechain

#8416 Add @web3 to equivalence.feature.
  hedera-mirror-test/src/test/resources/features/contract/equivalence.feature
Labels: enhancement, test, web3

#8428 Fix flaky MetricsConfigurationTest and BalanceReconciliationServiceTest
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/CommonTestConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MetricsConfigurationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reconciliation/BalanceReconciliationServiceTest.java
Labels: bug, test, parser
