Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2024-12, with the labels that each got.

#9866 Add Spotless check to CI
  .github/workflows/security.yml
  README.md
  docs/configuration.md
  docs/database/bootstrap.md
  docs/development.md
  docs/runbook/create-disk-snapshot-for-citus-cluster.md
  docs/runbook/restore-citus-from-disk-snapshot.md
  docs/runbook/upgrade-k8s-version-citus-nodepool.md
  docs/web3/README.md
  hedera-mirror-rest/__tests__/specs/contracts/results/failed-ethereum-transaction.json
  hedera-mirror-test/k6/README.md
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
Labels: enhancement

#9860 Add runbook to restore stackgres backup
  docs/runbook/restore-citus-from-stackgres-backup.md
  docs/runbook/scripts/restore-stackgres-backup.sh
  docs/runbook/scripts/restore-volume-snapshot.sh
  docs/runbook/scripts/utils.sh
  docs/runbook/scripts/volume-snapshot.sh
Labels: enhancement

#9870 Fix timeout in monitor
  docs/configuration.md
  docs/database/README.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
Labels: bug, monitor

#9841 HIP 904 add token associate on claim airdrop
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractTokenAccount.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTokenUpdateAirdropTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCancelAirdropTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenClaimAirdropTransactionHandlerTest.java
  hedera-mirror-rest-java/build.gradle.kts
Labels: bug, parser

#9867 Fix sonar issues
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/converter/WeiBarTinyBarConverterTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/StreamTypeTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/TopicMessageServiceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/DateRangeCalculatorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/converter/KeyConverter.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/contractresult/SyntheticContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV2Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/signature/SignatureFileReaderV5Test.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/LinkFactoryTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/FileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/validation/HexValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/usage/token/TokenUpdateUsage.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/TokenUpdateLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/tokens/HederaTokenStore.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txns/util/TokenUpdateValidator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/IdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/AccountAccessorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/MirrorOperationTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StoreImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/FileDataRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calc/OverflowCheckingCalcTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/crypto/queries/GetTxnRecordResourceUsageTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/utils/AccessorBasedUsagesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/utils/OpUsageCtxHelperTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/usage/token/TokenOpsUsageUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/fees/usage/crypto/CryptoOpsUsageTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/hapi/utils/fees/FeeBuilderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/AssociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/BurnPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DeleteTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/DissociatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/FreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/GrantKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/MintPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/PausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/RevokeKycPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/SyntheticTxnFactoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TokenCreatePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/TransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnfreezeTokenPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/UnpausePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/WipeNonFungiblePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/impl/ERCTransferPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/tokens/HederaTokenStoreTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/ApproveAllowanceLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/AutoCreationLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/validators/ApproveAllowanceChecksTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/validators/DeleteAllowanceChecksTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/util/TokenUpdateValidatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/IdUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/accessors/SignedTxnAccessorTest.java
Labels: enhancement

#9863 Add entity type filtering in Token and Account kv states
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/AccountReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/TokenReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/AccountReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/TokenReadableKVStateTest.java
Labels: bug, web3

#9872 HIP 904 add token associate on claim airdrop (0.119)
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractTokenAccount.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTokenUpdateAirdropTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCancelAirdropTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenClaimAirdropTransactionHandlerTest.java
  hedera-mirror-rest-java/build.gradle.kts
Labels: bug, parser, hts

#9871 Fix timeout in monitor (0.119)
  docs/configuration.md
  docs/database/README.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/TransactionPublisherTest.java
Labels: bug, monitor

#9876 HIP 904 add token associate on claim airdrop (0.118)
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractTokenAccount.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTokenUpdateAirdropTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCancelAirdropTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenClaimAirdropTransactionHandlerTest.java
  hedera-mirror-rest-java/build.gradle.kts
Labels: bug, hts, importer

#9877 Add db migration to fix missing token association for claimed airdrops
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ConfigurableJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixAirdropTokenAssociationMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RepeatableMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixAirdropTokenAssociationMigrationTest.java
  hedera-mirror-rosetta/container/importer/application.yml
Labels: bug, database

#9875 Add feature flag for the admin_key in the get network nodes response
  hedera-mirror-rest/__tests__/application.yml
  hedera-mirror-rest/__tests__/specs/network/nodes/include-admin-key-feature-flag-false.json
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/viewmodel/networkNodeViewModel.js
Labels: enhancement

#9868 Add additional coverage for token airdrops tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/token.feature
Labels: enhancement, test

#9878 Add db migration to fix missing token association for claimed airdrops (0.119)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ConfigurableJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixAirdropTokenAssociationMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RepeatableMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixAirdropTokenAssociationMigrationTest.java
  hedera-mirror-rosetta/container/importer/application.yml
Labels: bug, database

#9879 Add db migration to fix missing token association for claimed airdrops (0.118)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ConfigurableJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixAirdropTokenAssociationMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/RepeatableMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixAirdropTokenAssociationMigrationTest.java
  hedera-mirror-rosetta/container/importer/application.yml
Labels: bug, database

#9882 Add feature flag for the admin_key in the get network nodes response …
  hedera-mirror-rest/__tests__/application.yml
  hedera-mirror-rest/__tests__/specs/network/nodes/include-admin-key-feature-flag-false.json
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/viewmodel/networkNodeViewModel.js
Labels: enhancement

#9885 Cherry pick 9868 add additional coverage for token airdrop acceptance tests (0.119)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/token.feature
Labels: enhancement, test

#9884 Cherry pick 9868 add additional coverage for token airdrop acceptance tests (0.118)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/token.feature
Labels: enhancement, test

#9886 Bump express from 4.21.1 to 4.21.2
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: security, dependencies, javascript

#9888 Fix acceptance race condition
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/token.feature
Labels: bug, test, regression

#9889 Fix acceptance race condition (0.119)
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/token.feature
Labels: bug, test, regression

#9890 Fix acceptance race condition (0.118)
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/token.feature
Labels: bug, regression

#9891 Deploy mainnet-staging to v0.119.0-rc2
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#9911 Upgrade mainnet-na to v0.118.1
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#9920 Prepare Testnet NA for 119 Release
  clusters/testnet-na/common/helmrelease.yaml
  clusters/testnet-na/testnet-citus/helmrelease.yaml
Labels: deploy

#9925 Upgrade mainnet-staging to 0.120.0-rc1
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#9930 Upgrade performance environment to 0.120.0-rc1
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#9842 Implemented the logic to support Nonce Filter on /api/v1/transactions/{hash}
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nonce-not-found.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-false-not-found.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-no-filter.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-true-not-found.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-true.json
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest

#9793 Add `MirrorNodeState` init with subcomponents
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/MapWritableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapWritableKVStateTest.java
Labels: enhancement, web3

#9799 Add file id and init bytecode in `ContractCallContext`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/FileReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/FileReadableKVStateTest.java
Labels: enhancement, web3

#9945 feat: Add StartupNetworks component and bump hedera-app to 0.57
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/NetworkInfoImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/ServiceMigratorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/ServicesRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/StartupNetworksImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/NetworkInfoImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/ServiceMigratorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/ServicesRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/StartupNetworksImplTest.java
Labels: enhancement, dependencies, web3

#9943 feat: Wrap modularized code in transactionExecutionService
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceOpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
Labels: enhancement, web3

#9944 Fix sonar issues
  build.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/converter/EntityIdSerializer.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/converter/WeiBarTinyBarConverter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestRecordFiles.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddAddressBookServiceEndpointsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/EntityTimestampMigrationV1_46_0Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/CryptoApproveAllowanceTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/RecordFileReaderTest.java
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EthereumFeature.java
  hedera-mirror-test/src/test/resources/features/contract/ethereum.feature
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/CachingStateFrame.java
  hedera-mirror-web3/src/main/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculator.java
  hedera-mirror-web3/src/main/java/com/hedera/services/jproto/JContractIDKey.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/KeyValueWrapper.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/impl/TokenCreatePrecompile.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/ContractCallContextTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/StackedStateFramesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftAllowanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/BareDatabaseAccessor.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/HTSTestsUtil.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/RevokeKycLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/validators/DeleteAllowanceChecksTest.java
Labels: enhancement, technical debt

#9964 Prepare mainnet-na for 119
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#9965 Prepare mainnet-eu for 119
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Labels: deploy

#9970 Revert disk resize in eu
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Labels: deploy

#9971 Set default volume size for mainnet EU
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Labels: deploy

#9939 Add api proxy to the development docker environment
  docker-compose.yml
Labels: enhancement

#9974 Improved messaging for rate limits exceeded
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/OpcodesController.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/OpcodesControllerTest.java
Labels: enhancement, web3

#9973 Round down fee in tinybars
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/RestSpecTest.java
  hedera-mirror-rest/__tests__/specs/network/fees/fallback.json
  hedera-mirror-rest/__tests__/specs/network/fees/no-params.json
  hedera-mirror-rest/__tests__/specs/network/fees/order.json
  hedera-mirror-rest/__tests__/specs/network/fees/timestamp-lower-bound.json
  hedera-mirror-rest/__tests__/specs/network/fees/timestamp-upper-bound.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/viewmodel/feeScheduleViewModel.test.js
  hedera-mirror-rest/model/feeSchedule.js
  hedera-mirror-rest/utils.js
Labels: bug, rest

#9927 Add modularized property
  docs/configuration.md
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/AbstractReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/AccountReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/AirdropsReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/AliasesReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/ContractBytecodeReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/ContractStorageReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/FileReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/NftReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/TokenReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/TokenRelationshipReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/RecordFileRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenBalanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceOpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAddressThisTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/RecordFileServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapWritableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/web3j/TestWeb3jService.java
Labels: enhancement, web3

#9981 Fix ContractCallNativePrecompileTest when running against modularized
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
Labels: enhancement, web3

#9982 Bump tomcat from 10.1.31 to 10.1.34
  build.gradle.kts
Labels: security, dependencies, java

#9979 Fix sonar issues
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/converter/ByteArrayToHexSerializer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFileSignature.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/TransactionFilterFields.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/CleanupEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/UpdateTokenFreezeKycStatusMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/contract.feature
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/sonar-project.properties
  hedera-mirror-web3/src/test/java/com/hedera/services/txns/crypto/ApproveAllowanceLogicTest.java
Labels: enhancement, technical debt

#9929 Fix `ContractCallServicePrecompileReadonlyTest` tests
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/TokenRelation.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/NftReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/TokenReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/Utils.java
  hedera-mirror-web3/src/test/java/com/hedera/hapi/node/state/token/TokenRelationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/hapi/node/state/token/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/NftReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/TokenReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/UtilsTest.java
Labels: enhancement, web3

#9716 HIP-1056 Add block streams design
  docs/design/block-streams.md
  docs/design/images/blockstream.png
  docs/design/images/transformation.png
Labels: enhancement, design

#9963 Add acceptance tests for long term scheduled transactions
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/ScheduleClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/resources/features/schedule/schedule.feature
Labels: enhancement, test

#9987 Bump tomcat from 10.1.31 to 10.1.34 (v0.120.0)
  build.gradle.kts
Labels: dependencies

#9986 Resize disks in Mainnet EU
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Labels: deploy

#9993 Fix BytecodeUtilsTest against modularized
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/BytecodeUtilsTest.java
  hedera-mirror-web3/src/test/solidity/EthCall.sol
Labels: enhancement, web3

#9996 Add sonar properties file for efficient sonar management
  build.gradle.kts
  hedera-mirror-test/src/test/resources/features/contract/contract.feature
  hedera-mirror-web3/sonar-project.properties
Labels: bug, test, regression

#9991 Fix OpenAPI spec response schema for getTopicMessageByIdAndSequenceNumber
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation, rest

#9994 Introduce `gasUnit` property to allow greater gas per second throttle
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/throttle/ThrottleProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3
