Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2024-03, with the labels that each got.

#7829 Revert "Create Temp Table Indexes After Temp Table Write (#7782)"
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchUpserter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/DissociateTokenTransferUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/common/R__01_temp_tables.sql
Labels: enhancement

#7749 Add EVM `v0.46` to contract call
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/convert/SemanticVersionConvertor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdater.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/evm/contracts/execution/HederaEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV046.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/services/evm/contracts/operations/HederaSelfDestructOperationV046Test.java
  hedera-mirror-web3/src/test/resources/application.yml
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.bin
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.json
  hedera-mirror-web3/src/test/resources/contracts/ERCTestContract/ERCTestContract.sol
  hedera-mirror-web3/src/test/resources/contracts/InternalCaller/InternalCaller.bin
  hedera-mirror-web3/src/test/resources/contracts/InternalCaller/InternalCaller.json
  hedera-mirror-web3/src/test/resources/contracts/InternalCaller/InternalCaller.sol
Labels: enhancement, web3, limechain

#7834 Fix transactions REST API SQL query performance regression
  hedera-mirror-rest/transactions.js
Labels: bug, performance, regression, rest

#7827 Update Rest test containers to be created in integration tests
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-rest/__tests__/globalTeardown.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationUtils.js
Labels: enhancement, test, rest

#7856 Update OpenAPI to specify Unix timestamp
  hedera-mirror-rest/api/v1/openapi.yml
Labels: documentation

#7867 prepare staging for 0.100.0-rc1
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet/helmrelease.yaml
Labels: process

#7866 prepare performance/common for 0.100.0-rc1
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance/helmrelease.yaml
Labels: process

#7870 Update Rest API tokens endpoint to accept multiple token ids
  hedera-mirror-rest/__tests__/specs/tokens/multiple-ids.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
Labels: enhancement, rest

#7832 feat: Sync minAutoRenewDuration and maxAutoRenewDuration default values with services
  docs/configuration.md
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimatePrecompileContract.sol/EstimatePrecompileContract.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimatePrecompileContract.sol
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: enhancement, web3, limechain

#7839 Support batching between downloader and parser threads
  docs/configuration.md
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MessagingConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/BatchStreamFileNotifier.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/StreamFileNotifier.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/ParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/BalanceParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/CompositeRecordFileReader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/BatchStreamFileNotifierTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
Labels: enhancement, downloader

#7875 Fix NullPointerException when calculating gasConsumed
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
Labels: bug, regression, parser

#7878 Fix NullPointerException when calculating gasConsumed (0.100)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
Labels: bug, regression, parser

#7879 prepare staging 0.100.0-rc2
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet/helmrelease.yaml
Labels: process

#7880 prepare performance for 0.100.0-rc2
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance/helmrelease.yaml
Labels: process

#7883 Adapt gas_consumed migration query to get failed initcode from contract_result for failed contract create transactions
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.94.1.1__add_gas_consumed_field.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillFailedEthereumTransactionContractResultMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixTokenAllowanceAmountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/GasConsumedMigrationTest.java
Labels: bug, database, limechain

#7885 Adapt gas_consumed migration query to get failed initcode from contract_result for failed contract create transactions (0.100)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.94.1.1__add_gas_consumed_field.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillFailedEthereumTransactionContractResultMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixTokenAllowanceAmountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/GasConsumedMigrationTest.java
Labels: bug, limechain

#7886 prepare staging for 0.100.0-rc3
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet/helmrelease.yaml
Labels: process

#7897 prepare testnet-eu for 0.100.0
  clusters/testnet-eu/common/helmrelease.yaml
  clusters/testnet-eu/testnet/helmrelease.yaml
Labels: process

#7873 Add Acceptance test verification for HIP-873 decimals field
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
  hedera-mirror-test/src/test/resources/features/token/token.feature
Labels: enhancement, test

#7909 Optimize historical NFT count performance
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/NftRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/NftRepositoryTest.java
Labels: bug, performance, web3

#7787 HIP-646/657/765: Store token metadata and key
  build.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractNft.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractToken.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionType.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateNftsTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.95.0__add_token_metadata_and_key.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/ImporterIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/UpdateTokenFreezeKycStatusMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateNftsTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUpdateTransactionHandlerTest.java
Labels: enhancement, parser, database

#7899 Add tests for gasConsumed
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/Caller.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DeployDummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/EstimateGasContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/MockContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/ReentrancyHelper.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimateGasContract.sol
Labels: test, limechain

#7923 Conditionally verify network stake in acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/Order.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/NetworkFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
  hedera-mirror-test/src/test/resources/features/network/networkstake.feature
Labels: enhancement, test

#7932 Fix failing estimateGas acceptance test
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/Caller.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DeployDummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/EstimateGasContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/MockContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/ReentrancyHelper.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimateGasContract.sol
Labels: test, regression, limechain

#7934 Fix failing estimateGas acceptance test (0.101.0)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/Caller.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DeployDummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/EstimateGasContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/MockContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/ReentrancyHelper.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimateGasContract.sol
Labels: test, regression, limechain

#7943 prepare mainnet-eu for 0.100.0
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet/helmrelease.yaml
Labels: enhancement, process

#7940 Fix create2 acceptance test
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/Caller.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DeployDummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/EstimateGasContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/MockContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/ReentrancyHelper.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimateGasContract.sol
Labels: test, regression, limechain

#7946 Disable flaky estimate feature
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
Labels: bug, test, regression

#7944 Fix create2 acceptance test (0.101.0)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/Caller.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DeployDummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/DummyContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/EstimateGasContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/MockContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimateGasContract.sol/ReentrancyHelper.json
  hedera-mirror-test/src/test/resources/solidity/contracts/EstimateGasContract.sol
Labels: test, regression, limechain

#7947 Disable flaky estimate feature (0.101)
  hedera-mirror-test/src/test/resources/features/contract/estimate.feature
Labels: bug, test, regression

#7945 Bump spring-boot from 3.2.3 to 3.2.4
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: dependencies, java

#7949 Bump google.golang.org/protobuf from 1.32 to 1.33
  hedera-mirror-rosetta/go.mod
Labels: security, dependencies, go

#7942 prepare mainnet-na for 0.100.0
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet/helmrelease.yaml
Labels: enhancement, process

#7950 Add a performance-citus environment
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/common/sealed-secret.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
  clusters/preprod/performance-citus/helmrepository.yaml
  clusters/preprod/performance-citus/namespace.yaml
  clusters/preprod/performance-citus/sealed-secret.yaml
Labels: enhancement, process

#7955 Enable promtail on citus nodes
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/values.yaml
Labels: enhancement, process

#7957 Suppress long overflow error in gRPC API
  charts/README.md
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/util/DomainUtilsTest.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
Labels: bug, grpc

#7973 Add freeze and unfreeze missing validations
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/models/TokenRelationship.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/FreezeLogic.java
  hedera-mirror-web3/src/main/java/com/hedera/services/txn/token/UnfreezeLogic.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/FreezeLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/UnfreezeLogicTest.java
Labels: enhancement, web3, limechain

#7978 Bump express to 4.19.2
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: security, dependencies, javascript

#7977 Suppress stacktrace for invalid content encoding
  buildSrc/src/main/kotlin/javascript-conventions.gradle.kts
  hedera-mirror-rest/__tests__/integration/generator.js
  hedera-mirror-rest/constants.js
  hedera-mirror-rest/middleware/httpErrorHandler.js
Labels: bug, rest

#7979 Suppress log alerts for statement timeout
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-rest/values.yaml
Labels: enhancement, rest
