Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2024-11, with the labels that each got.

#9668 fix: Fix contract deployment with value
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/utils/BytecodeUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAddressThisTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/BytecodeUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/RuntimeBytecodeExtractor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/web3j/TestWeb3jService.java
  hedera-mirror-web3/src/test/solidity/TestAddressThis.sol
Labels: bug, web3

#9673 Add network info subcomponent needed for the state
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/NetworkInfoImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/NetworkInfoImplTest.java
Labels: enhancement, web3

#9682 ci: Update as per Q3 audit findings
  .github/CODEOWNERS
Labels: enhancement, github_actions

#9703 Fix contract deployment with value (0.117)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/utils/BytecodeUtils.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAddressThisTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/BytecodeUtilsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/RuntimeBytecodeExtractor.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/web3j/TestWeb3jService.java
  hedera-mirror-web3/src/test/solidity/TestAddressThis.sol
Labels: bug, web3

#9706 Fix acceptance tests expecting a memo
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/BaseContractFeature.java
Labels: bug, test

#9707 Use the Redis chart in integration
  clusters/preprod/integration/sealed-secret.yaml
Labels: deploy

#9711 Set ZFS ARC max/min before importing zpool
  charts/hedera-mirror-common/templates/zfs/configmap-init.yaml
Labels: bug, database

#9708 Use Alias When Available and No sender_id On Contract Results Response
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/failed-ethereum-transaction.json
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
Labels: bug, rest

#9666 Add Developer Quickstart and Development Setup Documentation
  README.md
  docs/development.md
  docs/palantir-style.xml
Labels: documentation, hacktoberfest

#9714 Remove use of Google Memorystore in preprod
  clusters/preprod/dev/sealed-secret.yaml
  clusters/preprod/integration-docker/sealed-secret.yaml
  clusters/preprod/staging-council/sealed-secret.yaml
  clusters/preprod/staging-lg/sealed-secret.yaml
  clusters/preprod/staging-sm/sealed-secret.yaml
Labels: deploy

#9713 Enable Response Cache in Integration
  clusters/preprod/integration/helmrelease.yaml
Labels: deploy

#9645 Add additional k6 web3 tests for modification functions
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/commonPrecompileModificationFunctionsTemplate.js
  hedera-mirror-test/k6/src/web3/test/index.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileApprove.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferHbars.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDeleteToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDissociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileMintToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileNestedAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileTransferFungibleToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallRedirectApprove.js
  hedera-mirror-test/k6/src/web3/test/resources/modificationFunctions.json
Labels: enhancement, test, web3

#9717 Fixes to the bootstrap flow
  docs/database/bootstrap.md
  hedera-mirror-importer/src/main/resources/db/scripts/bootstrap.env
  hedera-mirror-importer/src/main/resources/db/scripts/bootstrap.sh
  hedera-mirror-importer/src/main/resources/db/scripts/init.sh
Labels: bug

#9718 Remove -deprecation JVM flag
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
Labels: enhancement, technical debt

#9738 Bump cross-spawn from 7.0.3 to 7.0.5
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: security, dependencies, javascript

#9712 Add additional variables for k6 tests on mainnet to deploy branch
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: deploy

#9739 Bump cross-spawn from 7.0.3 to 7.0.5 (0.117)
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: security, dependencies, javascript

#9747 Deploy v0.118.0-rc1 to staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#9741 Set Content Encoding Header Correctly
  hedera-mirror-rest/__tests__/middleware/responseCacheHandler.test.js
  hedera-mirror-rest/middleware/responseCacheHandler.js
Labels: bug, rest

#9745 Fix acceptance tests expecting a memo (0.117)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/BaseContractFeature.java
Labels: bug, test

#9744 Retry incomplete address book during acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
Labels: enhancement, test

#9749 Retry incomplete address book during acceptance tests (0.118)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
Labels: enhancement, test

#9748 Deploy v0.118.0-rc1 to performance-citus
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#9750 Retry incomplete address book during acceptance tests (0.117)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
Labels: enhancement, test

#9754 Add Retry to Acceptance Test Steps
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
Labels: bug, test, regression

#9757 Upgrade mainnet-na to v0.117.1
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#9758 Upgrade mainnet-eu to v0.117.1
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Labels: deploy

#9700 Create `State` implementation with registering all of the specific `ReadableKVStates`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/AbstractMapReadableState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/ListReadableQueueState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/ListWritableQueueState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/MapReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/MapReadableStates.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/MapWritableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/MapWritableStates.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/ListReadableQueueStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/ListWritableQueueStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapReadableStatesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapWritableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapWritableStatesTest.java
Labels: enhancement, web3

#9710 Add schema registry and migrator components
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/NetworkInfoImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/ServiceMigratorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/ServicesRegistryImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/NetworkInfoImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/ServiceMigratorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/ServicesRegistryImplTest.java
Labels: enhancement, web3

#9782 Rename CustomCallOperation
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/contract/impl/exec/operations/HederaCustomCallOperation.java
  hedera-mirror-web3/src/test/java/com/hedera/node/app/service/contract/impl/exec/operations/HederaCustomCallOperationTest.java
Labels: enhancement, web3

#9784 Add OpenApiValidator feature flag
  docs/configuration.md
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/server.js
Labels: enhancement, rest

#9786 Bump cross-spawn from 7.0.x to 7.0.6 (0.118)
  hedera-mirror-rest/check-state-proof/package-lock.json
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package-lock.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: security, dependencies, javascript

#9801 AccountReadableKVState returns account with AccountNum accountId
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/AccountReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/AccountReadableKVStateTest.java
Labels: enhancement, web3

#9777 Fix file readable kv state for latest file
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/FileReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/FileReadableKVStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/FileReadableKVStateTest.java
Labels: bug, web3

#9803 Fix monitor host metrics
  docs/configuration.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishRequest.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/TransactionPublisher.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishMetricsTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/generator/ConfigurableTransactionGeneratorTest.java
Labels: bug, monitor

#9804 Bump node from 18.18.2 to 18.20.5
  build.gradle.kts
  hedera-mirror-rest/Dockerfile
Labels: security, dependencies, javascript

#9806 Bump Go from 1.22 to 1.23
  .github/workflows/security.yml
  hedera-mirror-rosetta/Dockerfile
  hedera-mirror-rosetta/build.gradle.kts
  hedera-mirror-rosetta/go.mod
Labels: dependencies, go

#9805 Bump Ubuntu from Jammy to Noble
  hedera-mirror-graphql/Dockerfile
  hedera-mirror-grpc/Dockerfile
  hedera-mirror-importer/Dockerfile
  hedera-mirror-monitor/Dockerfile
  hedera-mirror-rest-java/Dockerfile
  hedera-mirror-rosetta/container/Dockerfile
  hedera-mirror-test/Dockerfile
  hedera-mirror-web3/Dockerfile
Labels: dependencies

#9790 Add check for NftReadableKVState if spender is missing
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/NftReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/NftReadableKVStateTest.java
Labels: enhancement, web3

#9776 Add admin key to get /network/nodes endpoint
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/__tests__/specs/network/nodes/all-params.json
  hedera-mirror-rest/__tests__/specs/network/nodes/file-101-args.json
  hedera-mirror-rest/__tests__/specs/network/nodes/max-limit.json
  hedera-mirror-rest/__tests__/specs/network/nodes/no-params.json
  hedera-mirror-rest/__tests__/specs/network/nodes/node-range.json
  hedera-mirror-rest/__tests__/viewmodel/networkNodeViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/networkNode.js
  hedera-mirror-rest/model/node.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/viewmodel/networkNodeViewModel.js
Labels: enhancement, rest

#9807 Add support for Kubernetes Gateway API
  charts/hedera-mirror-graphql/templates/gcpbackendpolicy.yaml
  charts/hedera-mirror-graphql/templates/healthcheckpolicy.yaml
  charts/hedera-mirror-graphql/templates/httproute-http.yaml
  charts/hedera-mirror-graphql/templates/httproute-https.yaml
  charts/hedera-mirror-graphql/values.yaml
  charts/hedera-mirror-grpc/templates/gcpbackendpolicy.yaml
  charts/hedera-mirror-grpc/templates/grpcroute.yaml
  charts/hedera-mirror-grpc/templates/healthcheckpolicy.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-rest-java/templates/gcpbackendpolicy.yaml
  charts/hedera-mirror-rest-java/templates/healthcheckpolicy.yaml
  charts/hedera-mirror-rest-java/templates/httproute-http.yaml
  charts/hedera-mirror-rest-java/templates/httproute-https.yaml
  charts/hedera-mirror-rest-java/values.yaml
  charts/hedera-mirror-rest/templates/gcpbackendpolicy.yaml
  charts/hedera-mirror-rest/templates/healthcheckpolicy.yaml
  charts/hedera-mirror-rest/templates/httproute-http.yaml
  charts/hedera-mirror-rest/templates/httproute-https.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/templates/gcpbackendpolicy.yaml
  charts/hedera-mirror-rosetta/templates/healthcheckpolicy.yaml
  charts/hedera-mirror-rosetta/templates/httproute-http.yaml
  charts/hedera-mirror-rosetta/templates/httproute-https.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/templates/gcpbackendpolicy.yaml
  charts/hedera-mirror-web3/templates/healthcheckpolicy.yaml
  charts/hedera-mirror-web3/templates/httproute-http.yaml
  charts/hedera-mirror-web3/templates/httproute-https.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/templates/gateway.yaml
  charts/hedera-mirror/templates/gcpgatewaypolicy.yaml
  charts/hedera-mirror/values.yaml
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/health/ReleaseHealthIndicator.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/health/ReleaseHealthIndicatorTest.java
Labels: enhancement, ops

#9796 Reduce Citus Disk Size
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/values-prod.yaml
  docs/runbook/increase-zfs-disksize.md
  docs/runbook/reduce-disksize-citus.md
  docs/runbook/scripts/reduce-citus-disk-size.sh
  docs/runbook/scripts/restore-volume-snapshot.sh
  docs/runbook/scripts/utils.sh
  docs/runbook/scripts/volume-snapshot.sh
  hedera-mirror-rest/__tests__/middleware/responseCacheHandler.test.js
  hedera-mirror-rest/middleware/responseCacheHandler.js
Labels: enhancement, citus

#9832 Bump com.hedera.hashgraph:app from 0.55.2 to 0.56.6
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/NetworkInfoImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/NetworkInfoImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
Labels: dependencies, web3

#9808 Modified the query to return all relevant transactions
  docs/configuration.md
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/specs/transactions/account-id.json
  hedera-mirror-rest/config.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/transactions.js
Labels: bug, rest

#9838 Prepare staging mainnet-citus and preprod performance-citus for 119
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#9840 Apply spotless formatting to the whole project
  buildSrc/src/main/kotlin/openapi-conventions.gradle.kts
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/SpringApplicationContext.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdParameterTest.java
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/middleware/responseCacheHandler.test.js
  hedera-mirror-rest/cache.js
  hedera-mirror-rest/config.js
  hedera-mirror-rest/middleware/responseCacheHandler.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
  hedera-mirror-test/k6/src/rest-java/libex/constants.js
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/commonPrecompileModificationFunctionsTemplate.js
  hedera-mirror-test/k6/src/web3/test/index.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileApprove.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferHbars.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDeleteToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDissociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileMintToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileNestedAssociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileTransferFungibleToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallRedirectApprove.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/converter/CustomFeesConverter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/TransactionHashParameter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/TransactionIdParameter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractResultRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EthereumTransactionRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/RecordFileRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/NftReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/TransactionHashParameterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/NftReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/node/app/service/contract/impl/exec/operations/HederaCustomCallOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/fees/calculation/UsageBasedFeeCalculatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/PauseLogicTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/txn/token/UnpauseLogicTest.java
Labels: enhancement, technical debt

#9844 chore: Updating action to step security maintained version.
  .github/workflows/release-automation.yml
Labels: github_actions
