Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2024-06, with the labels that each got.

#8424 Use web3j in acceptance tests
  build.gradle.kts
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/EthereumClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EthereumFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/ethereum/EthTxData.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/ethereum/EthTxSigs.java
Labels: enhancement, test

#8431 Cache runtime bytecode
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/properties/CacheProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractRepositoryTest.java
Labels: enhancement, web3

#8462 Undo file_data time partition in V2
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.2.0__undo_file_data_time_partition.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/UndoFileDataTimePartitionMigrationTest.java
Labels: bug, performance, web3

#8417 Adding schedules,contracts and topic endpoints to the monitor
  hedera-mirror-rest/monitoring/account_tests.js
  hedera-mirror-rest/monitoring/balance_tests.js
  hedera-mirror-rest/monitoring/config/default.serverlist.json
  hedera-mirror-rest/monitoring/contracts_tests.js
  hedera-mirror-rest/monitoring/monitor_tests.js
  hedera-mirror-rest/monitoring/schedule_tests.js
  hedera-mirror-rest/monitoring/topic_tests.js
  hedera-mirror-rest/monitoring/utils.js
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/ModelBuilder.java
Labels: enhancement, good first issue, monitor

#8432 Optimize citus connection management and cache some web3 repo methods
  charts/hedera-mirror/templates/stackgres/stackgres-pooling-config.yaml
  charts/hedera-mirror/values.yaml
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EntityRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAccountRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/EntityRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAccountRepositoryTest.java
Labels: bug, performance, database, web3

#8469 Fixing integration rest monitor.
  hedera-mirror-rest/monitoring/token_tests.js
Labels: bug, monitor

#8471 Change FixFungibleTokenTotalSupplyMigration to use deduped token balance info
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixFungibleTokenTotalSupplyMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixFungibleTokenTotalSupplyMigrationTest.java
Labels: bug, parser

#8477 Fix restjava Topics Metadata API ingress path type
  charts/hedera-mirror-rest-java/templates/ingress.yaml
  charts/hedera-mirror-rest-java/values.yaml
Labels: bug, rest-java

#8418 Add system file fallback to Web3
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/FileDataRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoaderIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoaderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/FileDataRepositoryTest.java
Labels: bug, web3

#8489 fix: Handle empty `EthereumTransaction.toAddress` when building `CallServiceParameters`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeServiceImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/OpcodesControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/TransactionProviderEnum.java
Labels: bug, web3, limechain

#8487 Adjust the release checklist
  docs/checklist/release.md
Labels: enhancement, process

#8382 Refactor `ContractCallNativePrecompileTest` in web3
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoader.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: enhancement, web3, limechain

#8490 Improve NFT transaction history API performance in V2
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
Labels: enhancement, rest

#8479 include account query for token account query
  hedera-mirror-rest/accounts.js
Labels: enhancement, rest

#8472 convert topic message lookup to async migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/AsyncJavaMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TopicMessageLookupMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TopicMessageLookupMigrationTest.java
Labels: enhancement, parser

#8470 Add accounts allowances, accounts nft and the `/contract/call` tests
  hedera-mirror-rest/monitoring/account_tests.js
  hedera-mirror-rest/monitoring/balance_tests.js
  hedera-mirror-rest/monitoring/block_tests.js
  hedera-mirror-rest/monitoring/config/default.serverlist.json
  hedera-mirror-rest/monitoring/contracts_tests.js
  hedera-mirror-rest/monitoring/network_tests.js
  hedera-mirror-rest/monitoring/schedule_tests.js
  hedera-mirror-rest/monitoring/stateproof_tests.js
  hedera-mirror-rest/monitoring/token_tests.js
  hedera-mirror-rest/monitoring/topic_tests.js
  hedera-mirror-rest/monitoring/transaction_tests.js
  hedera-mirror-rest/monitoring/utils.js
Labels: enhancement, good first issue, monitor

#8480 Adding monitor token tests
  hedera-mirror-rest/monitoring/account_tests.js
  hedera-mirror-rest/monitoring/config/default.serverlist.json
  hedera-mirror-rest/monitoring/token_tests.js
  hedera-mirror-rest/monitoring/topic_tests.js
Labels: enhancement, good first issue, monitor

#8488 Fix invalid next link when the last pagination param has eq operator
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/LinkFactoryImpl.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/LinkFactoryTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/AllowancesControllerTest.java
Labels: bug, rest-java

#8521 Disable contract monitor endpoints
  hedera-mirror-rest/monitoring/config/default.serverlist.json
Labels: enhancement, monitor

#8520 Allow null entity ID in contract result response
  hedera-mirror-rest/__tests__/specs/contracts/results/failed-ethereum-transaction.json
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/viewmodel/contractResultViewModel.js
Labels: bug, rest

#8510 update staging citus to latest version
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: enhancement, process

#8533 Support redis sentinel in REST API
  charts/hedera-mirror/templates/secret-redis.yaml
  charts/hedera-mirror/values.yaml
  docs/configuration.md
  hedera-mirror-rest/cache.js
  hedera-mirror-rest/config.js
  hedera-mirror-rest/config/application.yml
Labels: bug, rest

#8540 Deploy 0.106.1 to mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet/helmrelease.yaml
Labels: enhancement, process

#8541 Deploy 0.106.1 to staging-lg.
  clusters/preprod/staging-lg/helmrelease.yaml
Labels: process

#8543 ci: Update madhead/semver-utils to use the step-security maintained version
  .github/workflows/release-automation.yml
Labels: github_actions

#8535 Increase default memory for prometheus
  charts/hedera-mirror-common/values.yaml
Labels: enhancement

#8549 Disable REST monitor stateproof test in testnet-na.
  clusters/testnet-na/testnet/helmrelease.yaml
Labels: enhancement, process

#8457 Refactor `SelfDestructOperationTest`
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/operations/SelfDestructOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
Labels: web3, limechain

#8550 Disable REST monitor stateproof test in testnet-eu.
  clusters/testnet-eu/testnet/helmrelease.yaml
Labels: process

#8544 Fix inconsistent balance results with tokens REST API
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/column-ordering.json
  hedera-mirror-rest/tokens.js
Labels: bug, rest

#8572 Fix inconsistent balance results with tokens REST API (0.107)
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/column-ordering.json
  hedera-mirror-rest/tokens.js
Labels: bug, rest

#8553 TESTNET-NA: Updated importer stream bucket read credentials
  clusters/testnet-na/testnet/sealed-secret.yaml
Labels: enhancement, process

#8555 Automate multi-cluster deployment PRs
  .github/workflows/deploy.yaml
  .github/workflows/release-automation.yml
  .github/workflows/release-integration.yml
Labels: enhancement, process, github_actions

#8556 Automate performance-citus deployment
  README.md
  clusters/preprod/flux-system/alert-performance.yml
  clusters/preprod/flux-system/provider-github-dispatch.yaml
  clusters/preprod/flux-system/sealed-secret-secret-github-dispatch.yaml
  clusters/preprod/performance/helmrelease.yaml
Labels: enhancement, process, github_actions

#8579 Upgrade mainnet-citus in staging to v0.107.1
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: process

#8584 Enable testnet-citus in testnet-eu cluster
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
Labels: enhancement, process

#8538 Allow k6 to run for multiple namespaces
  charts/hedera-mirror-common/templates/test-rest-java.yaml
  charts/hedera-mirror-common/templates/test-rest.yaml
  charts/hedera-mirror-common/templates/test-suite-rest.yaml
  charts/hedera-mirror-common/templates/test-trigger-rest.yaml
  charts/hedera-mirror-common/templates/test-web3.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/templates/_helpers.tpl
Labels: enhancement, test

#8586 Route traffic to testnet-citus in testnet-eu
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
  clusters/testnet-eu/testnet/helmrelease.yaml
Labels: enhancement, process

#8552 Updated importer stream bucket read credentials in testnet-eu
  clusters/testnet-eu/testnet-citus/sealed-secret.yaml
  clusters/testnet-eu/testnet/sealed-secret.yaml
Labels: enhancement, process

#8588 Update stateproof credentials to the new GCP keys in testnet-na
  clusters/testnet-na/testnet/sealed-secret.yaml
Labels: enhancement, process, rest

#8551 Implement cache control support in REST Java
  docs/configuration.md
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/RestJavaProperties.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/controller/GenericControllerAdvice.java
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/RestJavaPropertiesTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/AllowancesControllerTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/ControllerTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/TopicControllerTest.java
Labels: enhancement, rest-java

#8532 Initial design doc for Dynamic Address Book.
  docs/design/dynamic-addressbook.md
Labels: enhancement, design

#8592 Increase delay duration to avoid pod scheduling issue
  charts/hedera-mirror-common/templates/test-suite-rest.yaml
  charts/hedera-mirror-common/values.yaml
Labels: enhancement, test

#8594 Make thresholds impossible to breach in k6 tests
  hedera-mirror-test/k6/src/lib/common.js
  hedera-mirror-test/k6/src/lib/parameters.js
Labels: bug, performance, test

#8593 Increase web3 RPS throttle for staging citus
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: enhancement, process

#8603 Route traffic back to testnet in testnet-eu
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
  clusters/testnet-eu/testnet/helmrelease.yaml
Labels: enhancement, process

#8602 Log contract call payload
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/GenericControllerAdvice.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeServiceImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/OpcodesControllerTest.java
Labels: enhancement, web3

#8598 Improve k6 perf test results consistency
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet/helmrelease.yaml
Labels: bug, test

#8599 Optimize Ethereum Transaction for Contract Results List
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/service/contractService.js
Labels: enhancement, rest

#8595 Update contract log query for Citus performance
  hedera-mirror-rest/__tests__/service/recordFileService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/results/timestamp.json
  hedera-mirror-rest/service/recordFileService.js
Labels: enhancement, rest, database

#8536 Suppress recoverable error for inactive evm addresses
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/ContractResultServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/EntityIdServiceImplTest.java
Labels: bug, parser, contract

#8609 Fix deploy workflow
  .github/workflows/deploy.yaml
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/Web3Properties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/OpcodesControllerTest.java
Labels: bug, process, github_actions

#8610 Update github dispatch token in preprod
  clusters/preprod/flux-system/sealed-secret-github-dispatch.yaml
Labels: bug, deploy

#8625 Optimize Ethereum Transaction for Contract Results List (0.107)
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/service/contractService.js
Labels: enhancement, rest

#8624 Update contract log query for Citus performance (0.107)
  hedera-mirror-rest/__tests__/service/recordFileService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-false.json
  hedera-mirror-rest/__tests__/specs/contracts/results/internal-true.json
  hedera-mirror-rest/__tests__/specs/contracts/results/limit.json
  hedera-mirror-rest/__tests__/specs/contracts/results/no-params.json
  hedera-mirror-rest/__tests__/specs/contracts/results/order.json
  hedera-mirror-rest/__tests__/specs/contracts/results/timestamp.json
  hedera-mirror-rest/service/recordFileService.js
Labels: enhancement, rest, database

#8623 Enabling contract and token tests
  hedera-mirror-rest/monitoring/config/default.serverlist.json
  hedera-mirror-rest/monitoring/token_tests.js
Labels: monitor

#8606 Rest API redis error: wrong number of arguments for 'mget' command
  hedera-mirror-rest/__tests__/cache.test.js
  hedera-mirror-rest/cache.js
Labels: bug, rest

#8626 Automate previewnet-citus deployment PR
  README.md
  clusters/preprod/flux-system/alert-performance.yaml
  clusters/previewnet/flux-system/alert-deploy.yaml
  clusters/previewnet/flux-system/provider-github-dispatch.yaml
  clusters/previewnet/flux-system/sealed-secret-github-dispatch.yaml
Labels: enhancement, deploy

#8629 Automate testnet-eu and testnet-citus deployment PRs
  clusters/testnet-na/flux-system/alert-deploy-citus.yaml
  clusters/testnet-na/flux-system/alert-deploy-eu.yaml
  clusters/testnet-na/flux-system/provider-github-dispatch.yaml
  clusters/testnet-na/flux-system/sealed-secret-github-dispatch.yaml
Labels: enhancement, deploy

#8632 Fix value of v in contract result APIs for legacy Ethereum transactions
  hedera-mirror-rest/__tests__/service/contractService.test.js
  hedera-mirror-rest/__tests__/specs/contracts/results/legacy_ethereum_transaction.json
  hedera-mirror-rest/__tests__/specs/contracts/results/{id}/legacy_ethereum_transaction.json
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/transactionService.js
  hedera-mirror-rest/viewmodel/contractResultDetailsViewModel.js
Labels: bug, rest

#8635 Fix auto deploy kustomization
  clusters/preprod/flux-system/kustomization.yaml
  clusters/previewnet/flux-system/kustomization.yaml
  clusters/testnet-na/flux-system/kustomization.yaml
Labels: bug, deploy

#8634 Upgrade previewnet-citus to v0.107.2
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Labels: enhancement, deploy

#8636 Fix testnet-eu auto deploy
  clusters/testnet-na/flux-system/alert-deploy-eu.yaml
Labels: bug, deploy

#8641 Update integration
  clusters/preprod/integration/helmrelease.yaml
Labels: enhancement, deploy

#8631 Optimize topic message lookup migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TopicMessageLookupMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TopicMessageLookupMigrationTest.java
Labels: enhancement, parser, database

#8642 Fix Snyk Open Source check failing
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
Labels: bug, process, github_actions

#8640 Add a Citus deployment to mainnet-eu
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/common/sealed-secret.yaml
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
  clusters/mainnet-eu/mainnet-citus/helmrepository.yaml
  clusters/mainnet-eu/mainnet-citus/namespace.yaml
  clusters/mainnet-eu/mainnet-citus/sealed-secret.yaml
Labels: enhancement, deploy

#8645 correct values file name
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Labels: bug, deploy

#8344 HIP-801: Implement integration tests covering new services
  build.gradle.kts
  hedera-mirror-rest/cache.js
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractActionRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractResultRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/ContractTransactionHashRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/EthereumTransactionRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/RecordFileRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TransactionRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractDebugServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/RecordFileServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/ContractFunctionProviderEnum.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/ResultCaptor.java
Labels: test, web3, limechain

#8653 Route traffic to testnet-citus in testnet-eu cluster
  clusters/testnet-eu/common/helmrelease.yaml
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
  clusters/testnet-eu/testnet/helmrelease.yaml
Labels: enhancement, deploy

#8651 Upgrade mainnet-na to v0.107.2
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet/helmrelease.yaml
Labels: enhancement, deploy

#8655 Upgrade mainnet-eu to v0.107.2
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet/helmrelease.yaml
Labels: enhancement, deploy

#8654 Update performance to v0.108.0-beta1
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
  clusters/preprod/performance/helmrelease.yaml
Labels: enhancement, deploy

#8648 Update Staging Citus
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: enhancement, deploy

#8652 Update mainnet-staging to v0.108.0-beta1
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet/helmrelease.yaml
Labels: enhancement, deploy

#8658 Make rest monitor config in chart mergeable
  charts/hedera-mirror-rest/templates/monitor/secret.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror/ci/v1-values.yaml
  charts/hedera-mirror/ci/v2-values.yaml
Labels: bug, monitor, breaking

#8660 Update Citus Mainnet EU
  clusters/mainnet-eu/common/helmrelease.yaml
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Labels: enhancement, deploy

#8662 Auto update staging-lg to latest release
  clusters/preprod/staging-lg/helmrelease.yaml
Labels: enhancement, deploy

#8663 Automate mainnet-eu deployment
  clusters/mainnet-na/flux-system/alert-deploy-eu.yaml
  clusters/mainnet-na/flux-system/kustomization.yaml
  clusters/mainnet-na/flux-system/provider-github-dispatch.yaml
  clusters/mainnet-na/flux-system/sealed-secret-github-dispatch.yaml
Labels: enhancement, deploy

#8664 Automate staging-sm deployment
  clusters/preprod/staging-sm/helmrelease.yaml
Labels: enhancement, deploy

#8425 Implement integration tests covering `OpcodeService`
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTestSetup.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/OpcodeServiceTest.java
Labels: test, web3, limechain

#8665 Fix contract result logs for zero address
  hedera-mirror-rest/__tests__/specs/contracts/{id}/results/logs/zero-address.json
  hedera-mirror-rest/controllers/contractController.js
Labels: bug, rest
