Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2024-02, with the labels that each got.

#7638 Add integration tests for native precompiles
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
Labels: test, web3, limechain

#7652 Remove event file support
  CHANGELOG.md
  README.md
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/StreamType.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/event/EventFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/event/EventItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/StreamTypeTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/DateRangeCalculator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MessagingConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsExecutionInterceptor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/event/EventFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/exception/InvalidEventFileException.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/event/EventParserProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/event/EventFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/event/EventFileReaderV3.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EventFileRepository.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.93.2__drop_event_file.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__static_partitioning.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.3__index_init.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/DateRangeCalculatorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MetricsExecutionInterceptorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/StreamFilenameTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractLinkedStreamDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/event/EventFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/event/EventFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/event/EventFileReaderV3Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EventFileRepositoryTest.java
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.3/2020-04-11T00_12_00.025035Z.evts
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.3/2020-04-11T00_12_00.025035Z.evts_sig
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.3/2020-04-11T00_12_05.059945Z.evts
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.3/2020-04-11T00_12_05.059945Z.evts_sig
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.4/2020-04-11T00_12_00.025035Z.evts
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.4/2020-04-11T00_12_00.025035Z.evts_sig
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.4/2020-04-11T00_12_05.059945Z.evts
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.4/2020-04-11T00_12_05.059945Z.evts_sig
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.5/2020-04-11T00_12_00.025035Z.evts
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.5/2020-04-11T00_12_00.025035Z.evts_sig
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.5/2020-04-11T00_12_05.059945Z.evts
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.5/2020-04-11T00_12_05.059945Z.evts_sig
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.6/2020-04-11T00_12_00.025035Z.evts
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.6/2020-04-11T00_12_00.025035Z.evts_sig
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.6/2020-04-11T00_12_05.059945Z.evts
  hedera-mirror-importer/src/test/resources/data/eventsStreams/v3/events_0.0.6/2020-04-11T00_12_05.059945Z.evts_sig
Labels: enhancement, technical debt, events

#7650 fix: Fix concurrency issue in message call processors
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/AbstractEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessor.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorV30.java
Labels: bug, web3, limechain

#7660 Upgrade testnet-eu to v0.97.1
  clusters/testnet-eu/common/helmrelease.yaml
  clusters/testnet-eu/testnet/helmrelease.yaml
Labels: enhancement, process

#7658 Remove mockpool based tests
  .github/workflows/gradle.yml
  hedera-mirror-rest/__tests__/accounts.test.js
  hedera-mirror-rest/__tests__/balances.test.js
  hedera-mirror-rest/__tests__/integration/transactions.test.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/mockPool.js
  hedera-mirror-rest/__tests__/specs/accounts/balance-range.json
  hedera-mirror-rest/__tests__/testutils.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/jest.config.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/utils.js
Labels: enhancement, test, rest

#7662 Fix node filter in pod USE dashboard
  charts/hedera-mirror-common/dashboards/kubernetes-cluster-monitoring-via-prometheus_rev2.json
  docs/database/README.md
  docs/rest/README.md
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TokenFeature.java
Labels: bug, process

#7666 Bump Gradle from 8.5 to 8.6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies

#7665 Added the absolute path to test.jar
  hedera-mirror-test/Dockerfile
Labels: enhancement, test

#7617 Add support for HIP-844 signer nonce
  build.gradle.kts
  docs/importer/README.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/EthereumTransactionHandlerTest.java
Labels: enhancement, parser

#7667 Change gradle-build-action to actions/setup-gradle
  .github/workflows/gradle.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/security.yml
Labels: dependencies

#7651 Update rest test docker image to include init.sql
  hedera-mirror-common/src/test/resources/init.sql
  hedera-mirror-rest/.eslintrc.json
  hedera-mirror-rest/__tests__/data/db/stateproof/addRecordFileWithBytes.js
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-rest/__tests__/globalTeardown.js
  hedera-mirror-rest/__tests__/integration/template.js
  hedera-mirror-rest/__tests__/integration/transactionHashV1Matrix.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
Labels: enhancement, test, rest

#7704 Expose the entrypoint command using an env var named ENTRYPOINT_COMMAND
  hedera-mirror-test/Dockerfile
Labels: enhancement, process

#7689 Support batch stream file ingestion
  docs/checklist/release.md
  docs/design/parser.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFileData.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ErrataMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/AbstractStreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/StreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/StreamFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/CompositeBalanceStreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/CompositeRecordStreamFileListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/topic/TopicMessageLookupEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ErrataMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/topic/TopicMessageLookupEntityListenerTest.java
Labels: enhancement, parser

#7700 Improve entity stake calculation in v2
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryCustom.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryCustomImpl.java
  hedera-mirror-importer/src/main/resources/db/migration/common/R__01_temp_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/R__02_temp_table_distribution.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
Labels: enhancement, parser

#7701 Set optimal ZFS + Postgres Settings for V2
  charts/hedera-mirror-common/templates/zfs/configmap-init.yaml
  charts/hedera-mirror-common/templates/zfs/daemonset.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/values-v2.yml
  charts/hedera-mirror/values.yaml
  docs/database/zfs.md
Labels: enhancement, database

#7703 Add a `maxSize` property to downloader
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
Labels: enhancement, downloader

#7729 Expose the entrypoint command using an env var named ENTRYPOINT_COMMAND (#7704)
  hedera-mirror-test/Dockerfile
Labels: enhancement, process

#7728 Disable failing acceptance tests
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
  hedera-mirror-test/src/test/resources/features/contract/historical.feature
Labels: bug, test, regression

#7730 Disable failing acceptance tests (0.98)
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
  hedera-mirror-test/src/test/resources/features/contract/historical.feature
Labels: bug, test, regression

#7708 Refactor `StreamFile.items` from `Flux` to `Collection`
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/StreamFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/balance/AccountBalanceFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/RecordFileParser.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/ProtoBalanceFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/ProtoRecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/ProtoRecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixCryptoAllowanceAmountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/AbstractStreamFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/balance/AccountBalanceFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordFileBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/ProtoBalanceFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/RecordFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/sidecar/SidecarFileReaderImplTest.java
Labels: enhancement, downloader

#7699 HIP-873: Add decimals to token REST APIs
  docs/configuration.md
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/service/tokenService.test.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/tokens/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/tokens/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/tokens/token-id-pagination.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/tokens/token-range.json
  hedera-mirror-rest/__tests__/specs/tokens/account-id.json
  hedera-mirror-rest/__tests__/specs/tokens/all-params.json
  hedera-mirror-rest/__tests__/specs/tokens/all-token-types.json
  hedera-mirror-rest/__tests__/specs/tokens/fungible-common-token-types.json
  hedera-mirror-rest/__tests__/specs/tokens/limit.json
  hedera-mirror-rest/__tests__/specs/tokens/no-params.json
  hedera-mirror-rest/__tests__/specs/tokens/non-fungible-unique-token-types.json
  hedera-mirror-rest/__tests__/specs/tokens/publickey.json
  hedera-mirror-rest/__tests__/specs/tokens/token-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/all-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/balance-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/limit.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/no-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/publickey.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/specific-id.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp-range.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/timestamp.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/model/token.js
  hedera-mirror-rest/service/tokenService.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/viewmodel/tokenRelationshipViewModel.js
Labels: enhancement, rest

#7705 Add wait strategy for testcontainer docker db readiness
  hedera-mirror-rest/__tests__/globalSetup.js
Labels: bug, test, rest

#7732 Fix Monitor not retrying to recover from consensus node validation failures
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
Labels: bug, monitor

#7688 Adding a static repository layer to the rest-java-module.
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/repository/NftAllowanceRepository.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/repository/NftAllowanceRepositoryTest.java
  hedera-mirror-rest/api/v1/openapi.yml
Labels: enhancement, rest-java

#7743 Add database setup documentation
  docs/database/README.md
Labels: documentation, database

#7744 Fix local stream provider regression
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFileData.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
Labels: bug, regression, downloader

#7752 Exclude spring security from graphql module
  hedera-mirror-graphql/build.gradle.kts
Labels: security, dependencies

#7748 Increase max token name length and symbol default values similar to services
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
Labels: bug, web3, limechain

#7757 Upgrade to stackgres 1.8 and zfs to 2.4.1
  .github/workflows/charts.yml
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/values.yaml
Labels: enhancement

#7750 Update DB Metrics for V2
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/DBProperties.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MetricsConfigurationTest.java
Labels: enhancement, ops

#7784 Upgrade PostgreSQL JDBC driver to v42.7.2
  build.gradle.kts
Labels: security, dependencies

#7756 Allow a configurable contract call data size limit
  docs/configuration.md
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, web3

#7781 Remove entity id based range partition
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/CommonTestConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/db/PartitionMaintenance.java
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/db/migration/v1/R__time_partition_maintenance.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.2__static_partitioning.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/db/PartitionMaintenanceV2Test.java
  hedera-mirror-importer/src/test/resources/config/application.yml
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rosetta/test/db/db.go
Labels: enhancement, parser, database

#7738 Improve token account upsert performance in v2
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractToken.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractTokenAccount.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenFreezeTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenGrantKycTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenRevokeKycTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUnfreezeTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.94.0__update_token_freeze_kyc_status.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.0.0__create_tables.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/UpdateTokenFreezeKycStatusMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/batch/BatchUpserterTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenFreezeTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenGrantKycTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenRevokeKycTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/TokenUnfreezeTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/TokenAccountUpsertQueryGeneratorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGeneratorFactoryTest.java
  hedera-mirror-rest/__tests__/globalSetup.js
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/integrationUtils.js
  hedera-mirror-rest/__tests__/service/tokenService.test.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/tokens/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/tokens/no-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/balances/no-params.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/viewmodel/tokenRelationshipViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/controllers/tokenController.js
  hedera-mirror-rest/model/cachedToken.js
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/tokenAccount.js
  hedera-mirror-rest/service/tokenService.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/viewmodel/tokenRelationshipViewModel.js
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAccountRepository.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenAccountRepositoryTest.java
Labels: enhancement, rest, parser

#7790 Remove remaining `.js` extension from imports
  hedera-mirror-rest/__tests__/accounts.deduplication.timestamp-lte.test.js
  hedera-mirror-rest/__tests__/accounts.deduplication.timestamp-notfound.test.js
  hedera-mirror-rest/__tests__/accounts.deduplication.timestamp.test.js
  hedera-mirror-rest/__tests__/balances.deduplication.test.js
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/globalTeardown.js
  hedera-mirror-rest/__tests__/integration/transactionHashV1Matrix.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/errors/index.js
  hedera-mirror-rest/logger.js
  hedera-mirror-rest/model/customFee.js
  hedera-mirror-rest/model/royaltyFee.js
  hedera-mirror-rest/package.json
  hedera-mirror-rest/service/contractService.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/service/transactionService.js
  hedera-mirror-rest/viewmodel/contractActionViewModel.js
  hedera-mirror-rest/viewmodel/nftViewModel.js
  hedera-mirror-rest/viewmodel/stakingRewardTransferViewModel.js
  hedera-mirror-rest/viewmodel/tokenAllowanceViewModel.js
  hedera-mirror-rest/viewmodel/topicMessageViewModel.js
  hedera-mirror-rest/viewmodel/transactionIdViewModel.js
Labels: enhancement, technical debt, rest, javascript

#7792 Contract call without data causes NPE in web3 (0.99)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: bug, regression, web3

#7793 Bump Spring Boot from 3.2.2 to 3.2.3
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: security, dependencies

#7795 Increase maxDataSize to 25KiB
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, web3

#7794 Bump Spring Boot from 3.2.2 to 3.2.3 (0.99)
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: security, dependencies

#7796 Increase maxDataSize to 25KiB (0.99)
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, web3

#7788 Balance of system accounts should return zero
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3, limechain

#7753 Add a NFT allowance service
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/RangeOperator.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/service/NftAllowanceRequest.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/service/NftAllowanceService.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/service/NftAllowanceServiceImpl.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/service/NftAllowanceServiceTest.java
Labels: enhancement, rest-java

#7783 Make max gas limit configurable
  docs/configuration.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimator.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/viewmodel/ContractCallRequest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimatorTest.java
Labels: enhancement, web3, limechain

#7782 Create Temp Table Indexes After Temp Table Write
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/batch/BatchUpserter.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/DissociateTokenTransferUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGenerator.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/upsert/UpsertQueryGenerator.java
  hedera-mirror-importer/src/main/resources/db/migration/common/R__01_temp_tables.sql
Labels: enhancement, parser, database

#7813 Improve initialize entity balance migration performance in v2
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
Labels: enhancement, parser

#7817 fix: Fix flaky balance call integration test
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
Labels: bug, web3, limechain

#7816 Add ability to have different sized disks for Citus nodes
  charts/hedera-mirror-common/templates/zfs/configmap-init.yaml
  charts/hedera-mirror-common/templates/zfs/configmap-zfsnodestatus.yaml
  charts/hedera-mirror-common/templates/zfs/daemonset.yaml
  charts/hedera-mirror-common/templates/zfs/rbac.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-cluster.yaml
  charts/hedera-mirror/values.yaml
Labels: enhancement, database

#7821 Ensure Metrics Aren't Queried For Removed Tables
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsConfiguration.java
Labels: bug, parser

#7819 Improve SyntheticCryptoTransferApprovalMigration in v2
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/SyntheticCryptoTransferApprovalMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SyntheticCryptoTransferApprovalMigrationTest.java
Labels: enhancement, parser

#7818 Update expected gas in estimateGas acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
Labels: bug, test, regression, web3

#7815 Improve v2 performance for token account balance migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/AbstractTimestampInfoMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountBalanceMigrationTest.java
Labels: enhancement, parser

#7825 Fix `IndexOutOfBoundsException` for direct precompile calls
  docs/configuration.md
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/ExchangeRatePrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/PrngSystemPrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3, limechain
