Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-10, with the labels that each got.

#12093 Remove JavaScript network stake API
  charts/hedera-mirror-rest-java/values.yaml
  charts/hedera-mirror/values.yaml
  docs/configuration.md
  monitor/src/main/java/org/hiero/mirror/monitor/MirrorNodeProperties.java
  monitor/src/main/java/org/hiero/mirror/monitor/subscribe/rest/RestApiClient.java
  rest/__tests__/integrationDomainOps.js
  rest/__tests__/service/networkNodeService.test.js
  rest/__tests__/specs/network/stake/no-params.json
  rest/__tests__/specs/network/stake/not-found.json
  rest/__tests__/viewmodel/networkStakeViewModel.test.js
  rest/build.gradle.kts
  rest/config/application.yml
  rest/controllers/networkController.js
  rest/model/index.js
  rest/model/networkStake.js
  rest/monitoring/network_tests.js
  rest/routes/networkRoute.js
  rest/service/networkNodeService.js
  rest/viewmodel/index.js
  rest/viewmodel/networkStakeViewModel.js
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  tools/k6/src/rest/test/index.js
  tools/k6/src/rest/test/networkStake.js
Labels: enhancement, technical debt, rest

#12103 Fix monitor cluster health check
  charts/hedera-mirror/values.yaml
  monitor/src/main/java/org/hiero/mirror/monitor/MirrorNodeProperties.java
  monitor/src/main/java/org/hiero/mirror/monitor/subscribe/rest/RestApiClient.java
  monitor/src/test/java/org/hiero/mirror/monitor/subscribe/rest/RestApiClientTest.java
Labels: bug, regression, monitor

#12115 Add a stubbed getFeeEstimate gRPC API
  grpc/src/main/java/org/hiero/mirror/grpc/controller/NetworkController.java
  grpc/src/test/java/org/hiero/mirror/grpc/controller/NetworkControllerTest.java
  protobuf/src/main/proto/com/hedera/mirror/api/proto/fee.proto
  protobuf/src/main/proto/com/hedera/mirror/api/proto/network_service.proto
Labels: enhancement, grpc

#12104 Bump hedera-app version to 0.66.0
  build.gradle.kts
  web3/src/main/java/com/hedera/node/app/service/contract/impl/exec/processors/CustomMessageCallProcessor.java
  web3/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
  web3/src/main/java/com/hedera/node/app/service/contract/impl/utils/ConversionUtils.java
  web3/src/main/java/org/hiero/mirror/web3/evm/config/ModularizedConfiguration.java
  web3/src/main/java/org/hiero/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  web3/src/main/java/org/hiero/mirror/web3/service/TransactionExecutorFactory.java
  web3/src/main/java/org/hiero/mirror/web3/state/MirrorNodeState.java
  web3/src/main/java/org/hiero/mirror/web3/state/components/NetworkInfoImpl.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallIsAuthorizedTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/components/NetworkInfoImplTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/components/ServiceMigratorImplTest.java
Labels: enhancement, web3

#12149 Bump redis image to 8.2.2
  charts/README.md
  charts/hedera-mirror/values.yaml
Labels: security, dependencies, chart

#12123 HIP-1056 Link scheduled transactions and its trigger
  common/src/main/java/org/hiero/mirror/common/domain/transaction/BlockTransaction.java
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderImpl.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/transformer/ConsensusTransformerTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/domain/BlockTransactionBuilder.java
  importer/src/test/java/org/hiero/mirror/importer/parser/domain/RecordItemBuilder.java
  importer/src/test/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderTest.java
Labels: bug, importer
