Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-08, with the labels that each got.

#11535 Fix contract log indexes
  common/src/main/java/org/hiero/mirror/common/domain/transaction/RecordItem.java
  importer/src/main/java/org/hiero/mirror/importer/domain/ContractResultServiceImpl.java
  importer/src/main/java/org/hiero/mirror/importer/migration/AsyncJavaMigration.java
  importer/src/main/java/org/hiero/mirror/importer/migration/ContractLogIndexMigration.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/RecordFileParser.java
  importer/src/test/java/org/hiero/mirror/importer/migration/ContractLogIndexMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/RecordFileParserIntegrationTest.java
Labels: bug, importer

#11708 Update integration-docker to auto-deploy
  clusters/preprod/integration-docker/helmrelease.yaml
Labels: deploy

#11707 Add simple block node E2E tests
  importer/build.gradle.kts
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockRootHashDigest.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/AbstractBlockNodeIntegrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/SingleBlockNodeTest.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/simulator/BlockGenerator.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/simulator/BlockNodeSimulator.java
  importer/src/test/java/org/hiero/mirror/importer/parser/domain/RecordItemBuilder.java
Labels: enhancement, test

#11722 Remote write db metrics mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
Labels: deploy

#11726 Fix failing k6 contractCallRedirectApprove
  tools/k6/src/web3/test/modificationTests/contractCallRedirectApprove.js
Labels: enhancement, test, web3

#11727 Change the PRECOMPILE_CONTRACT address to the redeployed one
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: enhancement, web3, deploy

#11704 Add flag to enable and disable endpoints exposure through ingress
  charts/hedera-mirror-rest-java/templates/ingress.yaml
  charts/hedera-mirror-rest-java/values.yaml
Labels: enhancement, chart

#11741 Prepare performance and staging for 0.136.0-rc1
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#11764 Synchronize transaction execution factory create method
  web3/src/main/java/org/hiero/mirror/web3/service/TransactionExecutorFactory.java
Labels: bug, web3

#11779 Fix changelog generator
  .github/workflows/release-automation.yml
Labels: bug, github actions

#11811 HIP-1056 Calculate block root hash from 8 subtrees
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockRootHashDigest.java
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderImpl.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/simulator/BlockGenerator.java
  importer/src/test/java/org/hiero/mirror/importer/reader/block/BlockRootHashDigestTest.java
  importer/src/test/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderTest.java
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000000.blk.gz
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000057.blk.gz
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000058.blk.gz
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000076.blk.gz
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000077.blk.gz
Labels: enhancement, importer

#11813 Bump Spring Boot and grpc-java
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: security, dependencies, java

#11818 Minify common chart dashboard json files
  charts/hedera-mirror-common/templates/configmap-dashboards.yaml
Labels: bug, chart

#11821 Recover from invalid ContractID in failed EthereumTransaction (0.136)
  importer/src/main/java/org/hiero/mirror/importer/domain/EntityIdServiceImpl.java
  importer/src/test/java/org/hiero/mirror/importer/domain/EntityIdServiceImplTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
Labels: bug, importer

#11820 Recover from invalid ContractID in failed EthereumTransaction
  importer/src/main/java/org/hiero/mirror/importer/domain/EntityIdServiceImpl.java
  importer/src/test/java/org/hiero/mirror/importer/domain/EntityIdServiceImplTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
Labels: bug, importer

#11823 Recover from invalid ContractID in failed EthereumTransaction (0.137)
  importer/src/main/java/org/hiero/mirror/importer/domain/EntityIdServiceImpl.java
  importer/src/test/java/org/hiero/mirror/importer/domain/EntityIdServiceImplTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/entity/EntityRecordItemListenerEthereumTest.java
Labels: bug, importer

#11847 Deploy v0.137.0-rc2 to performance
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#11849 Load web3 resources during k8s readiness probe (#11809)
  web3/src/main/java/org/hiero/mirror/web3/state/ApplicationWarmup.java
Labels: enhancement, web3

#11856 Revert integration-docker back to zero realm
  clusters/preprod/integration-docker/helmrelease.yaml
  clusters/preprod/integration-docker/sealed-secret.yaml
Labels: deploy

#11761 Add github workflow for running acceptance tests against solo in CI/CD
  .github/workflows/acceptance.yaml
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
Labels: enhancement, test

#11864 Improve release checklist
  docs/checklist/release.md
Labels: enhancement, process

#11871 Switch to bitnamilegacy docker images
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror/Chart.yaml
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/release.sh
Labels: enhancement, chart
