Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-04, with the labels that each got.

#10789 Deploy v0.127.0-rc1 to staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10790 Deploy v0.127.0-rc1 to performance
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#10796 Fix typo in contractCallEstimateAssociateTokens (0.127)
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateAssociateTokens.js
Labels: bug, test

#10797 Fix modularized header in test module
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
Labels: enhancement, test, modularizedEVM

#10800 Fix modularized header in test module (0.127)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
Labels: enhancement, test

#10798 Adapt to protobuf-java-api 0.61.0
  build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/AbstractBlockItemTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/ConsensusSubmitMessageTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/CryptoTransferTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/TokenAirdropTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/transformer/TokenTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockFileBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerEntityTransactionTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000000.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000981.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000982.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000002301160.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000002301161.blk.gz
  hedera-mirror-protobuf/src/main/proto/com/hedera/mirror/api/proto/consensus_service.proto
  hedera-mirror-protobuf/src/main/proto/com/hedera/mirror/api/proto/network_service.proto
Labels: enhancement, importer

#10792 Bump hedera-app to 0.60.0
  build.gradle.kts
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/convert/BytesDecoder.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ModularizedConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutorFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/NoOpMetrics.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/ServiceMigratorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/MapReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/core/MapWritableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AbstractReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/evm/store/contracts/precompile/codec/EvmEncodingFacade.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/spi/workflows/DispatchOptions.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/throttle/ThrottleAccumulator.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/workflows/handle/steps/UserTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/workflows/standalone/impl/StandaloneDispatchFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/services/hapi/utils/contracts/ParsingConstants.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/codec/EncodingFacade.java
  hedera-mirror-web3/src/main/java/com/swirlds/state/spi/WritableKVStateBase.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/ServiceMigratorImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/node/app/spi/workflows/DispatchOptionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/EncodingFacadeTest.java
  hedera-mirror-web3/src/test/java/com/swirlds/state/spi/WritableKVStateBaseTest.java
Labels: enhancement, web3

#10804 Fix rosetta workflow
  .github/workflows/rosetta.yml
  hedera-mirror-rosetta/scripts/validation/run-validation.sh
Labels: bug, test

#10810 Add new topic with custom fee variable in topicIds k6 test
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/rest-java/libex/parameters.js
  hedera-mirror-test/k6/src/rest-java/test/topicsId.js
Labels: enhancement, performance, test

#10812 Change integration-docker to non-zero realm
  clusters/preprod/integration-docker/helmrelease.yaml
  clusters/preprod/integration-docker/sealed-secret.yaml
Labels: deploy

#10735 HIP-991 - Add acceptance tests for topic with fixed fees
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/features/topic/topic.feature
Labels: enhancement, test

#10806 Airdrop tests for modularized
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/TokenRelation.java
  hedera-mirror-web3/src/main/resources/canonical-prices.json
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAirdropSystemContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/web3j/TestWeb3jService.java
  hedera-mirror-web3/src/test/solidity/Airdrop.sol
  hedera-mirror-web3/src/test/solidity/HederaTokenService.sol
  hedera-mirror-web3/src/test/solidity/IHederaTokenService.sol
Labels: enhancement, web3, modularizedEVM

#10809 Add topic with custom fee in mainnet-staging-na helmerelease
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: enhancement, performance, test, deploy

#10817 Increase modularized web3 traffic in previewnet to 50%
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Labels: deploy

#10818 Deploy v0.127.0-rc2 to integration-docker
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/integration-docker/helmrelease.yaml
  clusters/preprod/integration/helmrelease.yaml
Labels: deploy

#10814 Remove support for 0.0.0x EVM addresses
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/NetworkController.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/util/ProtoUtil.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/util/ProtoUtilTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockStreamPoller.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdEvmAddressParameter.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdParameterTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/AllowancesControllerTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/controller/TokenAirdropsControllerTest.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: bug, breaking, rest-java

#10795 Add tests for token custom fee modification precompiled functions
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/AbstractFee.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/FallbackFee.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/FixedFee.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/token/RoyaltyFee.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceOpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallCustomFeesModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
  hedera-mirror-web3/src/test/solidity/ModificationPrecompileTestContract.sol
Labels: bug, web3, modularizedEVM

#10828 Fix broken web3 test comiplation
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: bug, web3

#10815 Add evm version 51 support for hedera account service
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallHASSystemContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileHistoricalTest.java
  hedera-mirror-web3/src/test/solidity/HRC632Contract.sol
  hedera-mirror-web3/src/test/solidity/HederaAccountService.sol
  hedera-mirror-web3/src/test/solidity/IHederaAccountService.sol
Labels: enhancement, web3, modularizedEVM

#10822 Support legacy Transaction in block stream
  build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/AbstractBlockItemTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/BlockItemTransformerFactory.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/transformer/CryptoTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
Labels: bug, importer

#10858 HIP-1064 Support decline_reward on node create and update
  build.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractNode.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.105.0__node_decline_reward.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.10.0__node_decline_reward.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNodeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandlerTest.java
Labels: enhancement, database, importer

#10832 Bump Node.js from 18.20.8 to 22.14.0
  build.gradle.kts
  hedera-mirror-rest/Dockerfile
  hedera-mirror-rest/check-state-proof/package.json
  hedera-mirror-rest/monitoring/package.json
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: dependencies, javascript

#10857 Add claim token airdrop tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAirdropSystemContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallClaimAirdropSystemContractTest.java
  hedera-mirror-web3/src/test/solidity/ClaimAirdrop.sol
Labels: enhancement, web3, modularizedEVM

#10869 Fix gha deprecated cache issue
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta.yml
Labels: bug, github_actions

#10870 Fix data not found caused by replication delay in rest api
  hedera-mirror-rest/__tests__/stateproof.test.js
  hedera-mirror-rest/stateproof.js
Labels: bug, rest

#10866 Fixing GraphQL tests with non-zero realm
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/controller/AccountControllerTest.java
Labels: enhancement, good first issue

#10865 Bump hedera.app to version 0.61.0
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ModularizedConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/OpcodeTracer.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutorFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/NetworkInfoImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/ServiceMigratorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/history/impl/HistoryLibraryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/spi/workflows/DispatchOptions.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/workflows/handle/steps/UserTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/workflows/standalone/impl/StandaloneDispatchFactory.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/OpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/ServiceMigratorImplTest.java
Labels: dependencies, web3

#10874 Bump hedera.app to version 0.61.1
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/NetworkInfoImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAirdropSystemContractTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: dependencies, web3

#10875 Enable 10% web3 traffic in testnet-na to modularized code
  clusters/testnet-na/testnet-citus/helmrelease.yaml
Labels: deploy

#10861 HIP-1056 Add block stream metrics
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockStreamPoller.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockStreamVerifier.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockStreamPollerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockStreamVerifierTest.java
Labels: enhancement, downloader, importer

#10863 Add additional params for web3 k6 tests in deploy branch
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: enhancement, performance, web3, deploy

#10885 Adding tests for token reject system contract
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallTokenRejectSystemContractTest.java
  hedera-mirror-web3/src/test/solidity/TokenReject.sol
Labels: enhancement, web3, modularizedEVM

#10884 Fix stackgres Issues
  charts/hedera-mirror-common/values-v2.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-backup-disruption-budget.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-cluster.yaml
  charts/hedera-mirror/values-prod.yaml
  charts/hedera-mirror/values.yaml
Labels: enhancement, database

#10816 HIP-551: support batch transactions in importer
  docs/design/batch-transactions.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockItem.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/Transaction.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/TransactionType.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/BlockItemTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/TransactionTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockFileTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/BlockItemTransformerFactory.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/ParserContext.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AtomicBatchTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReader.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.105.1__batch_transactions.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.10.1__batch_transactions.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/transformer/AbstractTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/transformer/CommonTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
Labels: enhancement, importer

#10883 Support address book domain name in acceptance tests
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeProperties.java
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/props/NodeProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
Labels: bug, test

#10894 Remove copied `HistoryLibraryImpl`
  hedera-mirror-web3/src/main/java/com/hedera/node/app/history/impl/HistoryLibraryImpl.java
Labels: enhancement, web3

#10891 Fix non-zero realm support in acceptance tests
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/util/TestUtil.java
Labels: bug, test

#10893 Add `isModularizedCall` exception parameter in the mono flow
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/MirrorEvmTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
Labels: bug, web3

#10882 Fix formatSlot function used in get contract state rest api call
  hedera-mirror-rest/__tests__/specs/contracts/{id}/state/timestamp-slot.json
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-rest/utils.js
Labels: bug, rest

#10937 Enable REST API response cache by default in chart
  charts/hedera-mirror/values.yaml
Labels: enhancement, rest

#10938 Deploy v0.127.0 to mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10939 Fix storage slot value removal issue
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/StorageContractTest.java
  hedera-mirror-web3/src/test/solidity/StorageContract.sol
Labels: bug, web3, modularizedEVM

#10936 Add exception handling for invalid sender
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
Labels: bug, web3, modularizedEVM

#10934 Adapting web3 integration tests to partially pass with shard and realm
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAddressThisTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/RevertTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/web3j/TestWeb3jService.java
Labels: enhancement, web3

#10945 Fix storage slot value removal issue (0.127)
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/StorageContractTest.java
  hedera-mirror-web3/src/test/solidity/StorageContract.sol
Labels: bug, web3, modularizedEVM

#10946 Invalid sender bug fix cherry pick (0.127)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/MirrorEvmTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/services/store/contracts/precompile/HTSPrecompiledContract.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
Labels: bug, web3, modularizedEVM

#10954 Fix gha deprecated cache issue (0.127)
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta.yml
Labels: bug, github_actions

#10958 Update sealed secret
  clusters/previewnet/common/sealed-secret.yaml
Labels: deploy

#10942 Add Alias tests for Hedera Account Service system contract
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAliasTests.java
Labels: enhancement, web3, modularizedEVM

#10963 Prepare staging for 0.128.0-rc1
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/common/sealed-secret.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10957 Prepare performance for 0.128.0-rc1
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#10961 Upgrade integration-docker to 0.128.0-rc1
  clusters/preprod/integration-docker/helmrelease.yaml
  clusters/preprod/integration/helmrelease.yaml
Labels: deploy

#10967 Deploy v0.127.1 to mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10969 Fix mainnet-na rest monitor by setting contract id
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10935 Adapt web3 integration tests to fully pass with shard/realm
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/Utils.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/evm/accounts/HederaEvmContractAliases.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/account/MirrorEvmContractAliasesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/InternalCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/OpcodeServiceTest.java
Labels: enhancement, web3

#10953 Update chart deployment diagram
  charts/images/deployment.drawio
  charts/images/deployment.png
Labels: documentation

#10971 Configure k6 params
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: process

#10972 Remove unused param from rest java k6 test
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/rest-java/libex/parameters.js
Labels: enhancement, rest-java

#10905 Rework bootstrap to handle V2 DB exports
  docs/database/bootstrap.md
  hedera-mirror-importer/src/main/resources/db/scripts/bootstrap.env
  hedera-mirror-importer/src/main/resources/db/scripts/bootstrap.sh
Labels: enhancement, database

#10968 Add the missing contract key in the state
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
Labels: bug, web3

#10987 Fix acceptance operator leaking remaining hbars
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/resources/features/schedule/schedule.feature
Labels: bug, test

#10985 Fix docker compose volume permission
  docker-compose.yml
Labels: bug

#10990 Add the missing contract key in the state (0.128)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
Labels: bug, web3

#10991 Fix acceptance operator leaking remaining hbars (0.128)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/AccountClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/resources/features/schedule/schedule.feature
Labels: bug, test

#10993 Transition HTTP chart repositories to OCI
  .github/ct.yaml
  charts/hedera-mirror-common/Chart.yaml
  charts/hedera-mirror/Chart.yaml
Labels: enhancement

#10996 Prepare 0.128.0 for testnet na
  clusters/testnet-na/common/sealed-secret.yaml
Labels: deploy

#10966 Fixing InitializeEntityBalanceMigration SQL query and tests
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/InitializeEntityBalanceMigrationTest.java
Labels: enhancement, database, importer

#10964 Fix incorrect entity public key
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/AbstractEntity.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordItem.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/entity/EntityTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/util/DomainUtilsTest.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.106.0__fix_entity_public_key.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.11.0__fix_entity_public_key.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/ImporterIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixEntityPublicKeyMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/upsert/GenericUpsertQueryGeneratorTest.java
Labels: bug, database

#10999 Bump modularized traffic for na
  clusters/testnet-na/testnet-citus/helmrelease.yaml
Labels: deploy

#11000 Fix `NullPointerException` on missing account key
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/Utils.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVStateTest.java
Labels: bug, web3

#10974 Generate valid evm-compatible address in acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
Labels: bug, test

#11006 Fix `NullPointerException` on missing account key (0.128)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/Utils.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVStateTest.java
Labels: bug, web3

#11005 Modify findByIdAndTimestamp query
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/TokenAccountRepository.java
Labels: bug

#11016 Bump integration-docker to 0.128.0
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/integration-docker/helmrelease.yaml
Labels: deploy

#11008 Prepare mainnet na for 0.128.0
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/common/sealed-secret.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11019 Disable response cache mainnet na
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11011 Add acceptance test for topic update, to remove the custom fees
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TopicClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
Labels: enhancement, test

#11004 Adapt state to check for new state keys in hedera-app
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/ServicesRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/StateKeyRegistry.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/DefaultSingleton.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/ServicesRegistryImplTest.java
Labels: enhancement, web3, modularizedEVM

#11015 Remove redundant code in SchemaRegistryImpl
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
Labels: enhancement, web3, modularizedEVM

#11021 Disable response cache testnet na
  clusters/testnet-na/testnet-citus/helmrelease.yaml
Labels: deploy

#11022 Disable response cache testnet eu
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
Labels: deploy

#10899 HIP-1081 Block Node Support Design
  docs/design/block-node-support.md
  docs/design/images/block-node-support.svg
Labels: documentation, importer

#10998 Add isAuthorized integration tests for Hedera Account Service in web3
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallIsAuthorizedTest.java
Labels: enhancement, test, web3, modularizedEVM

#11056 Disable rest response cache in chart
  charts/hedera-mirror/values.yaml
Labels: enhancement

#11057 Disable rest response cache in chart (0.128)
  charts/hedera-mirror/values.yaml
Labels: enhancement

#11061 Fix acceptance test validation of partial node outage
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
Labels: bug, test

#11052 Add web3 integration tests for hbar approve via system contract
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallHASSystemContractTest.java
Labels: enhancement, test, web3, modularizedEVM

#11064 Fix acceptance test validation of partial node outage (0.128)
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/SDKClient.java
Labels: bug, test

#11063 Simplify treasury and autorenew accounts retrieval in token kv state
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/Token.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/TokenReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/hapi/node/state/token/TokenTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/TokenReadableKVStateTest.java
Labels: enhancement, web3, modularizedEVM

#11071 Upgrade mainnet-na to v0.128.2
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11074 Fix protobuf package and release notes generation
  .github/release-notes.yml
  .github/workflows/release-automation.yml
  protobuf/src/main/proto/com/hedera/mirror/api/proto/consensus_service.proto
  protobuf/src/main/proto/com/hedera/mirror/api/proto/network_service.proto
Labels: bug, regression, grpc, github_actions

#11076 Upgrade FluxCD from 2.3.0 to 2.5.1 in preprod
  README.md
  clusters/preprod/flux-system/gotk-components.yaml
Labels: deploy

#11077 Upgrade mainnet-staging and performance to v0.129.0-rc1
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#11084 Bump previewnet to 90% modularized traffic
  clusters/previewnet/common/helmrelease.yaml
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Labels: deploy

#11078 Fix snyk check & address book parsing
  .snyk
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/entity/EntityIdTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTokenTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerTopicTest.java
  hedera-mirror-rest/api/v1/openapi.yml
Labels: bug, regression
