Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-07, with the labels that each got.

#11509 Deploy v0.133.0 to mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11511 Upgrade to express 5.1.0
  rest/__tests__/globalSetup.js
  rest/config/application.yml
  rest/controllers/contractController.js
  rest/extendExpress.js
  rest/middleware/metricsHandler.js
  rest/middleware/requestHandler.js
  rest/middleware/responseCacheHandler.js
  rest/middleware/responseHandler.js
  rest/package-lock.json
  rest/package.json
  rest/routes/accountRoute.js
  rest/routes/blockRoute.js
  rest/routes/contractRoute.js
  rest/routes/index.js
  rest/routes/networkRoute.js
  rest/server.js
Labels: enhancement, rest

#11479 Generate table usage for nodejs REST API
  rest/__tests__/globalTeardown.js
  rest/__tests__/integration/template.js
  rest/__tests__/jestSetup.js
  rest/__tests__/tableUsage.js
  rest/__tests__/testutils.js
  rest/package-lock.json
  rest/package.json
  rest/utils.js
Labels: enhancement, rest

#11537 Fix GCP Marketplace regression after removing pg_notify
  charts/marketplace/gcp/values.yaml
Labels: bug, regression, marketplace

#11548 Set account ids for crypto allowance k6 tests
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: deploy

#11556 Fix hbar leakage in acceptance test startup
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/AccountClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/SDKClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/TokenClient.java
Labels: bug, test

#11557 chore: TAC requirement - Update README.md
  README.md
Labels: documentation

#11560 Prepare performance for 0.134.0-rc1
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#11589 Support clearing node grpc proxy endpoint (0.134)
  common/src/main/java/org/hiero/mirror/common/domain/node/AbstractNode.java
  common/src/main/java/org/hiero/mirror/common/domain/node/ServiceEndpoint.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/transactionhandler/AbstractNodeTransactionHandler.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/entity/EntityRecordItemListenerNodeTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandlerTest.java
Labels: bug, importer

#11590 Bump apache commons and tomcat versions (0.134)
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
Labels: security, dependencies, java

#11563 Fix bulk load storage slots
  web3/src/main/java/org/hiero/mirror/web3/service/ContractStateServiceImpl.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractStateServiceTest.java
Labels: bug, web3

#11583 Bump com.hedera.hashgraph:app to 0.64.0
  .github/workflows/releases-comparator.yml
  build.gradle.kts
  web3/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
  web3/src/main/java/com/hedera/node/app/service/contract/impl/utils/ConversionUtils.java
  web3/src/main/java/org/hiero/mirror/web3/evm/contracts/execution/traceability/MirrorOperationActionTracer.java
  web3/src/main/java/org/hiero/mirror/web3/evm/contracts/execution/traceability/OpcodeActionTracer.java
  web3/src/main/java/org/hiero/mirror/web3/state/MirrorNodeState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/StateRegistry.java
  web3/src/main/java/org/hiero/mirror/web3/state/singleton/BlockStreamInfoSingleton.java
  web3/src/test/java/org/hiero/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/singleton/BlockStreamInfoSingletonTest.java
Labels: dependencies, web3

#11585 Add a workflow to deploy a specific version to preprod environment
  .github/workflows/deploy-preprod.yaml
  .github/workflows/deploy.yaml
Labels: enhancement, github actions

#11602 Move HederaCustomCodeOperation and adjust diff script
  .github/workflows/releases-comparator.yml
  web3/src/main/java/org/hiero/mirror/web3/evm/config/EvmConfiguration.java
  web3/src/main/java/org/hiero/mirror/web3/evm/contracts/operations/HederaCustomCallOperation.java
  web3/src/test/java/com/hedera/node/app/service/contract/impl/exec/operations/HederaCustomCallOperationTest.java
Labels: enhancement, web3

#11609 Bump multer from 2.0.1 to 2.0.2
  rest/package-lock.json
  rest/package.json
Labels: security, dependencies, javascript

#11629 Bump reactor-netty and form-data
  build.gradle.kts
  tools/traffic-replay/log-downloader/package-lock.json
  tools/traffic-replay/log-downloader/package.json
Labels: security, dependencies

#11634 Fix remaining failing non-zero realm tests
  common/src/test/java/org/hiero/mirror/common/GlobalTestSetup.java
  common/src/test/java/org/hiero/mirror/common/config/CommonIntegrationTest.java
  common/src/test/java/org/hiero/mirror/common/util/CommonUtils.java
  rest-java/src/test/java/org/hiero/mirror/restjava/common/EntityIdRangeParameterTest.java
  rest-java/src/test/java/org/hiero/mirror/restjava/controller/TokenAirdropsControllerTest.java
  rest-java/src/test/java/org/hiero/mirror/restjava/controller/TopicControllerTest.java
Labels: bug, test, web3, rest-java

#11632 Add gas used metric to web3 hpa
  charts/hedera-mirror-common/values.yaml
  charts/hedera-mirror-web3/values.yaml
Labels: enhancement, test

#11635 Refactor bootBuildImage support
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/docker-conventions.gradle.kts
  buildSrc/src/main/kotlin/jooq-conventions.gradle.kts
  buildSrc/src/main/kotlin/spring-conventions.gradle.kts
  common/src/main/java/org/hiero/mirror/common/CommonConfiguration.java
  common/src/main/java/org/hiero/mirror/common/config/CommonRuntimeHints.java
  docs/development.md
  gradle.properties
  graphql/src/main/resources/application.yml
  grpc/src/main/resources/application.yml
  importer/build.gradle.kts
  importer/src/main/resources/application.yml
  rest-java/src/main/resources/application.yml
  web3/build.gradle.kts
  web3/src/main/resources/application.yml
Labels: enhancement, build

#11652 Deploy v0.135.0-rc1 to mainnet-staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11655 Prepare mainnet-na for 0.134.0
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11654 Update TestUtil to use toEvmAddress() from SDK
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/ContractClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/EthereumClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/NetworkAdapter.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/CallFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/ContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EthereumFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/util/TestUtil.java
Labels: enhancement, test

#11663 Fix remaining acceptance tests for non-zero shard/realm
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/SDKClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/BaseContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/ContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EthereumFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/util/ContractCallResponseWrapper.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/util/FeatureInputHandler.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/util/TestUtil.java
Labels: bug, test

#11694 Disable failing web3 acceptance test in testnet-eu
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
Labels: deploy

#11686 Runbook script improvements
  docs/runbook/change-citus-node-pool-machine-type.md
  docs/runbook/create-disk-snapshot-for-citus-cluster.md
  docs/runbook/reduce-disksize-citus.md
  docs/runbook/restore-citus-from-disk-snapshot.md
  docs/runbook/restore-citus-from-stackgres-backup.md
  docs/runbook/scripts/restore-volume-snapshot.sh
  docs/runbook/scripts/upgrade-k8s-version-citus.sh
  docs/runbook/scripts/utils.sh
  docs/runbook/upgrade-k8s-version-citus-nodepool.md
Labels: enhancement

#11697 Fix failing acceptance tests for dissociate tokens in call.feature
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/CallFeature.java
  test/src/test/resources/features/contract/call.feature
Labels: enhancement, test

#11588 Add drop sql script to support version rollback
  importer/src/main/resources/db/scripts/drop.sql
Labels: enhancement, database

#11695 Upgrade stackgres to 1.17
  .github/workflows/charts.yml
  charts/hedera-mirror-common/Chart.yaml
Labels: enhancement, database
