Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-06, with the labels that each got.

#11323 Update MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation

#11287 Remove copied readable and writable kv state classes v2
  web3/src/main/java/com/swirlds/state/spi/ReadableKVStateBase.java
  web3/src/main/java/com/swirlds/state/spi/WritableKVStateBase.java
  web3/src/main/java/org/hiero/mirror/web3/common/ContractCallContext.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/MapReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/MapWritableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/ReadableCachedForwardingConcurrentMap.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/AbstractReadableKVState.java
  web3/src/test/java/com/swirlds/state/spi/ReadableKVStateBaseTest.java
  web3/src/test/java/com/swirlds/state/spi/WritableKVStateBaseTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/core/MapReadableKVStateTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/core/MapWritableKVStateTest.java
Labels: enhancement, technical debt, web3, modularizedEVM

#11325 Support web3 log in traffic-replay tool
  tools/traffic-replay/log-downloader/converter.js
  tools/traffic-replay/log-downloader/index.js
  tools/traffic-replay/log-downloader/parser/index.js
  tools/traffic-replay/log-downloader/parser/rest.js
  tools/traffic-replay/log-downloader/parser/web3.js
Labels: enhancement

#11331 Configure workload identity for google-github-auth action
  .github/workflows/cleanup.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
Labels: process

#11332 Prepare mainnet na for 0.131.0
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/sealed-secret.yaml
Labels: deploy

#11284 Add integration tests for Schedule token create with smart contract
  web3/src/test/java/org/hiero/mirror/web3/service/AbstractContractCallServiceTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallAirdropSystemContractTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ScheduleTests/ContractCallGetScheduleInfoTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ScheduleTests/ContractCallScheduleTokenCreateTests.java
  web3/src/test/java/org/hiero/mirror/web3/service/ScheduleTests/ContractCallSignScheduleTest.java
  web3/src/test/solidity/HIP756Contract.sol
  web3/src/test/solidity/HederaTokenService.sol
  web3/src/test/solidity/IHederaTokenService.sol
  web3/src/test/solidity/KeyHelper.sol
Labels: enhancement, test, web3, modularizedEVM

#11328 Fix failing acceptance test in testnet
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
Labels: bug, test

#11330 K6 test for findStorage
  tools/k6/README.md
  tools/k6/src/web3/test/contractCallEstimateReadStorage.js
  tools/k6/src/web3/test/index.js
Labels: enhancement, performance, test

#11319 Utilize child error transactions in web3
  web3/src/main/java/org/hiero/mirror/web3/controller/GenericControllerAdvice.java
  web3/src/main/java/org/hiero/mirror/web3/exception/MirrorEvmTransactionException.java
  web3/src/main/java/org/hiero/mirror/web3/service/TransactionExecutionService.java
  web3/src/main/java/org/hiero/mirror/web3/viewmodel/GenericErrorResponse.java
  web3/src/test/java/org/hiero/mirror/web3/service/TransactionExecutionServiceTest.java
Labels: enhancement, web3, modularizedEVM

#11326 Remove shard/realm from evm address lookups
  importer/src/main/java/org/hiero/mirror/importer/domain/EntityIdServiceImpl.java
  importer/src/main/java/org/hiero/mirror/importer/repository/EntityRepository.java
  importer/src/test/java/org/hiero/mirror/importer/domain/EntityIdServiceImplTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  importer/src/test/java/org/hiero/mirror/importer/repository/EntityRepositoryTest.java
Labels: enhancement, importer

#11322 Remove shard realm from entity lookup
  common/src/main/java/org/hiero/mirror/common/util/DomainUtils.java
  common/src/test/java/org/hiero/mirror/common/GlobalTestSetup.java
  common/src/test/java/org/hiero/mirror/common/util/DomainUtilsTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/contractlog/SyntheticContractLogTest.java
  web3/src/main/java/com/hedera/node/app/service/evm/accounts/HederaEvmContractAliases.java
  web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  web3/src/main/java/org/hiero/mirror/web3/evm/store/accessor/EntityDatabaseAccessor.java
  web3/src/main/java/org/hiero/mirror/web3/repository/EntityRepository.java
  web3/src/main/java/org/hiero/mirror/web3/state/CommonEntityAccessor.java
  web3/src/main/java/org/hiero/mirror/web3/state/Utils.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/ContractBytecodeReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/singleton/EntityIdSingleton.java
  web3/src/test/java/com/hedera/services/store/contracts/precompile/codec/TokenKeyWrapperTest.java
  web3/src/test/java/com/hedera/services/store/models/TokenRelationshipTest.java
  web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
  web3/src/test/java/org/hiero/mirror/web3/evm/store/StoreImplTest.java
  web3/src/test/java/org/hiero/mirror/web3/evm/store/accessor/EntityDatabaseAccessorTest.java
  web3/src/test/java/org/hiero/mirror/web3/evm/store/contract/HederaEvmStackedWorldStateUpdaterTest.java
  web3/src/test/java/org/hiero/mirror/web3/evm/token/TokenAccessorImplTest.java
  web3/src/test/java/org/hiero/mirror/web3/evm/utils/EvmTokenUtilsTest.java
  web3/src/test/java/org/hiero/mirror/web3/repository/EntityRepositoryTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/CommonEntityAccessorTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/UtilsTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/singleton/EntityIdSingletonIntegrationTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/singleton/EntityIdSingletonTest.java
Labels: enhancement, web3

#11321 Drop shard / realm in long form evm address encoding and validation
  rest/__tests__/entityId.test.js
  rest/__tests__/service/__snapshots__/entityService.test.js.snap
  rest/__tests__/service/entityService.test.js
  rest/__tests__/specs/accounts/all-params.json
  rest/__tests__/utils.test.js
  rest/controllers/contractController.js
  rest/entityId.js
  rest/server.js
  rest/service/contractService.js
  rest/service/entityService.js
  rest/utils.js
Labels: enhancement, rest

#11292 Acceptance tests should not encode shard and realm in EVM addresses
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/AbstractNetworkClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/ContractClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/EthereumClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/NetworkAdapter.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/CallFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/ContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EthereumFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/util/TestUtil.java
  test/src/test/resources/features/contract/equivalence.feature
Labels: enhancement, test

#11357 Fix async java migration checksum tracking
  docs/checklist/release.md
  importer/src/main/java/org/hiero/mirror/importer/migration/AsyncJavaMigration.java
  importer/src/main/resources/db/migration/v1/V1.109.0__fix_async_java_migration_history.sql
  importer/src/main/resources/db/migration/v2/V2.14.0__fix_async_java_migration_history.sql
  importer/src/test/java/org/hiero/mirror/importer/migration/AbstractAsyncJavaMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/AsyncJavaMigrationBaseTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/AsyncJavaMigrationPreFixTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/AsyncJavaMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/FixAsyncJavaMigrationHistoryMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/TopicMessageLookupMigrationTest.java
Labels: bug, regression, importer

#11363 Fix async java migration checksum tracking (0.131)
  docs/checklist/release.md
  importer/src/main/java/org/hiero/mirror/importer/migration/AsyncJavaMigration.java
  importer/src/main/resources/db/migration/v1/V1.109.0__fix_async_java_migration_history.sql
  importer/src/main/resources/db/migration/v2/V2.14.0__fix_async_java_migration_history.sql
  importer/src/test/java/org/hiero/mirror/importer/migration/AbstractAsyncJavaMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/AsyncJavaMigrationBaseTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/AsyncJavaMigrationPreFixTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/AsyncJavaMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/FixAsyncJavaMigrationHistoryMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/TopicMessageLookupMigrationTest.java
Labels: bug, regression, importer

#11376 Deploy v0.132.0-rc2 to performance and mainnet-staging
  README.md
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#11385 Remove GCP Pub/Sub functionality
  build.gradle.kts
  docs/checklist/feature.md
  docs/configuration.md
  importer/build.gradle.kts
  importer/src/main/java/org/hiero/mirror/importer/config/PubSubAutoConfiguration.java
  importer/src/main/java/org/hiero/mirror/importer/parser/domain/PubSubMessage.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/pubsub/ConditionalOnPubSubRecordParser.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/pubsub/PubSubProperties.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/pubsub/PubSubRecordItemListener.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/pubsub/PubSubRecordStreamFileListener.java
  importer/src/main/java/org/hiero/mirror/importer/parser/serializer/ProtoJsonSerializer.java
  importer/src/main/java/org/hiero/mirror/importer/parser/serializer/PubSubEntityIdSerializer.java
  importer/src/main/resources/application.yml
  importer/src/test/java/org/hiero/mirror/importer/PubSubIntegrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/domain/PubSubMessageTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/pubsub/PubSubRecordItemListenerTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/pubsub/PubSubRecordParserTest.java
  importer/src/test/resources/config/application.yml
  importer/src/test/resources/config/bootstrap-pubsub.yml
  importer/src/test/resources/config/bootstrap.yml
  importer/src/test/resources/data/pubsub-messages.txt
Labels: enhancement, technical debt, etl, breaking

#11387 Return empty contract results when timestamp range is empty
  rest/__tests__/specs/accounts/accounts-range.json
  rest/__tests__/specs/accounts/limit.json
  rest/__tests__/specs/accounts/{id}/tokens/token-id-pagination.json
  rest/__tests__/specs/balances/limit.json
  rest/__tests__/specs/blocks/limit-param.json
  rest/__tests__/specs/contracts/limit.json
  rest/__tests__/specs/contracts/results/limit.json
  rest/__tests__/specs/contracts/{id}/results/logs/limit.json
  rest/__tests__/specs/contracts/{id}/state/limit.json
  rest/__tests__/specs/network/nodes/node-range.json
  rest/__tests__/specs/schedules/limit.json
  rest/__tests__/specs/tokens/limit.json
  rest/__tests__/specs/tokens/{id}/nfts/limit.json
  rest/__tests__/specs/topics/{id}/messages/limit.json
  rest/__tests__/specs/transactions/limit.json
  rest/__tests__/utils.test.js
  rest/constants.js
  rest/controllers/baseController.js
  rest/controllers/contractController.js
  rest/controllers/cryptoAllowanceController.js
  rest/utils.js
Labels: bug, rest

#11382 Add jumbo transaction tests
  web3/src/main/java/org/hiero/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallJumboTransactionTest.java
  web3/src/test/java/org/hiero/mirror/web3/web3j/TestWeb3jService.java
  web3/src/test/solidity/JumboTransaction.sol
Labels: enhancement, web3, modularizedEVM

#11414 Bump spring-framework to 6.2.8 and tomcat to 10.1.42
  build.gradle.kts
  importer/build.gradle.kts
Labels: security, dependencies, java

#11416 Cherry-pick dependency bumps to 0.132
  build.gradle.kts
  buildSrc/build.gradle.kts
  importer/build.gradle.kts
Labels: security, dependencies, java

#11388 Add workaround for long zero addresses to be permitted by the EVM
  web3/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
  web3/src/main/java/com/hedera/node/app/service/contract/impl/utils/ConversionUtils.java
  web3/src/main/java/org/hiero/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  web3/src/test/java/org/hiero/mirror/web3/service/AbstractContractCallServiceTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallAliasTests.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallIsAuthorizedTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3

#11316 Reduce findStorage query usage
  docs/configuration.md
  web3/src/main/java/org/hiero/mirror/web3/evm/config/EvmConfiguration.java
  web3/src/main/java/org/hiero/mirror/web3/evm/store/contract/MirrorEntityAccess.java
  web3/src/main/java/org/hiero/mirror/web3/repository/ContractStateRepository.java
  web3/src/main/java/org/hiero/mirror/web3/repository/properties/CacheProperties.java
  web3/src/main/java/org/hiero/mirror/web3/service/ContractStateService.java
  web3/src/main/java/org/hiero/mirror/web3/service/ContractStateServiceImpl.java
  web3/src/main/java/org/hiero/mirror/web3/state/ContractSlotValue.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/ContractStorageReadableKVState.java
  web3/src/test/java/org/hiero/mirror/web3/evm/store/contract/MirrorEntityAccessTest.java
  web3/src/test/java/org/hiero/mirror/web3/repository/ContractStateRepositoryTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractStateServiceTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/keyvalue/ContractStorageReadableKVStateTest.java
Labels: enhancement, web3, modularizedEVM

#11421 Fix `block.timestamp` to return the correct value
  web3/src/main/java/org/hiero/mirror/web3/state/singleton/BlockInfoSingleton.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallEvmCodesHistoricalTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallEvmCodesTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/singleton/BlockInfoSingletonTest.java
  web3/src/test/java/org/hiero/mirror/web3/utils/ContractCallTestUtil.java
  web3/src/test/solidity/EvmCodes.sol
  web3/src/testHistorical/solidity/EvmCodesHistorical.sol
Labels: bug, web3

#11425 Update preprod properties to use Hiero prefix
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/dev/helmrelease.yaml
  clusters/preprod/dev/sealed-secret.yaml
  clusters/preprod/integration-docker/helmrelease.yaml
  clusters/preprod/integration-docker/sealed-secret.yaml
  clusters/preprod/integration/helmrelease.yaml
  clusters/preprod/integration/sealed-secret.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
  clusters/preprod/performance-citus/sealed-secret.yaml
  clusters/preprod/staging-council/helmrelease.yaml
  clusters/preprod/staging-council/sealed-secret.yaml
  clusters/preprod/staging-lg/helmrelease.yaml
  clusters/preprod/staging-lg/sealed-secret.yaml
  clusters/preprod/staging-sm/helmrelease.yaml
  clusters/preprod/staging-sm/sealed-secret.yaml
Labels: deploy

#11426 chore: Update info requested by the TAC in MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation

#11413 Update grpc and importer tests to work with non-zero shard/realm
  grpc/src/test/java/org/hiero/mirror/grpc/controller/ConsensusControllerTest.java
  grpc/src/test/java/org/hiero/mirror/grpc/controller/NetworkControllerTest.java
  grpc/src/test/java/org/hiero/mirror/grpc/domain/ReactiveDomainBuilder.java
  grpc/src/test/java/org/hiero/mirror/grpc/listener/AbstractSharedTopicListenerTest.java
  grpc/src/test/java/org/hiero/mirror/grpc/listener/AbstractTopicListenerTest.java
  grpc/src/test/java/org/hiero/mirror/grpc/service/NetworkServiceTest.java
  importer/src/test/java/org/hiero/mirror/importer/domain/EntityIdServiceImplTest.java
Labels: enhancement, grpc, importer

#11433 Add github action for release branches comparison
  .github/workflows/releases-comparator.yml
Labels: enhancement, web3, github_actions

#11465 Fix ClassNotFoundException in acceptance test
  test/build.gradle.kts
Labels: bug, test

#11431 Remove max data size config in favour of jumbo config
  docs/configuration.md
  rest/api/v1/openapi.yml
  web3/src/main/java/org/hiero/mirror/web3/config/JacksonConfiguration.java
  web3/src/main/java/org/hiero/mirror/web3/controller/ContractController.java
  web3/src/main/java/org/hiero/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  web3/src/main/java/org/hiero/mirror/web3/viewmodel/ContractCallRequest.java
  web3/src/test/java/org/hiero/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, breaking, web3

#11467 Deploy v0.133.0-rc1 to staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/sealed-secret.yaml
Labels: deploy

#11468 Deploy v0.133.0-rc1 to performance-citus
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#11411 Add workaround for INSUFFICIENT_PAYER_BALANCE in modularized
  web3/src/main/java/com/hedera/node/app/service/contract/impl/exec/operations/CustomBalanceOperation.java
  web3/src/main/java/org/hiero/mirror/web3/common/ContractCallContext.java
  web3/src/main/java/org/hiero/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/AbstractAliasedAccountReadableKVState.java
  web3/src/test/java/org/hiero/mirror/web3/service/AbstractContractCallServiceTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallAddressThisTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallServiceTest.java
  web3/src/test/solidity/TestAddressThis.sol
Labels: enhancement, web3, modularizedEVM
