Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-03, with the labels that each got.

#10451 Added max_custom_fees to transactions REST api endpoint
  hedera-mirror-rest/__tests__/accounts.deduplication.timestamp-lte.test.js
  hedera-mirror-rest/__tests__/accounts.deduplication.timestamp.test.js
  hedera-mirror-rest/__tests__/integrationDomainOps.js
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-balances.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-closed-range.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-lte.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp-noaccountbalance.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/timestamp.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactions.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/transactiontype.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id-deterministic-response.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/account-id.json
  hedera-mirror-rest/__tests__/specs/transactions/all-params.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type-crypto-and-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/credit-type.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type-crypto-and-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type-only-token-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/debit-type.json
  hedera-mirror-rest/__tests__/specs/transactions/duplicate-token-transfers-bug.json
  hedera-mirror-rest/__tests__/specs/transactions/fail-result.json
  hedera-mirror-rest/__tests__/specs/transactions/limit.json
  hedera-mirror-rest/__tests__/specs/transactions/nft-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/success-result.json
  hedera-mirror-rest/__tests__/specs/transactions/timestamp-no-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/timestamp.json
  hedera-mirror-rest/__tests__/specs/transactions/tokenwipe.json
  hedera-mirror-rest/__tests__/specs/transactions/transactiontype.json
  hedera-mirror-rest/__tests__/specs/transactions/unknown-result.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/assessed-custom-fees-with-effective-payer-account-ids.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/assessed-custom-fees.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/duplicate-schedule-create.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/duplicate-transactions.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nft-transfers-multiple-tokens.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nft-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/no-transfers.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/repeated-valid-params-schedule-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/repeated-valid-params-schedule-true.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/return-multiple-nonce.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-create-shorter-max-age.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-false.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-long-term.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-no-filter.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-true.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/tokentransfer.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/tokenwipe.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/__tests__/viewmodel/customFeeLimitViewModel.test.js
  hedera-mirror-rest/api/v1/openapi.yml
  hedera-mirror-rest/model/customFeeLimits.js
  hedera-mirror-rest/model/index.js
  hedera-mirror-rest/model/transaction.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/viewmodel/customFeeLimitsViewModel.js
  hedera-mirror-rest/viewmodel/index.js
Labels: enhancement, rest

#10513 Add global config and env variable to helm chart
  .github/workflows/gradle.yml
  charts/hedera-mirror-graphql/templates/deployment.yaml
  charts/hedera-mirror-graphql/templates/secret.yaml
  charts/hedera-mirror-graphql/values.yaml
  charts/hedera-mirror-grpc/templates/deployment.yaml
  charts/hedera-mirror-grpc/templates/secret.yaml
  charts/hedera-mirror-grpc/values.yaml
  charts/hedera-mirror-importer/templates/deployment.yaml
  charts/hedera-mirror-importer/templates/secret.yaml
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-monitor/templates/deployment.yaml
  charts/hedera-mirror-monitor/templates/secret.yaml
  charts/hedera-mirror-monitor/values.yaml
  charts/hedera-mirror-rest-java/templates/deployment.yaml
  charts/hedera-mirror-rest-java/templates/secret.yaml
  charts/hedera-mirror-rest-java/values.yaml
  charts/hedera-mirror-rest/templates/deployment.yaml
  charts/hedera-mirror-rest/templates/secret.yaml
  charts/hedera-mirror-rest/values.yaml
  charts/hedera-mirror-rosetta/templates/deployment.yaml
  charts/hedera-mirror-rosetta/templates/secret.yaml
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/templates/deployment.yaml
  charts/hedera-mirror-web3/templates/secret.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/templates/tests/pod.yaml
  charts/hedera-mirror/templates/tests/secret.yaml
  charts/hedera-mirror/values.yaml
  tools/mirror-report/package.json
Labels: enhancement, process

#10511 Fix rosetta construction parse error (0.124)
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
Labels: bug, rosetta

#10490 bootstrap.sh improvements
  hedera-mirror-importer/src/main/resources/db/scripts/bootstrap.sh
Labels: enhancement, database

#10533 Prepare mainnet na for 0.124.1
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10541 Deploy v0.125.0-rc1 to performance and mainnet-staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#10503 Add EntityIdSingleton for modularized
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/EntityRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/EntityIdSingleton.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/EntityRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/EntityIdSingletonIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/EntityIdSingletonTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/ContractCallTestUtil.java
  hedera-mirror-web3/src/test/solidity/NestedCallsTestContract.sol
Labels: enhancement, web3, modularizedEVM

#10549 Fix get token default kyc status test for modularized
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
Labels: enhancement, test, modularizedEVM

#10556 Fix address book updates requiring an IP
  docs/checklist/release.md
  docs/configuration.md
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractNodeTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerNodeTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeCreateTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandlerTest.java
Labels: bug, parser

#10557 Change entity id encoding
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/exception/InvalidEntityException.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/converter/EntityIdConverterTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/entity/EntityIdTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/topic/TopicMessageTest.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/controller/AccountControllerTest.java
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/repository/EntityRepositoryTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/repository/TopicMessageRepositoryTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdNumParameter.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdParameterTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdRangeParameterTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/repository/EntityRepositoryTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/RestSpecTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/builder/EntityBuilder.java
  hedera-mirror-rest/__tests__/__snapshots__/entityId.test.js.snap
  hedera-mirror-rest/__tests__/__snapshots__/tokens.test.js.snap
  hedera-mirror-rest/__tests__/__snapshots__/topicmessage.test.js.snap
  hedera-mirror-rest/__tests__/controllers/__snapshots__/contractController.test.js.snap
  hedera-mirror-rest/__tests__/controllers/contractController.test.js
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/service/entityService.test.js
  hedera-mirror-rest/__tests__/specs/accounts/all-params.json
  hedera-mirror-rest/__tests__/specs/accounts/{id}/rewards/invalid-path.json
  hedera-mirror-rest/__tests__/specs/schedules/invalid-params-queries.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-topic-id.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/invalid-topid-id.json
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/{id}/idseq-valid-full-id.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/__tests__/topicmessage.test.js
  hedera-mirror-rest/__tests__/transactionId.test.js
  hedera-mirror-rest/__tests__/utils.test.js
  hedera-mirror-rest/__tests__/utilsFilters.test.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rosetta/app/domain/types/account_id_test.go
  hedera-mirror-rosetta/app/persistence/address_book_entry_test.go
  hedera-mirror-rosetta/app/persistence/domain/entityid.go
  hedera-mirror-rosetta/app/persistence/domain/entityid_test.go
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/EntityRepositoryTest.java
Labels: enhancement

#10544 Add update token custom fee test cases
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/solidity/HederaTokenService.sol
  hedera-mirror-web3/src/test/solidity/IHederaTokenService.sol
  hedera-mirror-web3/src/test/solidity/ModificationPrecompileTestContract.sol
Labels: enhancement, web3

#10548 Refactor historical tests in web3 module
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceHistoricalNegativeTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
Labels: enhancement, web3

#10563 Upload coverage reports to Codacy
  .github/workflows/gradle.yml
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
Labels: enhancement, github_actions, build

#10542 HIP-1056 Handle standalone state changes in genesis block
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockFile.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/BlockFileTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000000.blk.gz
Labels: enhancement, importer

#10566 Remove codecov and sonar
  .github/CODEOWNERS
  .github/workflows/gradle.yml
  .github/workflows/security.yml
  README.cn.md
  README.md
  codecov.yml
Labels: enhancement, github_actions, build

#10564 Use shard realm from common properties to configure operator for acceptance tests
  hedera-mirror-test/build.gradle.kts
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/AcceptanceTestProperties.java
  hedera-mirror-test/src/test/resources/application.yml
Labels: enhancement, test

#10547 Disable deterministic throttle from hedera app
  hedera-mirror-web3/src/main/java/com/hedera/node/app/spi/workflows/DispatchOptions.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/workflows/handle/steps/UserTxnFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/workflows/standalone/impl/StandaloneDispatchFactory.java
  hedera-mirror-web3/src/test/java/com/hedera/node/app/spi/workflows/DispatchOptionsTest.java
Labels: enhancement, web3

#10593 Upgrade mainnet-na to v0.125.0
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10592 Add missing singletons
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/CongestionLevelStartsSingleton.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/MidnightRatesSingleton.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/ThrottleUsageSingleton.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/CongestionLevelStartsSingletonTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/MidnightRatesSingletonTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/ThrottleUsageSingletonTest.java
Labels: enhancement, web3, modularizedEVM

#10599 Add Receipt ContractId to Ethereum Transformer
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/EthereumTransactionTransformer.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/transformer/ContractTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
Labels: bug, importer

#10608 Fix token null metadata issue
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/TokenReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
Labels: bug, web3, modularizedEVM

#10545 Implement gradual rollout for modularized txn execution
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeServiceImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/model/CallServiceParameters.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/model/ContractDebugParameters.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/model/ContractExecutionParameters.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/OpcodesControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAddressThisTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/web3j/TestWeb3jService.java
Labels: enhancement, modularizedEVM

#10610 Workaround Codacy outage
  .github/workflows/gradle.yml
Labels: enhancement, github_actions

#10613 Fix block stream pathPrefix support
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractHip679S3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
Labels: bug, downloader

#10609 Fix NPE in monitor metrics
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  docs/configuration.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/NodeValidationProperties.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/NodeSupplier.java
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/NodeSupplierTest.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishMetricsTest.java
Labels: bug, monitor

#10591 Use shard and realm for entity stake calculation
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/SystemEntity.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/EntityProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryCustom.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryCustomImpl.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/ContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixCryptoAllowanceAmountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/contractlog/SyntheticContractLogServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/contractresult/SyntheticContractResultServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/PersistPropertiesTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/TransactionSignatureTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/model/stakingRewardTransfer.js
  hedera-mirror-rest/service/index.js
  hedera-mirror-rest/service/systemEntity.js
  hedera-mirror-rest/transactions.js
Labels: enhancement, rest, importer

#10615 Handle optional block stream transaction output
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/BlockItemTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/AbstractBlockItemTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/AbstractTokenTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/ConsensusCreateTopicTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/ConsensusSubmitMessageTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/ContractCreateTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/CryptoCreateTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/CryptoTransferTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/EthereumTransactionTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/FileCreateTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/NodeCreateTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/ScheduleCreateTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/ScheduleSignTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/TokenAirdropTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/UtilPrngTransformer.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/transformer/ConsensusTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/transformer/ScheduleTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockItemBuilder.java
Labels: bug, importer

#10600 Fix precompile.feature acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/TokenClient.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  hedera-mirror-test/src/test/resources/features/contract/precompile.feature
Labels: enhancement, test

#10606 Fix historical.feature failing acceptance tests against modularized EVM
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  hedera-mirror-test/src/test/resources/features/contract/historical.feature
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/ContractStorageReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/ContractStorageReadableKVStateTest.java
Labels: enhancement, test, web3, modularizedEVM

#10619 Fix stack frames not initialized with modularized
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceUnitTest.java
Labels: web3, modularizedEVM

#10635 Downgrade sdk to 2.50.0
  build.gradle.kts
Labels: bug

#10625 Add metrics and logging for transaction traffic split
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/GenericControllerAdvice.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/MirrorEvmTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceOpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3, modularizedEVM

#10658 Set explicit version for testnet na
  clusters/testnet-na/common/helmrelease.yaml
  clusters/testnet-na/testnet-citus/helmrelease.yaml
Labels: deploy

#10663 Fix flaky eth call acceptance test
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
Labels: enhancement, test, modularizedEVM

#10673 Upgrade performance to 0.126.0 (rc1)
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#10674 Update jooq version to match buildsrc
  build.gradle.kts
Labels: dependencies

#10670 Fix the wrongful modularized flag flip
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
Labels: bug, web3

#10661 Add test cases for complex nft mint scenarios
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/solidity/DynamicEthCalls.sol
Labels: enhancement, web3

#10675 Replace legacy HederaEvmContractAliases
  hedera-mirror-web3/src/main/java/com/hedera/node/app/service/evm/accounts/HederaEvmContractAliases.java
Labels: enhancement, web3

#10666 Disable modularized evm in integration
  clusters/preprod/integration/helmrelease.yaml
Labels: deploy

#10654 Adapt acceptance tests and web3 to be able to force 100% traffic to mod
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, test, web3, modularizedEVM

#10684 Fix failing tests in `ContractControllerTest`
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: bug, web3

#10682 Disable the throttle checks in `ThrottleAccumulator`
  hedera-mirror-web3/src/main/java/com/hedera/node/app/throttle/ThrottleAccumulator.java
Labels: bug, web3

#10668 Fix flakiness in historical tests by trimming total supply from getTokenInfo response in historical.feature tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
Labels: enhancement, test, modularizedEVM

#10683 Enforce JSON parsing limits in rest-java and web3
  buildSrc/build.gradle.kts
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/config/JacksonConfiguration.java
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/RestSpecTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/model/RestSpecNormalized.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/model/SpecSetup.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/model/SpecTest.java
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/JacksonConfiguration.java
  hedera-mirror-web3/src/main/resources/application.yml
Labels: enhancement, security, web3, rest-java

#10689 Add `EntityCountsSingleton`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/EntityCountsSingleton.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/EntityCountsSingletonTest.java
Labels: enhancement, web3

#10680 Don't print whole account data when payer account is invalid
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/Account.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/GenericControllerAdvice.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
Labels: bug, web3

#10690 Enable modularized web3 in integration
  clusters/preprod/integration/helmrelease.yaml
Labels: deploy

#10715 Convert GraphQL API to Spring MVC
  hedera-mirror-graphql/build.gradle.kts
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/config/LoggingFilter.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/controller/AccountController.java
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/config/LoggingFilterTest.java
Labels: enhancement, graphql

#10720 Upgrade Testnet-na to 0.126.0
  clusters/testnet-na/common/helmrelease.yaml
  clusters/testnet-na/testnet-citus/helmrelease.yaml
Labels: deploy

#10721 chore: remove github-committers from codeowners
  .github/CODEOWNERS
Labels: bug, github_actions

#10687 Implement retry and caching for throttle definitions v2
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/EvmConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/SystemFileLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/FileReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/SystemFileLoaderIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/SystemFileLoaderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/FileReadableKVStateTest.java
Labels: enhancement, web3, modularizedEVM

#10725 Fix graphql chart
  charts/hedera-mirror-graphql/values.yaml
Labels: bug, ops

#10716 Support non-zero realm in importer
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/CommonConfiguration.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/SystemEntities.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/entity/EntityId.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/CommonIntegrationTest.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/CommonTestConfiguration.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/entity/EntityIdTest.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/service/NetworkServiceTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/EntityIdServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceService.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/EntityRepository.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/repository/ScheduleRepository.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/EntityIdServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/transformer/CryptoTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddAddressBookServiceEndpointsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/MissingAddressBooksMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/AbstractEntityRecordItemListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerCryptoTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/EntityRecordItemListenerFileTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/staking/EntityStakeCalculatorIntegrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/AddressBookRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/EntityStakeRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/ScheduleRepositoryTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/repository/TokenBalanceRepositoryTest.java
  hedera-mirror-rest/__tests__/application.yml
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/AccountBalanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenBalanceRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/TokenRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/EntityIdSingletonIntegrationTest.java
Labels: enhancement, importer

#10727 Enable acceptance tests in integration
  clusters/preprod/integration/helmrelease.yaml
Labels: deploy

#10726 Rosetta support non-zero realm in address book entry repository
  hedera-mirror-rosetta/app/middleware/health.go
  hedera-mirror-rosetta/app/middleware/health_test.go
  hedera-mirror-rosetta/app/persistence/address_book_entry.go
  hedera-mirror-rosetta/app/persistence/address_book_entry_test.go
  hedera-mirror-rosetta/app/persistence/domain/system_entity.go
  hedera-mirror-rosetta/app/persistence/domain/system_entity_test.go
  hedera-mirror-rosetta/main.go
Labels: enhancement, rosetta

#10718 Use configured shard and realm in acceptance tests
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/AccountFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EthereumFeature.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/TopicFeature.java
  hedera-mirror-test/src/test/resources/features/contract/equivalence.feature
  hedera-mirror-test/src/test/resources/features/topic/topic.feature
Labels: enhancement, test

#10722 Optimize modularized related properties usage
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/OpcodesController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/OpcodeTracer.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/OpcodeTracerOptions.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeServiceImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimator.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/OpcodesControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/OpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceUnitTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/OpcodeServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimatorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/OpcodeTracerUtil.java
Labels: web3, modularizedEVM

#10678 Update batch transaction design
  docs/design/batch-transactions.md
  docs/design/images/batch-transactions-blockstream.png
Labels: documentation

#10734 Improve modularized metrics and dashboard
  charts/hedera-mirror-common/dashboards/hedera-mirror-rest.json
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/model/CallServiceParameters.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/Utils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceOpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceUnitTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/UtilsTest.java
Labels: enhancement, web3

#10653 Adapt web3 k6 estimate tests to work with environment variables
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/web3/test/common.js
  hedera-mirror-test/k6/src/web3/test/contractCallApproved.js
  hedera-mirror-test/k6/src/web3/test/contractCallApprovedForAll.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateApprove.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateApproveNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateAssociateTokens.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateCreateFungibleToken.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateCreateNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateDissociateTokens.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateERCApprove.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateFreezeNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateFreezeToken.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateFungibleTokenCustomFees.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateMintNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateNftCustomFees.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateSetApprovalForAll.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateTokenDissociate.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateTransferNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateTransferToken.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateUnfreezeNft.js
  hedera-mirror-test/k6/src/web3/test/contractCallEstimateUnfreezeToken.js
  hedera-mirror-test/k6/src/web3/test/contractCallReceive.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileApprove.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileCryptoTransferToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileDissociate.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallPrecompileTransferFungibleToken.js
  hedera-mirror-test/k6/src/web3/test/modificationTests/contractCallRedirectApprove.js
Labels: enhancement, test

#10779 Update the env variables for web3 k6 tests
  clusters/mainnet-staging-na/common/helmrelease.yaml
Labels: deploy

#10717 Use shard and realm for system files in REST
  hedera-mirror-rest/__tests__/__snapshots__/entityId.test.js.snap
  hedera-mirror-rest/__tests__/controllers/networkController.test.js
  hedera-mirror-rest/__tests__/entityId.test.js
  hedera-mirror-rest/__tests__/non-zero-shard-realm.test.js
  hedera-mirror-rest/__tests__/service/entityService.test.js
  hedera-mirror-rest/__tests__/service/networkNodeService.test.js
  hedera-mirror-rest/accounts.js
  hedera-mirror-rest/balances.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/controllers/contractController.js
  hedera-mirror-rest/controllers/networkController.js
  hedera-mirror-rest/entityId.js
  hedera-mirror-rest/service/entityService.js
  hedera-mirror-rest/service/fileDataService.js
  hedera-mirror-rest/service/index.js
  hedera-mirror-rest/service/networkNodeService.js
  hedera-mirror-rest/service/systemEntity.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-rest/topicmessage.js
  hedera-mirror-rest/transactions.js
  hedera-mirror-rest/utils.js
Labels: enhancement, rest

#10776 Allow is modularized header to fully control the txn traffic flow
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/ContractControllerTest.java
Labels: enhancement, web3, modularizedEVM

#10784 Update Mainnet-NA to 0.126.0
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10783 Bump tar-fs from 3.0.6 to 3.0.8
  hedera-mirror-rest/package-lock.json
  hedera-mirror-rest/package.json
Labels: security, dependencies, javascript
