Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-05, with the labels that each got.

#11089 Increase modularized traffic to 3% on mainnet-eu
  clusters/mainnet-eu/mainnet-citus/helmrelease.yaml
Labels: deploy

#11082 Prevent batch transactions from being filtered
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
Labels: bug, parser

#11104 Adapt block streams protobuf changes in 0.62
  build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockFileBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000000.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000076.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000077.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000002301160.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000002301161.blk.gz
Labels: enhancement, importer

#11107 Disable CRD replacement in testnet-eu
  clusters/testnet-eu/common/helmrelease.yaml
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
Labels: deploy

#11073 Bootstrap full-db support and general optimizations
  docs/database/bootstrap.md
  hedera-mirror-importer/src/main/resources/db/scripts/bootstrap.sh
Labels: enhancement, database

#11124 Upgrade mapstructure to v2.2.1
  rosetta/app/config/config.go
  rosetta/go.mod
  rosetta/test/bdd-client/config.go
Labels: bug, rosetta

#11103 Remove the temporary workaround for ThrottleAccumulator
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/SystemFileLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/node/app/throttle/ThrottleAccumulator.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/SystemFileLoaderIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/SystemFileLoaderTest.java
Labels: enhancement, web3

#11138 Fix `NullPointerException` on FractionalFee getMaximumAmount()
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/TokenReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
Labels: bug, web3

#11112 Refactor BlockStreamPoller
  docs/configuration.md
  docs/design/block-node-support.md
  importer/src/main/java/org/hiero/mirror/importer/downloader/block/AbstractBlockStreamSource.java
  importer/src/main/java/org/hiero/mirror/importer/downloader/block/BlockFileSource.java
  importer/src/main/java/org/hiero/mirror/importer/downloader/block/BlockStreamProperties.java
  importer/src/main/java/org/hiero/mirror/importer/downloader/block/BlockStreamSource.java
  importer/src/main/java/org/hiero/mirror/importer/downloader/block/CompositeBlockStreamSource.java
  importer/src/main/java/org/hiero/mirror/importer/exception/BlockStreamException.java
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockFileReader.java
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockStream.java
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockStreamReader.java
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderImpl.java
  importer/src/test/java/org/hiero/mirror/importer/TestUtils.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/BlockFileSourceTest.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/CompositeBlockStreamSourceTest.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  importer/src/test/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderTest.java
Labels: enhancement, importer

#11122 Fix acceptance tests that were failing with INSUFFICIENT_GAS
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/config/FeatureProperties.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EthereumFeature.java
  test/src/test/resources/features/contract/ethereum.feature
Labels: enhancement, test

#11141 Fix `NullPointerException` on `FractionalFee.getMaximumAmount()` (0.129)
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/TokenReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
Labels: bug, web3

#11088 Add validation for smart contract sender accounts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/AliasedAccountCacheManager.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AbstractAliasedAccountReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AliasesReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/AliasesReadableKVStateTest.java
Labels: bug, web3

#11134 Set an implicit ContractID key on contracts with no key
  .github/ISSUE_TEMPLATE/config.yml
  importer/src/main/java/org/hiero/mirror/importer/migration/ContractNullKeyMigration.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandler.java
  importer/src/test/java/org/hiero/mirror/importer/migration/ContractNullKeyMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/transactionhandler/ContractCreateTransactionHandlerTest.java
Labels: enhancement, importer

#11143 Add support for HIP-1046 gRPC proxy endpoints
  common/src/main/java/com/hedera/mirror/common/domain/node/AbstractNode.java
  common/src/main/java/com/hedera/mirror/common/domain/node/Node.java
  common/src/main/java/com/hedera/mirror/common/domain/node/NodeHistory.java
  common/src/main/java/com/hedera/mirror/common/domain/node/ServiceEndpoint.java
  common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  importer/src/main/java/org/hiero/mirror/importer/migration/FixNodeTransactionsMigration.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/entity/CompositeEntityListener.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/entity/EntityListener.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/entity/sql/SqlEntityListener.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/transactionhandler/AbstractNodeTransactionHandler.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/transactionhandler/NodeCreateTransactionHandler.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/transactionhandler/NodeDeleteTransactionHandler.java
  importer/src/main/java/org/hiero/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandler.java
  importer/src/main/java/org/hiero/mirror/importer/repository/NodeHistoryRepository.java
  importer/src/main/java/org/hiero/mirror/importer/repository/NodeRepository.java
  importer/src/main/resources/db/migration/v1/V1.107.1__grpc_proxy_endpoint.sql
  importer/src/main/resources/db/migration/v2/V2.12.1__grpc_proxy_endpoint.sql
  importer/src/test/java/org/hiero/mirror/importer/ImporterIntegrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/migration/FixNodeTransactionsMigrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/batch/BatchUpserterTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/domain/RecordItemBuilder.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/entity/EntityRecordItemListenerNodeTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/transactionhandler/NodeCreateTransactionHandlerTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/transactionhandler/NodeDeleteTransactionHandlerTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandlerTest.java
  importer/src/test/java/org/hiero/mirror/importer/repository/NodeHistoryRepositoryTest.java
  rest/__tests__/integrationDomainOps.js
  rest/__tests__/service/networkNodeService.test.js
  rest/__tests__/specs/network/nodes/all-params.json
  rest/__tests__/specs/network/nodes/file-101-args.json
  rest/__tests__/specs/network/nodes/max-limit.json
  rest/__tests__/specs/network/nodes/no-params.json
  rest/__tests__/specs/network/nodes/node-range.json
  rest/__tests__/viewmodel/networkNodeViewModel.test.js
  rest/api/v1/openapi.yml
  rest/model/index.js
  rest/model/node.js
  rest/model/serviceEndpoint.js
  rest/service/networkNodeService.js
  rest/viewmodel/networkNodeViewModel.js
Labels: enhancement, rest, importer

#11155 Cache null values on findStorage calls
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractStateRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/properties/CacheProperties.java
Labels: enhancement, web3

#11160 Enforce a request timeout in web3 (0.129)
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/Web3Properties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/MetricsFilter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/ContractController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/GenericControllerAdvice.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/OpcodeServiceImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/utils/Constants.java
  hedera-mirror-web3/src/main/resources/application.yml
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/controller/OpcodesControllerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/resources/config/application.yml
Labels: bug, web3

#11161 Cache null values on findStorage calls (0.129)
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/ContractStateRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/properties/CacheProperties.java
Labels: enhancement, performance, web3

#11163 Fix new issue config
  .github/ISSUE_TEMPLATE/config.yml
Labels: bug

#11162 Rename web3 properties and metrics to hiero
  .github/workflows/gradle.yml
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  charts/hedera-mirror-common/alerts/rules.yaml
  charts/hedera-mirror-common/dashboards/hedera-mirror-web3.json
  charts/hedera-mirror-web3/Chart.yaml
  charts/hedera-mirror-web3/values.yaml
  charts/hedera-mirror/ci/v1-values.yaml
  charts/hedera-mirror/ci/v2-values.yaml
  charts/hedera-mirror/templates/configmap-init.yaml
  charts/hedera-mirror/templates/secret-passwords.yaml
  common/src/main/resources/META-INF/spring.factories
  common/src/test/resources/META-INF/spring.factories
  docker-compose.yml
  docs/configuration.md
  docs/runbook/scripts/utils.sh
  graphql/src/main/resources/META-INF/spring.factories
  grpc/src/main/resources/META-INF/spring.factories
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/Web3Properties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/MetricsFilter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/OpcodesController.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/TraceProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/properties/CacheProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/throttle/ThrottleProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/utils/BytecodeUtils.java
  hedera-mirror-web3/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/banner.txt
  hedera-mirror-web3/src/test/resources/config/application.yml
  importer/src/main/resources/META-INF/spring.factories
  monitor/src/main/resources/META-INF/spring.factories
  rest-java/src/main/resources/META-INF/spring.factories
Labels: enhancement, technical debt, web3

#11170 Fix migrated environment variable to config property mapping
  common/src/main/java/org/hiero/mirror/common/config/HieroPropertiesMigrator.java
Labels: bug

#11172 Upgrade staging and perf to v0.130.0-rc1
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#11175 Deploy v0.129.1 to mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11174 Fixing failing topic acceptance test
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/AccountClient.java
Labels: bug, test

#11151 Fix Rest API response cache handler
  docs/configuration.md
  rest/__tests__/integration/responseCacheHandler.test.js
  rest/__tests__/middleware/responseCacheHandler.test.js
  rest/__tests__/model/cachedApiResponse.test.js
  rest/cache.js
  rest/config/application.yml
  rest/controllers/networkController.js
  rest/middleware/index.js
  rest/middleware/responseCacheHandler.js
  rest/model/cachedApiResponse.js
  rest/package-lock.json
  rest/package.json
  rest/server.js
Labels: bug, rest

#11177 Fix flaky rest tests
  rest/__tests__/globalSetup.js
  rest/__tests__/integrationDbOps.js
  rest/jest.config.js
Labels: bug, rest

#11164 Add setup to run rest specs against rest java
  rest/__tests__/integration/template.js
  rest/__tests__/integrationContainerOps.js
  rest/__tests__/integrationUtils.js
  rest/__tests__/service/tokenService.test.js
  rest/build.gradle.kts
Labels: test, rest-java

#11180 Update tests to remove disabled annotations
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
Labels: test, web3

#11185 Fix npe in node transaction migration (0.129)
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigrationTest.java
Labels: bug, parser

#11188 Fix stateproof API metrics
  rest/middleware/metricsHandler.js
  rest/monitoring/config/default.serverlist.json
Labels: bug, regression, rest

#11186 Upgrade integration-docker to latest
  clusters/preprod/integration-docker/helmrelease.yaml
Labels: deploy

#11062 Add airdrop to contract system contract tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAirdropSystemContractTest.java
Labels: enhancement, web3, modularizedEVM

#11190 Fix stateproof API metrics (0.130)
  rest/middleware/metricsHandler.js
  rest/monitoring/config/default.serverlist.json
Labels: bug, regression, rest

#11101 Add web3 integration tests for get schedule info
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallGetScheduleInfoTest.java
  hedera-mirror-web3/src/test/solidity/GetScheduleInfo.sol
Labels: enhancement, test, web3, modularizedEVM

#11192 Add a request timeout interceptor to contract call
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/Web3Properties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/HibernateConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/GenericControllerAdvice.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/resources/application.yml
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
  hedera-mirror-web3/src/test/resources/config/application.yml
Labels: bug, regression, web3

#11216 Add a request timeout interceptor to contract call (0.130)
  docs/configuration.md
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/Web3Properties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/HibernateConfiguration.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/config/LoggingFilter.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/controller/GenericControllerAdvice.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractDebugService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/resources/application.yml
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/config/LoggingFilterTest.java
  hedera-mirror-web3/src/test/resources/config/application.yml
Labels: bug, regression, web3

#11189 Optimize rest API resource management
  charts/hedera-mirror-rest/values.yaml
  rest/Dockerfile
  rest/__tests__/stateproof.test.js
  rest/s3client.js
  rest/stateproof.js
  tools/traffic-replay/README.md
Labels: bug, rest

#11221 Optimize rest API resource management (0.130)
  charts/hedera-mirror-rest/values.yaml
  rest/Dockerfile
  rest/__tests__/stateproof.test.js
  rest/s3client.js
  rest/stateproof.js
  tools/traffic-replay/README.md
Labels: bug, rest

#11228 Bump xml2js from 0.4.23 to 0.5.0
  rest/package-lock.json
  rest/package.json
Labels: dependencies, javascript

#11024 Split downloaded files by date into different folders
  docs/configuration.md
  graphql/Dockerfile
  importer/Dockerfile
  importer/src/main/java/org/hiero/mirror/importer/ImporterProperties.java
  importer/src/main/java/org/hiero/mirror/importer/downloader/Downloader.java
  importer/src/main/java/org/hiero/mirror/importer/downloader/record/RecordFileDownloader.java
  importer/src/main/java/org/hiero/mirror/importer/util/Utility.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/record/ProtoRecordFileDownloaderTest.java
  monitor/Dockerfile
  rest-java/Dockerfile
  rosetta/Dockerfile
  web3/Dockerfile
Labels: enhancement, importer

#11220 Fix flaky rest tests
  rest/__tests__/globalSetup.js
  rest/__tests__/globalTeardown.js
  rest/__tests__/integrationContainerOps.js
  rest/__tests__/integrationUtils.js
Labels: bug, rest

#11230 Increase testnet-na web3 mod traffic to 100%
  clusters/testnet-na/testnet-citus/helmrelease.yaml
Labels: deploy

#11233 Increase modularized percent to 100% in previewnet
  clusters/previewnet/previewnet-citus/helmrelease.yaml
Labels: deploy

#11234 Fix unexpected changelog.md
  .github/release-notes.yml
  .github/workflows/release-automation.yml
  .gitignore
Labels: bug, github_actions

#11235 Bump Gradle from 8.11.1 to 8.14
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies, build

#11226 Improving state key registry
  web3/src/main/java/org/hiero/mirror/web3/state/MirrorNodeState.java
  web3/src/main/java/org/hiero/mirror/web3/state/components/SchemaRegistryImpl.java
  web3/src/main/java/org/hiero/mirror/web3/state/components/ServicesRegistryImpl.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/StateKeyRegistry.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/StateRegistry.java
  web3/src/main/java/org/hiero/mirror/web3/state/singleton/DefaultSingleton.java
  web3/src/test/java/org/hiero/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/MirrorNodeStateTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/components/SchemaRegistryImplIntegrationTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/components/SchemaRegistryImplTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/components/ServicesRegistryImplTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/keyvalue/StateRegistryTest.java
  web3/src/test/java/org/hiero/mirror/web3/utils/TestSchemaBuilder.java
Labels: enhancement, web3

#11237 Ensure treasury entity exists for balance generation
  importer/src/main/java/org/hiero/mirror/importer/parser/record/historicalbalance/HistoricalBalanceService.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceIntegrationTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/record/historicalbalance/HistoricalBalanceServiceTest.java
  rest/__tests__/specs/accounts/no-params.json
  rest/__tests__/specs/accounts/specific-id.json
  rest/__tests__/specs/accounts/{id}/not-found.json
  rest/accounts.js
Labels: enhancement, good first issue, database

#11225 Add caching in EntityIdSingleton
  docs/configuration.md
  web3/src/main/java/org/hiero/mirror/web3/common/ContractCallContext.java
  web3/src/main/java/org/hiero/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  web3/src/main/java/org/hiero/mirror/web3/state/singleton/EntityIdSingleton.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallServiceDeployerTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/singleton/EntityIdSingletonIntegrationTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/singleton/EntityIdSingletonTest.java
  web3/src/test/solidity/TestContract.sol
  web3/src/test/solidity/TestContractDeployer.sol
Labels: bug, web3, modularizedEVM

#11242 Add tests for HIP-719 - Associate, Dissociate and isAssociated
  web3/src/test/java/org/hiero/mirror/web3/service/AbstractContractCallServiceTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallAirdropSystemContractTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  web3/src/test/solidity/ModificationPrecompileTestContract.sol
Labels: enhancement, web3

#11239 Add docs for modularized breaking changes
  docs/web3/README.md
  docs/web3/modularized.md
Labels: documentation, web3

#11278 Fix web3 throttle
  web3/src/main/java/org/hiero/mirror/web3/throttle/ThrottleManagerImpl.java
  web3/src/test/java/org/hiero/mirror/web3/throttle/ThrottleManagerImplTest.java
Labels: bug, regression, web3

#11283 Prepare staging for 0.131
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11288 Update remote write config for testnet na
  clusters/testnet-na/common/helmrelease.yaml
Labels: deploy
