Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-09, with the labels that each got.

#11877 Add network stake k6 test case to rest-java
  tools/k6/src/rest-java/test/index.js
  tools/k6/src/rest-java/test/networkStake.js
Labels: enhancement, performance, test

#11879 Support converted rest-java APIs in acceptance tests
  .github/workflows/acceptance.yaml
  docs/checklist/rest-conversion.md
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/MirrorNodeClient.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/client/StartupProbe.java
Labels: enhancement, test

#11916 Deploy v0.137.1 to mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11926 Read trace data block items for block root hash calculation
  build.gradle.kts
  importer/src/main/java/org/hiero/mirror/importer/config/ImporterConfiguration.java
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderImpl.java
  importer/src/main/resources/application.yml
  importer/src/test/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderTest.java
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000057.blk.gz
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000058.blk.gz
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000142.blk.gz
  importer/src/test/resources/data/blockstreams/000000000000000000000000000000000143.blk.gz
Labels: enhancement, importer

#11933 Deploy v0.138.0-rc1 to mainnet-staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#11919 Add script to copy citus cluster from live environment
  docs/runbook/copy-live-environment.md
  docs/runbook/scripts/change-machine-type.sh
  docs/runbook/scripts/copy-live-environment.sh
  docs/runbook/scripts/input-utils.sh
  docs/runbook/scripts/reduce-citus-disk-size.sh
  docs/runbook/scripts/restore-stackgres-backup.sh
  docs/runbook/scripts/restore-volume-snapshot.sh
  docs/runbook/scripts/snapshot-utils.sh
  docs/runbook/scripts/upgrade-k8s-version-citus.sh
  docs/runbook/scripts/utils.sh
  docs/runbook/scripts/volume-snapshot.sh
Labels: enhancement, ops

#11992 Deploy v0.138.0 to mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#12001 Bump hedera-app to 0.65.1
  .github/workflows/releases-comparator.yml
  build.gradle.kts
  web3/src/main/java/com/hedera/hapi/node/state/token/Account.java
  web3/src/main/java/com/hedera/node/app/service/contract/impl/exec/processors/CustomMessageCallProcessor.java
  web3/src/main/java/com/hedera/node/app/service/contract/impl/state/DispatchingEvmFrameState.java
  web3/src/main/java/com/hedera/node/app/service/contract/impl/state/RootProxyWorldUpdater.java
  web3/src/main/java/com/hedera/node/app/service/contract/impl/utils/ConversionUtils.java
  web3/src/main/java/com/swirlds/state/spi/ReadableKVStateBase.java
  web3/src/main/java/com/swirlds/state/spi/WritableKVStateBase.java
  web3/src/main/java/org/hiero/mirror/web3/evm/contracts/execution/traceability/OpcodeActionTracer.java
  web3/src/main/java/org/hiero/mirror/web3/state/MirrorNodeState.java
  web3/src/main/java/org/hiero/mirror/web3/state/components/SchemaRegistryImpl.java
  web3/src/main/java/org/hiero/mirror/web3/state/components/ServiceMigratorImpl.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/FunctionReadableSingletonState.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/FunctionWritableSingletonState.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/ListReadableQueueState.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/ListWritableQueueState.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/MapReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/core/MapWritableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/AbstractAliasedAccountReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/AbstractReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/AirdropsReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/ContractBytecodeReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/ContractStorageReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/FileReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/NftReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/ScheduleReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/StateRegistry.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/TokenReadableKVState.java
  web3/src/main/java/org/hiero/mirror/web3/state/keyvalue/TokenRelationshipReadableKVState.java
  web3/src/test/java/com/hedera/hapi/node/state/token/AccountTest.java
  web3/src/test/java/com/swirlds/state/spi/ReadableKVStateBaseTest.java
  web3/src/test/java/com/swirlds/state/spi/WritableKVStateBaseTest.java
  web3/src/test/java/org/hiero/mirror/web3/evm/contracts/execution/traceability/OpcodeActionTracerTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/OpcodeServiceTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/MirrorNodeStateTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/components/SchemaRegistryImplTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/components/ServiceMigratorImplTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/core/ListReadableQueueStateTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/core/ListWritableQueueStateTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/core/MapReadableKVStateTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/core/MapWritableKVStateTest.java
  web3/src/test/java/org/hiero/mirror/web3/state/keyvalue/StateRegistryTest.java
  web3/src/test/solidity/StorageContract.sol
Labels: dependencies, web3

#12004 Bump Spring Framework from 6.2.10 to 6.2.11
  build.gradle.kts
Labels: security, dependencies, java

#12007 Bump OpenEBS to 4.3.3 (0.139)
  charts/hedera-mirror-common/Chart.yaml
Labels: dependencies, chart

#12008 Bump up chart version in acceptance workflow
  .github/workflows/acceptance.yaml
Labels: test

#12010 Deploy v0.139.0-rc2 to staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#12016 update web3 hpa for staging
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#12014 Bump Spring Boot from 3.5.5 to 3.5.6
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: dependencies, java

#12015 Revert Bitnami PostgreSQL image bump
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/release.sh
Labels: bug, chart

#12017 Revert Bitnami PostgreSQL image bump (0.139)
  charts/hedera-mirror/values.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/release.sh
Labels: bug, chart

#11966 Adapt importer to handle changes introduced in HIP-1249
  docs/configuration.md
  importer/src/main/java/org/hiero/mirror/importer/ImporterProperties.java
  importer/src/main/java/org/hiero/mirror/importer/converter/HapiVersionConverter.java
  importer/src/main/java/org/hiero/mirror/importer/domain/ContractResultServiceImpl.java
  importer/src/main/resources/application.yml
  importer/src/test/java/org/hiero/mirror/importer/converter/HapiVersionConverterTest.java
  importer/src/test/java/org/hiero/mirror/importer/converter/VersionConverter.java
  importer/src/test/java/org/hiero/mirror/importer/domain/ContractResultServiceImplTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/domain/RecordItemBuilder.java
Labels: enhancement, importer

#11784 Add design document to support Hiero hooks for mirror node
  docs/design/hiero-hooks.md
Labels: documentation, design

#12060 Fix EntityMetadataRegistry duplicate key error with multiple schemas
  importer/src/main/java/org/hiero/mirror/importer/repository/upsert/EntityMetadataRegistry.java
Labels: bug, importer

#12087 Add ETag header to REST Java API response
  rest-java/src/main/java/org/hiero/mirror/restjava/config/RestJavaConfiguration.java
  rest-java/src/test/java/org/hiero/mirror/restjava/controller/ControllerTest.java
Labels: enhancement, rest-java

#12059 Fix "Unhandled failure for input" error
  web3/src/main/java/org/hiero/mirror/web3/service/TransactionExecutionService.java
  web3/src/main/java/org/hiero/mirror/web3/state/Utils.java
  web3/src/test/java/org/hiero/mirror/web3/service/AbstractContractCallServiceTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
  web3/src/test/java/org/hiero/mirror/web3/service/ContractCallServiceTest.java
Labels: bug, web3

#12019 Enhance read only estimate feature tests to make ContractCallLocal fo…
  .github/workflows/acceptance.yaml
  test/README.md
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/config/FeatureProperties.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/AbstractEstimateFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/AbstractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/CallFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/ERCContractFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EquivalenceFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EstimateFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/HistoricalFeature.java
  test/src/test/java/org/hiero/mirror/test/e2e/acceptance/steps/PrecompileContractFeature.java
  test/src/test/resources/features/contract/estimatePrecompile.feature
Labels: enhancement, test, web3

#12057 HIP-1056 Reconstruct ContractStateChange sidecar
  common/src/main/java/org/hiero/mirror/common/domain/transaction/BlockTransaction.java
  common/src/main/java/org/hiero/mirror/common/domain/transaction/StateChangeContext.java
  common/src/main/java/org/hiero/mirror/common/util/DomainUtils.java
  common/src/test/java/org/hiero/mirror/common/domain/transaction/BlockTransactionTest.java
  common/src/test/java/org/hiero/mirror/common/domain/transaction/StateChangeContextTest.java
  common/src/test/java/org/hiero/mirror/common/domain/transaction/StateChangeTestUtils.java
  common/src/test/java/org/hiero/mirror/common/util/DomainUtilsTest.java
  importer/src/main/java/org/hiero/mirror/importer/downloader/block/transformer/AbstractBlockTransactionTransformer.java
  importer/src/main/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderImpl.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/transformer/AbstractTransformerTest.java
  importer/src/test/java/org/hiero/mirror/importer/downloader/block/transformer/ContractTransformerTest.java
  importer/src/test/java/org/hiero/mirror/importer/parser/domain/BlockTransactionBuilder.java
  importer/src/test/java/org/hiero/mirror/importer/reader/block/BlockStreamReaderTest.java
Labels: enhancement, importer
