Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-01, with the labels that each got.

#10032 Add sonar exclusion and fix sonar issues
  build.gradle.kts
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmTxProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/store/UpdatableReferenceCacheTest.java
Labels: enhancement, technical debt

#10028 Return long term scheduled transaction in get transactions by id REST API
  docs/configuration.md
  hedera-mirror-rest/__tests__/__snapshots__/config.test.js.snap
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-long-term.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-no-filter.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-true.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/config.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/transactions.js
Labels: bug, rest

#10033 Return long term scheduled transaction in get transactions by id REST API (0.120)
  docs/configuration.md
  hedera-mirror-rest/__tests__/__snapshots__/config.test.js.snap
  hedera-mirror-rest/__tests__/config.test.js
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-long-term.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-no-filter.json
  hedera-mirror-rest/__tests__/specs/transactions/{id}/scheduled-true.json
  hedera-mirror-rest/__tests__/transactions.test.js
  hedera-mirror-rest/config.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/transactions.js
Labels: bug, rest

#10034 Bump golang.org/x/net from v0.26.0 to v0.33.0
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
Labels: security, dependencies, go

#9972 Add a CLI reporting tool
  .github/dependabot.yml
  .gitignore
  docs/graphql/README.md
  hedera-mirror-monitor/src/main/java/com/hedera/mirror/monitor/publish/PublishMetrics.java
  hedera-mirror-monitor/src/test/java/com/hedera/mirror/monitor/publish/PublishMetricsTest.java
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/application.yml
  tools/mirror-report/README.md
  tools/mirror-report/index.js
  tools/mirror-report/package-lock.json
  tools/mirror-report/package.json
  tools/mirror-report/src/client.js
  tools/mirror-report/src/logger.js
  tools/mirror-report/src/report.js
  tools/mirror-report/src/reportfile.js
  tools/mirror-report/src/utils.js
  tools/mirror-report/test/report.test.js
  tools/mirror-report/test/reportfile.test.js
  tools/mirror-report/test/utils.test.js
Labels: enhancement, javascript

#9997 Bump shadow jar plugin from 8.1.1 to 8.3.5
  buildSrc/build.gradle.kts
  hedera-mirror-test/build.gradle.kts
Labels: dependencies, java

#9998 Prepare runbook scripts for backup being enabled
  docs/runbook/scripts/reduce-citus-disk-size.sh
  docs/runbook/scripts/restore-stackgres-backup.sh
  docs/runbook/scripts/restore-volume-snapshot.sh
  docs/runbook/scripts/utils.sh
Labels: enhancement, database

#10043 Suppress ConfigUtils warning on Kubernetes startup
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-grpc/src/main/resources/application.yml
  hedera-mirror-importer/src/main/resources/application.yml
  hedera-mirror-monitor/src/main/resources/application.yml
  hedera-mirror-rest-java/src/main/resources/application.yml
  hedera-mirror-web3/src/main/resources/application.yml
Labels: bug

#10045 Move traffic-replay to tools folder
  .github/dependabot.yml
  build.gradle.kts
  tools/traffic-replay/README.md
  tools/traffic-replay/log-downloader/converter.js
  tools/traffic-replay/log-downloader/downloader.js
  tools/traffic-replay/log-downloader/index.js
  tools/traffic-replay/log-downloader/package-lock.json
  tools/traffic-replay/log-downloader/package.json
Labels: enhancement

#10051 Generate valid secp256k1 key during key creation
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
Labels: bug

#10057 Upgrade mainnet-na to 0.120.1
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10065 Deploy v0.121.0-rc1 to mainnet-staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10066 Disable schedule acceptance tests in mainnet-staging
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10062 Fail script on background process failure
  docs/runbook/scripts/restore-volume-snapshot.sh
  docs/runbook/scripts/utils.sh
  docs/runbook/scripts/volume-snapshot.sh
Labels: enhancement

#10070 Fix `MAX_GAS_LIMIT_EXCEEDED` test failures in modularized web3
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/MirrorEvmTransactionException.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesIntegrationTest.java
  hedera-mirror-web3/src/test/resources/config/application.yml
Labels: bug, web3

#10064 Add github actions step for executing web3 tests using transaction executor
  .github/workflows/gradle.yml
Labels: enhancement, web3

#10068 Fix ContractCallServiceERCTokenReadOnlyFunctionsTest for modularized
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
Labels: enhancement, web3

#10093 Run estimate gas lazily in web3 tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/web3j/TestWeb3jService.java
Labels: enhancement, test, web3

#10117 Fix consensus time and transaction valid start time
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
Labels: enhancement, web3

#10063 Fix `RevertTest` tests
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceOpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/RevertTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
Labels: enhancement, web3

#10124 Fix some `INSUFFICIENT_PAYER_BALANCE` errors
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenHistoricalTest.java
Labels: enhancement, web3

#10128 chore: Update devops-ci team name to platform-ci
  .github/CODEOWNERS
Labels: Audit

#10129 Enable admin_key in testnet-na
  clusters/testnet-na/testnet-citus/helmrelease.yaml
Labels: deploy

#10130 Enable admin_key in testnet-eu
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
Labels: deploy

#10094 Bump hiero-sdk-go v2.53.0
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-rosetta/app/config/config_test.go
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/app/domain/types/account_id.go
  hedera-mirror-rosetta/app/domain/types/account_id_test.go
  hedera-mirror-rosetta/app/domain/types/constants.go
  hedera-mirror-rosetta/app/domain/types/public_key.go
  hedera-mirror-rosetta/app/domain/types/public_key_test.go
  hedera-mirror-rosetta/app/interfaces/transaction.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/services/construction/common.go
  hedera-mirror-rosetta/app/services/construction/common_test.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/types.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/test/bdd-client/README.md
  hedera-mirror-rosetta/test/bdd-client/client/client.go
  hedera-mirror-rosetta/test/bdd-client/client/config.go
  hedera-mirror-rosetta/test/bdd-client/config.go
  hedera-mirror-rosetta/test/bdd-client/scenario/base.go
  hedera-mirror-rosetta/test/bdd-client/scenario/common.go
  hedera-mirror-rosetta/test/bdd-client/scenario/crypto.go
  hedera-mirror-rosetta/test/domain/utils.go
  hedera-mirror-rosetta/test/mocks/transaction_constructor.go
  hedera-mirror-rosetta/test/mocks/transaction_constructor_with_type.go
Labels: dependencies, rosetta

#10131 Revert "Add feature flag for the admin_key in the get network nodes response"
  hedera-mirror-rest/__tests__/application.yml
  hedera-mirror-rest/__tests__/specs/network/nodes/include-admin-key-feature-flag-false.json
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/viewmodel/networkNodeViewModel.js
Labels: enhancement, rest

#10116 Fix failing tests in ContractCallServicePrecompileModificationTest
  hedera-mirror-web3/src/main/java/com/hedera/hapi/node/state/token/Account.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/resources/config/application.yml
Labels: enhancement, test, web3

#10134 Fix NodeUpdateTransaction always updating node zero
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/entity/sql/SqlEntityListenerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeDeleteTransactionHandlerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandlerTest.java
Labels: bug, parser

#10138 Revert "Add feature flag for the admin_key in the get network nodes"
  hedera-mirror-rest/__tests__/application.yml
  hedera-mirror-rest/__tests__/specs/network/nodes/include-admin-key-feature-flag-false.json
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/viewmodel/networkNodeViewModel.js
Labels: enhancement, rest

#10141 Upgrade mainnet-staging to v0.121.2
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10140 Upgrade testnet-eu to v0.121.2
  clusters/testnet-eu/common/helmrelease.yaml
  clusters/testnet-eu/testnet-citus/helmrelease.yaml
Labels: deploy

#10142 Upgrade mainnet-na to v0.121.2
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10072 HIP-1056 Block File Reader
  docs/design/block-streams.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockItem.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/BlockFileTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFilename.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/BlockFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/BlockRootHashDigest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/StreamFilenameTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/BlockRootHashDigestTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000007858853.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000007858854.blk.gz
Labels: enhancement, importer

#10120 Support bootstrap of minimal database snapshot
  docs/database/bootstrap.md
  hedera-mirror-importer/src/main/resources/db/scripts/bootstrap.sh
Labels: enhancement, database

#10091 HIP-1056 Block stream verifier
  docs/design/block-streams.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/StreamFileTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockFileTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockStreamVerifier.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockStreamVerifierTest.java
Labels: enhancement, importer

#10148 Support block hash operation in modularized web3
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/exception/MirrorEvmTransactionException.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/repository/RecordFileRepository.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutorFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/ServicesRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/BlockInfoSingleton.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/DefaultSingleton.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/RunningHashesSingleton.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/SingletonState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/common/ContractCallContextTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/repository/RecordFileRepositoryTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallAddressThisTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/ServicesRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/BlockInfoSingletonTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/RunningHashesSingletonTest.java
Labels: enhancement, web3

#10152 Fix hbar and token transfer tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
Labels: enhancement, web3, modularizedEVM

#10159 Reduce pgbouncer server lifetime to reduce memory footprint
  charts/hedera-mirror/values.yaml
Labels: bug, database, citus

#10171 Update deprecated parameter in gradle.properties
  gradle.properties
Labels: enhancement, technical debt

#10190 Fix `ContractCallNativePrecompileTest`
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/pricing/RatesAndFeesLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/SystemFileLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AbstractReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AirdropsReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AliasesReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/ContractBytecodeReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/ContractStorageReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/FileReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/NftReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/TokenReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/TokenRelationshipReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/TransactionExecutionServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/MirrorNodeStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/SystemFileLoaderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapWritableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/AccountReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/AirdropsReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/AliasesReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/ContractBytecodeReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/ContractStorageReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/FileReadableKVStateIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/FileReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/NftReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/TokenReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/TokenRelationshipReadableKVStateTest.java
Labels: enhancement, web3

#10153 Add datasource to rest for primary sql instance
  charts/hedera-mirror/templates/secret-passwords.yaml
  docs/configuration.md
  hedera-mirror-rest/__tests__/integrationDbOps.js
  hedera-mirror-rest/config/application.yml
  hedera-mirror-rest/dbpool.js
  hedera-mirror-rest/server.js
  hedera-mirror-rest/service/baseService.js
  hedera-mirror-rest/service/recordFileService.js
Labels: bug, rest

#10194 Fix tests in ContractCallServiceTest suite
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3, modularizedEVM

#10157 Add pathPrefix to support subpaths in storage buckets.
  docs/configuration.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/CommonDownloaderProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AutoS3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/NodeIdS3StreamProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProviderTest.java
Labels: enhancement, downloader

#10147 HIP-1056 Add block file transformer
  docs/design/block-streams.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/util/DomainUtils.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockFileTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/AbstractBlockItemTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/BlockItemTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/BlockItemTransformerFactory.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/CryptoTransferTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/UnknownTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/BlockRootHashDigest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/AbstractPreV5RecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/ProtoRecordFileReader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/record/RecordFileReaderImplV5.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockFileTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddBlockColumnsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReaderTest.java
Labels: enhancement, importer

#10193 Fix transferNft and transferFromNft tests in ContractCallServicePrecompileModificationTest
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceOpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
Labels: enhancement, web3, modularizedEVM

#10199 Fix `transfer*` tests in `ContractCallServiceERCTokenModificationFunctionsTest`
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
Labels: enhancement, web3

#10203 Fix flaky importer tests
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/openapi-conventions.gradle.kts
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/RedisTestConfiguration.java
  hedera-mirror-graphql/build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/ConfigurableJavaMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AsyncJavaMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillAndDeduplicateBalanceMigrationTest.java
  hedera-mirror-importer/src/test/resources/config/application.yml
  hedera-mirror-web3/build.gradle.kts
Labels: bug, build

#10206 Deploy v0.122.0-rc1 to mainnet-staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10207 Deploy v0.122.0-rc1 to performance
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#10212 Fix add block columns migration
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.102.0.1__add_block_columns.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.7.0.1__add_block_columns.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddBlockColumnsMigrationTest.java
Labels: bug, database

#10213 Fix add block columns migration (0.122)
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.102.0.1__add_block_columns.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.7.0.1__add_block_columns.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddBlockColumnsMigrationTest.java
Labels: bug, database

#10214 Deploy v0.122.0-rc2 to staging
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10210 Fix contract call ERC modification approve tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
  hedera-mirror-web3/src/test/solidity/ERCTestContract.sol
Labels: enhancement, web3

#10209 Enhancing if statement to disable retry for web3 & modularized services
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
Labels: enhancement, web3, github_actions

#10218 Remove file upload on contract create and use `maxSignedTxnSize` property
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/FileReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/FileReadableKVStateTest.java
Labels: enhancement, web3

#10216 Fix `ContractCallEvmCodesTest`
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/config/ModularizedOperation.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/operations/MirrorBlockHashOperation.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmProperties.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutorFactory.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/SystemFileLoader.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/BlockInfoSingleton.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/singleton/RunningHashesSingleton.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/operations/MirrorBlockHashOperationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/properties/MirrorNodeEvmPropertiesIntegrationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNativePrecompileTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/SystemFileLoaderTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/BlockInfoSingletonTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/singleton/RunningHashesSingletonTest.java
  hedera-mirror-web3/src/test/resources/config/application.yml
Labels: enhancement, web3

#10220 Fix rest java specs failing when they're changed
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/config/SpecTestConfig.java
Labels: bug, test, rest-java

#10170 Remove automatic publishing of builds data
  settings.gradle.kts
Labels: enhancement, build

#10217 Modularized fix ContractCallNestedCallsTest
  hedera-mirror-web3/src/main/java/com/hedera/services/store/tokens/HederaTokenStore.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
Labels: enhancement, web3, modularizedEVM

#10219 Fix multiple tests within ContractCallServicePrecompileModificationTest
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/NftReadableKVState.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
Labels: enhancement, web3

#10252 Fix broken tests and document methods
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceOpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
Labels: enhancement, web3

#10253 Fix `INSUFFICIENT_GAS` issue in ContractCallServiceTests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3, modularizedEVM

#10247 Fix OpcodeServiceTest for modularized
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/OpcodeServiceTest.java
Labels: enhancement, web3, modularizedEVM

#10215 HIP-1056: Update topic message running hash version to be nullable
  docs/design/block-streams.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/topic/TopicMessage.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/topic/TopicMessageTest.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/controller/ConsensusController.java
  hedera-mirror-grpc/src/test/java/com/hedera/mirror/grpc/controller/ConsensusControllerTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusSubmitMessageTransactionHandler.java
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.103.0__update_topic_message.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.8.0__update_topic_message.sql
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusSubmitMessageTransactionHandlerTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/spec/RestSpecTest.java
  hedera-mirror-rest/__tests__/specs/topics/{id}/messages/all-params.json
  hedera-mirror-rest/__tests__/viewmodel/topicMessageViewModel.test.js
  hedera-mirror-rest/viewmodel/topicMessageViewModel.js
Labels: enhancement, rest, parser, database, grpc

#10258 Handle exception throwing in binary gas estimator when performing estimate gas
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/utils/BinaryGasEstimator.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3, modularizedEVM
