Repository hiero-ledger/hiero-mirror-node, pull requests merged in 2025-02, with the labels that each got.

#10283 Deploy v0.122.0 to mainnet-na
  clusters/mainnet-na/common/helmrelease.yaml
  clusters/mainnet-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10287 Set prometheus pod priority class to high
  charts/hedera-mirror-common/values.yaml
Labels: bug

#10296 Bump s3proxy to v2.6.0
  build.gradle.kts
Labels: security, dependencies

#10260 Fix node data migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/AbstractNodeTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeCreateTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeDeleteTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/NodeUpdateTransactionHandler.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigrationTest.java
Labels: bug, database

#10298 Bump hedera-protobuf-java-api to 0.59.0
  build.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  hedera-mirror-common/build.gradle.kts
  hedera-mirror-protobuf/build.gradle.kts
Labels: dependencies

#10297 Add 0.59 protobuf response codes
  hedera-mirror-rest/model/transactionResult.js
Labels: enhancement

#10300 Fix NPE in node data migration
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigrationTest.java
Labels: bug

#10304 Use owner template
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigration.java
Labels: bug

#10308 Cherry Pick Migration Fix
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigration.java
Labels: deploy

#10305 Fix additional tests in contract call service tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3, modularizedEVM

#10303 Upgrade mainnet-staging to 0.123.0-rc2
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
Labels: deploy

#10310 Upgrade performance to 0.123.0-rc2
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#10309 Fix importer tests using mirror_node user
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/config/CommonTestConfiguration.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddAddressBookServiceEndpointsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddBalanceTimestampMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddNftHistoryMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/AddRootContractIdMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/BackfillAndDeduplicateBalanceMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ChangeTransactionHashDistributionMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/CleanupEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ContractLogsConvertTopicsToBytesMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/ContractStateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/DummyMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixAirdropTokenAssociationMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixAllowanceAmountsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/FixNodeTransactionsMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/GasConsumedMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveEntityTypeMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/RemoveInvalidEntityMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/SupportDeletedTokenDissociateMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TimePartitionBalanceTablesMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TokenAccountMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TopicCustomFeesMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TopicMessagePayerAccountIdMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/TransferTransactionPayerMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/UndoFileDataTimePartitionMigrationTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/migration/UpdateTokenFreezeKycStatusMigrationTest.java
Labels: bug, test

#10293 Refactor web3 tests code
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/OpcodeServiceTest.java
Labels: enhancement, test, web3

#10312 Fix failing acceptance tests on mainnet for scheduled transactions
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/ScheduleFeature.java
  hedera-mirror-test/src/test/resources/features/schedule/schedule.feature
Labels: enhancement, test

#10250 HIP-1056 Add block stream poller
  docs/configuration.md
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/StreamFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/StreamType.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockFile.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/RecordFile.java
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/transaction/BlockFileTest.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/ImporterProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/MetricsExecutionInterceptor.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/domain/StreamFilename.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/Downloader.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/StreamPoller.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockFileTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockPollerProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockStreamPoller.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/BlockStreamVerifier.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/StreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/record/RecordFileDownloader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/FileCopier.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/TestUtils.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/config/MetricsExecutionInterceptorTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/domain/StreamFilenameTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/AbstractDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockStreamPollerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockStreamVerifierTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractHip679S3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AutoS3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/NodeIdS3StreamProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/ProtoRecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/record/RecordFileParserTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/ProtoRecordFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/record/sidecar/SidecarFileReaderImplTest.java
Labels: enhancement, downloader

#10315 Updated staging-council's addressBook value in the cluster's sealed-secret
  clusters/preprod/staging-council/sealed-secret.yaml
Labels: deploy

#10284 Fix tests from ContractCallDynamicCallsTest test class
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
Labels: enhancement, web3

#10322 Include BlockHeader and RoundHeader for block root hash calculation
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockStreamPollerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000981.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000000000982.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000007858853.blk.gz
  hedera-mirror-importer/src/test/resources/data/blockstreams/000000000000000000000000000007858854.blk.gz
Labels: enhancement, importer

#10349 Fix nested calls historical tests for modularized
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/web3j/TestWeb3jService.java
Labels: enhancement, web3, modularizedEVM

#10318 HIP-1056 Topic block item to record item transformer
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/ConsensusCreateTopicTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/ConsensusSubmitMessageTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/parser/record/transactionhandler/ConsensusSubmitMessageTransactionHandler.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/util/Utility.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockFileTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockItemBuilder.java
Labels: enhancement, downloader

#10355 Fix system precompile tests for modularized
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallSystemPrecompileTest.java
Labels: enhancement, web3, modularizedEVM

#10294 Added System BlockItem to RecordItem transformers
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/NodeCreateTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/UtilPrngTransformer.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockFileTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockItemBuilder.java
Labels: enhancement, importer

#10361 Bump netty from 4.1.117.Final to 4.1.118.Final
  build.gradle.kts
Labels: security, dependencies, java

#10363 Fix `ContractCallServicePrecompileHistoricalTest` tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileHistoricalTest.java
Labels: enhancement, web3

#10367 Bump json-smart from 2.5.1 to 2.5.2
  build.gradle.kts
Labels: security, dependencies, java

#10306 Mirror node state scoped cache implementation
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/common/ContractCallContext.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/AbstractReadableKVState.java
  hedera-mirror-web3/src/main/java/com/swirlds/state/spi/ReadableKVStateBase.java
  hedera-mirror-web3/src/main/java/com/swirlds/state/spi/WritableKVStateBase.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/core/MapWritableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/ContractBytecodeReadableKVStateTest.java
  hedera-mirror-web3/src/test/java/com/swirlds/state/spi/ReadableKVStateBaseTest.java
  hedera-mirror-web3/src/test/java/com/swirlds/state/spi/WritableKVStateBaseTest.java
Labels: enhancement, web3

#10365 HIP-1056 Read previous hash from block proof
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockFile.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
Labels: enhancement, importer

#10357 Adapt storage capturing in OpcodeTracer for modularized execution
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/OpcodeTracer.java
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/MirrorEvmMessageCallProcessorTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/evm/contracts/execution/traceability/OpcodeTracerTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/OpcodeServiceTest.java
  hedera-mirror-web3/src/test/solidity/StorageContract.sol
Labels: enhancement, web3, modularizedEVM

#10371 Bump hiero-sdk-go to 2.55.0
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-rosetta/app/config/config_test.go
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/app/domain/types/account_id.go
  hedera-mirror-rosetta/app/domain/types/account_id_test.go
  hedera-mirror-rosetta/app/domain/types/public_key.go
  hedera-mirror-rosetta/app/domain/types/public_key_test.go
  hedera-mirror-rosetta/app/interfaces/transaction.go
  hedera-mirror-rosetta/app/persistence/account_test.go
  hedera-mirror-rosetta/app/services/construction/common.go
  hedera-mirror-rosetta/app/services/construction/common_test.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/types.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/go.mod
  hedera-mirror-rosetta/go.sum
  hedera-mirror-rosetta/test/bdd-client/client/client.go
  hedera-mirror-rosetta/test/bdd-client/client/config.go
  hedera-mirror-rosetta/test/bdd-client/config.go
  hedera-mirror-rosetta/test/bdd-client/scenario/base.go
  hedera-mirror-rosetta/test/bdd-client/scenario/common.go
  hedera-mirror-rosetta/test/bdd-client/scenario/crypto.go
  hedera-mirror-rosetta/test/domain/utils.go
  hedera-mirror-rosetta/test/mocks/transaction_constructor.go
  hedera-mirror-rosetta/test/mocks/transaction_constructor_with_type.go
Labels: dependencies, rosetta, go

#10358 Refactor web3 test code
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/OpcodeServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: enhancement, web3

#10375 Fix unboxing issue causing errors in acceptance tests
  hedera-mirror-web3/src/main/java/com/hedera/services/utils/EntityIdUtils.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/services/utils/EntityIdUtilsTest.java
Labels: bug, web3, modularizedEVM

#10377 Fix null previous block item
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/domain/transaction/BlockItem.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReader.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/block/ProtoBlockFileReaderTest.java
Labels: bug, importer

#10372 Add annotations to marketplace images
  .github/workflows/release-production.yml
  charts/hedera-mirror-rest/values.yaml
  charts/marketplace/gcp/BUILDING.md
  charts/marketplace/gcp/release.sh
  docs/configuration.md
Labels: enhancement, marketplace

#10379 Configure GraphQL parsing limits
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/config/CustomExceptionResolver.java
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/config/GraphQlConfiguration.java
  hedera-mirror-graphql/src/main/resources/application.yml
  hedera-mirror-graphql/src/test/java/com/hedera/mirror/graphql/controller/AccountControllerTest.java
Labels: bug, security, graphql

#10380 Fix `ContractCallEvmCodesHistoricalTest` tests
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallEvmCodesHistoricalTest.java
Labels: enhancement, web3

#10381 Fix the rest `ContractCallDynamicCallsTest` tests
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
Labels: enhancement, web3

#10382 Fix more tests in ContractCallServiceTests
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/ContractCallService.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/service/TransactionExecutionService.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: enhancement, web3, modularizedEVM

#10409 Bump com.hedera.hashgraph:app version from 0.58.4 to 0.59.0
  build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/MirrorNodeState.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/SchemaRegistryImpl.java
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/components/StartupNetworksImpl.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/SchemaRegistryImplTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/components/StartupNetworksImplTest.java
Labels: dependencies, java

#10424 ci: Update runners to use new hiero configuration
  .github/CODEOWNERS
  .github/workflows/charts.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yaml
  .github/workflows/gradle.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta.yml
  .github/workflows/security.yml
  .github/workflows/snyk-monitor.yml
  .gitignore
  buildSrc/src/main/kotlin/snykcode-extension.gradle.kts
Labels: enhancement, github_actions

#10427 ci: Add workflow to sync gh-pages branch
  .github/workflows/gh-pages-sync.yaml
Labels: enhancement, github_actions

#10422 Update web3 docs for newer unsupported operations
  docs/web3/README.md
Labels: documentation, enhancement, web3, modularizedEVM

#10426 Change default resources for envoy
  charts/hedera-mirror/values-prod.yaml
Labels: enhancement

#10433 Update deploy branch for hiero-ledger
  README.md
  clusters/base/common/helmrepository.yaml
  clusters/mainnet-eu/flux-system/gotk-sync.yaml
  clusters/mainnet-eu/mainnet-citus/helmrepository.yaml
  clusters/mainnet-na/flux-system/gotk-sync.yaml
  clusters/mainnet-na/flux-system/provider-github-dispatch.yaml
  clusters/mainnet-na/flux-system/sealed-secret-github-dispatch.yaml
  clusters/mainnet-na/mainnet-citus/helmrepository.yaml
  clusters/mainnet-staging-eu/flux-system/gotk-sync.yaml
  clusters/mainnet-staging-eu/mainnet/helmrepository.yaml
  clusters/mainnet-staging-na/flux-system/gotk-sync.yaml
  clusters/mainnet-staging-na/flux-system/kustomization.yaml
  clusters/mainnet-staging-na/flux-system/provider-github-dispatch.yaml
  clusters/mainnet-staging-na/flux-system/sealed-secret-github-dispatch.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrepository.yaml
  clusters/preprod/dev/helmrepository.yaml
  clusters/preprod/flux-system/gotk-sync.yaml
  clusters/preprod/flux-system/kustomization.yaml
  clusters/preprod/flux-system/provider-github-dispatch.yaml
  clusters/preprod/flux-system/provider-github.yaml
  clusters/preprod/integration-docker/helmrepository.yaml
  clusters/preprod/integration/gitrepository.yaml
  clusters/preprod/performance-citus/helmrepository.yaml
  clusters/preprod/staging-council/helmrepository.yaml
  clusters/preprod/staging-lg/helmrepository.yaml
  clusters/preprod/staging-sm/helmrepository.yaml
  clusters/previewnet/flux-system/gotk-sync.yaml
  clusters/previewnet/flux-system/kustomization.yaml
  clusters/previewnet/flux-system/provider-github-dispatch.yaml
  clusters/previewnet/flux-system/sealed-secret-github-dispatch.yaml
  clusters/previewnet/previewnet-citus/helmrepository.yaml
  clusters/testnet-eu/flux-system/gotk-sync.yaml
  clusters/testnet-eu/testnet-citus/helmrepository.yaml
  clusters/testnet-na/flux-system/gotk-sync.yaml
  clusters/testnet-na/flux-system/provider-github-dispatch.yaml
  clusters/testnet-na/flux-system/sealed-secret-github-dispatch.yaml
  clusters/testnet-na/testnet-citus/helmrepository.yaml
Labels: deploy

#10441 Prepare staging and performance for 0.124.0-rc1
  clusters/mainnet-staging-na/common/helmrelease.yaml
  clusters/mainnet-staging-na/mainnet-citus/helmrelease.yaml
  clusters/preprod/common/helmrelease.yaml
  clusters/preprod/performance-citus/helmrelease.yaml
Labels: deploy

#10405 Remove SENDER_ALIAS & SPENDER_ALIAS constants in web3 tests
  hedera-mirror-common/build.gradle.kts
  hedera-mirror-common/src/test/java/com/hedera/mirror/common/domain/DomainBuilder.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceHistoricalNegativeTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/utils/ContractCallTestUtil.java
Labels: enhancement, web3

#10442 Disable dependency check and sonar workflows
  .github/workflows/security.yml
Labels: bug, github_actions

#10354 HIP-1056 Add token blockitem to recorditem transformers
  docs/design/block-streams.md
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/AbstractBlockItemTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/AbstractTokenTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/TokenAirdropTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/TokenBurnTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/TokenCreateTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/TokenMintTransformer.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/block/transformer/TokenWipeTransformer.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockFileTransformerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/BlockItemBuilder.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/parser/domain/RecordItemBuilder.java
Labels: enhancement, importer

#10432 Fix tests in ContractCallSeviceTest class
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
Labels: web3

#10453 Add id for SGScript entries
  charts/hedera-mirror/templates/stackgres/stackgres-script-coordinator.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-script-worker.yaml
Labels: bug

#10454 Cherry pick Stackgres fix
  charts/hedera-mirror/templates/stackgres/stackgres-script-coordinator.yaml
  charts/hedera-mirror/templates/stackgres/stackgres-script-worker.yaml
Labels: bug

#10434 Improve Performance of Contracts REST API Endpoints with High Entity Count
  hedera-mirror-importer/src/main/resources/db/migration/v1/V1.104.0__drop_entity__id_type_index.sql
  hedera-mirror-importer/src/main/resources/db/migration/v2/V2.9.0__drop_entity__id_type_index.sql
Labels: bug, performance, rest

#10479 Fix mint fungible test for modularized
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/CallFeature.java
Labels: enhancement, test, modularizedEVM

#10440 Update REST API tokens query to correct for deleted token timestamps
  hedera-mirror-rest/__tests__/specs/tokens/{id}/custom-fees.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/historical-custom-fees.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/nft-custom-fees.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/no-params.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/non-fungible-unique-token-types.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/tokens.js
Labels: bug, rest

#10445 Change to SPDX license header in Gradle
  application.yml
  build.gradle.kts
  charts/README.md
  charts/hedera-mirror-graphql/postman.json
  charts/hedera-mirror-importer/values.yaml
  charts/hedera-mirror-rest-java/postman.json
  charts/hedera-mirror-rosetta/postman.json
  charts/hedera-mirror-rosetta/values.yaml
  charts/hedera-mirror-web3/postman.json
  charts/marketplace/gcp/README.md
  codecov.yml
  docker-compose.yml
  hedera-mirror-rosetta/scripts/deploy/deploy.sh
  hedera-mirror-rosetta/scripts/deploy/hedera-mirror-rosetta.service
Labels: enhancement

#10491 Fix local rest gradle build
  hedera-mirror-rest/__tests__/integrationDbOps.js
Labels: bug, rest, build

#10494 Fix dependency check workflow
  .github/workflows/security.yml
  buildSrc/src/main/kotlin/common-conventions.gradle.kts
Labels: enhancement, security, github_actions, build

#10499 Update commit status GitHub PAT
  clusters/preprod/flux-system/sealed-secret-github.yaml
Labels: deploy

#10447 Refactor persistNFT method in web3 test code
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/AbstractContractCallServiceTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallNestedCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenModificationFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenReadOnlyFunctionsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileReadonlyTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/OpcodeServiceTest.java
Labels: enhancement, web3

#10488 Fix nft owner mapping from nft readable state
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/state/keyvalue/NftReadableKVState.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallDynamicCallsTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceERCTokenHistoricalTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServicePrecompileModificationTest.java
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/state/keyvalue/NftReadableKVStateTest.java
Labels: enhancement, web3, modularizedEVM

#10500 Fix test about hollow account creation on hbar transfer to non existing EVM address
  hedera-mirror-web3/src/test/java/com/hedera/mirror/web3/service/ContractCallServiceTest.java
  hedera-mirror-web3/src/test/solidity/EthCall.sol
Labels: web3

#10501 Add a common realm property
  docs/configuration.md
  hedera-mirror-common/build.gradle.kts
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/CommonConfiguration.java
  hedera-mirror-common/src/main/java/com/hedera/mirror/common/CommonProperties.java
  hedera-mirror-graphql/build.gradle.kts
  hedera-mirror-graphql/src/main/java/com/hedera/mirror/graphql/GraphqlApplication.java
  hedera-mirror-grpc/build.gradle.kts
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/GrpcApplication.java
  hedera-mirror-grpc/src/main/java/com/hedera/mirror/grpc/config/GrpcConfiguration.java
  hedera-mirror-importer/build.gradle.kts
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/ImporterApplication.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/ImporterProperties.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImpl.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/CloudStorageConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/config/ImporterConfiguration.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProvider.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV1.java
  hedera-mirror-importer/src/main/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV2.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/addressbook/AddressBookServiceImplTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/balance/AccountBalancesDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/block/BlockStreamPollerTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/AbstractStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/LocalStreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/provider/S3StreamFileProviderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/downloader/record/AbstractRecordFileDownloaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/CsvBalanceFileReaderTest.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV1Test.java
  hedera-mirror-importer/src/test/java/com/hedera/mirror/importer/reader/balance/line/AccountBalanceLineParserV2Test.java
  hedera-mirror-rest-java/build.gradle.kts
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/RestJavaApplication.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/RestJavaProperties.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdAliasParameter.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdEvmAddressParameter.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdNumParameter.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdParameter.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/EntityIdRangeParameter.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/common/SpringApplicationContext.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/config/RestJavaConfiguration.java
  hedera-mirror-rest-java/src/main/java/com/hedera/mirror/restjava/service/Validator.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdParameterTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/EntityIdRangeParameterTest.java
  hedera-mirror-rest-java/src/test/java/com/hedera/mirror/restjava/common/NumberRangeParameterTest.java
  hedera-mirror-rosetta/app/config/application.yml
  hedera-mirror-rosetta/app/config/config.go
  hedera-mirror-rosetta/app/config/config_test.go
  hedera-mirror-rosetta/app/config/types.go
  hedera-mirror-rosetta/app/services/construction_service.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/main.go
  hedera-mirror-web3/build.gradle.kts
  hedera-mirror-web3/src/main/java/com/hedera/mirror/web3/Web3Application.java
Labels: enhancement, breaking

#10508 Fix rosetta construction parse error
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
Labels: bug, rosetta

#10509 Fix rosetta construction parse error (0.123)
  .github/release-notes.yml
  .github/workflows/charts.yml
  .github/workflows/cleanup.yml
  .github/workflows/deploy.yaml
  .github/workflows/gradle.yml
  .github/workflows/release-automation.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/rosetta.yml
  .github/workflows/security.yml
  .github/workflows/snyk-monitor.yml
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/composite_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_create_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor.go
  hedera-mirror-rosetta/app/services/construction/crypto_transfer_transaction_constructor_test.go
  hedera-mirror-rosetta/app/services/construction_service_test.go
  hedera-mirror-rosetta/container/Dockerfile
Labels: bug, rosetta

#10495 Honor timestamp param for token by id endpoint
  docs/checklist/release.md
  hedera-mirror-rest/__tests__/specs/tokens/{id}/historical-custom-fees.json
  hedera-mirror-rest/__tests__/specs/tokens/{id}/timestamp.json
  hedera-mirror-rest/__tests__/tokens.test.js
  hedera-mirror-rest/model/customFee.js
  hedera-mirror-rest/model/token.js
  hedera-mirror-rest/tokens.js
  hedera-mirror-test/k6/README.md
  hedera-mirror-test/k6/src/rest/libex/parameters.js
  hedera-mirror-test/k6/src/rest/test/index.js
  hedera-mirror-test/k6/src/rest/test/tokensIdTimestampLte.js
Labels: bug

#10481 Add batch transaction design
  docs/design/batch-transactions.md
Labels: enhancement

#10504 Fix `estimatePrecompile` acceptance test with modularized services
  hedera-mirror-test/README.md
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/config/Web3Properties.java
  hedera-mirror-test/src/test/java/com/hedera/mirror/test/e2e/acceptance/steps/EstimatePrecompileFeature.java
  hedera-mirror-test/src/test/resources/features/contract/estimatePrecompile.feature
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/EstimatePrecompileContract.sol/EstimatePrecompileContract.json
  hedera-mirror-test/src/test/resources/solidity/artifacts/contracts/PrecompileTestContract.sol/PrecompileTestContract.json
  hedera-mirror-test/src/test/resources/solidity/contracts/HederaTokenService.sol
Labels: enhancement, test
